swagger: "2.0"
info:
  version: "3.1"
  title: Countries API
host: restcountries.com
basePath: /v3.1
schemes:
  - https
paths:
   /all:
    get:
      operationId: allCountries
      description: "Returns dataset with information on all countries"
      summary: All Countries
      produces:
        - application/json
      responses:
         200:
           description: OK
   /name/{name}:
    get:
      operationId: searchByCountryName
      summary: Search By Country Name
      description: "Search by country name. It can be the native name or partial name"
      produces:
        - application/json
      parameters:
        - name: name
          in: path
          type: string
          required: true
          default: "united"
      responses:
         200:
           description: OK
   /currency/{currency}:
    get:
      operationId: searchByCurrency
      summary: Search By Currency
      description: "Search by ISO 4217 currency code"
      produces:
        - application/json
      parameters:
        - name: currency
          in: path
          type: string
          required: true
          default: "cop"
      responses:
         200:
           description: OK
   /lang/{et}:
    get:
      operationId: searchByLanguage
      summary: Search By Language
      description: "Search by ISO 639-1 language code"
      produces:
        - application/json
      parameters:
        - name: et
          in: path
          type: string
          required: true
          default: "es"
      responses:
         200:
           description: OK
   /capital/{capital}:
    get:
      operationId: searchByCapitalCity
      summary: Search By Capital City
      description: "Search by capital city"
      produces:
        - application/json
      parameters:
        - name: capital
          in: path
          type: string
          required: true
          default: "tallinn"
      responses:
         200:
           description: OK
   /callingcode/{callingcode}:
    get:
      operationId: searchByCallingCode
      summary: Search By Calling Code
      description: "Search by calling code"
      produces:
        - application/json
      parameters:
        - name: callingcode
          in: path
          type: string
          required: true
          default: "380"
      responses:
         200:
           description: OK
   /region/{region}:
    get:
      operationId: searchByRegion
      summary: Search By Region
      description: "Search by region: Africa, Americas, Asia, Europe, Oceania"
      produces:
        - application/json
      parameters:
        - name: region
          in: path
          type: string
          required: true
          default: "Africa"
          enum:
           - Africa
           - Americas
           - Asia
           - Europe
           - Oceania
      responses:
         200:
           description: OK
   /regionalbloc/{regionalbloc}:
    get:
      operationId: searchByRegionalBloc
      summary: Search By Regional Bloc
      description: "Search by regional bloc"
      produces:
        - application/json
      parameters:
        - name: regionalbloc
          in: path
          type: string
          required: true
          default: "EU"
          description: >
            Blocs:
               * `EU` - European Union
               * `EFTA` - European Free Trade Association
               * `CARIOCOM` - Caribbean Community
               * `PA` - Pacific Alliance
               * `AU` -  African Union
               * `USAN` - Union of South American Nations
               * `EEU` -  Eurasian Economic Union
               * `AL` - Arab League
               * `ASEAN` -  Association of Southeast Asian Nations
               * `CAIS` - Central American Integration System
               * `CEFTA` - Central European Free Trade Agreement
               * `NAFTA` - North American Free Trade Agreement
               * `SAARC` - South Asian Association for Regional Cooperation
          enum:
            - EU
            - EFTA
            - CARICOM
            - PA
            - AU
            - USAN
            - EEU
            - AL
            - ASEAN
            - CAIS
            - CEFTA
            - NAFTA
            - SAARC
      responses:
         200:
           description: OK
definitions: []
