{
  "swagger": "2.0",
  "host": "demo.ckan.org",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "info": {
    "description": "This is a CKAN OpenAPI Spec.",
    "version": "3"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/activity": {
      "get": {
        "summary": "activity",
        "parameters": [
          {
            "description": "Filter activities for that particular organization",
            "in": "query",
            "name": "organization",
            "type": "string"
          },
          {
            "default": 1,
            "description": "The page to fetch",
            "in": "query",
            "name": "page",
            "type": "integer"
          },
          {
            "default": 20,
            "description": "The page size to fetch",
            "in": "query",
            "name": "page_size",
            "type": "integer"
          },
          {
            "description": "Filter activities for that particular user",
            "in": "query",
            "name": "user",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/ActivityPage"
              },
              "type": "array"
            }
          }
        },
        "summary": "Fetch site activity, optionally filterd by user of org",
        "tags": [
          "site"
        ]
      }
    },
    "/datasets/": {
      "get": {
        "summary": "list_datasets",
        "parameters": [
          {
            "description": "The field (and direction) on which sorting apply",
            "enum": [
              "views",
              "created",
              "last_modified",
              "followers",
              "reuses",
              "title",
              "-views",
              "-created",
              "-last_modified",
              "-followers",
              "-reuses",
              "-title"
            ],
            "in": "query",
            "name": "sort",
            "type": "string"
          },
          {
            "in": "query",
            "name": "geozone",
            "type": "string"
          },
          {
            "in": "query",
            "name": "license",
            "type": "string"
          },
          {
            "in": "query",
            "name": "extra",
            "type": "string"
          },
          {
            "description": "Selected facets to fetch",
            "enum": [
              "all",
              "geozone",
              "format",
              "featured",
              "tag",
              "granularity",
              "owner",
              "license",
              "extra",
              "temporal_coverage",
              "reuses",
              "organization",
              "badge"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "facets",
            "type": "array"
          },
          {
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "default": 20,
            "description": "The page size",
            "in": "query",
            "name": "page_size",
            "type": "integer"
          },
          {
            "description": "The search query",
            "in": "query",
            "name": "q",
            "type": "string"
          },
          {
            "in": "query",
            "name": "featured",
            "type": "string"
          },
          {
            "in": "query",
            "name": "tag",
            "type": "string"
          },
          {
            "in": "query",
            "name": "temporal_coverage",
            "type": "string"
          },
          {
            "in": "query",
            "name": "granularity",
            "type": "string"
          },
          {
            "in": "query",
            "name": "owner",
            "type": "string"
          },
          {
            "in": "query",
            "name": "organization",
            "type": "string"
          },
          {
            "in": "query",
            "name": "badge",
            "type": "string"
          },
          {
            "description": "The page to display",
            "in": "query",
            "name": "page",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "reuses",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DatasetPage"
            }
          }
        },
        "summary": "List or search all datasets",
        "tags": [
          "datasets"
        ]
      },
      "post": {
        "summary": "create_dataset",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          },
          "400": {
            "description": "Validation error"
          }
        },
        "summary": "Create a new dataset",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/badges/": {
      "get": {
        "summary": "available_dataset_badges",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "List all available dataset badges and their labels",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/checkurl/": {
      "get": {
        "summary": "checkurl",
        "parameters": [
          {
            "description": "The URL to check",
            "in": "query",
            "name": "url",
            "required": true,
            "type": "string"
          },
          {
            "description": "The dataset related to the URL",
            "in": "query",
            "name": "group",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Checks that a URL exists and returns metadata",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/community_resources/": {
      "get": {
        "summary": "list_community_resources",
        "parameters": [
          {
            "default": "-created",
            "description": "The sorting attribute",
            "in": "query",
            "name": "sort",
            "type": "string"
          },
          {
            "default": 20,
            "description": "The page size to fetch",
            "in": "query",
            "name": "page_size",
            "type": "integer"
          },
          {
            "description": "Filter activities for that particular dataset",
            "in": "query",
            "name": "dataset",
            "type": "string"
          },
          {
            "description": "Filter activities for that particular user",
            "in": "query",
            "name": "owner",
            "type": "string"
          },
          {
            "description": "Filter activities for that particular organization",
            "in": "query",
            "name": "organization",
            "type": "string"
          },
          {
            "default": 1,
            "description": "The page to fetch",
            "in": "query",
            "name": "page",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CommunityResourcePage"
            }
          }
        },
        "summary": "List all community resources",
        "tags": [
          "datasets"
        ]
      },
      "post": {
        "summary": "create_community_resource",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommunityResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CommunityResource"
            }
          }
        },
        "summary": "Create a new community resource",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/community_resources/{community}/": {
      "delete": {
        "summary": "delete_community_resource",
        "parameters": [
          {
            "description": "The community resource unique identifier",
            "in": "path",
            "name": "community",
            "required": true,
            "type": "string"
          },
          {
            "description": "The dataset ID or slug",
            "in": "query",
            "name": "dataset",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CommunityResource"
            }
          }
        },
        "summary": "Delete a given community resource",
        "tags": [
          "datasets"
        ]
      },
      "get": {
        "summary": "retrieve_community_resource",
        "parameters": [
          {
            "description": "The community resource unique identifier",
            "in": "path",
            "name": "community",
            "required": true,
            "type": "string"
          },
          {
            "description": "The dataset ID or slug",
            "in": "query",
            "name": "dataset",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CommunityResource"
            }
          }
        },
        "summary": "Retrieve a community resource given its identifier",
        "tags": [
          "datasets"
        ]
      },
      "put": {
        "summary": "update_community_resource",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommunityResource"
            }
          },
          {
            "description": "The community resource unique identifier",
            "in": "path",
            "name": "community",
            "required": true,
            "type": "string"
          },
          {
            "description": "The dataset ID or slug",
            "in": "query",
            "name": "dataset",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CommunityResource"
            }
          }
        },
        "summary": "Update a given community resource",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/community_resources/{community}/upload/": {
      "post": {
        "summary": "upload_community_resource",
        "parameters": [
          {
            "description": "The community resource unique identifier",
            "in": "path",
            "name": "community",
            "required": true,
            "type": "string"
          },
          {
            "description": "The dataset ID or slug",
            "in": "query",
            "name": "dataset",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UploadedResource"
            }
          }
        },
        "summary": "Update the file related to a given community resource",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/frequencies/": {
      "get": {
        "summary": "list_frequencies",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Frequency"
              },
              "type": "array"
            }
          }
        },
        "summary": "List all available frequencies",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/full/": {
      "get": {
        "summary": "list_datasets_full",
        "parameters": [
          {
            "description": "The field (and direction) on which sorting apply",
            "enum": [
              "views",
              "created",
              "last_modified",
              "followers",
              "reuses",
              "title",
              "-views",
              "-created",
              "-last_modified",
              "-followers",
              "-reuses",
              "-title"
            ],
            "in": "query",
            "name": "sort",
            "type": "string"
          },
          {
            "in": "query",
            "name": "geozone",
            "type": "string"
          },
          {
            "in": "query",
            "name": "license",
            "type": "string"
          },
          {
            "in": "query",
            "name": "extra",
            "type": "string"
          },
          {
            "description": "Selected facets to fetch",
            "enum": [
              "all",
              "geozone",
              "format",
              "featured",
              "tag",
              "granularity",
              "owner",
              "license",
              "extra",
              "temporal_coverage",
              "reuses",
              "organization",
              "badge"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "facets",
            "type": "array"
          },
          {
            "in": "query",
            "name": "format",
            "type": "string"
          },
          {
            "default": 20,
            "description": "The page size",
            "in": "query",
            "name": "page_size",
            "type": "integer"
          },
          {
            "description": "The search query",
            "in": "query",
            "name": "q",
            "type": "string"
          },
          {
            "in": "query",
            "name": "featured",
            "type": "string"
          },
          {
            "in": "query",
            "name": "tag",
            "type": "string"
          },
          {
            "in": "query",
            "name": "temporal_coverage",
            "type": "string"
          },
          {
            "in": "query",
            "name": "granularity",
            "type": "string"
          },
          {
            "in": "query",
            "name": "owner",
            "type": "string"
          },
          {
            "in": "query",
            "name": "organization",
            "type": "string"
          },
          {
            "in": "query",
            "name": "badge",
            "type": "string"
          },
          {
            "description": "The page to display",
            "in": "query",
            "name": "page",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "reuses",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DatasetFullPage"
            }
          }
        },
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/licenses/": {
      "get": {
        "summary": "list_licenses",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/License"
              },
              "type": "array"
            }
          }
        },
        "summary": "List all available licenses",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/suggest/": {
      "get": {
        "summary": "suggest_datasets",
        "parameters": [
          {
            "description": "The string to autocomplete/suggest",
            "in": "query",
            "name": "q",
            "required": true,
            "type": "string"
          },
          {
            "default": 10,
            "description": "The amount of suggestion to fetch",
            "in": "query",
            "name": "size",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/DatasetSuggestion"
              },
              "type": "array"
            }
          }
        },
        "summary": "Suggest datasets",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/suggest/formats/": {
      "get": {
        "summary": "suggest_formats",
        "parameters": [
          {
            "description": "The string to autocomplete/suggest",
            "in": "query",
            "name": "q",
            "required": true,
            "type": "string"
          },
          {
            "default": 10,
            "description": "The amount of suggestion to fetch",
            "in": "query",
            "name": "size",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Suggest file formats",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/{dataset}/": {
      "delete": {
        "summary": "delete_dataset",
        "parameters": [
          {
            "description": "The dataset ID or slug",
            "in": "path",
            "name": "dataset",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Dataset deleted"
          },
          "404": {
            "description": "Dataset not found"
          },
          "410": {
            "description": "Dataset has been deleted"
          }
        },
        "summary": "Delete a dataset given its identifier",
        "tags": [
          "datasets"
        ]
      },
      "get": {
        "summary": "get_dataset",
        "parameters": [
          {
            "description": "The dataset ID or slug",
            "in": "path",
            "name": "dataset",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          },
          "404": {
            "description": "Dataset not found"
          },
          "410": {
            "description": "Dataset has been deleted"
          }
        },
        "summary": "Get a dataset given its identifier",
        "tags": [
          "datasets"
        ]
      },
      "put": {
        "summary": "update_dataset",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          },
          {
            "description": "The dataset ID or slug",
            "in": "path",
            "name": "dataset",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          },
          "400": {
            "description": "Validation error: your data cannot be updated for now, we have been notified of the error and we will fix it as soon as possible."
          },
          "404": {
            "description": "Dataset not found"
          },
          "410": {
            "description": "Dataset has been deleted"
          }
        },
        "summary": "Update a dataset given its identifier",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/{dataset}/badges/": {
      "post": {
        "summary": "add_dataset_badge",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Badge"
            }
          },
          {
            "description": "The dataset ID or slug",
            "in": "path",
            "name": "dataset",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Badge"
            }
          }
        },
        "summary": "Create a new badge for a given dataset",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/{dataset}/badges/{badge_kind}/": {
      "delete": {
        "summary": "delete_dataset_badge",
        "parameters": [
          {
            "in": "path",
            "name": "badge_kind",
            "required": true,
            "type": "string"
          },
          {
            "description": "The dataset ID or slug",
            "in": "path",
            "name": "dataset",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Delete a badge for a given dataset",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/{dataset}/featured/": {
      "delete": {
        "summary": "unfeature_reuse",
        "parameters": [
          {
            "description": "The dataset ID or slug",
            "in": "path",
            "name": "dataset",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          }
        },
        "summary": "Unmark the dataset as featured",
        "tags": [
          "datasets"
        ]
      },
      "post": {
        "summary": "feature_dataset",
        "parameters": [
          {
            "description": "The dataset ID or slug",
            "in": "path",
            "name": "dataset",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Dataset"
            }
          }
        },
        "summary": "Mark the dataset as featured",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/{dataset}/full/": {
      "get": {
        "summary": "get_dataset_full",
        "parameters": [
          {
            "description": "The dataset ID or slug",
            "in": "path",
            "name": "dataset",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DatasetFull"
            }
          },
          "404": {
            "description": "Dataset not found"
          },
          "410": {
            "description": "Dataset has been deleted"
          }
        },
        "summary": "Get a dataset given its identifier",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/{dataset}/resources/": {
      "post": {
        "summary": "create_resource",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          },
          {
            "description": "The dataset ID or slug",
            "in": "path",
            "name": "dataset",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          }
        },
        "summary": "Create a new resource for a given dataset",
        "tags": [
          "datasets"
        ]
      },
      "put": {
        "summary": "update_resources",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "items": {
                "$ref": "#/definitions/Resource"
              },
              "type": "array"
            }
          },
          {
            "description": "The dataset ID or slug",
            "in": "path",
            "name": "dataset",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          }
        },
        "summary": "Reorder resources",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/{dataset}/resources/{rid}/": {
      "delete": {
        "summary": "delete_resource",
        "parameters": [
          {
            "description": "The resource unique identifier",
            "in": "path",
            "name": "rid",
            "required": true,
            "type": "string"
          },
          {
            "description": "The dataset ID or slug",
            "in": "path",
            "name": "dataset",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Delete a given resource on a given dataset",
        "tags": [
          "datasets"
        ]
      },
      "put": {
        "summary": "update_resource",
        "parameters": [
          {
            "description": "The resource unique identifier",
            "in": "path",
            "name": "rid",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          },
          {
            "description": "The dataset ID or slug",
            "in": "path",
            "name": "dataset",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          }
        },
        "summary": "Update a given resource on a given dataset",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/{dataset}/resources/{rid}/upload/": {
      "post": {
        "summary": "upload_dataset_resource",
        "parameters": [
          {
            "description": "The resource unique identifier",
            "in": "path",
            "name": "rid",
            "required": true,
            "type": "string"
          },
          {
            "description": "The dataset ID or slug",
            "in": "path",
            "name": "dataset",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UploadedResource"
            }
          }
        },
        "summary": "Upload a file related to a given resource on a given dataset",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/{dataset}/upload/": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "upload_dataset_resources",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "required": true,
            "type": "file"
          },
          {
            "description": "The dataset ID or slug",
            "in": "path",
            "name": "dataset",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UploadedResource"
            }
          }
        },
        "summary": "Upload a new dataset resource",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/{dataset}/upload/community/": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "upload_community_resources",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "required": true,
            "type": "file"
          },
          {
            "description": "The dataset ID or slug",
            "in": "path",
            "name": "dataset",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UploadedResource"
            }
          }
        },
        "summary": "Upload a new community resource",
        "tags": [
          "datasets"
        ]
      }
    },
    "/datasets/{id}/followers/": {
      "delete": {
        "description": "Returns the number of followers left after the operation",
        "summary": "unfollow",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Unfollow an object given its ID",
        "tags": [
          "datasets"
        ]
      },
      "get": {
        "summary": "list_followers",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": 20,
            "description": "The page size to fetch",
            "in": "query",
            "name": "page_size",
            "type": "integer"
          },
          {
            "default": 1,
            "description": "The page to fetch",
            "in": "query",
            "name": "page",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FollowPage"
            }
          }
        },
        "summary": "List all followers for a given object",
        "tags": [
          "datasets"
        ]
      },
      "post": {
        "description": "Returns the number of followers left after the operation",
        "summary": "follow",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Follow an object given its ID",
        "tags": [
          "datasets"
        ]
      }
    },
    "/discussions/": {
      "get": {
        "summary": "list_discussions",
        "parameters": [
          {
            "default": "-created",
            "description": "The sorting attribute",
            "in": "query",
            "name": "sort",
            "type": "string"
          },
          {
            "default": 20,
            "description": "The page size to fetch",
            "in": "query",
            "name": "page_size",
            "type": "integer"
          },
          {
            "default": 1,
            "description": "The page to fetch",
            "in": "query",
            "name": "page",
            "type": "integer"
          },
          {
            "description": "Filter discussions for a given subject",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "for",
            "type": "array"
          },
          {
            "description": "Filters discussions on their closed status if specified",
            "in": "query",
            "name": "closed",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DiscussionPage"
            }
          }
        },
        "summary": "List all Discussions",
        "tags": [
          "discussions"
        ]
      },
      "post": {
        "summary": "create_discussion",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Discussion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Discussion"
            }
          }
        },
        "summary": "Create a new Discussion",
        "tags": [
          "discussions"
        ]
      }
    },
    "/discussions/{id}/": {
      "delete": {
        "summary": "delete_discussion",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Discussion"
            }
          },
          "403": {
            "description": "Not allowed to delete this discussion"
          }
        },
        "summary": "Delete a discussion given its ID",
        "tags": [
          "discussions"
        ]
      },
      "get": {
        "summary": "get_discussion",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Discussion"
            }
          }
        },
        "summary": "Get a discussion given its ID",
        "tags": [
          "discussions"
        ]
      },
      "post": {
        "summary": "comment_discussion",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiscussionResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Discussion"
            }
          },
          "403": {
            "description": "Not allowed to close this discussion"
          }
        },
        "summary": "Add comment and optionnaly close a discussion given its ID",
        "tags": [
          "discussions"
        ]
      }
    },
    "/harvest/backends": {
      "get": {
        "summary": "harvest_backends",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/HarvestBackend"
            }
          }
        },
        "summary": "List all available harvest backends",
        "tags": [
          "harvest"
        ]
      }
    },
    "/harvest/job/{ident}/": {
      "get": {
        "summary": "get_harvest_job",
        "parameters": [
          {
            "in": "path",
            "name": "ident",
            "required": true,
            "type": "string"
          },
          {
            "default": 1,
            "description": "The page to fetch",
            "in": "query",
            "name": "page",
            "type": "integer"
          },
          {
            "default": 20,
            "description": "The page size to fetch",
            "in": "query",
            "name": "page_size",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/HarvestJob"
            }
          }
        },
        "summary": "List all jobs for a given source",
        "tags": [
          "harvest"
        ]
      }
    },
    "/harvest/job_status": {
      "get": {
        "summary": "get_list_harvester_api",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        },
        "summary": "List all available harvesters",
        "tags": [
          "harvest"
        ]
      }
    },
    "/harvest/source/{ident}": {
      "delete": {
        "summary": "delete_harvest_source",
        "parameters": [
          {
            "description": "A source ID or slug",
            "in": "path",
            "name": "ident",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/HarvestSource"
            }
          }
        },
        "tags": [
          "harvest"
        ]
      },
      "get": {
        "summary": "get_harvest_source",
        "parameters": [
          {
            "description": "A source ID or slug",
            "in": "path",
            "name": "ident",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/HarvestSource"
            }
          }
        },
        "summary": "Get a single source given an ID or a slug",
        "tags": [
          "harvest"
        ]
      }
    },
    "/harvest/source/{ident}/jobs/": {
      "get": {
        "summary": "list_harvest_jobs",
        "parameters": [
          {
            "in": "path",
            "name": "ident",
            "required": true,
            "type": "string"
          },
          {
            "default": 1,
            "description": "The page to fetch",
            "in": "query",
            "name": "page",
            "type": "integer"
          },
          {
            "default": 20,
            "description": "The page size to fetch",
            "in": "query",
            "name": "page_size",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/HarvestJobPage"
            }
          }
        },
        "summary": "List all jobs for a given source",
        "tags": [
          "harvest"
        ]
      }
    },
    "/harvest/source/{ident}/preview": {
      "get": {
        "summary": "preview_harvest_source",
        "parameters": [
          {
            "description": "A source ID or slug",
            "in": "path",
            "name": "ident",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/HarvestJobPreview"
            }
          }
        },
        "summary": "Preview a single harvest source given an ID or a slug",
        "tags": [
          "harvest"
        ]
      }
    },
    "/harvest/source/{ident}/validate": {
      "post": {
        "summary": "validate_harvest_source",
        "parameters": [
          {
            "description": "A source ID or slug",
            "in": "path",
            "name": "ident",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HarvestSourceValidation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/HarvestSource"
            }
          }
        },
        "summary": "Validate or reject an harvest source",
        "tags": [
          "harvest"
        ]
      }
    },
    "/harvest/sources/": {
      "get": {
        "summary": "list_harvest_sources",
        "parameters": [
          {
            "description": "The organization or user ID to filter on",
            "in": "query",
            "name": "owner",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/HarvestSource"
              },
              "type": "array"
            }
          }
        },
        "summary": "List all harvest sources",
        "tags": [
          "harvest"
        ]
      },
      "post": {
        "summary": "create_harvest_source",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HarvestSource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/HarvestSource"
            }
          }
        },
        "summary": "Create a new harvests source",
        "tags": [
          "harvest"
        ]
      }
    },
    "/issues/": {
      "get": {
        "summary": "list_issues",
        "parameters": [
          {
            "default": "-created",
            "description": "The sorting attribute",
            "in": "query",
            "name": "sort",
            "type": "string"
          },
          {
            "default": 20,
            "description": "The page size to fetch",
            "in": "query",
            "name": "page_size",
            "type": "integer"
          },
          {
            "default": 1,
            "description": "The page to fetch",
            "in": "query",
            "name": "page",
            "type": "integer"
          },
          {
            "description": "Filter issues for a given subject",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "for",
            "type": "array"
          },
          {
            "description": "Filter closed issues. Filters issues on their closed status if specified",
            "in": "query",
            "name": "closed",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IssuePage"
            }
          }
        },
        "summary": "List all Issues",
        "tags": [
          "issues"
        ]
      },
      "post": {
        "summary": "create_issue",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Issue"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Issue"
            }
          }
        },
        "summary": "Create a new Issue",
        "tags": [
          "issues"
        ]
      }
    },
    "/issues/{id}/": {
      "get": {
        "summary": "get_issue",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Issue"
            }
          }
        },
        "summary": "Get an issue given its ID",
        "tags": [
          "issues"
        ]
      },
      "post": {
        "summary": "comment_issue",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IssueResponse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Issue"
            }
          },
          "403": {
            "description": "Not allowed to close this issue"
          }
        },
        "summary": "Add comment and optionnaly close an issue given its ID",
        "tags": [
          "issues"
        ]
      }
    },
    "/me/": {
      "get": {
        "summary": "get_me",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Me"
            }
          }
        },
        "summary": "Fetch the current user (me) identity",
        "tags": [
          "me"
        ]
      },
      "put": {
        "summary": "update_me",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Me"
            }
          },
          "400": {
            "description": "Validation error"
          }
        },
        "summary": "Update my profile",
        "tags": [
          "me"
        ]
      }
    },
    "/me/apikey": {
      "delete": {
        "summary": "clear_apikey",
        "responses": {
          "204": {
            "description": "API Key deleted/cleared"
          }
        },
        "summary": "Clear/destroy an apikey",
        "tags": [
          "me"
        ]
      },
      "post": {
        "summary": "generate_apikey",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiKey"
            }
          },
          "201": {
            "description": "API Key generated"
          }
        },
        "summary": "(Re)Generate my API Key",
        "tags": [
          "me"
        ]
      }
    },
    "/me/avatar": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "my_avatar",
        "parameters": [
          {
            "in": "formData",
            "name": "bbox",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "file",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UploadedImage"
            }
          }
        },
        "summary": "Upload a new avatar",
        "tags": [
          "me"
        ]
      }
    },
    "/me/datasets/": {
      "get": {
        "summary": "my_datasets",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/DatasetFull"
              },
              "type": "array"
            }
          }
        },
        "summary": "List all my datasets (including private ones)",
        "tags": [
          "me"
        ]
      }
    },
    "/me/metrics/": {
      "get": {
        "summary": "my_metrics",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/MyMetrics"
              },
              "type": "array"
            }
          }
        },
        "summary": "Fetch the current user (me) metrics",
        "tags": [
          "me"
        ]
      }
    },
    "/me/org_community_resources/": {
      "get": {
        "summary": "my_org_community_resources",
        "parameters": [
          {
            "description": "The string to filter items",
            "in": "query",
            "name": "q",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/CommunityResource"
              },
              "type": "array"
            }
          }
        },
        "summary": "List all community resources related to me and my organizations",
        "tags": [
          "me"
        ]
      }
    },
    "/me/org_datasets/": {
      "get": {
        "summary": "my_org_datasets",
        "parameters": [
          {
            "description": "The string to filter items",
            "in": "query",
            "name": "q",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/DatasetFull"
              },
              "type": "array"
            }
          }
        },
        "summary": "List all datasets related to me and my organizations",
        "tags": [
          "me"
        ]
      }
    },
    "/me/org_discussions/": {
      "get": {
        "summary": "my_org_discussions",
        "parameters": [
          {
            "description": "The string to filter items",
            "in": "query",
            "name": "q",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Discussion"
              },
              "type": "array"
            }
          }
        },
        "summary": "List all discussions related to my organizations",
        "tags": [
          "me"
        ]
      }
    },
    "/me/org_issues/": {
      "get": {
        "summary": "my_org_issues",
        "parameters": [
          {
            "description": "The string to filter items",
            "in": "query",
            "name": "q",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Issue"
              },
              "type": "array"
            }
          }
        },
        "summary": "List all issues related to my organizations",
        "tags": [
          "me"
        ]
      }
    },
    "/me/org_reuses/": {
      "get": {
        "summary": "my_org_reuses",
        "parameters": [
          {
            "description": "The string to filter items",
            "in": "query",
            "name": "q",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Reuse"
              },
              "type": "array"
            }
          }
        },
        "summary": "List all reuses related to me and my organizations",
        "tags": [
          "me"
        ]
      }
    },
    "/me/reuses/": {
      "get": {
        "summary": "my_reuses",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Reuse"
              },
              "type": "array"
            }
          }
        },
        "summary": "List all my reuses (including private ones)",
        "tags": [
          "me"
        ]
      }
    },
    "/metrics/{id}": {
      "get": {
        "description": "If day is set, start and end will be ignored",
        "summary": "metrics_for",
        "parameters": [
          {
            "description": "Start of the period to fetch",
            "in": "query",
            "name": "start",
            "type": "string"
          },
          {
            "default": true,
            "description": "Either cumulative metrics or not",
            "in": "query",
            "name": "cumulative",
            "type": "string"
          },
          {
            "description": "End of the period to fetch",
            "in": "query",
            "name": "end",
            "type": "string"
          },
          {
            "description": "The object ID to fetch metric for",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Specific day date to fetch",
            "in": "query",
            "name": "day",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Metric"
              },
              "type": "array"
            }
          }
        },
        "summary": "Fetch metrics for an object given its ID",
        "tags": [
          "site"
        ]
      }
    },
    "/notifications/": {
      "get": {
        "summary": "get_notifications",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Notification"
              },
              "type": "array"
            }
          }
        },
        "summary": "List all current user pending notifications",
        "tags": [
          "notifications"
        ]
      }
    },
    "/oembeds/": {
      "get": {
        "description": "See: http://oembed.com/\n\n        The `references` are composed by a keyword (`kind`) followed by\n        the `id` each of those separated by commas.\n        E.g: dataset-5369992aa3a729239d205183,territory-fr-town-75056-comptes\n\n        Only datasets and territories are supported for now.",
        "summary": "oembeds",
        "parameters": [
          {
            "description": "References of the resources to embed.",
            "in": "query",
            "name": "references",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "The returned payload is a list of OEmbed formatted responses",
        "tags": [
          "site"
        ]
      }
    },
    "/organizations/": {
      "get": {
        "summary": "list_organizations",
        "parameters": [
          {
            "description": "The field (and direction) on which sorting apply",
            "enum": [
              "datasets",
              "name",
              "created",
              "views",
              "followers",
              "reuses",
              "-datasets",
              "-name",
              "-created",
              "-views",
              "-followers",
              "-reuses"
            ],
            "in": "query",
            "name": "sort",
            "type": "string"
          },
          {
            "in": "query",
            "name": "datasets",
            "type": "string"
          },
          {
            "description": "Selected facets to fetch",
            "enum": [
              "all",
              "permitted_reuses",
              "followers",
              "datasets",
              "badge",
              "reuses"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "facets",
            "type": "array"
          },
          {
            "default": 20,
            "description": "The page size",
            "in": "query",
            "name": "page_size",
            "type": "integer"
          },
          {
            "description": "The search query",
            "in": "query",
            "name": "q",
            "type": "string"
          },
          {
            "in": "query",
            "name": "followers",
            "type": "string"
          },
          {
            "in": "query",
            "name": "reuses",
            "type": "string"
          },
          {
            "in": "query",
            "name": "permitted_reuses",
            "type": "string"
          },
          {
            "in": "query",
            "name": "badge",
            "type": "string"
          },
          {
            "description": "The page to display",
            "in": "query",
            "name": "page",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OrganizationPage"
            }
          }
        },
        "summary": "List or search all organizations",
        "tags": [
          "organizations"
        ]
      },
      "post": {
        "summary": "create_organization",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          },
          "400": {
            "description": "Validation error"
          }
        },
        "summary": "Create a new organization",
        "tags": [
          "organizations"
        ]
      }
    },
    "/organizations/badges/": {
      "get": {
        "summary": "available_organization_badges",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "List all available organization badges and their labels",
        "tags": [
          "organizations"
        ]
      }
    },
    "/organizations/suggest/": {
      "get": {
        "summary": "suggest_organizations",
        "parameters": [
          {
            "description": "The string to autocomplete/suggest",
            "in": "query",
            "name": "q",
            "required": true,
            "type": "string"
          },
          {
            "default": 10,
            "description": "The amount of suggestion to fetch",
            "in": "query",
            "name": "size",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/OrganizationSuggestion"
              },
              "type": "array"
            }
          }
        },
        "summary": "Suggest organizations",
        "tags": [
          "organizations"
        ]
      }
    },
    "/organizations/{id}/followers/": {
      "delete": {
        "description": "Returns the number of followers left after the operation",
        "summary": "unfollow",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Unfollow an object given its ID",
        "tags": [
          "organizations"
        ]
      },
      "get": {
        "summary": "list_followers",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": 20,
            "description": "The page size to fetch",
            "in": "query",
            "name": "page_size",
            "type": "integer"
          },
          {
            "default": 1,
            "description": "The page to fetch",
            "in": "query",
            "name": "page",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FollowPage"
            }
          }
        },
        "summary": "List all followers for a given object",
        "tags": [
          "organizations"
        ]
      },
      "post": {
        "description": "Returns the number of followers left after the operation",
        "summary": "follow",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Follow an object given its ID",
        "tags": [
          "organizations"
        ]
      }
    },
    "/organizations/{org}/": {
      "delete": {
        "summary": "delete_organization",
        "parameters": [
          {
            "description": "The organization ID or slug",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Organization deleted"
          },
          "404": {
            "description": "Organization not found"
          },
          "410": {
            "description": "Organization has been deleted"
          }
        },
        "summary": "Delete a organization given its identifier",
        "tags": [
          "organizations"
        ]
      },
      "get": {
        "summary": "get_organization",
        "parameters": [
          {
            "description": "The organization ID or slug",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          },
          "404": {
            "description": "Organization not found"
          },
          "410": {
            "description": "Organization has been deleted"
          }
        },
        "summary": "Get a organization given its identifier",
        "tags": [
          "organizations"
        ]
      },
      "put": {
        "summary": "update_organization",
        "parameters": [
          {
            "description": "The organization ID or slug",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          },
          "400": {
            "description": "Validation error: your data cannot be updated for now, we have been notified of the error and we will fix it as soon as possible."
          },
          "404": {
            "description": "Organization not found"
          },
          "410": {
            "description": "Organization has been deleted"
          }
        },
        "summary": "Update a organization given its identifier",
        "tags": [
          "organizations"
        ]
      }
    },
    "/organizations/{org}/badges/": {
      "post": {
        "summary": "add_organization_badge",
        "parameters": [
          {
            "description": "The organization ID or slug",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Badge"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Badge"
            }
          }
        },
        "summary": "Create a new badge for a given organization",
        "tags": [
          "organizations"
        ]
      }
    },
    "/organizations/{org}/badges/{badge_kind}/": {
      "delete": {
        "summary": "delete_organization_badge",
        "parameters": [
          {
            "in": "path",
            "name": "badge_kind",
            "required": true,
            "type": "string"
          },
          {
            "description": "The organization ID or slug",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Delete a badge for a given organization",
        "tags": [
          "organizations"
        ]
      }
    },
    "/organizations/{org}/datasets/": {
      "get": {
        "summary": "list_organization_datasets",
        "parameters": [
          {
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/DatasetFull"
              },
              "type": "array"
            }
          }
        },
        "summary": "List organization datasets (including private ones when member)",
        "tags": [
          "organizations"
        ]
      }
    },
    "/organizations/{org}/discussions/": {
      "get": {
        "summary": "list_organization_discussions",
        "parameters": [
          {
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Discussion"
              },
              "type": "array"
            }
          }
        },
        "summary": "List organization discussions",
        "tags": [
          "organizations"
        ]
      }
    },
    "/organizations/{org}/issues/": {
      "get": {
        "summary": "list_organization_issues",
        "parameters": [
          {
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Issue"
              },
              "type": "array"
            }
          }
        },
        "summary": "List organization issues",
        "tags": [
          "organizations"
        ]
      }
    },
    "/organizations/{org}/logo": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "organization_logo",
        "parameters": [
          {
            "description": "The organization ID or slug",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "bbox",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "file",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UploadedImage"
            }
          }
        },
        "summary": "Upload a new logo",
        "tags": [
          "organizations"
        ]
      },
      "put": {
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "resize_organization_logo",
        "parameters": [
          {
            "description": "The organization ID or slug",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "bbox",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "file",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UploadedImage"
            }
          }
        },
        "summary": "Set the logo BBox",
        "tags": [
          "organizations"
        ]
      }
    },
    "/organizations/{org}/member/{user}": {
      "delete": {
        "summary": "delete_organization_member",
        "parameters": [
          {
            "description": "The organization ID or slug",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "user",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "403": {
            "description": "Not Authorized"
          }
        },
        "summary": "Delete member from an organization",
        "tags": [
          "organizations"
        ]
      },
      "post": {
        "summary": "create_organization_member",
        "parameters": [
          {
            "description": "The organization ID or slug",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "user",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Member"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          },
          "403": {
            "description": "Not Authorized"
          },
          "409": {
            "description": "User is already member",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          }
        },
        "summary": "Add a member into a given organization",
        "tags": [
          "organizations"
        ]
      },
      "put": {
        "summary": "update_organization_member",
        "parameters": [
          {
            "description": "The organization ID or slug",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "user",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Member"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          },
          "403": {
            "description": "Not Authorized"
          }
        },
        "summary": "Update member status into a given organization",
        "tags": [
          "organizations"
        ]
      }
    },
    "/organizations/{org}/membership/": {
      "get": {
        "summary": "list_membership_requests",
        "parameters": [
          {
            "description": "If provided, only return requests ith a given status",
            "in": "query",
            "name": "status",
            "type": "string"
          },
          {
            "description": "The organization ID or slug",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/MembershipRequest"
              },
              "type": "array"
            }
          },
          "403": {
            "description": "Not Authorized"
          }
        },
        "summary": "List membership requests for a given organization",
        "tags": [
          "organizations"
        ]
      },
      "post": {
        "summary": "post_membership_request_api",
        "parameters": [
          {
            "description": "The organization ID or slug",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MembershipRequest"
            }
          }
        },
        "summary": "Apply for membership to a given organization",
        "tags": [
          "organizations"
        ]
      }
    },
    "/organizations/{org}/membership/{id}/accept/": {
      "post": {
        "summary": "accept_membership",
        "parameters": [
          {
            "description": "The organization ID or slug",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          }
        },
        "summary": "Accept user membership to a given organization",
        "tags": [
          "organizations"
        ]
      }
    },
    "/organizations/{org}/membership/{id}/refuse/": {
      "post": {
        "summary": "refuse_membership",
        "parameters": [
          {
            "description": "The refusal reason",
            "in": "body",
            "name": "comment",
            "type": "string"
          },
          {
            "description": "The organization ID or slug",
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefuseMembership"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Refuse user membership to a given organization",
        "tags": [
          "organizations"
        ]
      }
    },
    "/organizations/{org}/reuses/": {
      "get": {
        "summary": "list_organization_reuses",
        "parameters": [
          {
            "in": "path",
            "name": "org",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Reuse"
              },
              "type": "array"
            }
          }
        },
        "summary": "List organization reuses (including private ones when member)",
        "tags": [
          "organizations"
        ]
      }
    },
    "/posts/": {
      "get": {
        "summary": "list_posts",
        "parameters": [
          {
            "default": 1,
            "description": "The page to fetch",
            "in": "query",
            "name": "page",
            "type": "integer"
          },
          {
            "default": 20,
            "description": "The page size to fetch",
            "in": "query",
            "name": "page_size",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PostPage"
            }
          }
        },
        "summary": "List all posts",
        "tags": [
          "posts"
        ]
      },
      "post": {
        "summary": "create_post",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Post"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Post"
            }
          },
          "400": {
            "description": "Validation error"
          }
        },
        "summary": "Create a post",
        "tags": [
          "posts"
        ]
      }
    },
    "/posts/{post}/": {
      "delete": {
        "summary": "delete_post",
        "parameters": [
          {
            "description": "The post ID or slug",
            "in": "path",
            "name": "post",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "void"
            }
          },
          "204": {
            "description": "Object deleted"
          },
          "404": {
            "description": "Object not found"
          }
        },
        "summary": "Delete a given post",
        "tags": [
          "posts"
        ]
      },
      "get": {
        "summary": "get_post",
        "parameters": [
          {
            "description": "The post ID or slug",
            "in": "path",
            "name": "post",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Post"
            }
          },
          "404": {
            "description": "Object not found"
          }
        },
        "summary": "Get a given post",
        "tags": [
          "posts"
        ]
      },
      "put": {
        "summary": "update_post",
        "parameters": [
          {
            "description": "The post ID or slug",
            "in": "path",
            "name": "post",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Post"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Post"
            }
          },
          "400": {
            "description": "Validation error"
          },
          "404": {
            "description": "Object not found"
          }
        },
        "summary": "Update a given post",
        "tags": [
          "posts"
        ]
      }
    },
    "/posts/{post}/image": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "post_image",
        "parameters": [
          {
            "in": "path",
            "name": "post",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "bbox",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "file",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UploadedImage"
            }
          }
        },
        "summary": "Upload a new image",
        "tags": [
          "posts"
        ]
      },
      "put": {
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "resize_post_image",
        "parameters": [
          {
            "in": "path",
            "name": "post",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "bbox",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "file",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UploadedImage"
            }
          }
        },
        "summary": "Set the image BBox",
        "tags": [
          "posts"
        ]
      }
    },
    "/reuses/": {
      "get": {
        "summary": "list_reuses",
        "parameters": [
          {
            "description": "The field (and direction) on which sorting apply",
            "enum": [
              "datasets",
              "views",
              "created",
              "last_modified",
              "followers",
              "title",
              "-datasets",
              "-views",
              "-created",
              "-last_modified",
              "-followers",
              "-title"
            ],
            "in": "query",
            "name": "sort",
            "type": "string"
          },
          {
            "in": "query",
            "name": "datasets",
            "type": "string"
          },
          {
            "in": "query",
            "name": "extra",
            "type": "string"
          },
          {
            "in": "query",
            "name": "type",
            "type": "string"
          },
          {
            "description": "Selected facets to fetch",
            "enum": [
              "all",
              "featured",
              "tag",
              "followers",
              "badge",
              "extra",
              "owner",
              "organization",
              "datasets",
              "type",
              "dataset"
            ],
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "facets",
            "type": "array"
          },
          {
            "default": 20,
            "description": "The page size",
            "in": "query",
            "name": "page_size",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "dataset",
            "type": "string"
          },
          {
            "description": "The search query",
            "in": "query",
            "name": "q",
            "type": "string"
          },
          {
            "in": "query",
            "name": "featured",
            "type": "string"
          },
          {
            "in": "query",
            "name": "tag",
            "type": "string"
          },
          {
            "in": "query",
            "name": "followers",
            "type": "string"
          },
          {
            "in": "query",
            "name": "owner",
            "type": "string"
          },
          {
            "in": "query",
            "name": "organization",
            "type": "string"
          },
          {
            "in": "query",
            "name": "badge",
            "type": "string"
          },
          {
            "description": "The page to display",
            "in": "query",
            "name": "page",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReusePage"
            }
          }
        },
        "tags": [
          "reuses"
        ]
      },
      "post": {
        "summary": "create_reuse",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Reuse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Reuse"
            }
          },
          "400": {
            "description": "Validation error"
          }
        },
        "summary": "Create a new object",
        "tags": [
          "reuses"
        ]
      }
    },
    "/reuses/badges/": {
      "get": {
        "summary": "available_reuse_badges",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "List all available reuse badges and their labels",
        "tags": [
          "reuses"
        ]
      }
    },
    "/reuses/suggest/": {
      "get": {
        "summary": "suggest_reuses",
        "parameters": [
          {
            "description": "The string to autocomplete/suggest",
            "in": "query",
            "name": "q",
            "required": true,
            "type": "string"
          },
          {
            "default": 10,
            "description": "The amount of suggestion to fetch",
            "in": "query",
            "name": "size",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/ReuseSuggestion"
              },
              "type": "array"
            }
          }
        },
        "summary": "Suggest reuses",
        "tags": [
          "reuses"
        ]
      }
    },
    "/reuses/types/": {
      "get": {
        "summary": "reuse_types",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/ReuseType"
              },
              "type": "array"
            }
          }
        },
        "summary": "List all reuse types",
        "tags": [
          "reuses"
        ]
      }
    },
    "/reuses/{id}/followers/": {
      "delete": {
        "description": "Returns the number of followers left after the operation",
        "summary": "unfollow",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Unfollow an object given its ID",
        "tags": [
          "reuses"
        ]
      },
      "get": {
        "summary": "list_followers",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": 20,
            "description": "The page size to fetch",
            "in": "query",
            "name": "page_size",
            "type": "integer"
          },
          {
            "default": 1,
            "description": "The page to fetch",
            "in": "query",
            "name": "page",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FollowPage"
            }
          }
        },
        "summary": "List all followers for a given object",
        "tags": [
          "reuses"
        ]
      },
      "post": {
        "description": "Returns the number of followers left after the operation",
        "summary": "follow",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Follow an object given its ID",
        "tags": [
          "reuses"
        ]
      }
    },
    "/reuses/{reuse}/": {
      "delete": {
        "summary": "delete_reuse",
        "parameters": [
          {
            "description": "The reuse ID or slug",
            "in": "path",
            "name": "reuse",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Reuse deleted"
          },
          "404": {
            "description": "Reuse not found"
          },
          "410": {
            "description": "Reuse has been deleted"
          }
        },
        "summary": "Delete a given reuse",
        "tags": [
          "reuses"
        ]
      },
      "get": {
        "summary": "get_reuse",
        "parameters": [
          {
            "description": "The reuse ID or slug",
            "in": "path",
            "name": "reuse",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Reuse"
            }
          },
          "404": {
            "description": "Reuse not found"
          },
          "410": {
            "description": "Reuse has been deleted"
          }
        },
        "summary": "Fetch a given reuse",
        "tags": [
          "reuses"
        ]
      },
      "put": {
        "summary": "update_reuse",
        "parameters": [
          {
            "description": "The reuse ID or slug",
            "in": "path",
            "name": "reuse",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Reuse"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Reuse"
            }
          },
          "400": {
            "description": "Validation error: your data cannot be updated for now, we have been notified of the error and we will fix it as soon as possible."
          },
          "404": {
            "description": "Reuse not found"
          },
          "410": {
            "description": "Reuse has been deleted"
          }
        },
        "summary": "Update a given reuse",
        "tags": [
          "reuses"
        ]
      }
    },
    "/reuses/{reuse}/badges/": {
      "post": {
        "summary": "add_reuse_badge",
        "parameters": [
          {
            "description": "The reuse ID or slug",
            "in": "path",
            "name": "reuse",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Badge"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Badge"
            }
          }
        },
        "summary": "Create a new badge for a given reuse",
        "tags": [
          "reuses"
        ]
      }
    },
    "/reuses/{reuse}/badges/{badge_kind}/": {
      "delete": {
        "summary": "delete_reuse_badge",
        "parameters": [
          {
            "in": "path",
            "name": "badge_kind",
            "required": true,
            "type": "string"
          },
          {
            "description": "The reuse ID or slug",
            "in": "path",
            "name": "reuse",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Delete a badge for a given reuse",
        "tags": [
          "reuses"
        ]
      }
    },
    "/reuses/{reuse}/datasets/": {
      "post": {
        "summary": "reuse_add_dataset",
        "parameters": [
          {
            "description": "The reuse ID or slug",
            "in": "path",
            "name": "reuse",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatasetReference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The dataset is already present",
            "schema": {
              "$ref": "#/definitions/Reuse"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Reuse"
            }
          }
        },
        "summary": "Add a dataset to a given reuse",
        "tags": [
          "reuses"
        ]
      }
    },
    "/reuses/{reuse}/featured/": {
      "delete": {
        "summary": "unfeature_reuse",
        "parameters": [
          {
            "description": "The reuse ID or slug",
            "in": "path",
            "name": "reuse",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Reuse"
            }
          }
        },
        "summary": "Unmark a reuse as featured",
        "tags": [
          "reuses"
        ]
      },
      "post": {
        "summary": "feature_reuse",
        "parameters": [
          {
            "description": "The reuse ID or slug",
            "in": "path",
            "name": "reuse",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Reuse"
            }
          }
        },
        "summary": "Mark a reuse as featured",
        "tags": [
          "reuses"
        ]
      }
    },
    "/reuses/{reuse}/image": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "reuse_image",
        "parameters": [
          {
            "description": "The reuse ID or slug",
            "in": "path",
            "name": "reuse",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "file",
            "type": "file"
          },
          {
            "in": "formData",
            "name": "bbox",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UploadedImage"
            }
          }
        },
        "summary": "Upload a new reuse image",
        "tags": [
          "reuses"
        ]
      }
    },
    "/site/": {
      "get": {
        "summary": "get_site",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          }
        },
        "summary": "Site-wide variables",
        "tags": [
          "site"
        ]
      }
    },
    "/site/home/datasets/": {
      "get": {
        "summary": "get_home_datasets",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/DatasetReference"
              },
              "type": "array"
            }
          }
        },
        "summary": "List homepage datasets",
        "tags": [
          "site"
        ]
      },
      "put": {
        "summary": "set_home_datasets",
        "parameters": [
          {
            "description": "Dataset IDs to put in homepage",
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/DatasetReference"
              },
              "type": "array"
            }
          }
        },
        "summary": "Set the homepage datasets editorial selection",
        "tags": [
          "site"
        ]
      }
    },
    "/site/home/reuses/": {
      "get": {
        "summary": "get_home_reuses",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/ReuseReference"
              },
              "type": "array"
            }
          }
        },
        "summary": "List homepage featured reuses",
        "tags": [
          "site"
        ]
      },
      "put": {
        "summary": "set_home_reuses",
        "parameters": [
          {
            "description": "Reuse IDs to put in homepage",
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
[...]
