{
  "swagger": "2.0",
  "info": {
    "description": "Jira JQL Search",
    "version": "1001.0.0-SNAPSHOT",
    "title": "Jira Reddata JQL Search",
    "termsOfService": "http://atlassian.com/terms/",
    "contact": {
      "email": "ecosystem@atlassian.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "reddata.atlassian.net",
  "basePath": "/rest",
  "schemes": ["https"],
  "paths": {
    "/api/2/search": {
      "get": {
        "summary": "Search for issues using JQL (GET)",
        "description": "Searches for issues using <a href=\"https://confluence.atlassian.com/x/egORLQ\">JQL</a>.\n <p>\n If the JQL query expression is too large to be encoded as a query parameter, use the\n <a href=\"#api-api-2-search-post\">POST</a> version of this resource.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n Permission to access Jira.",
        "summary": "Jira JQL Search",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jql",
            "in": "query",
            "default": "project=GROK AND Type='Bug' AND 'Test Case' is not EMPTY ORDER BY updated DESC",
            "description": "The <a href=\"https://confluence.atlassian.com/x/egORLQ\">JQL</a> that defines the search. If no JQL expression is provided, all issues are returned.\n                      Note that <code>username</code> and <code>userkey</code> have been deprecated as search terms for this parameter.\n                      See the <a href=\"https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/\">migration guide</a> for details.\n                      Use <code>accountId</code> instead.",
            "required": true,
            "type": "string",
            "x-example": "{jql}"
          },
          {
            "name": "startAt",
            "in": "query",
            "description": "The index of the first item to return in the page of results (page offset).",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "\nThe maximum number of items to return per page. The maximum is <code>100</code>.",
            "required": false,
            "type": "integer",
            "default": 100,
            "format": "int32"
          },
          {
            "name": "validateQuery",
            "in": "query",
            "description": "Determines how to validate the JQL query and treat the validation results. Supported values are:\n                      <ul>\n                      <li><code>strict</code> Returns a 400 response code if any errors are found, along with a list of all errors (and warnings).</li>\n                      <li><code>warn</code> Returns all errors as warnings.</li>\n                      <li><code>none</code> No validation is performed.</li>\n                      <li><code>true</code> <em>Deprecated</em> A legacy synonym for <code>strict</code>.</li>\n                      <li><code>false</code> <em>Deprecated</em> A legacy synonym for <code>warn</code>.</li>\n                      </ul>\n                      <p>\n                      Note: If the JQL is not correctly formed a 400 response code is returned, regardless of the <code>validateQuery</code> value.",
            "required": false,
            "type": "string",
            "default": "strict",
            "enum": [
              "strict",
              "warn",
              "none",
              "true",
              "false"
            ]
          },
          {
            "name": "fields",
            "default": "summary,assignee,customfield_10406,created,status,priority",
            "in": "query",
            "description": "A comma-separated list of fields to return for each issue, use it to retrieve a subset of fields. Allowed values:\n                      <ul>\n                      <li><code>*all</code> Returns all fields.</li>\n                      <li><code>*navigable</code> Returns navigable fields.</li>\n                      <li>Any issue field, prefixed with a minus to exclude.</li>\n                      </ul>\n                      Examples:\n                      <ul>\n                      <li><code>summary,comment</code> Returns only the summary and comments fields.</li>\n                      <li><code>-description</code> Returns all navigable (default) fields except description.</li>\n                      <li><code>*all,-comment</code> Returns all fields except comments.</li>\n                      </ul>\n                      <p>\n                      This parameter may be specified multiple times. For example, <code>fields=field1,field2&fields=field3</code>.\n                      <p>\n                      Note: All navigable fields are returned by default. This differs from\n                      <a href=\"#api-api-2-issue-issueIdOrKey-get\">GET issue</a>\n                      where the default is all fields.",
            "required": false,
            "type": "string",
            "collectionFormat": "multi"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Use <a href=\"#expansion\">expand</a> to include additional information about issues in the response. This parameter accepts multiple values separated by a comma:\n                      <ul>\n                      <li><code>renderedFields</code> Returns field values rendered in HTML format.</li>\n                      <li><code>names</code> Returns the display name of each field.</li>\n                      <li><code>schema</code> Returns the schema describing a field type.</li>\n                      <li><code>transitions</code> Returns all possible transitions for the issue.</li>\n                      <li><code>operations</code> Returns all possible operations for the issue.</li>\n                      <li><code>editmeta</code> Returns information about how each field can be edited.</li>\n                      <li><code>changelog</code> Returns a list of recent updates to an issue, sorted by date, starting from the most recent.</li>\n                      <li><code>versionedRepresentations</code> Returns a JSON array for each version of a field's value, with the\n                      highest number representing the most recent version. Note: When included in the request, the <code>fields</code>\n                      parameter is ignored.</li>\n                      </ul>",
            "required": false,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "query",
            "description": "A comma-separated list of issue property keys for issue properties to include in the results.\n                      This parameter may be specified multiple times. For example, <code>properties=prop1,prop2&properties=prop3</code>.\n                      A maximum of 5 issue property keys can be specified.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fieldsByKeys",
            "in": "query",
            "description": "Reference fields by their key (rather than ID).",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"expand\":\"names,schema\",\"startAt\":0,\"maxResults\":50,\"total\":1,\"issues\":[{\"expand\":\"\",\"id\":\"10001\",\"self\":\"http://your-domain.atlassian.net/rest/api/2/issue/10001\",\"key\":\"HSP-1\"}],\"warningMessages\":[\"The value 'splat' does not exist for the field 'Foo'.\"]}"
            },
            "schema": {
              "$ref": "#/definitions/SearchResults"
            }
          },
          "400": {
            "description": "Returned if the JQL query is invalid."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/2/issue": {
      "post": {
        "summary": "Jira Create Issue",
        "description": "Creates an issue or, where the option to create sub-tasks is enabled in Jira, a sub-task. A transition may be\n applied, to move the issue or sub-task to a workflow step other than the default start step, and issue properties\n set.\n <p>\n The content of the issue or sub-task is defined using <code>update</code> and <code>fields</code>. The fields\n that can be set in the issue or sub-task are determined using the <a href=\"#api-api-2-issue-createmeta-get\">\n Get create issue metadata</a>. These are the same fields that appear on the issue's create screen.\n <p>\n Creating a sub-task differs from creating an issue as follows:\n <ul>\n <li><code>issueType</code> must be set to a sub-task issue type (use <a href=\"#api-api-2-issue-createmeta-get\">\n Get create issue metadata</a> to find sub-task issue types).</li>\n <li><code>parent</code> the must contain the ID or key of the parent issue.</li>\n </ul>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n <em>Browse projects</em> and <em>Create issues</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project\n permissions</a> for the project in which the issue or sub-task is created. ",
        "summary": "Jira Create Issue",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "updateHistory",
            "in": "query",
            "description": "\nIndicates whether the project in which the issue is created is added to the user's <b>Recently\n                      viewed</b> project list, as shown under <b>Projects</b> in Jira.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "in": "body",
            "name": "createRequest",
            "required": true,
            "type": "string",
            "x-examples": {
              "application/json": "{\"update\":{\"worklog\":[{\"add\":{\"started\":\"2011-07-05T11:05:00.000+0000\",\"timeSpent\":\"60m\"}}]},\"fields\":{\"project\":{\"id\":\"10000\"},\"summary\":\"something's wrong\",\"issuetype\":{\"id\":\"10000\"},\"assignee\":{\"name\":\"homer\"},\"reporter\":{\"name\":\"smithers\"},\"priority\":{\"id\":\"20000\"},\"labels\":[\"bugfix\",\"blitz_test\"],\"timetracking\":{\"originalEstimate\":\"10\",\"remainingEstimate\":\"5\"},\"security\":{\"id\":\"10000\"},\"versions\":[{\"id\":\"10000\"}],\"environment\":\"environment\",\"description\":\"description\",\"duedate\":\"2011-03-11\",\"fixVersions\":[{\"id\":\"10001\"}],\"components\":[{\"id\":\"10000\"}],\"customfield_30000\":[\"10000\",\"10002\"],\"customfield_80000\":{\"value\":\"red\"},\"customfield_20000\":\"06/Jul/11 3:25 PM\",\"customfield_40000\":\"this is a text field\",\"customfield_70000\":[\"jira-administrators\",\"jira-software-users\"],\"customfield_60000\":\"jira-software-users\",\"customfield_50000\":\"this is a text area. big text.\",\"customfield_10000\":\"09/Jun/81\"}}"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"id\":\"10000\",\"key\":\"TST-24\",\"self\":\"http://your-domain.atlassian.net/rest/api/2/issue/10000\",\"transition\":{\"status\":200,\"errorCollection\":{\"errorMessages\":[],\"errors\":{}}}}"
            },
            "schema": {
              "$ref": "#/definitions/CreatedIssue"
            }
          },
          "400": {
            "description": "Returned if the request:\n <ul>\n <li>is missing required fields.</li>\n <li>contains invalid field values.</li>\n <li>contains fields that cannot be set for the issue type.</li>\n <li>is by a user who does not have the necessary permissions.</li>\n <li>is to create a subtype in a project different that of the the parent issue.</li>\n <li>is for a sub-task when the option to create sub-tasks is disabled.</li>\n <li>is invalid for any other reason.</li>\n </ul>",
            "examples": {
              "application/json": "{\"errorMessages\":[\"Field 'priority' is required\"],\"errors\":{}}"
            },
            "schema": {
              "$ref": "#/definitions/ErrorCollection"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing.",
            "schema": {
              "$ref": "#/definitions/ErrorCollection"
            }
          },
          "403": {
            "description": "Returned if the user is not permitted to access the application.",
            "schema": {
              "$ref": "#/definitions/ErrorCollection"
            }
          }
        },
        "security": [
          {
            "OAuth2": [
              "write:jira-work"
            ]
          }
        ],
        "deprecated": false
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "description": "You can access this resource via basic auth.",
      "type": "basic",
      "contentType": "application/json"
    },
    "OAuth2": {
      "description": "OAuth2 scopes for Jira",
      "type": "oauth2",
      "authorizationUrl": "https://accounts.atlassian.com/authorize",
      "tokenUrl": "https://accounts.atlassian.com/access-token",
      "flow": "application",
      "scopes": {
        "read:jira-user": "View user information in Jira that you have access to, including usernames, email addresses, and avatars.",
        "read:jira-work": "Read project and issue data. Search for issues and objects associated with issues (such as attachments and worklogs).",
        "write:jira-work": "Create and edit issues in Jira, post comments, create worklogs, and delete issues.",
        "manage:jira-project": "Create and edit project settings and create new project-level objects, for example, versions, components.",
        "manage:jira-configuration": "Configure Jira settings that require the Jira administrators permission, for example, create projects and custom fields, view workflows, manage issue link types."
      }
    }
  },
  "definitions": {
    "Locale": {
      "type": "object",
      "properties": {
        "locale": {
          "type": "string",
          "description": "The locale code. The Java the locale format is used: a two character language code (ISO 639), an  underscore, and two letter country code (ISO 3166). For example, en_US represents a locale of English (United States). Required on create."
        }
      },
      "description": "Details of a locale."
    },
    "ProjectType": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key of the project type.",
          "readOnly": true
        },
        "formattedKey": {
          "type": "string",
          "description": "The formatted key of the project type.",
          "readOnly": true
        },
        "descriptionI18nKey": {
          "type": "string",
          "description": "The key of the project type's description.",
          "readOnly": true
        },
        "icon": {
          "type": "string",
          "description": "The icon of the project type.",
          "readOnly": true
        },
        "color": {
          "type": "string",
          "description": "The color of the project type.",
          "readOnly": true
        }
      },
      "description": "Details about a project type."
    },
    "Component": {
      "type": "object",
      "properties": {
        "self": {
          "type": "string",
          "format": "uri",
          "description": "The URL of the component.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "The unique identifier for the component.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The unique name for the component in the project. Required when creating a component. Optional when updating a component. The maximum length is 255 characters."
        },
        "description": {
          "type": "string",
          "description": "The description for the component. Optional when creating or updating a component."
        },
        "lead": {
          "description": "The user details for the component's lead user.",
          "readOnly": true,
          "$ref": "#/definitions/User"
        },
        "leadUserName": {
          "type": "string",
          "description": "This property has been deprecated in favour of <code>leadAccountId</code> due to privacy changes. See the <a href=\"https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/\">migration guide</a> for details. <br>The username of the component's lead user. Optional when creating or updating a component. Cannot be provided with <code>leadAccountId</code>."
        },
        "leadAccountId": {
          "type": "string",
          "description": "The accountId of the component's lead user. The accountId uniquely identifies the user across all Atlassian products. For example, <em>384093:32b4d9w0-f6a5-3535-11a3-9c8c88d10192</em>.Optional when creating or updating a component. Cannot be provided with <code>leadUserName</code>."
        },
        "assigneeType": {
          "type": "string",
          "description": "The nominal user type used to determine the assignee for issues created with this component. See <code>realAssigneeType</code> for details on how the type of the user, and hence the user, assigned to issues is determined. Can take the following values:<ul><li><code>PROJECT_LEAD</code> the assignee to any issues created with this component is nominally the lead for the project the component is in.</li><li><code>COMPONENT_LEAD</code> the assignee to any issues created with this component is nominally the lead for the component.</li><li><code>UNASSIGNED</code> an assignee is not set for issues created with this component.</li><li><code>PROJECT_DEFAULT</code> the assignee to any issues created with this component is nominally the default assignee for the project that the component is in.</li></ul>Default value: <code>PROJECT_DEFAULT</code>.<br>Optional when creating or updating a component.",
          "enum": [
            "PROJECT_DEFAULT",
            "COMPONENT_LEAD",
            "PROJECT_LEAD",
            "UNASSIGNED"
          ]
        },
        "assignee": {
          "description": "The details of the user associated with <code>assigneeType</code>, if any. See <code>realAssignee</code> for details of the user assigned to issues created with this component.",
          "readOnly": true,
          "$ref": "#/definitions/User"
        },
        "realAssigneeType": {
          "type": "string",
          "description": "The actual type of the assignee that is assigned to issues created with this component, when an assignee cannot be set from the <code>assigneeType</code>. For example, <code>assigneeType</code> is set to <code>COMPONENT_LEAD</code> but no component lead is set. This property is set to one of the following values:<ul><li><code>PROJECT_LEAD</code> when <code>assigneeType</code> is <code>PROJECT_LEAD</code> and the project lead has permission to be assigned issues in the project that the component is in.</li> <li><code>COMPONENT_LEAD</code> when <code>assignee</code>Type is <code>COMPONENT_LEAD</code> and the component lead has permission to be assigned issues in the project that the component is in.</li> <li><code>UNASSIGNED</code> when <code>assigneeType</code> is <code>UNASSIGNED</code> and Jira is configured to allow unassigned issues.</li> <li><code>PROJECT_DEFAULT</code> when none of the preceding cases are true.</li></ul>",
          "readOnly": true,
          "enum": [
            "PROJECT_DEFAULT",
            "COMPONENT_LEAD",
            "PROJECT_LEAD",
            "UNASSIGNED"
          ]
        },
        "realAssignee": {
          "description": "The user assigned to issues created with this component, when <code>assigneeType</code> does not identify a valid assignee.",
          "readOnly": true,
          "$ref": "#/definitions/User"
        },
        "isAssigneeTypeValid": {
          "type": "boolean",
          "description": "Whether or not a user is associated with <code>assigneeType</code>. For example, if the <code>assigneeType</code> is set to <code>COMPONENT_LEAD</code> but the component lead is not set, then <code>false</code> is returned.",
          "readOnly": true
        },
        "project": {
          "type": "string",
          "description": "The key of the project to which the component is assigned. Required when creating a component. Can't be updated."
        },
        "projectId": {
          "type": "integer",
          "format": "int64",
          "description": "Not used."
        }
      },
      "xml": {
        "name": "component"
      },
      "description": "Details about a project component."
    },
    "ApplicationRole": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key of the application role."
        },
        "groups": {
          "type": "array",
          "description": "The groups associated with the application role.",
          "uniqueItems": true,
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The display name of the application role."
        },
        "defaultGroups": {
          "type": "array",
          "description": "The groups that are granted default access for this application role.",
          "uniqueItems": true,
          "items": {
            "type": "string"
          }
        },
        "selectedByDefault": {
          "type": "boolean",
          "description": "Determines whether this application role should be selected by default on user creation."
        },
        "defined": {
          "type": "boolean",
          "description": "Deprecated."
        },
        "numberOfSeats": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum count of users on your license."
        },
        "remainingSeats": {
          "type": "integer",
          "format": "int32",
          "description": "The count of users remaining on your license."
        },
        "userCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of users counting against your license."
        },
        "userCountDescription": {
          "type": "string",
          "description": "The  <a href=\"https://confluence.atlassian.com/x/lRW3Ng\">type of users</a> being counted against your license."
        },
        "hasUnlimitedSeats": {
          "type": "boolean"
        },
        "platform": {
          "type": "boolean",
          "description": "Indicates if the application role belongs to Jira platform (<code>jira-core</code>)."
        }
      },
      "description": "Details of an application role."
    },
    "AvatarUrls": {
      "type": "object",
      "properties": {
        "16x16": {
          "type": "string",
          "format": "uri",
          "description": "The URL of the item's 16x16 pixel avatar.",
          "readOnly": true
        },
        "24x24": {
          "type": "string",
          "format": "uri",
          "description": "The URL of the item's 24x24 pixel avatar.",
          "readOnly": true
        },
        "32x32": {
          "type": "string",
          "format": "uri",
          "description": "The URL of the item's 32x32 pixel avatar.",
          "readOnly": true
        },
        "48x48": {
          "type": "string",
          "format": "uri",
          "description": "The URL of the item's 48x48 pixel avatar.",
          "readOnly": true
        }
      },
      "description": "Details about the avatars for an item."
    },
    "GroupName": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of group."
        },
        "self": {
          "type": "string",
          "format": "uri",
          "description": "The URL for these group details.",
          "readOnly": true
        }
      },
      "description": "Details about a group name."
    },
    "ListWrapperCallback": {
      "type": "object"
    },
    "ListWrapperCallbackApplicationRole": {
      "type": "object"
    },
    "ListWrapperCallbackGroupName": {
      "type": "object"
    },
    "ListWrapperCallbackObject": {
      "type": "object"
    },
    "SimpleListWrapper": {
      "type": "object",
      "properties": {
        "size": {
          "type": "integer",
          "format": "int32",
          "xml": {
            "attribute": true
          }
        },
        "max-results": {
          "type": "integer",
          "format": "int32",
          "xml": {
            "attribute": true
          }
        },
        "items": {
          "type": "array",
          "items": {
            "xml": {
              "name": "items"
            }
          }
        },
        "pagingCallback": {
          "$ref": "#/definitions/ListWrapperCallbackObject"
        },
        "callback": {
          "$ref": "#/definitions/ListWrapperCallbackObject"
        }
      },
      "xml": {
        "name": "list"
      }
    },
    "SimpleListWrapperApplicationRole": {
      "type": "object",
      "properties": {
        "size": {
          "type": "integer",
          "format": "int32",
          "xml": {
            "attribute": true
          }
        },
        "max-results": {
          "type": "integer",
          "format": "int32",
          "xml": {
            "attribute": true
          }
        },
        "items": {
          "type": "array",
          "items": {
            "xml": {
              "name": "items"
            },
            "$ref": "#/definitions/ApplicationRole"
          }
        },
        "pagingCallback": {
          "$ref": "#/definitions/ListWrapperCallbackApplicationRole"
        },
        "callback": {
          "$ref": "#/definitions/ListWrapperCallbackApplicationRole"
        }
      },
      "xml": {
        "name": "list"
      }
    },
    "SimpleListWrapperGroupName": {
      "type": "object",
      "properties": {
        "size": {
          "type": "integer",
          "format": "int32",
          "xml": {
            "attribute": true
          }
        },
        "max-results": {
          "type": "integer",
          "format": "int32",
          "xml": {
            "attribute": true
          }
        },
        "items": {
          "type": "array",
          "items": {
            "xml": {
              "name": "items"
            },
            "$ref": "#/definitions/GroupName"
          }
        },
        "pagingCallback": {
          "$ref": "#/definitions/ListWrapperCallbackGroupName"
        },
        "callback": {
          "$ref": "#/definitions/ListWrapperCallbackGroupName"
        }
      },
      "xml": {
        "name": "list"
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "self": {
          "type": "string",
          "format": "uri",
          "description": "The URL of the user.",
          "readOnly": true
        },
        "key": {
          "type": "string",
          "description": "This property has been deprecated in favour of <code>accountId</code> due to privacy changes. See the <a href=\"https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/\">migration guide</a> for details. <br>The key of the user. In requests, required unless <code>accountId</code> or <code>name</code> is specified."
        },
        "accountId": {
          "type": "string",
          "description": "The accountId of the user, which uniquely identifies the user across all Atlassian products. For example, <em>384093:32b4d9w0-f6a5-3535-11a3-9c8c88d10192</em>. In requests, required unless <code>name</code> or <code>key</code> is specified."
        },
        "name": {
          "type": "string",
          "description": "This property has been deprecated in favour of <code>accountId</code> due to privacy changes. See the <a href=\"https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/\">migration guide</a> for details. <br>The username of the user. In requests, required unless <code>accountId</code> or <code>key</code> is specified."
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of the user. Depending on the user’s privacy setting, this may be returned as null.",
          "readOnly": true
        },
        "avatarUrls": {
          "type": "object",
          "description": "The avatars of the user.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/AvatarUrls"
            }
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user. Depending on the user’s privacy setting, this may return an alternative value.",
          "readOnly": true
        },
        "active": {
          "type": "boolean",
          "description": "Indicates whether the user is active.",
          "readOnly": true
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone specified in the user's profile. Depending on the user’s privacy setting, this may be returned as null.",
          "readOnly": true
        },
        "locale": {
          "type": "string",
          "description": "The locale of the user. Depending on the user’s privacy setting, this may be returned as null.",
          "readOnly": true
        },
        "groups": {
          "type": "object",
          "description": "The groups that the user belongs to.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/SimpleListWrapperGroupName"
            }
          ]
        },
        "applicationRoles": {
          "type": "object",
          "description": "The application roles the user is assigned to.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/SimpleListWrapperApplicationRole"
            }
          ]
        },
        "expand": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "description": "Details of expands available for the user details.",
          "readOnly": true
        }
      },
      "xml": {
        "name": "user"
      },
      "description": "A user."
    },
    "ComponentIssuesCount": {
      "type": "object",
      "properties": {
        "self": {
          "type": "string",
          "format": "uri",
          "description": "The URL for this count of issues for a component.",
          "readOnly": true
        },
        "issueCount": {
          "type": "integer",
          "format": "int64",
          "description": "The count of issues assigned to a component.",
          "readOnly": true
        }
      },
      "xml": {
        "name": "component"
      },
      "description": "Count of issues assigned to a component."
    },
    "Field": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the field."
        },
        "key": {
          "type": "string",
          "description": "The key of the field."
        },
        "name": {
          "type": "string",
          "description": "The name of the field."
        },
        "custom": {
          "type": "boolean",
          "description": "Indicates whether the field is a custom field."
        },
        "orderable": {
          "type": "boolean",
          "description": "Indicates whether the content of the field can be used to order lists."
        },
        "navigable": {
          "type": "boolean",
          "description": "Indicates whether the field can be used as a column on the issue navigator."
        },
        "searchable": {
          "type": "boolean",
          "description": "Indicates whether the content of the field can be searched."
        },
        "clauseNames": {
          "type": "array",
          "description": "The names that can be used to reference the field in an advanced search. For more information,  see <a href=\"https://confluence.atlassian.com/x/gwORLQ\">Advanced searching - fields reference</a>.",
          "uniqueItems": true,
          "items": {
            "type": "string"
          }
        },
        "scope": {
          "type": "object",
          "description": "The scope of the field.",
          "allOf": [
            {
              "$ref": "#/definitions/Scope"
            }
          ]
        },
        "schema": {
          "type": "object",
          "description": "The data schema for the field.",
          "allOf": [
            {
              "$ref": "#/definitions/JsonTypeBean"
            }
          ]
        }
      },
      "xml": {
        "name": "field"
      },
      "description": "Details about a field."
    },
    "JsonTypeBean": {
      "type": "object",
      "required": [
        "type"
      ],
      "properties": {
        "type": {
          "type": "string",
          "description": "The data type of the field.",
          "readOnly": true
        },
        "items": {
          "type": "string",
          "description": "When the data type is an array, the name of the field items within the array.",
          "readOnly": true
        },
        "system": {
          "type": "string",
          "description": "If the field is a system field, the name of the field.",
          "readOnly": true
        },
        "custom": {
          "type": "string",
          "description": "If the field is a custom field, the URI of the field.",
          "readOnly": true
        },
        "customId": {
          "type": "integer",
          "format": "int64",
          "description": "If the field is a custom field, the custom ID of the field.",
          "readOnly": true
        }
      },
      "description": "The schema of a field."
    },
    "ProjectForScope": {
      "type": "object",
      "properties": {
        "self": {
          "type": "string",
          "description": "The URL of the project details.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "The ID of the project."
        },
        "key": {
          "type": "string",
          "description": "The key of the project.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the project.",
          "readOnly": true
        },
        "projectTypeKey": {
          "type": "string",
          "description": "The <a href=\"https://confluence.atlassian.com/x/GwiiLQ#Jiraapplicationsoverview-Productfeaturesandprojecttypes\">project type</a> of the project.",
          "readOnly": true,
          "enum": [
            "ops",
            "software",
            "service_desk",
            "business"
          ]
        },
        "avatarUrls": {
          "type": "object",
          "description": "The URLs of the project's avatars.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/AvatarUrls"
            }
          ]
        },
        "projectCategory": {
          "type": "object",
          "description": "The category the project belongs to.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/UpdatedProjectCategory"
            }
          ]
        }
      },
      "description": "Details about a next-gen project."
    },
    "Scope": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of scope.",
          "readOnly": true,
          "enum": [
            "PROJECT",
            "TEMPLATE"
          ]
        },
        "project": {
          "type": "object",
          "description": "The project the entity has scope in.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/ProjectForScope"
            }
          ]
        }
      },
      "description": "The scope of an entity. Indicated for entities associated with <a href=\"https://confluence.atlassian.com/x/loMyO\">next-gen projects</a>."
    },
    "UpdatedProjectCategory": {
      "type": "object",
      "properties": {
        "self": {
          "type": "string",
          "description": "The URL of the project category.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "The ID of the project category.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The name of the project category.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The description of the project category.",
          "readOnly": true
        }
      },
      "description": "A project category."
    },
    "CustomFieldDefinitionJsonBean": {
      "type": "object",
      "required": [
        "name",
        "searcherKey",
        "type"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the custom field, which is displayed in the UI. This is not the unique identifier."
        },
        "description": {
          "type": "string",
          "description": "The description of the custom field, which is displayed in the UI."
        },
        "type": {
          "type": "string",
          "description": "The type of the custom field. For example, <i>com.atlassian.jira.plugin.system.customfieldtypes:grouppicker</i>.<ul><li><code>cascadingselect</code>: Allows multiple values to be selected using two select lists</li><li><code>datepicker</code>: Stores a date using a picker control</li><li><code>datetime</code>: Stores a date with a time component</li><li><code>float</code>: Stores and validates a numeric (floating point) input</li><li><code>grouppicker</code>: Stores a user group using a picker control</li><li><code>importid</code>: A read-only field that stores the previous ID of the issue from the system that it was imported from</li><li><code>labels</code>: Stores labels</li><li><code>multicheckboxes</code>: Stores multiple values using checkboxes<li><code>multigrouppicker</code>: Stores multiple user groups using a picker control</li><li><code>multiselect</code>: Stores multiple values using a select list</li><li><code>multiuserpicker</code>: Stores multiple users using a picker control</li><li><code>multiversion</code>: Stores multiple versions from the versions available in a project using a picker control</li><li><code>project</code>: Stores a project from a list of projects that the user is permitted to view</li><li><code>radiobuttons</code>: Stores a value using radio buttons</li><li><code>readonlyfield</code>: Stores a read-only text value, which can only be populated via the API</li><li><code>select</code>: Stores a value from a configurable list of options</li><li><code>textarea</code>: Stores a long text string using a multiline text area</li><li><code>textfield</code>: Stores a text string using a single line text box</li><li><code>url</code>: Stores a URL</li><li><code>userpicker</code>: Stores a user using a picker control</li><li><code>version</code>: Stores a version using a picker control</li></ul>",
          "enum": [
            "com.atlassian.jira.plugin.system.customfieldtypes:cascadingselect",
            "com.atlassian.jira.plugin.system.customfieldtypes:datepicker",
            "com.atlassian.jira.plugin.system.customfieldtypes:datetime",
            "com.atlassian.jira.plugin.system.customfieldtypes:float",
            "com.atlassian.jira.plugin.system.customfieldtypes:grouppicker",
            "com.atlassian.jira.plugin.system.customfieldtypes:importid",
            "com.atlassian.jira.plugin.system.customfieldtypes:labels",
            "com.atlassian.jira.plugin.system.customfieldtypes:multicheckboxes",
            "com.atlassian.jira.plugin.system.customfieldtypes:multigrouppicker",
            "com.atlassian.jira.plugin.system.customfieldtypes:multiselect",
            "com.atlassian.jira.plugin.system.customfieldtypes:multiuserpicker",
            "com.atlassian.jira.plugin.system.customfieldtypes:multiversion",
            "com.atlassian.jira.plugin.system.customfieldtypes:project",
            "com.atlassian.jira.plugin.system.customfieldtypes:radiobuttons",
            "com.atlassian.jira.plugin.system.customfieldtypes:readonlyfield",
            "com.atlassian.jira.plugin.system.customfieldtypes:select",
            "com.atlassian.jira.plugin.system.customfieldtypes:textarea",
            "com.atlassian.jira.plugin.system.customfieldtypes:textfield",
            "com.atlassian.jira.plugin.system.customfieldtypes:url",
            "com.atlassian.jira.plugin.system.customfieldtypes:userpicker",
            "com.atlassian.jira.plugin.system.customfieldtypes:version"
          ]
        },
        "searcherKey": {
          "type": "string",
          "description": "The searcher defines the way the field is searched in Jira. For example, <i>com.atlassian.jira.plugin.system.customfieldtypes:grouppickersearcher</i>.<br>The search UI (basic search and JQL search) will display different operations and values for the field, based on the field searcher. You must specify a searcher that is valid for the field type, as listed below (abbreviated values shown):<ul><li><code>cascadingselect</code>: <code>cascadingselectsearcher</code></li><li><code>datepicker</code>: <code>daterange</code></li><li><code>datetime</code>: <code>datetimerange</code></li><li><code>float</code>: <code>exactnumber</code> or <code>numberrange</code></li><li><code>grouppicker</code>: <code>grouppickersearcher</code></li><li><code>importid</code>: <code>exactnumber</code> or <code>numberrange</code></li><li><code>labels</code>: <code>labelsearcher</code></li><li><code>multicheckboxes</code>: <code>multiselectsearcher</code></li><li><code>multigrouppicker</code>: <code>multiselectsearcher</code></li><li><code>multiselect</code>: <code>multiselectsearcher</code></li><li><code>multiuserpicker</code>: <code>userpickergroupsearcher</code></li><li><code>multiversion</code>: <code>versionsearcher</code></li><li><code>project</code>: <code>projectsearcher</code></li><li><code>radiobuttons</code>: <code>multiselectsearcher</code></li><li><code>readonlyfield</code>: <code>textsearcher</code></li><li><code>select</code>: <code>multiselectsearcher</code></li><li><code>textarea</code>: <code>textsearcher</code></li><li><code>textfield</code>: <code>textsearcher</code></li><li><code>url</code>: <code>exacttextsearcher</code></li><li><code>userpicker</code>: <code>userpickergroupsearcher</code></li><li><code>version</code>: <code>versionsearcher</code></li></ul>",
          "enum": [
            "com.atlassian.jira.plugin.system.customfieldtypes:cascadingselectsearcher",
            "com.atlassian.jira.plugin.system.customfieldtypes:daterange",
            "com.atlassian.jira.plugin.system.customfieldtypes:datetimerange",
            "com.atlassian.jira.plugin.system.customfieldtypes:exactnumber",
            "com.atlassian.jira.plugin.system.customfieldtypes:exacttextsearcher",
            "com.atlassian.jira.plugin.system.customfieldtypes:grouppickersearcher",
            "com.atlassian.jira.plugin.system.customfieldtypes:labelsearcher",
            "com.atlassian.jira.plugin.system.customfieldtypes:multiselectsearcher",
            "com.atlassian.jira.plugin.system.customfieldtypes:numberrange",
            "com.atlassian.jira.plugin.system.customfieldtypes:projectsearcher",
            "com.atlassian.jira.plugin.system.customfieldtypes:textsearcher",
            "com.atlassian.jira.plugin.system.customfieldtypes:userpickergroupsearcher",
            "com.atlassian.jira.plugin.system.customfieldtypes:versionsearcher"
          ]
        }
      }
    },
    "Resolution": {
      "type": "object",
      "properties": {
        "self": {
          "type": "string",
          "format": "uri",
          "description": "The URL of the issue resolution."
        },
        "id": {
          "type": "string",
          "description": "The ID of the issue resolution."
        },
        "description": {
          "type": "string",
          "description": "The description of the issue resolution."
        },
        "name": {
          "type": "string",
          "description": "The name of the issue resolution."
        }
      },
      "xml": {
        "name": "resolution"
      },
      "description": "Details of an issue resolution."
    },
    "StatusCategory": {
      "type": "object",
      "properties": {
        "self": {
          "type": "string",
          "description": "The URL of the status category.",
          "readOnly": true
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "The ID of the status category.",
          "readOnly": true
        },
        "key": {
          "type": "string",
          "description": "The key of the status category.",
          "readOnly": true
        },
        "colorName": {
          "type": "string",
          "description": "The name of the color used to represent the status category.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the status category.",
          "readOnly": true
        }
      },
      "description": "A status category."
    },
    "StatusDetails": {
      "type": "object",
      "properties": {
        "self": {
          "type": "string",
          "description": "The URL of the status.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The description of the status.",
          "readOnly": true
        },
        "iconUrl": {
          "type": "string",
          "description": "The URL of the icon used to represent the status.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the status.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "The ID of the status.",
          "readOnly": true
        },
        "statusCategory": {
          "type": "object",
          "description": "The category assigned to the status.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/StatusCategory"
            }
          ]
        }
      },
      "description": "A status."
    },
    "FoundUsersAndGroups": {
      "type": "object",
      "properties": {
        "users": {
          "$ref": "#/definitions/FoundUsers"
        },
        "groups": {
          "$ref": "#/definitions/FoundGroups"
        }
      },
      "description": "List of users and groups found in a search."
    },
    "FoundGroup": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the group."
        },
        "html": {
          "type": "string",
          "description": "The group name with the matched query string highlighted with the HTML bold tag."
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupLabel"
          }
        }
      },
      "xml": {
        "name": "group"
      },
      "description": "A group found in a search."
    },
    "FoundGroups": {
      "type": "object",
      "properties": {
        "header": {
          "type": "string",
          "description": "Header text indicating the number of groups in the response and the total number of groups found in the search."
        },
        "total": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of groups found in the search."
        },
        "groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FoundGroup"
          }
        }
      },
      "xml": {
        "name": "groupsuggestions"
      },
      "description": "The list of groups found in a search, including header text (Showing X of Y matching groups) and total of matched groups."
    },
    "FoundUsers": {
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserPickerUser"
          }
        },
        "total": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of users found in the search."
        },
        "header": {
          "type": "string",
          "description": "Header text indicating the number of users in the response and the total number of users found in the search."
        }
      },
      "description": "The list of users found in a search, including header text (Showing X of Y matching users) and total of matched users."
    },
    "GroupLabel": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "The group label name."
        },
        "title": {
          "type": "string",
          "description": "The title of the group label."
        },
        "type": {
          "type": "string",
          "description": "The type of the group label.",
          "enum": [
            "ADMIN",
            "SINGLE",
            "MULTIPLE"
          ]
        }
      },
      "xml": {
        "name": "grouplabel"
      },
      "description": "A group label."
    },
    "UserPickerUser": {
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The accountId of the user, which uniquely identifies the user across all Atlassian products. For example, <em>384093:32b4d9w0-f6a5-3535-11a3-9c8c88d10192</em>."
        },
        "name": {
          "type": "string",
          "description": "This property has been deprecated in favour of <code>accountId</code> due to privacy changes. See the <a href=\"https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/\">migration guide</a> for details. <br>The username of the user."
        },
        "key": {
          "type": "string",
          "description": "This property has been deprecated in favour of <code>accountId</code> due to privacy changes. See the <a href=\"https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/\">migration guide</a> for details. <br>The key of the user."
        },
        "html": {
          "type": "string",
          "description": "The display name, email address, and key of the user with the matched query string highlighted with the HTML bold tag."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user. Depending on the user’s privacy setting, this may be returned as null."
        },
        "avatarUrl": {
          "type": "string",
          "format": "uri",
          "description": "The avatar URL of the user."
        }
      },
      "description": "A user found in a search."
    },
    "Version": {
      "type": "object",
      "properties": {
        "expand": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "description": "Use <a href=\"em>#expansion\">expand</a> to include additional information about version in the response. This parameter accepts multiple values separated by a comma:\n<ul>\n<li><code>operations</code> Returns the list of operations available for this version.</li>\n<li><code>remotelinks</code> Returns the list of remote links stored against this version.</li>\n<li><code>issuesstatus</code> Returns the count of issues in this version for each of the status categories <em>to do</em>, <em>in progress</em>, <em>done</em>, and <em>unmapped</em>. The <em>unmapped</em> property contains a count of issues with a status other than <em>to do</em>, <em>in progress</em>, and <em>done</em>.</li>\n</ul>\nOptional for create and update."
        },
        "self": {
          "type": "string",
          "format": "uri",
          "description": "The URL of the version.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "The ID of the version.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The description of the version. Optional when creating or updating a version."
        },
        "name": {
          "type": "string",
          "description": "The unique name of the version. Required when creating a version. Optional when updating a version. The maximum length is 255 characters."
        },
        "archived": {
          "type": "boolean",
          "description": "Indicates that the version is archived. Optional when creating or updating a version."
        },
        "released": {
          "type": "boolean",
          "description": "Indicates that the version is released. If the version is released a request to release again is ignored. Not applicable when creating a version. Optional when updating a version."
        },
        "startDate": {
          "type": "string",
          "format": "date",
          "description": "The start date of the version. Expressed in ISO 8601 format (yyyy-mm-dd). Optional when creating or updating a version."
        },
        "releaseDate": {
          "type": "string",
          "format": "date",
          "description": "The release date of the version. Expressed in ISO 8601 format (yyyy-mm-dd). Optional when creating or updating a version."
        },
        "overdue": {
          "type": "boolean",
          "description": "Indicates that the version is overdue.",
          "readOnly": true
        },
        "userStartDate": {
          "type": "string",
          "description": "The date on which work on this version is expected to start, expressed in the instance's <em>Day/Month/Year Format</em> date format.",
          "readOnly": true
        },
        "userReleaseDate": {
          "type": "string",
          "description": "The date on which work on this version is expected to finish, expressed in the instance's <em>Day/Month/Year Format</em> date format.",
          "readOnly": true
        },
        "project": {
          "type": "string",
          "description": "Deprecated. Use <code>projectId</code>."
        },
        "projectId": {
          "type": "integer",
          "format": "int64",
          "description": "The ID of the project to which this version is attached. Required when creating a version. Not applicable when updating a version."
        },
        "moveUnfixedIssuesTo": {
          "type": "string",
          "format": "uri",
          "description": "The URL of the self link to the version to which all unfixed issues are moved when a version is released. Not applicable when creating a version. Optional when updating a version."
        },
        "operations": {
          "type": "array",
          "description": "If the expand option <code>operations</code> is used, returns the list of operations available for this version.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SimpleLink"
          }
        },
        "remotelinks": {
          "type": "array",
          "description": "If the expand option <code>remotelinks</code> is used, returns the list of remote links stored against this version.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/RemoteLinkDetails"
          }
        },
        "issuesStatusForFixVersion": {
          "description": "If the expand option <code>issuesstatus</code> is used, returns the count of issues in this version for each of the status categories <em>to do</em>, <em>in progress</em>, <em>done</em>, and <em>unmapped</em>. The <em>unmapped</em> property contains a count of issues with a status other than <em>to do</em>, <em>in progress</em>, and <em>done</em>.",
          "readOnly": true,
          "$ref": "#/definitions/VersionIssuesStatus"
        }
      },
      "xml": {
        "name": "version"
      },
      "description": "Details about a project version."
    },
    "RemoteLinkDetails": {
      "type": "object",
      "properties": {
        "self": {
          "type": "string",
          "format": "uri",
          "description": "The URL of the remote link details.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the remote link.",
          "readOnly": true
        },
        "link": {
          "description": "The URL of the remote link.",
          "readOnly": true
        }
      },
      "description": "Details about a remote link."
    },
    "SimpleLink": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "styleClass": {
          "type": "string"
        },
        "iconClass": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "href": {
          "type": "string"
        },
        "weight": {
          "type": "integer",
          "format": "int32"
        }
      },
      "xml": {
        "name": "link"
      },
      "description": "Details about the operations available in this version."
    },
    "VersionIssuesStatus": {
      "type": "object",
      "properties": {
        "unmapped": {
          "type": "integer",
          "format": "int64",
          "description": "Count of issues with a status other than <em>to do</em>, <em>in progress</em>, and <em>done</em>.",
          "readOnly": true
        },
        "toDo": {
          "type": "integer",
          "format": "int64",
          "description": "Count of issues with status <em>to do</em>.",
          "readOnly": true
        },
        "inProgress": {
          "type": "integer",
          "format": "int64",
          "description": "Count of issues with status <em>in progress</em>.",
          "readOnly": true
        },
        "done": {
          "type": "integer",
          "format": "int64",
          "description": "Count of issues with status <em>done</em>.",
          "readOnly": true
        }
      },
      "description": "Counts of the number of issues in various statuses."
    },
    "CustomFieldReplacement": {
      "type": "object",
      "properties": {
        "customFieldId": {
          "type": "integer",
          "format": "int64",
          "description": "The ID of the custom field in which to replace the version number."
        },
        "moveTo": {
          "type": "integer",
          "format": "int64",
          "description": "The version number to use as a replacement for the deleted version."
        }
      },
      "description": "Details about the replacement for a deleted version."
    },
    "DeleteAndReplaceVersionBean": {
      "type": "object",
      "properties": {
        "moveFixIssuesTo": {
          "type": "integer",
          "format": "int64",
          "description": "The ID of the version to update <code>fixVersion</code> to when the field \ncontains the deleted version."
        },
        "moveAffectedIssuesTo": {
          "type": "integer",
          "format": "int64",
          "description": "The ID of the version to update <code>affectedVersion</code> to when the \nfield contains the deleted version."
        },
        "customFieldReplacementList": {
          "type": "array",
          "description": "An array of custom field IDs &#40;<code>customFieldId</code>&#41; and version IDs \n&#40;<code>moveTo</code>&#41; to update when the fields contain the deleted version.",
          "items": {
            "$ref": "#/definitions/CustomFieldReplacement"
          }
        }
      }
    },
    "VersionIssueCounts": {
      "type": "object",
      "properties": {
        "self": {
          "type": "string",
          "format": "uri",
          "description": "The URL of these count details.",
          "readOnly": true
        },
        "issuesFixedCount": {
          "type": "integer",
          "format": "int64",
          "description": "Count of issues where the <code>fixVersion</code> is set to the version.",
          "readOnly": true
        },
        "issuesAffectedCount": {
          "type": "integer",
          "format": "int64",
          "description": "Count of issues where the <code>affectedVersion</code> is set to the version.",
          "readOnly": true
        },
        "issueCountWithCustomFieldsShowingVersion": {
          "type": "integer",
          "format": "int64",
          "description": "Count of issues where a version custom field is set to the version.",
          "readOnly": true
        },
        "customFieldUsage": {
          "type": "array",
          "description": "List of custom fields using the version.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/VersionUsageInCustomField"
          }
        }
      },
      "xml": {
        "name": "version"
      },
      "description": "Various counts of issues within a version."
    },
    "VersionUsageInCustomField": {
      "type": "object",
      "properties": {
        "fieldName": {
          "type": "string",
          "description": "The name of the custom field.",
          "readOnly": true
        },
        "customFieldId": {
          "type": "integer",
          "format": "int64",
          "description": "The ID of the custom field.",
          "readOnly": true
        },
        "issueCountWithVersionInCustomField": {
          "type": "integer",
          "format": "int64",
          "description": "Count of the issues where the custom field contains the version.",
          "readOnly": true
        }
      },
      "description": "List of custom fields using the version."
    },
    "VersionUnresolvedIssuesCount": {
      "type": "object",
      "properties": {
        "self": {
          "type": "string",
          "format": "uri",
          "description": "The URL of these count details.",
          "readOnly": true
        },
        "issuesUnresolvedCount": {
          "type": "integer",
          "format": "int64",
          "description": "Count of unresolved issues.",
          "readOnly": true
        },
        "issuesCount": {
          "type": "integer",
          "format": "int64",
          "description": "Count of issues.",
          "readOnly": true
        }
      },
      "xml": {
        "name": "version"
      },
      "description": "Count of a version's unresolved issues."
    },
    "VersionMoveBean": {
      "type": "object",
      "properties": {
        "after": {
          "type": "string",
          "format": "uri",
          "description": "The URL (self link) of the version after which to place the moved version. Cannot be used with <code>position</code>."
        },
        "position": {
          "type": "string",
          "description": "An absolute position in which to place the moved version. Cannot be used with <code>after</code>.",
          "enum": [
            "Earlier",
            "Later",
            "First",
            "Last"
          ]
        }
      },
      "xml": {
        "name": "version"
      }
    },
    "Transitions": {
      "type": "object",
      "properties": {
        "expand": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "description": "Details of expands available for the transitions list.",
          "readOnly": true
        },
        "transitions": {
          "type": "array",
          "description": "List of issue transitions.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Transition"
          }
        }
      },
      "description": "List of issue transitions."
    },
    "FieldMetadata": {
      "type": "object",
      "required": [
        "key",
        "name",
        "operations",
        "required",
        "schema"
      ],
      "properties": {
        "required": {
          "type": "boolean",
          "description": "Indicates whether the field is required.",
          "readOnly": true
        },
        "schema": {
          "type": "object",
          "description": "The data type of the field.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/JsonTypeBean"
            }
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the field.",
          "readOnly": true
        },
        "key": {
          "type": "string",
          "description": "The key of the field.",
          "readOnly": true
        },
        "autoCompleteUrl": {
          "type": "string",
          "description": "The URL that can be used to automatically complete the field.",
          "readOnly": true
        },
        "hasDefaultValue": {
          "type": "boolean",
          "description": "Indicates whether the field has a default value.",
          "readOnly": true
        },
        "operations": {
          "type": "array",
          "description": "The list of operations that can be performed on the field.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "allowedValues": {
          "type": "array",
          "description": "The list of values allowed in the field.",
          "readOnly": true,
          "items": {}
        },
        "defaultValue": {
          "description": "The default value of the field.",
          "readOnly": true
        }
      },
      "xml": {
        "name": "availableField"
      },
      "description": "The metadata describing an issue field."
    },
    "Transition": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the issue transition. Required when specifying a transition to undertake."
        },
        "name": {
          "type": "string",
          "description": "The name of the issue transition.",
          "readOnly": true
        },
        "to": {
          "type": "object",
          "description": "Details of the issue status after the transition.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/StatusDetails"
            }
          ]
        },
        "hasScreen": {
          "type": "boolean",
          "description": "Indicates whether there is a screen associated with the issue transition.",
          "readOnly": true
        },
        "isGlobal": {
          "type": "boolean",
          "description": "Indicates whether the issue transition is global, that is, the transition can be applied to issues regardless of their status.",
          "readOnly": true
        },
        "isInitial": {
          "type": "boolean",
          "description": "Indicates whether this is the initial issue transition for the workflow.",
          "readOnly": true
        },
        "isConditional": {
          "type": "boolean",
          "description": "Indicates whether the issue has to meet certain criteria before the issue transition can be applied.",
          "readOnly": true
        },
        "fields": {
          "type": "object",
          "description": "Details of the fields associated with the issue transition screen. Use this information to populate <code>fields</code> and <code>update</code> in a transition request.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "#/definitions/FieldMetadata"
          }
        },
        "expand": {
          "type": "string",
          "description": "Details of expands available for the transition details.",
          "readOnly": true
        }
      },
      "description": "Details of an issue transition."
    },
    "IssuePickerSuggestions": {
      "type": "object",
      "properties": {
        "sections": {
          "type": "array",
          "description": "A list of issues for an issue type suggested for use in auto-completion.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/IssuePickerSuggestionsIssueType"
          }
        }
      },
      "description": "A list of issues suggested for use in auto-completion."
    },
    "IssuePickerSuggestionsIssueType": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "description": "The label of the type of issues suggested for use in auto-completion.",
          "readOnly": true
        },
        "sub": {
          "type": "string",
          "description": "If issue suggestions are found, returns a message indicating the number of issues suggestions found and returned.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "The ID of the type of issues suggested for use in auto-completion.",
          "readOnly": true
        },
        "msg": {
          "type": "string",
          "description": "If no issue suggestions are found, returns a message indicating no suggestions were found,",
          "readOnly": true
        },
        "issues": {
          "type": "array",
          "description": "A list of issues suggested for use in auto-completion.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SuggestedIssue"
          }
        }
      },
      "description": "A type of issue suggested for use in auto-completion."
    },
    "SuggestedIssue": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key of the issue.",
          "readOnly": true
        },
        "keyHtml": {
          "type": "string",
          "description": "The key of the issue in HTML format.",
          "readOnly": true
        },
        "img": {
          "type": "string",
          "description": "The URL of the issue type's avatar.",
          "readOnly": true
        },
        "summary": {
          "type": "string",
          "description": "The phrase containing the query string in HTML format, with the string highlighted with HTML bold tags.",
          "readOnly": true
        },
        "summaryText": {
          "type": "string",
          "description": "The phrase containing the query string, as plain text.",
          "readOnly": true
        }
      },
      "description": "An issue suggested for use in the issue picker auto-completion."
    },
    "EntityProperty": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key of the property. Required on create and update."
        },
        "value": {
          "description": "The value of the property. Required on create and update."
        }
      },
      "description": "An entity property, for more information see <a href=\"https://developer.atlassian.com/cloud/jira/platform/jira-entity-properties/\">Entity properties</a>."
    },
    "FieldUpdateOperation": {
      "type": "object",
      "properties": {
        "add": {
          "example": "{ \"labels\": \"Training\", \"issuelinks\": { \"id\": 10001 } }",
          "description": "A map containing the name of a field and the value to add to it."
        },
        "set": {
          "example": "{ \"summary\": \"A new summary\", \"issuetype\": { \"id\": 10010 } }",
          "description": "A map containing the name of a field and the value to set in it."
        },
        "remove": {
          "example": "{ \"labels\": \"Training\", \"components\": { \"id\": 10017 }}",
          "description": "A map containing the name of a field and the value to removed from it."
        },
        "edit": {
          "example": "{ \"timetracking\": { \"key\": \"JIRA\" } }",
          "description": "A map containing the name of a field and the value to edit in it."
        }
      },
      "description": "Details of an operation to perform on a field."
    },
    "HistoryMetadata": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the history record."
        },
        "description": {
          "type": "string",
          "description": "The description of the history record."
        },
        "activityDescription": {
          "type": "string",
          "description": "The activity described in the history record."
        },
        "activityDescriptionKey": {
          "type": "string",
          "description": "This property is deprecated."
        },
        "emailDescription": {
          "type": "string",
          "description": "The description of the email address associated the history record."
        },
        "emailDescriptionKey": {
          "type": "string",
          "description": "This property is deprecated."
        },
        "actor": {
          "type": "object",
          "description": "Details of the user whose action created the history record.",
          "allOf": [
            {
              "$ref": "#/definitions/HistoryMetadataParticipant"
            }
          ]
        },
        "generator": {
          "type": "object",
          "description": "Details of the system that generated the history record.",
          "allOf": [
            {
              "$ref": "#/definitions/HistoryMetadataParticipant"
            }
          ]
        },
        "cause": {
          "type": "object",
          "description": "Details of the cause that triggered the creation the history record.",
          "allOf": [
            {
              "$ref": "#/definitions/HistoryMetadataParticipant"
            }
          ]
        },
        "extraData": {
          "type": "object",
          "description": "Additional arbitrary information about the history record.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Details of issue history metadata."
    },
    "HistoryMetadataParticipant": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the user or system associated with a history record."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user or system associated with a history record."
        },
        "displayNameKey": {
          "type": "string",
          "description": "This property is deprecated."
        },
        "type": {
          "type": "string",
          "description": "The type of the user or system associated with a history record."
        },
        "avatarUrl": {
          "type": "string",
          "description": "The URL to an avatar for the user or system associated with a history record."
        },
        "url": {
          "type": "string",
          "description": "The URL of the user or system associated with a history record."
        }
      },
      "description": "Details of user or system associated with a issue history metadata item."
    },
    "IssueUpdateDetails": {
      "type": "object",
      "properties": {
        "transition": {
          "description": "Details of a transition. Required when performing a transition, optional when creating or editing an issue.",
          "$ref": "#/definitions/Transition"
        },
        "fields": {
          "type": "object",
          "description": "List of issue screen fields to update, specifying the sub-field to update and its value for each field. This field provides a straightforward option when setting a single sub-field. When multiple sub-fields or other operations are required, use <code>update</code>. Fields included in here cannot be included in <code>update</code>.",
          "additionalProperties": {}
        },
        "update": {
          "type": "object",
          "description": "List of operations to perform on issue screen fields. Note that fields included in here cannot be included in <code>fields</code>.",
          "additionalProperties": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/FieldUpdateOperation"
            }
          }
        },
        "historyMetadata": {
          "description": "Additional issue history details.",
          "$ref": "#/definitions/HistoryMetadata"
        },
        "properties": {
          "type": "array",
          "description": "Details of issue properties to be add or update.",
          "items": {
            "$ref": "#/definitions/EntityProperty"
          }
        }
      },
      "description": "Details of an issue update request."
    },
    "Votes": {
      "type": "object",
      "properties": {
        "self": {
          "type": "string",
          "format": "uri",
          "description": "The URL of these issue vote details.",
          "readOnly": true
        },
        "votes": {
          "type": "integer",
          "format": "int64",
          "description": "The number of votes on the issue.",
          "readOnly": true
        },
        "hasVoted": {
          "type": "boolean",
          "description": "Indicates whether the user making this request has voted on the issue.",
          "readOnly": true
        },
        "voters": {
          "type": "array",
          "description": "List of the users who have voted on this issue. An empty list is returned when the calling user doesn't have the <em>View voters and watchers</em> project permission.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/User"
          }
        }
      },
      "description": "The details of votes on an issue."
    },
    "Issue": {
      "type": "object",
      "properties": {
        "expand": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "description": "Details of the expands available for an issue.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "The ID of the issue.",
          "readOnly": true
        },
        "self": {
          "type": "string",
          "format": "uri",
          "description": "The URL of the issue details.",
          "readOnly": true
        },
        "key": {
          "type": "string",
          "description": "The key of the issue.",
          "readOnly": true
        },
        "renderedFields": {
          "type": "object",
          "description": "The rendered value of each field present on the issue.",
          "readOnly": true,
          "additionalProperties": {}
        },
        "properties": {
          "type": "object",
          "description": "Details of the issue properties identified in the request.",
          "readOnly": true,
          "additionalProperties": {}
        },
        "names": {
          "type": "object",
          "description": "The display name of each field present on the issue.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "schema": {
          "type": "object",
          "description": "The schema describing each field present on the issue.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "#/definitions/JsonTypeBean"
          }
        },
        "transitions": {
          "type": "array",
          "description": "The transitions that can be performed on the issue.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Transition"
          }
        },
        "operations": {
          "type": "object",
          "description": "The operations that can be performed on the issue.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/Operations"
            }
          ]
        },
        "editmeta": {
          "type": "object",
          "description": "The metadata for the fields on the issue that can be amended.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/IssueUpdateMetadata"
            }
          ]
        },
        "changelog": {
          "type": "object",
          "description": " Details of changelogs associated with the issue.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/PageOfChangelogs"
            }
          ]
        },
        "versionedRepresentations": {
          "type": "object",
          "description": "The versions of each field on the issue.",
          "readOnly": true,
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "fields": {
          "type": "object",
          "additionalProperties": {}
        }
      },
      "xml": {
        "name": "issue"
      },
      "description": "Details about an issue."
    },
    "ChangeDetails": {
      "type": "object",
      "properties": {
        "field": {
          "type": "string",
          "description": "The name of the field changed.",
          "readOnly": true
        },
        "fieldtype": {
          "type": "string",
          "description": "The type of the field changed.",
          "readOnly": true
        },
        "fieldId": {
          "type": "string",
          "description": "The ID of the field changed.",
          "readOnly": true
        },
        "from": {
          "type": "string",
          "description": "The details of the original value.",
          "readOnly": true
        },
        "fromString": {
          "type": "string",
          "description": "The details of the original value as a string.",
          "readOnly": true
        },
        "to": {
          "type": "string",
          "description": "The details of the new value.",
          "readOnly": true
        },
        "toString": {
          "type": "string",
          "description": "The details of the new value as a string.",
          "readOnly": true
        }
      },
      "description": "A change item."
    },
    "Changelog": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the changelog.",
          "readOnly": true
        },
        "author": {
          "type": "object",
          "description": "The user who made the change.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/UserDetails"
            }
          ]
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "The date on which the change took place.",
          "readOnly": true
        },
        "items": {
          "type": "array",
          "description": "The list of items changed.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ChangeDetails"
          }
        },
        "historyMetadata": {
          "type": "object",
          "description": "The history metadata associated with the changed.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/HistoryMetadata"
            }
          ]
        }
      },
      "description": "A changelog."
    },
    "IssueUpdateMetadata": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "object",
          "description": "A list of editable field details.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "#/definitions/FieldMetadata"
          }
        }
      },
      "description": "A list of editable field details."
    },
    "LinkGroup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "styleClass": {
          "type": "string"
        },
        "header": {
          "$ref": "#/definitions/SimpleLink"
        },
        "weight": {
          "type": "integer",
          "format": "int32"
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SimpleLink"
          }
        },
        "groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LinkGroup"
          }
        }
      },
      "description": "Details a link group, which defines issue operations."
    },
    "Operations": {
      "type": "object",
      "properties": {
        "linkGroups": {
          "type": "array",
          "description": "Details of the link groups defining issue operations.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/LinkGroup"
          }
        }
      },
      "description": "Details of the operations that can be performed on the issue."
    },
    "PageOfChangelogs": {
      "type": "object",
      "properties": {
        "startAt": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the first item returned on the page.",
          "readOnly": true
        },
        "maxResults": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of results that could be on the page.",
          "readOnly": true
        },
        "total": {
          "type": "integer",
          "format": "int32",
          "description": "The number of results on the page.",
          "readOnly": true
        },
        "histories": {
          "type": "array",
          "description": "The list of changelogs.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Changelog"
          }
        }
      },
      "description": "A page of changelogs."
    },
    "UserDetails": {
      "type": "object",
      "properties": {
        "self": {
          "type": "string",
          "description": "The URL of the user.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "This property has been deprecated in favour of <code>accountId</code> due to privacy changes. See the <a href=\"https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/\">migration guide</a> for details. <br>The username of the user.",
          "readOnly": true
        },
        "key": {
          "type": "string",
          "description": "This property has been deprecated in favour of <code>accountId</code> due to privacy changes. See the <a href=\"https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/\">migration guide</a> for details. <br>The key of the user.",
          "readOnly": true
        },
        "accountId": {
          "type": "string",
          "description": "The accountId of the user, which uniquely identifies the user across all Atlassian products. For example, <em>384093:32b4d9w0-f6a5-3535-11a3-9c8c88d10192</em>.",
          "readOnly": true
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of the user. Depending on the user’s privacy setting, this may be returned as null.",
          "readOnly": true
        },
        "avatarUrls": {
          "type": "object",
          "description": "The avatars of the user.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/AvatarUrls"
            }
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user. Depending on the user’s privacy setting, this may return an alternative value.",
          "readOnly": true
        },
        "active": {
          "type": "boolean",
          "description": "Whether the user is active.",
          "readOnly": true
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone specified in the user's profile. Depending on the user’s privacy setting, this may be returned as null.",
          "readOnly": true
        }
      },
      "description": "User details. Note, cannot be specified as a body parameter in <a href=\"#api-api-2-issue-issue-issueIdOrKey-worklog-post\">Add worklog</a> or <a href=\"#api-api-2-issue-issueIdOrKey-worklog-id-put\">Update worklog</a>."
    },
    "Watchers": {
      "type": "object",
      "properties": {
        "self": {
          "type": "string",
          "description": "The URL of these issue watcher details.",
          "readOnly": true
        },
        "isWatching": {
          "type": "boolean",
          "description": "Indicates whether the calling user is watching this issue.",
          "readOnly": true
        },
        "watchCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of users watching this issue.",
          "readOnly": true
        },
        "watchers": {
          "type": "array",
          "description": "Details of the users watching this issue.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/UserDetails"
          }
        }
      },
      "xml": {
        "name": "watchers"
      },
      "description": "The details of watchers on an issue."
    },
    "ErrorCollection": {
      "type": "object",
      "properties": {
        "errorMessages": {
          "type": "array",
          "description": "The list of error messages produced by this operation. For example, \"input parameter 'key' must be provided\"",
          "items": {
            "type": "string"
          }
        },
        "errors": {
          "type": "object",
          "description": "The list of errors by parameter returned by the operation. For example,\"projectKey\": \"Project keys must start with an uppercase letter, followed by one or more uppercase alphanumeric characters.\"",
          "additionalProperties": {
            "type": "string"
          }
        },
        "status": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Error messages from an operation."
    },
    "CreatedIssue": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the created issue or sub-task.",
          "readOnly": true
        },
        "key": {
          "type": "string",
          "description": "The key of the created issue or sub-task.",
          "readOnly": true
        },
        "self": {
          "type": "string",
          "description": "The URL of the created issue or sub-task.",
          "readOnly": true
        },
        "transition": {
          "type": "object",
          "description": "The response code and messages related to any requested transition.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/NestedResponse"
            }
          ]
        }
      },
      "description": "Details about a created issue or sub-task."
    },
    "NestedResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "format": "int32"
        },
        "errorCollection": {
          "$ref": "#/definitions/ErrorCollection"
        }
      }
    },
    "IssuesUpdateBean": {
      "type": "object",
      "properties": {
        "issueUpdates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IssueUpdateDetails"
          }
        }
      }
    },
    "CreatedIssues": {
      "type": "object",
      "properties": {
        "issues": {
          "type": "array",
          "description": "Details of the issues created.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/CreatedIssue"
          }
        },
        "errors": {
          "type": "array",
          "description": "Error details for failed issue creation requests.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BulkOperationErrorResult"
          }
        }
      },
      "description": "Details about the issues created and the errors for requests that failed."
    },
    "BulkOperationErrorResult": {
      "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "format": "int32"
        },
        "elementErrors": {
          "$ref": "#/definitions/ErrorCollection"
        },
        "failedElementNumber": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "IssueCreateMetadata": {
      "type": "object",
      "properties": {
        "expand": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "description": "Details of the expands available for the project list.",
          "readOnly": true
        },
        "projects": {
          "type": "array",
          "description": "List of projects and their issue creation metadata.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ProjectIssueCreateMetadata"
          }
        }
      },
      "description": "The wrapper for the issue creation metadata for a list of projects."
    },
    "IssueTypeIssueCreateMetadata": {
      "type": "object",
      "properties": {
        "self": {
          "type": "string",
          "description": "The URL of these issue type details.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "The ID of the issue type.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The description of the issue type.",
          "readOnly": true
        },
        "iconUrl": {
          "type": "string",
          "description": "The URL of the issue type's avatar.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the issue type.",
          "readOnly": true
        },
        "subtask": {
          "type": "boolean",
          "description": "Indicates whether this issue type can be used to create subtasks.",
          "readOnly": true
        },
        "avatarId": {
          "type": "integer",
          "format": "int64",
          "description": "The ID of the issue type's avatar.",
          "readOnly": true
        },
        "scope": {
          "type": "object",
          "description": "Details of the next-gen projects the issue type is available in.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/Scope"
            }
          ]
        },
        "expand": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "description": "Details of expands available for the issue type issue create metadata.",
          "readOnly": true
        },
        "fields": {
          "type": "object",
          "description": "List of the fields available when creating an issue for the issue type.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "#/definitions/FieldMetadata"
          }
        }
      },
      "description": "Details of the issue creation metadata for an issue type."
    },
    "ProjectIssueCreateMetadata": {
      "type": "object",
      "properties": {
        "expand": {
          "type": "string",
          "xml": {
            "attribute": true
          },
          "description": "Details of expands available for the project issue create metadata.",
          "readOnly": true
        },
        "self": {
          "type": "string",
          "description": "The URL of the project.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "The ID of the project.",
          "readOnly": true
        },
        "key": {
          "type": "string",
          "description": "The key of the project.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the project.",
          "readOnly": true
        },
        "avatarUrls": {
          "type": "object",
          "description": "List of the project's avatars, returning the avatar size and associated URL.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/AvatarUrls"
            }
          ]
        },
        "issuetypes": {
          "type": "array",
          "description": "List of the issue types supported by the project.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/IssueTypeIssueCreateMetadata"
          }
        }
      },
      "description": "Details of the issue creation metadata for a project."
    },
    "RemoteIssueLink": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "The ID of the link."
        },
        "self": {
          "type": "string",
          "format": "uri",
          "description": "The URL of the link."
        },
        "globalId": {
          "type": "string",
          "description": "The global ID of the link, such as the ID of the item on the remote system."
        },
        "application": {
          "type": "object",
          "description": "Details of the remote application the linked item is in.",
          "allOf": [
            {
              "$ref": "#/definitions/Application"
            }
          ]
        },
        "relationship": {
          "type": "string",
          "description": "Description of the relationship between the issue and the linked item."
        },
        "object": {
          "type": "object",
          "description": "Details of the item linked to.",
          "allOf": [
            {
              "$ref": "#/definitions/RemoteObject"
            }
          ]
        }
      },
      "description": "Details of an issue remote link."
    },
[...]
