.assay-plates--create-plate-view {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.assay-plates--create-plate-view__main-layout {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.assay-plates--create-plate-view__right-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 0;
    min-width: 0;
    width: 100%;
}


.assay-plates--create-plate-view__right-panel > .assay-plates--plate-grid-manager {
  flex: 1 1 50%; /* Grow/shrink equally from a 50% basis */
  min-height: 0;  /* Allows the component to shrink correctly */
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.assay-plates--create-plate-view__right-panel > :last-child {
  flex: 1 1 50%; /* Grow/shrink equally from a 50% basis */
  min-height: 0;
  width: 100% !important;
  display: flex;
  flex-direction: column; /* Ensure the tab control fills its space correctly */
}