.seq-entry-annot-interactive {
	width: 100% !important;
}

g.feature.ADA rect.feature {}

g.feature.ADA text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.AI rect.feature {
}

g.feature.AI text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.FR rect.feature {
}

g.feature.FR text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.HYL rect.feature {
}

g.feature.HYL text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.HYP rect.feature {
}

g.feature.HYP text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.LG rect.feature {
}

g.feature.LG text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.MA rect.feature {
}

g.feature.MA text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.MLY rect.feature {
}

g.feature.MLY text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.MeO rect.feature {
}

g.feature.MeO text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.N6AL rect.feature {
}

g.feature.N6AL text {
	font-weight: bold;
	font-variant: small-caps;
}


g.feature.NG rect.feature {
}

g.feature.NG text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.NtG rect.feature {
}

g.feature.NtG text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.OlG rect.feature {
}

g.feature.OlG text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.PP rect.feature {
}

g.feature.PP text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.PTB rect.feature {
}

g.feature.PTB text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.PCA rect.feature {
}

g.feature.PCA text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.SPC rect.feature {
}

g.feature.SPC text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.SUMO rect.feature {
}

g.feature.SUMO text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.TO rect.feature {
}

g.feature.TO text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.UB rect.feature {
}

g.feature.UB text {
	font-weight: bold;
	font-variant: small-caps;
}

g.feature.D rect.feature {
}


