.Ketcher-root, .Dialog-module_dialog__IafFQ.Open-module_open__m8V9g {
    min-width: 500px;
    overflow: hidden;
}

.StructEditor-module_intermediateCanvas__fR3ws {
    overflow: hidden;
}

.App-module_top__SBeSV, .BottomToolbar-module_root__kjkSm {
    width: fit-content;
    background: white;
}

button[title="About"], button[title="Help (?)"] {
    display: none !important;
}

.ketcher-host {
    width: 500px;
    height: 400px;
    overflow: hidden!important;
}

.ketcher-resizing {
    width: 100%!important;
}

.Settings-module_settings__Z5btc {
    height: 50vh!important;
}

/* temporary fix for menus that are shown under the DG.Dialog */
div[role='presentation'][id='menu-'] { 
    z-index: 10000;
}