.Ketcher-root, [class*="Dialog-module_dialog__"][class*="Open-module_open__"] {
    min-width: 500px;
    overflow: hidden;
}

[class^="StructEditor-module_intermediateCanvas__"] {
    overflow: hidden;
}

[class*="App-module_top__"], [class*="BottomToolbar-module_root__"] {
    width: fit-content;
    background: white;
}

button[title="About"], button[title="Help (?)"] {
    display: none !important;
}

.ketcher-host {
    width: 500px;
    height: 400px;
    overflow: hidden!important;
}

.ketcher-resizing {
    width: 100%!important;
}

[class*="Settings-module_settings__"] {
    height: 40vh!important;
}

body > div.MuiPopover-root.MuiMenu-root {
    z-index: 20000;
}