# Git
*.orig

# IDE files
.idea
*.iml

# Java files
/connectors/grok_connect/target
/connectors/serialization/target
/packages/Tika/src/target
dependency-reduced-pom.xml
*.class

# NPM modules
node_modules/
upload.keys.json
test-report.html

# Build results
dist/

# js-api
/js-api/**/*.js.map
/js-api/src/*.js
/js-api/grok.js
/js-api/dg.js
/js-api/ui.js

# JSDoc
!/js-api/docs/.gitkeep
/js-api/docs
.DS_Store

# Dart
pubspec.lock
.dart_tool
.packages
/docker/vm.docker-compose.yaml
/packages/GridExtDemo/src/package.d.ts
/packages/GridExtDemo/src/package.d.ts.map
/packages/GridExtDemo/src/package.js
/libraries/gridext/src/PinnedColumn.d.ts
/libraries/gridext/src/PinnedColumn.d.ts.map
/libraries/gridext/src/PinnedColumn.js

# vim
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
*.vim
.netrwhist
*~
[._]*.un~

# ack
.ackrc
