# Git
*.orig

# IDE files
.idea
*.iml

# Java files
/connectors/grok_connect/target
/connectors/serialization/target
/packages/Tika/src/target
dependency-reduced-pom.xml
*.class

# NPM modules
node_modules/
upload.keys.json
test-report.html

# Build results
dist/

# js-api
/js-api/**/*.js.map
/js-api/src/*.js
/js-api/grok.js
/js-api/dg.js
/js-api/ui.js

# JSDoc
/js-api/docs
.DS_Store

# Dart
pubspec.lock
.dart_tool
.packages
/docker/vm.docker-compose.yaml
