.dt-textarea-box {
  position: relative;
}

.dt-textarea-box:hover .dt-snippet-editor-icon {
  visibility: visible;
}

.dt-snippet-editor-icon {
  position: absolute;
  top: 5px;
  visibility: hidden;
  margin: 5px;
  z-index: 1;
}

.dt-play-icon {
  right: 70px;
  top: 15px;
  z-index: 999;
  background-color: white!important;
}

.dt-clipboard-icon {
  right: 50px;
  top: 15px;
  z-index: 999;
  background-color: white!important;
}

.dt-editor-icon {
  right: 30px;
  top: 15px;
  z-index: 999;
  background-color: white!important;
}

.dt-reset-icon {
  right: 10px;
  top: 15px;
  z-index: 999;
  background-color: white!important;
}

.dt-snippet-editor-icon i {
  font-size: 13px;
}

.dt-snippet-editor-icon:hover {
  background-color: var(--steel-1);
  border-radius: 2px;
}

.dt-snippet-inline-icon i {
  font-size: 13px;
}

.test-manager .d4-tree-view-group {
  width: 100%;
}