.st-colored-text-input > textarea {
  width: 100%;
  -webkit-text-fill-color: transparent;
  background-color: transparent;
  position: relative;
  z-index: 1;
  resize: none;
  height: 22px; /* Fine tuned value to avoid "jumping" of the textarea upon autoresize */
}

.st-colored-text-input > div {
  /* The values here are fine tuned to those of the ui.input textarea in order
   * to achieve precise overlap */
  overflow: auto;
  position: absolute;
  pointer-events: none;
  cursor: text;
  z-index: 0;
  max-width: 100%;
  padding: 2px;
  line-height: normal;
  font-family: 'Roboto', 'Roboto Local', sans-serif;
  font-size: 13px;
  padding-top: 6px !important;
  color: transparent;
  white-space: pre-wrap;
  word-wrap: break-word;
}
