.retrosynthesis-reaction-container {
  position: relative;
  margin-top: 15px;
}

.retrosynthesis-mol-rect {
  cursor: pointer;
}

.retrosynthesis-settings-icon {
  position: absolute;
  top: 40px;
  font-size: 16px;
}

.retrosynthesis-settings-dlg .dlg-settings {
  min-height: 10px;
}

.retrosynthesis-add-config-icon {
  color: var(--blue-1);
    padding-left: 8px;
    padding-top: 10px;
}

.retrosynthesis-demo {
  width: 100%;
  height: 100%; 
  position: relative;
}

.retrosynthesis-demo .d4-tab-host {
  width: 100%!important;
  height: 100%!important;
}