__pycache__/
*.py[cod]
*$py.class

*.so

venv/
ENV/
env/
.venv/

.vscode/

build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec


pip-log.txt
pip-delete-this-directory.txt


*.manifest
*.spec

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover


.ipynb_checkpoints

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/


.pytype/

__pypackages__/


*.dist-info/
*.egg-info/
.pytest_cache/
.hatch/

*.log
*.tmp


.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

.idea/
*.iml
