.grok-chem-substructure-filter {

}

.chem-mol-box:hover .chem-mol-view-icon {
  visibility: visible;
}

.chem-mol-view-icon {
  width: 14px;
  text-align: center;
  padding: 5px;
  margin: 2px;
  position: absolute;
  z-index: 1;
}

.pep-more-icon {
  visibility: hidden;
  color: var(--steel-6);
  right: 0;
  font-size: 15px;
}

.chem-mol-view-icon:hover {
  background-color: var(--steel-1);
  border-radius: 2px;
}

.chem-canvas {
  overflow: hidden;
  align-self: center;
}

.chem-textarea-box {
  position: relative;
}

.chem-textarea-box:hover .chem-snippet-editor-icon {
  visibility: visible;
}

.chem-snippet-editor-icon {
  position: absolute;
  top: 5px;
  visibility: hidden;
  margin: 5px;
  z-index: 1;
}

.chem-reset-icon {
  right: 10px;
}

.chem-snippet-editor-icon i {
  font-size: 13px;
}

.chem-snippet-editor-icon:hover {
  background-color: var(--steel-1);
  border-radius: 2px;
}

.chem-textinput {
  height: 50px;
  overflow: hidden;
}

.d4-filter-element .ui-box:has(.chem-scaffold-tree-toolbar) {
  position: relative;
  height: 100%;
}

.d4-filter-element .grok-loader {
  position: absolute;
  top: 10px;
}

.scaffold-tree-viewer.grok-icon {
  color: var(--blue-1) !important;
  font-size: 14px;
}

.d4-viewer.d4-filters .scaffold-tree-viewer .grok-icon:hover,
.scaffold-tree-viewer .grok-icon:hover {
  filter: brightness(1.2);
  -webkit-filter: brightness(1.2);
  cursor: pointer;
}

.d4-scaffold-tree .d4-tree-view-root {
  padding: 1px;
}

.scaffold-tree-viewer .d4-tree-view-group-host .d4-tree-view-group-label {
  align-items: normal;
}

.d4-scaffold-tree .d4-tree-view-node {
  padding: 0;
  margin-bottom: -1px;
}

.d4-scaffold-tree .d4-tree-view-node.d4-tree-view-node-selected, .d4-scaffold-tree .d4-tree-view-node:hover {
  background-color: transparent;
}

.d4-scaffold-tree .d4-tree-view-node.d4-tree-view-node-selected .d4-tree-view-group-label, .d4-scaffold-tree .d4-tree-view-node:hover .d4-tree-view-group-label {
  background-color: #f2f2f5;
}

.d4-scaffold-tree .d4-tree-view-node .d4-tree-view-group-label {
  border: 0.5px solid var(--grey-2);
  display: flex;
  flex-grow: 1;
}

.d4-scaffold-tree .d4-tree-view-node .d4-tree-view-group-label,
.d4-scaffold-tree .d4-tree-view-node .d4-tree-view-group-label > .chem-mol-box {
  flex-grow: 1;
}

.chem-scaffold-tree-generate-hint {
  text-align: center;
  position: absolute;
  top: 50%;
  font-size: 16px;
  width: 100% !important;
  height: 30px !important;
}

.chem-scaffold-tree-progress {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.chem-scaffold-tree-cancel-hint {
  text-align: center;
  font-size: 13px;
}

.chem-scaffold-tree-generate-message-hint {
  color : #4d5261;
  text-align: center;
  position: absolute;
  top: 40%;
  font-size: 13px;
  width: 100% !important;
  height: 33px !important;
  visibility: hidden;
}

.d4-scaffold-tree .d4-tree-view-group-host .d4-tree-view-group-host {
  margin-left: 30px;
}

.chem-scaffold-tree-toolbar .d4-flex-row .grok-icon.fa-trash-alt {
  color: var(--blue-1);
  display: flex;
  align-items: center;
}

.chem-scaffold-tree-toolbar .ui-input-choice.ui-input-root {
  width: 50px;
}

.chem-scaffold-tree-toolbar .d4-flex-row .grok-icon.fal.fa-angle-double-down,
.chem-scaffold-tree-toolbar .d4-flex-row .grok-icon.fal.fa-angle-double-up {
  font-size: 17px;
}

.icon-fill {
  color: lightgreen !important;
  margin-left: 5px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #784d24;
}

.d4-update-shadow {
  background-color: white;
  opacity: 1.0;
}

.chem-similarity-header {
  justify-content: space-between;
}

.chem-similarity-prop-label {
  width: 75%;
  margin-left: 5px;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--grey-4)
}

.chem-similarity-prop-value {
  margin-right: 5px;
  text-align: end;
  overflow-wrap: break-word;
  color: var(--grey-5);
}

.chem-similarity-prop-item {
  justify-content: space-between;
}

.chem-similarity-search-edit {
  font-size: 12px;
  padding: 4px;
  color:var(--blue-1);
}

.chem-mmpa-prop-value {
  margin-right: 5px;
  text-align: end;
  color: var(--grey-5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chem-mmpa-context-pane-mol-div {
  width: 100%;
  min-width: 440px;
  padding-left: 100px;
}

.chem-mmpa-context-pane-properties-div {
  gap: 5px;
  width: 100%;
}

.chem-mmpa-forms-viewer {
  height: 100%!important;
  width: 100%!important;
}

.chem-scaffold-tree-toolbar {
  max-height: 24px;
  margin: 0 0 2px 2px;
  visibility: hidden;
}

.chem-scaffold-tree-toolbar .d4-flex-row > .grok-icon:not(:nth-last-child(3)) {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 32px;
  box-sizing: border-box;
  color: var(--blue-1) !important;
}

.d4-viewer.d4-filters:hover .chem-scaffold-tree-toolbar {
  visibility: visible;
}

.chem-scaffold-tree-toolbar.empty-tree {
  visibility: visible;
}

.d4-viewer.d4-scaffold-tree:hover .chem-scaffold-tree-toolbar {
  visibility: visible;
}

.d4-viewer:hover .chem-scaffold-tree-toolbar {
  visibility: visible;
}

.d4-viewer.d4-filters .d4-tree-view-node .d4-tree-view-group-label {
  border: 1px solid var(--grey-2);
  margin-left: 8px;
}

.d4-viewer.d4-filters .d4-tree-view-node .d4-tree-view-group-label,
.d4-viewer.d4-filters .d4-tree-view-node .d4-tree-view-group-label > .chem-mol-box {
  flex-grow: 1;
}

.scaffold-tree-viewer .d4-tree-view-group-host > .d4-tree-view-group .d4-tree-view-node .d4-tree-view-group-label .chem-mol-box-info,
.scaffold-tree-viewer .d4-tree-view-group-host > .d4-tree-view-group .d4-tree-view-node .chem-mol-box-info {
  display: flex;
  flex-direction: column;
  align-items: end;
  flex: 1;
  position: absolute;
  height: 90%;
  /* box-sizing: content-box; */
}

.mol-host {
  margin: 0 6px;
  flex-grow: 1;
  display: flex;
}

.d4-viewer .d4-filter .mol-host > :last-child {
  right: 15px;
}

.d4-scaffold-tree .mol-host > :last-child {
  right: 5px;
}

.scaffold-tree-normal .d4-tree-view-group-host > .d4-tree-view-group .d4-tree-view-node {
  width: 280px;
  height: 110px;
}

.scaffold-tree-large .d4-tree-view-group-host > .d4-tree-view-group .d4-tree-view-node {
  min-width: 250px;
  max-width: 340px;
  height: auto;
  aspect-ratio: 3/1.25;
}

.scaffold-tree-large .d4-tree-view-group-host > .d4-tree-view-group .d4-tree-view-node .chem-mol-box-info {
  margin: 6px 0px 6px auto;
}

.scaffold-tree-small .d4-tree-view-group-host > .d4-tree-view-group .d4-tree-view-node {
  width: 250px;
  height: 110px;
}

.scaffold-tree-viewer .d4-tree-view-group-host > .d4-tree-view-group .d4-tree-view-node .d4-tree-view-group-label .chem-mol-box-info-buttons,
.scaffold-tree-viewer .d4-tree-view-group-host > .d4-tree-view-group .d4-tree-view-node .chem-mol-box-info .chem-mol-box-info-buttons {
  visibility: hidden;
  flex-grow: 1;
  justify-content: space-between;
  color: var(--blue-1) !important;
}

.scaffold-tree-viewer .d4-tree-view-group-host > .d4-tree-view-group .d4-tree-view-node:hover .d4-tree-view-group-label .chem-mol-box-info-buttons,
.scaffold-tree-viewer .d4-tree-view-group-host > .d4-tree-view-group .d4-tree-view-node:hover > .d4-tree-view-group-label > .chem-mol-box .chem-mol-box-info .chem-mol-box-info-buttons {
  visibility: visible;
}

.scaffold-tree-viewer .d4-tree-view-group-host > .d4-tree-view-group .d4-tree-view-node .d4-tree-view-group-label .chem-mol-box-info-buttons > .grok-icon,
.scaffold-tree-viewer .d4-tree-view-group-host > .d4-tree-view-group .d4-tree-view-node .chem-mol-box-info .chem-mol-box-info-buttons > .grok-icon {
  color: var(--blue-1) !important;
  margin: 0;
}


/* temporary fixes */
.d4-tree-view-node .grok-icon.fal, .d4-tree-view-node .grok-icon.far, .d4-tree-view-node .grok-icon.fab, .d4-tree-view-node .grok-icon.fas {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d4-viewer.d4-scaffold-tree .d4-tree-view-group {
  align-self: initial;
}

.d4-viewer.d4-filters .d4-tree-view-group {
  align-self: initial;
}

.copy-as-molfile-icon {
  font-size: 14px!important;
  position: absolute;
  top: 0px;
}

.d4-accordion-pane-header .grok-icon.copy-icon {
  margin-left: 30px!important;
  visibility: hidden;
}

.chem-demo-sketcher-link {
  border: 2px solid var(--blue-1);
}

.chem-demo-button-pushed {
  background: var(--blue-2)!important
}

.chem-demo-chembl-id-selected {
  border-bottom: 2px solid var(--blue-2)!important
}

.chem-mcs-button {
  font-size: 12px!important;
  margin-left: 0px!important;
}

.chem-viewer-grid {
  margin: 6px 0;
  gap: 6px;
  flex-wrap: wrap;
}

.chem-viewer-grid > div > div.chem-mol-box {
  margin: 0 auto;
  position: relative;
}

.chem-tooltip-structure-div {
  display: grid;
  grid-template-columns: repeat(3, 75px);
}

.chem-tooltip-text {
  position: relative;
  left: 20px;
}

.chem-substructure-limit-error {
  background: white;
}

.chem-hide-filter {
  display: none;
}

.d4-flex-row.ui-div.chem-scaffold-tree-scrollbar {
  overflow: hidden!important;
}

.chem-scaffold-tree-loader {
  margin-left: -40px;
}

.chem-drug-likeness-widget-score-div, .chem-toxicity-widget-risk-row {
  display: flex;
  align-items: center;
}

.chem-drug-likeness-calc-all-button {
  margin-left: 4px;
  color: #2083d5;
}

.chem-toxicity-widget-calc-all-button {
  margin-right: 5px;
  color: #2083d5;
}

.chem-malformed-molecule-error {
    align-items: center;
    color: red;
    text-align: center;
}

.chem-col-highlight-sketcher-input {
  width: 150px;
  height: 100%;
  position: relative;
}

.struct-alerts-mol-box {
  position: relative
}

.struct-alerts-mol-box > .pep-more-icon {
  position: absolute;
}

.highlight-substr-grid-button {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.chem-filter-fp-editor {
  width: 82px!important;
}

.chem-filter-fp-label {
  margin-right: 5px!important;
}

.chem-filter-sim-cutoff-label {
  width: 0px;
  margin: 0px!important;
}

.chem-filter-sim-cutoff-editor {
  width: 94px!important;
}

.chem-filter-search-type .ui-input-editor {
  width: auto!important;
}

.chem-search-options-icon {
  visibility: hidden;
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 18px;
  font-weight: bolder
}

.chem-filter:hover .chem-search-options-icon {
  visibility: visible;
}

.chem-empty-filter {
  gap: 5px;
}

.chem-filter-similarity-options {
  margin-bottom: 3px;
  gap: 5px;
}

.color-icon.color-is-set {
  visibility: visible;
}

.palette-icon.color-is-not-set {
  visibility: hidden;
}

.palette-icon.color-is-set {
  visibility: hidden;
}

.palette-icon.color-is-set:hover {
  visibility: visible;
}

.canvas-container {
  position: relative;
  width: 100%;
}

.disable-icon {
  pointer-events: none;
  color: var(--grey-4)!important;
  cursor:default!important;
}

.sketch-link {
  border: none!important;
  color: var(--blue-1);
}

.chem-filter-sketcher-div {
  position: relative;
  width: 100%
}

/* workaround for OCL sketcher to show molecule properties - https://github.com/cheminfo/openchemlib-js/issues/117 */
.gwt-DialogBox { 
  z-index: 10000;
}

.chem-rgroup-settings-icon {
  position: absolute;
  padding-left: 20px;
  font-size: 14px;
  top: 546px;
}

.chem-rgroup-settings-div .ui-input-root {
  padding: 0px!important;
}

.grok-chem-filter-options {
  position: unset;
}

.dlg-chem-descriptors {
  width: 300px;
  max-height: 400px;
}

.dlg-chem-descriptors.ui-form.ui-panel > div.ui-input-root.ui-input-column > label.d4-chem-descriptors-molecule-column-input {
  width: auto;
  min-width: auto;
  margin-left: 6px;
}

.d4-filter-disabled > .chem-filter-sketcher-div{
  pointer-events: none;
}

.d4-filter-disabled > .chem-empty-filter{
  pointer-events: none;
}

.d4-filter-disabled > .chem-filter-search-options{
  pointer-events: none;
}

.chem-mmpa-transformation-tab-header {
  padding: 4px;
  font-size: 13px;
  margin-left: 10px;
}

.chem-mmpa-add-to-workspace-button {
  margin-top: 5px;
  margin-left: 5px;
  color: #2083d5;
}

.chem-mmpa-grid-help-icon {
  font-size: 17px;
  padding-top: 3px;
  padding-left: 2px;
}

.chem-mmpa-add-tab-header-button {
  position: absolute;
  padding-left: 3px;
  padding-top: 2px;
  visibility: hidden;
}

.chem-mmpa-fragments-filters-icon {
  padding-left: 5px;
  padding-top: 6px;
  font-size: 12px;
}

.chem-mmpa-fragments-sort-icon-x-axis {
  padding-left: 5px;
  padding-top: 6px;
  font-size: 12px;
  position: absolute;
}

.chem-mmpa-fragments-sort-icon-y-axis {
    font-size: 12px;
    position: absolute;
    transform: rotate(90deg);
    padding-bottom: 5px;
    padding-left: 6px;
}

.selected > .chem-mmpa-add-tab-header-button {
  visibility: visible;
}

.cliffs-help-button {
  padding-top: 1px;
  font-size: 14px;
}

.mmpa-loader {
  position: relative;
  top: 50%;
  text-align: center
}

.mmpa-color-input > .ui-input-color-input {
  display: none;
  margin-left: 6px;
}

.mmpa-color-input > .ui-input-options {
  border-bottom: none!important;
}

.mmpa-slider-roots {
  position: absolute;
  z-index: 1;
  right: 0px;
  padding-top: 30px;
}

.mmpa-slider-input {
  margin-left: 5px;
  padding-right: 5px;
  width: 150px;
}

.mmpa-slider-input > .ui-input-label {
  min-width: 50px;
  max-width: 50px;
  margin-right: 0px !important;
}

.mmpa-slider-input > .ui-input-editor {
  width: 70px;
}

.mmpa-slider-input > .ui-input-options {
  width: 40px;
}

.mmp-pairs-grid-cliffs-tab.cliffs-closed {
  display: none!important;
}

.mmp-pairs-grid-cliffs-tab.cliffs-opened {
  display:flex;
}

.mmpa-bool-input {
  padding-left: 5px;
  margin-top: 2px;
}

.mmpa-scroll-icon {
  font-size: 18px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.mmpa-slider-input > input[type="range"]::-webkit-slider-runnable-track {
  height: 1px!important;
}

.mmpa-slider-input > input[type="range"]::-moz-range-track {
  height: 1px!important;
}

.mmpa-slider-input > input[type="range"]::-webkit-slider-thumb {
  height: 8px;
  width: 8px;
}

.mmpa-slider-input > input[type="range"]::-moz-range-thumb {
  height: 8px;
  width: 8px;
}

.mmpa-fragments-tab .mmpa-pairs-slider {
  display: flex;
  padding-right: 32px;
}

.mmpa-fragments-tab .mmpa-activity-filters {
  display: none;
}

.mmpa-cliffs-tab .mmpa-activity-filters {
  display: flex;
}

.mmpa-cliffs-tab .mmpa-pairs-slider {
  display: none;
}

.chem-mmpa-no-fragments-error {
  position: absolute;
  top: 100px;
  z-index: 1000;
  left: 200px;
  color: red;
  display: none !important;
}

.chem-mmp-no-fragments .chem-mmpa-no-fragments-error {
  display: flex !important;
}

.chem-mmpa-no-pairs-warning {
  position: absolute;
  top: 100px;
  z-index: 1000;
  left: 200px;
  display: none !important;
}

.chem-mmp-no-pairs .chem-mmpa-no-pairs-warning {
  display: flex !important;
}

.chem-mmp-open-cliffs-button {
  font-size: 11px;
  height: 18px !important;
  margin-top: 3px !important;
}

.chem-search-panel-wrapper {
  overflow: hidden;
  max-height: 400px;
}

.chem-mmp-trellis-plot-sort-div {
  padding: 5px;
}

.chem-mmp-trellis-plot div[name="viewer selector"] {
  display: none;
}

.chem-mmp-trellis-plot div[name="SummaryLook"] {
  display: none;
}

.mmp-trellis-summary-column {
  padding-left: 7px;
  padding-top: 4px;
}

.mmp-trellis-summary-col-dlg select {
  display: none;
}

.chem-mmp-trellis-plot .d4-column-selector-triangle {
  display: none;
}

.chem-mmp-trellis-plot .d4-column-selector {
  pointer-events: none;
}

.chem-mmp-trellis-sort-type-invisible {
  display: none!important;
}

.chem-mmp-trellis-column-picker {
  margin-left: 7px;
  margin-top: 3px;

}

.chem-mmp-fragments-grid-mode-choice {
  padding-left: 7px;
  margin-top: -2px;
  padding-right: 7px;
}

.chem-mmp-fragments-grid-mode-choice select {
  width: 65px!important;
}

.chem-mmp-grid-info-message div {
  font-size: 12px;
  padding-right: 10px;
  color: var(--grey-5);
}