.grok-chem-substructure-filter {

}

.chem-mol-box {
  position: relative;
  width: min-content;
}

.chem-mol-box:hover .chem-mol-view-icon {
  visibility: visible;
}

.chem-mol-view-icon {
  position: absolute;
  top: 5px;
  visibility: hidden;
  margin: 5px;
  z-index: 1;
}

.pep-more-icon {
  right: 10px;
}

.chem-mol-view-icon i {
  font-size: 13px;
}

.chem-mol-view-icon:hover {
  background-color: var(--steel-1);
  border-radius: 2px;
}

.chem-canvas {
  overflow: hidden;
}

.chem-textarea-box {
  position: relative;
}

.chem-textarea-box:hover .chem-snippet-editor-icon {
  visibility: visible;
}

.chem-snippet-editor-icon {
  position: absolute;
  top: 5px;
  visibility: hidden;
  margin: 5px;
  z-index: 1;
}

.chem-reset-icon {
  right: 10px;
}

.chem-snippet-editor-icon i {
  font-size: 13px;
}

.chem-snippet-editor-icon:hover {
  background-color: var(--steel-1);
  border-radius: 2px;
}

.chem-textinput {
  height: 50px;
  overflow: hidden;
}

.d4-filter-element .grok-loader {
  position: absolute;
  top: 10px;
}

.d4-scaffold-tree-viewer .grok-icon {
  color: var(--blue-1) !important;
  font-size: large;
  margin: 1px;
}

.d4-scaffold-tree-viewer .grok-icon:hover {
  color: var(--blue-2) !important;
  cursor: pointer;
}

.chem-scaffold-tree-generate-hint {
  text-align: center;
  position: absolute;
  top: 50%;
  font-size: 16px;
  width: 100% !important;
  height: 30px !important;
}

.chem-scaffold-tree-generate-message-hint {
  color : #4d5261;
  text-align: center;
  position: absolute;
  top: 45%;
  font-size: 12px;
  width: 100% !important;
  height: 30px !important;
  visibility: hidden;
}


.d4-scaffold-tree-viewer .d4-tree-view-group-host .d4-tree-view-group-host {
  margin-left: 30px;
}

.icon-fill {
  color: lightgreen !important;
  margin-left: 5px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #784d24;
}

.d4-update-shadow {
  background-color: white;
  opacity: 1.0;
}