.grok-chem-substructure-filter {

}

.chem-mol-box:hover .chem-mol-view-icon {
  visibility: visible;
}

.chem-mol-view-icon {
  position: absolute;
  top: 5px;
  visibility: hidden;
  margin: 5px;
  z-index: 1;
}

.pep-more-icon {
  right: 10px;
}

.chem-mol-view-icon i {
  font-size: 13px;
}

.chem-mol-view-icon:hover {
  background-color: var(--steel-1);
  border-radius: 2px;
}

.chem-canvas {
  overflow: hidden;
}

.chem-textarea-box {
  position: relative;
}

.chem-textarea-box:hover .chem-snippet-editor-icon {
  visibility: visible;
}

.chem-snippet-editor-icon {
  position: absolute;
  top: 5px;
  visibility: hidden;
  margin: 5px;
  z-index: 1;
}

.chem-reset-icon {
  right: 10px;
}

.chem-snippet-editor-icon i {
  font-size: 13px;
}

.chem-snippet-editor-icon:hover {
  background-color: var(--steel-1);
  border-radius: 2px;
}

.chem-textinput {
  height: 50px;
  overflow: hidden;
}

.d4-filter-element .grok-loader {
  position: absolute;
  top: 10px;
}

.d4-scaffold-tree .grok-icon {
  color: var(--blue-1) !important;
  font-size: 14px;
}

.d4-scaffold-tree .grok-icon:hover {
  filter: brightness(1.2);
  -webkit-filter: brightness(1.2);
  cursor: pointer;
}

.d4-scaffold-tree .d4-tree-view-root {
  padding: 1px;
}

.d4-scaffold-tree .d4-tree-view-node {
  padding: 0;
  margin-bottom: -1px;
}

.d4-scaffold-tree .d4-tree-view-node.d4-tree-view-node-selected, .d4-scaffold-tree .d4-tree-view-node:hover {
  background-color: transparent;
}

.d4-scaffold-tree .d4-tree-view-node.d4-tree-view-node-selected .d4-tree-view-group-label, .d4-scaffold-tree .d4-tree-view-node:hover .d4-tree-view-group-label {
  background-color: #f2f2f5;
}

.d4-scaffold-tree .d4-tree-view-node .d4-tree-view-group-label {
  border: 1px solid var(--grey-2);
  margin-left: 8px;
}

.d4-scaffold-tree .d4-tree-view-node .d4-tree-view-group-label,
.d4-scaffold-tree .d4-tree-view-node .d4-tree-view-group-label > .chem-mol-box {
  flex-grow: 1;
}

.chem-scaffold-tree-generate-hint {
  text-align: center;
  position: absolute;
  top: 50%;
  font-size: 16px;
  width: 100% !important;
  height: 30px !important;
}

.chem-scaffold-tree-cancel-hint {
  text-align: center;
  position: absolute;
  top: 55%;
  font-size: 13px;
  width: 100% !important;
  height: 30px !important;
}

.chem-scaffold-tree-generate-message-hint {
  color : #4d5261;
  text-align: center;
  position: absolute;
  top: 45%;
  font-size: 13px;
  width: 100% !important;
  height: 30px !important;
  visibility: hidden;
}

.d4-scaffold-tree .d4-tree-view-group-host .d4-tree-view-group-host {
  margin-left: 30px;
}

.d4-scaffold-tree .fa-trash-alt {
  color: var(--red-4) !important;
}

.icon-fill {
  color: lightgreen !important;
  margin-left: 5px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #784d24;
}

.d4-update-shadow {
  background-color: white;
  opacity: 1.0;
}

.similarity-prop-label {
  min-width: 100px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--grey-4)
}

.similarity-prop-value {
  padding-left: 10px;
  padding-right: 5px;
  width: 100%; 
  overflow-wrap: break-word;
  color: var(--grey-5);
}

.similarity-prop-item {
  padding-top: 5px;
}

.similarity-search-edit {
  position: absolute;
  margin: 0px!important;
  height: 14px!important;
  padding-left: 2px!important;
}
.chem-scaffold-tree-toolbar {
  max-height: 24px;
  margin: 0 0 2px 2px;
  visibility: hidden;
}

.chem-scaffold-tree-toolbar .grok-icon {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 32px;
  box-sizing: border-box;
}

.d4-viewer.d4-scaffold-tree:hover .chem-scaffold-tree-toolbar {
  visibility: visible;
}

.d4-viewer.d4-scaffold-tree .chem-mol-box-info {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 6px 6px 6px auto;
  /* box-sizing: content-box; */
}

.d4-viewer.d4-scaffold-tree .chem-mol-box-info .chem-mol-box-info-buttons {
  visibility: hidden;
  flex-grow: 1;
  margin-top: 6px;
  justify-content: space-between;
}

.d4-viewer.d4-scaffold-tree .d4-tree-view-node:hover > .d4-tree-view-group-label > .chem-mol-box .chem-mol-box-info .chem-mol-box-info-buttons {
  visibility: visible;
}

/* temporary fixes */
.d4-tree-view-node .grok-icon.fal, .d4-tree-view-node .grok-icon.far, .d4-tree-view-node .grok-icon.fab, .d4-tree-view-node .grok-icon.fas {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d4-viewer.d4-scaffold-tree .d4-tree-view-group {
  align-self: initial;
}

.copy-as-molfile-icon {
  font-size: 14px!important;
  position: absolute;
  top: 0px;
}

.d4-accordion-pane-header .grok-icon.copy-icon {
  margin-left: 30px!important;
}