/* src/plates/views/components/mapping-editor/mapping-editor.css */

.mapping-editor {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mapping-editor-table {
    display: flex;
    flex-direction: column;
}

.mapping-editor-header,
.mapping-editor-row {
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    gap: 8px;
    align-items: center;
    padding: 4px 0;
    border-bottom: 1px solid var(--grey-1);
}

.mapping-editor-row > :nth-child(3) {
    margin-left: 16px;
    align-items: center;
}

.mapping-editor-header {
    color: var(--grey-5);
    padding-bottom: 8px;
}

.mapping-editor-row .d4-input-editor {
    margin: 0;
}

.mapping-input-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.mapping-input-container .ui-input-root {
    flex-grow: 1;
}

.required-asterisk {
    color: var(--red-3);
    margin-left: 2px;
}

.mapping-undo-icon,
.mapping-cancel-icon,
.mapping-add-icon {
    color: var(--grey-4);
    cursor: pointer;
    transition: color 0.15s;
}

.mapping-undo-icon:hover,
.mapping-cancel-icon:hover,
.mapping-add-icon:hover {
    color: var(--grey-6);
}

.mapping-add-row {
    padding-top: 8px;
}