/* Source: https://github.com/jupyterlab/jupyterlab/blob/master/packages/ui-components/style/base.css */

/* Sibling imports */
@import '../node_modules/@jupyterlab/ui-components/style/deprecated.css';
@import '../node_modules/@jupyterlab/ui-components/style/deprecatedExtra.css';
@import '../node_modules/@jupyterlab/ui-components/style/icons.css';
@import '../node_modules/@jupyterlab/ui-components/style/iconsalt.css';
@import '../node_modules/@jupyterlab/ui-components/style/iconshover.css';

/* Override Blueprint's _reset.scss styles */
.grok-notebook-view html {
    box-sizing: unset;
}

.grok-notebook-view *,
.grok-notebook-view *::before,
.grok-notebook-view *::after {
    box-sizing: unset;
}

.grok-notebook-view p {
    margin-top: unset;
    margin-bottom: unset;
}

.grok-notebook-view small {
    font-size: unset;
}

.grok-notebook-view strong {
    font-weight: unset;
}

/* Override Blueprint's _typography.scss styles */
.grok-notebook-view a {
    text-decoration: unset;
    color: unset;
}
.grok-notebook-view a:hover {
    text-decoration: unset;
    color: unset;
}

/* Override Blueprint's _accessibility.scss styles */
.grok-notebook-view :focus {
    outline: unset;
    outline-offset: unset;
    -moz-outline-radius: unset;
}

/* Styles for ui-components */
.jp-Button {
    border-radius: var(--jp-border-radius);
    padding: 0px 12px;
    font-size: var(--jp-ui-font-size1);
}

/* Use our own theme for hover styles */
button.jp-Button.bp3-button.bp3-minimal:hover {
    background-color: var(--jp-layout-color2);
}
.jp-Button.minimal {
    color: unset !important;
}

.jp-Button.jp-ToolbarButtonComponent {
    text-transform: none;
}

.jp-InputGroup input {
    box-sizing: border-box;
    border-radius: 0;
    background-color: transparent;
    color: var(--jp-ui-font-color0);
    box-shadow: inset 0 0 0 var(--jp-border-width) var(--jp-input-border-color);
}

.jp-InputGroup input:focus {
    box-shadow: inset 0 0 0 var(--jp-border-width)
    var(--jp-input-active-box-shadow-color),
    inset 0 0 0 3px var(--jp-input-active-box-shadow-color);
}

.jp-InputGroup input::placeholder,
input::placeholder {
    color: var(--jp-ui-font-color3);
}

.jp-BPIcon {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

/* Stop blueprint futzing with our icon fills */
.bp3-icon.jp-BPIcon > svg:not([fill]) {
    fill: var(--jp-inverse-layout-color3);
}

.jp-InputGroupAction {
    padding: 6px;
}

.jp-HTMLSelect.jp-DefaultStyle select {
    background-color: initial;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: var(--jp-ui-font-color0);
    display: block;
    font-size: var(--jp-ui-font-size1);
    height: 24px;
    line-height: 14px;
    padding: 0 25px 0 10px;
    text-align: left;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* Use our own theme for hover and option styles */
.jp-HTMLSelect.jp-DefaultStyle select:hover,
.jp-HTMLSelect.jp-DefaultStyle select > option {
    background-color: var(--jp-layout-color2);
    color: var(--jp-ui-font-color0);
}
.grok-notebook-view select {
    box-sizing: border-box;
}

.jp-NotebookPanel-notebook {
    height: 100% !important;
}
  