/* Naming convention: class names should begin with st and app name to avoid naming collitions */

.st-structure-body {
  padding-right: 20px;
}

.st-structure-mol-img {
  margin-right: 30px;
  float: right;
}

.st-structure-bool-button-block {
  justify-content: right;
  margin-bottom: 10px;
}

.st-structure-bottom {
  flex-direction: row-reverse;
  padding-top: 20px;
}

.st-structure-clear-buttons {
  justify-content: space-between;
  padding: 13px 10px 13px 10px;
}

.st-direction-inputs {
  align-items: end;
}

.st-structure-inputs {
  flex-grow: 2;
  padding-left: 10px;
}