html {
    font-size: 15px;
}

h1, h2, h3, h4, h5, .display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    font-family: 'Nunito', sans-serif;
    margin-top: 1.5em;
}

dl {
    font-family: 'Nunito', sans-serif;
}

html.smooth-scroll {
    scroll-behavior: smooth;
}

.blur {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

h2 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 6px;
    margin-bottom: 18px;
}

label {
    margin-bottom: 0;
}

body {
    /*padding-top: 70px;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #4D5261;
}

body div#root, body div#root #content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

body.help {
    padding-top: 70px;
}

body.help .tsd-page-title > .container {
    padding-bottom: 0;
}

body.help .container {
    padding-bottom: 100px;
}

section a.anchor {
    position: relative;
    top: -110px;
}

a {
    color: #2083D5;
}

.text-uppercase {
    letter-spacing: 1px;
}

.navbar-brand {
    font-family: 'Nunito', sans-serif;
}

.navbar {
    min-height: 70px;
    background-color: white;
    box-shadow: #ecf0f4 0 0 5px;
    padding: 0 1rem;
}

@media (max-width: 992px) {
    .navbar-toggler {
        position: fixed;
        right: 14px;
        background-color: white;
        z-index: 1;
    }

    .navbar-collapse {
        top: 0;
        right: 0;
        left: 0;
        position: fixed;
        background-color: white;
        padding-top: 12px;
        box-shadow: #ecf0f4 0 0 5px;
    }

    .navbar {
        position: absolute;
    }

    .sidebar {
        z-index: 1031!important;
        top: 0!important;;
    }
}


.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus,
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:active {
    color: #566c90 !important;
    outline: none;
}

.navbar-light .btn-primary {
    background-color: #50A9C5;
    border-color: #4998b1;
    animation: blinker 1s alternate infinite;
}

.section-grey .btn-success {
    background-color: #50C587;
    border-color: #50C587;
}

.section-grey .btn-success:hover {
    background-color: #4eb579;
    border-color: #4eb579;
}

.navbar-light .btn-primary:hover, .navbar-light .navbar-nav .btn-primary:focus {
    background-color: #60b4d0;
    border-color: #60b4d0;
}

@keyframes blinker {
    50% {
        background-color: #60b4d0;
        border-color: #60b4d0;
    }
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #85a1bc !important;;
    outline: none;
}

.navbar-brand {
    font-size: 24px;
    padding-left: 48px;
    background-image: url(/img/logo.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-y: center;
    font-weight: bold;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0;
}

.navbar .nav-item {
    margin-left: 16px;
    font-weight: 500 !important;
    height: 70px;
    display: flex;
    align-items: center;
}

.navbar .nav-item > a {
    margin: 0 12px;
}

.navbar .navbar-collapse.show .nav-item,
.navbar .navbar-collapse.collapsing .nav-item {
    height: initial;
    display: block;
    background-color: white !important;
}

.navbar .navbar-collapse .nav-item.dropdown .dropdown-menu {
    margin: 0;
    border: none;
    background-color: #f8f9fa;
    border-radius: 0;
    z-index: -1;
}

@media (min-width: 992px) {
    .navbar .nav-item.dropdown.show .dropdown-menu.show {
        display: none;
    }

    .navbar.navbar-expand-lg .nav-item.dropdown:hover .dropdown-menu,
    .navbar.navbar-expand-lg .navbar-collapse.show .nav-item.dropdown.show .dropdown-menu.show {
        display: block !important;
    }
}

@media (max-width: 992px) {

    section a.anchor::before {
        top: -30px;
    }

}
.navbar .navbar-collapse.show .nav-item .dropdown-menu,
.navbar .navbar-collapse.collapsing .nav-item .dropdown-menu {
    background-color: white !important;;
    box-shadow: none !important;
}

.navbar .nav-item.dropdown:hover {
    background-color: #f8f9fa;
}

.navbar-light .navbar-nav .dropdown-menu .dropdown-item,
.navbar-light .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-light .navbar-nav .dropdown-menu .dropdown-item:active {
    color: #566c90 !important;
    outline: none;
    margin-top: 4px;
    background-color: initial !important;
}

.navbar-light .navbar-nav .dropdown-menu .dropdown-item:hover {
    color: #85a1bc !important;;
}


.navbar-light .dropdown-menu .dropdown-item.active {
    /* background-color: #DCDBE6!important; */
    font-weight: 700;
}

.section-grey {
    background-color: #ECF0F4;
    color: #6B707F;
}

.section-grey.grad {
    background: radial-gradient(circle, rgb(255, 255, 255) 18%, #ECF0F4 100%);
}

.section-grey.grad-alt {
    background: radial-gradient(circle, #FBFBFB 10%, #CCCBDB 100%);
}

.section-grey.grad-dark {
    background: radial-gradient(circle, #6D7688 18%,#161F28 100%);
    color: white;
}

.section-grey.grad-dark-alt {
    background:url('/img/chem-background.png') center fixed, radial-gradient(circle, #5C5C6F 5%,#281625 100%) 0 -138px fixed;
    color: white;
    background-blend-mode: exclusion;
}
.section-grey.grad-dark-macromolecules {
    background:url('/img/macromolecules-bg.png') center fixed, radial-gradient(circle, #5C5C6F 5%,#161828 100%) 0 -138px fixed;
    background-blend-mode: overlay;
    color: white;
    background-size: cover;
}

@media (min-width: 1920px) {
    .section-grey.grad-dark-alt {
        background-size: cover, 100%;
    }
}


.section-grey.grad-dark h1,
.section-grey.grad-dark h2,
.section-grey.grad-dark-alt h1,
.section-grey.grad-dark-alt h2 {
    color: white;
}

.section-grey h2 {
    text-align: center;
    color: #566C90;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    border-bottom: none;
    padding-bottom: initial;
    margin-bottom: 0.5rem;
}

section.section-chem h2,section.section-chem h1 {
    margin-top: 2em;
    margin-bottom: 1em;
    color: #566C90;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    border-bottom: none;
    padding-bottom: initial;
}

.section-grey h1 {
    text-align: center;
    color: #566C90;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
}

.section-grey h2 {
    text-align: center;
    color: #566C90;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    border-bottom: none;
    padding-bottom: initial;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 0.5rem;
}

div.computer-padding {
    background-image: url('/img/computer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 80%;
    width: 100%;
    margin-bottom: -15%;
    display: flex;
    justify-content: center;
    height: 0;
}

div.computer-image {
    width: 80%;
    padding-bottom: 50%;
    margin-bottom: -52%;
    margin-top: 2%;
    margin-left: 1.15%;
    border-radius: 2px;
    overflow: hidden;
    user-select: none;
    background-color: black;
    position: relative;
}

div.computer-image i {
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

div.computer-image video {
    width: 100%;
    z-index: 2;
}


div.computer-image img {
    z-index: 2;
}

.section-white div.logo-circled {
    height: 72px;
    width: 72px;
    background-image: url('/img/logo.svg');
    background-color: #ECF0F4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    border: 1px solid #CAD3DD;
    border-radius: 50%;
}

.section-white {
    color: #4D5261;
}

.section-white h1 {
    text-align: center;
    color: #9398A7;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
}

.section-white h2 {
    color: #4D5261;;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 600;
    border-bottom: none;
    padding-bottom: initial;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.section-spacer {
    flex-grow: 1;
}

footer {
    box-shadow: #778ea6 0 0 12px 0;
    margin-top: auto;
    background: radial-gradient(circle, rgb(114, 137, 174) 0%, #566c90 44%);
}

ul.grok-features-list li {
    cursor: pointer;
    position: relative;
    list-style-type: none;
    margin-left: -20px;
    padding: 6px;
    color: #2183d5;
}

ul.grok-features-list li.active:before {
    content: " ";
    background-color: #f6f9fd;
    position: absolute;
    left: -19px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    border-left: 3px solid #2083d5;
}

ul.grok-features-list li:hover:before,
ul.grok-features-list li:focus:before {
    content: " ";
    background-color: #f6f9fd;
    position: absolute;
    left: -19px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.carousel {
    box-shadow: #ecf0f4 0 0 15px 4px;
    border: 1px solid #d8e3eb;
    user-select: none;
}

hr {
    border: none;
    height: 4px;
    border-radius: 2px;
    background-color: #d2dae2;
}

.heinlein h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.section-white h3 {
    font-weight: initial;
    font-size: 1rem;
    line-height: 1.6em;
}

.heinlein-img {
    background-image: url('/img/heinlein.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.heinlein a {
    color: #6a6f7f;
}

.quote-hang {
    text-indent: -0.3rem;
}

.login-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    min-width: 850px;
    flex-direction: column;
}

.grok-login-google-main {
    background-color: white;
    z-index: 100501;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.grok-login-google-main label {
    text-align: center;
    height: 20px;
}

.popover {
    border-radius: 0;
}

.carousel-item-video {
    width: 100%;
    height: 0;
    padding-bottom: 62.5%;
}

.carousel-item-video video {
    width: 100%;
}

.carousel-item-video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}

body.help nav a.d4-link-external:after{
    content: "";
}

body.help a.d4-link-external:after {
    content: "\f14c";
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    font-size: 0.8em;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    margin-left: .2em;
    margin-right: 0.2em;
    position: relative;
}

.navbar-brand-subtext {
    font-weight: normal;
    margin-left: 0.4em;
    font-size: 24px;
    height: 70px;
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    color: #566c90 !important;
    text-decoration: none!important;
}

a label {
    cursor: pointer;
}

.grok-feature-section i {
    color: #566C90;
    margin-right: 0.4em;
}


@media (min-width: 992px) {
    .grok-feature-section i {
        position: absolute;
        left: -70px;
        font-size: 50px;
        width: 76px;
        text-align: center;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grok-feature-section i.fal.fa-monitor-heart-rate {
        font-size: 46px;
    }
    .grok-feature-section i.fal.fa-video {
        font-size: 49px;
    }
    .grok-feature-section i.fal.fa-fingerprint {
        font-size: 52px;
    }
    .grok-feature-section i.fal.fa-hdd {
        font-size: 52px;
    }

}

img.float-right, img.float-left {
    margin: 0 24px;
    max-width: 50vw;
}

.hand-demo-container{
    display:none;
}
.hand-demo-parent .hand-demo .hand-demo-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex!important;
}

.hand-demo-parent .hand-demo .hand-demo-container i.fa-circle{
    position: absolute;
    top: 50%;
    left: 20%;
    width: 0;
    height: 0;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: moving-hand-pointer-circle 3s 1;
    opacity: 0;
    color: #4D5261;

}

.hand-demo-parent .hand-demo .hand-demo-container i.fa-hand-pointer{
    position: absolute;
    top: 50%;
    left: 20%;
    width: 0;
    height: 0;
    margin-top: 12px;
    margin-left: 4px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: moving-hand-pointer 3s 1;
    opacity: 0;
    color: #4D5261;
}


ul.grok-features-list.hand-demo-parent  li.hand-demo:before {
    content: " ";
    position: absolute;
    left: -19px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    animation: moving-hand-pointer-background 3s 1;
}

ul.grok-features-list.hand-demo-parent li.active:before {
  animation: moving-hand-pointer-background-active 3s 1;
}

@keyframes moving-hand-pointer {
    0% {
       margin-left: -100px;
        opacity: 0;
    }
    30% {
        margin-left: 4px;
        opacity: 1;
    }
    50% {
        margin-left: 4px;
        opacity: 1;
    }
    60% {
        margin-left: 100px;
        opacity: 0;
    }
    100% {
        margin-left: 100px;
        opacity: 0;
    }
}

@keyframes moving-hand-pointer-circle {
    0% {
        font-size: 1px;
        opacity: 0;
    }
    30% {
        font-size: 1px;
        opacity: 1;
    }
    40% {
        font-size: 100px;
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes moving-hand-pointer-background {
    0% {
        background-color: white;
        border-left: none;
    }
    30% {
        background-color: white;
        border-left: none;
    }
    31% {
        background-color: #f6f9fd;
        border-left: 3px solid #2083d5;
    }
    60% {
        background-color: #f6f9fd;
        border-left: 3px solid #2083d5;
    }
    61%, 100% {
        background-color: white;
        border-left: none;
    }
}

@keyframes moving-hand-pointer-background-active {
    0% {
        background-color: #f6f9fd;
        border-left: 3px solid #2083d5;
    }
    30% {
        background-color: #f6f9fd;
        border-left: 3px solid #2083d5;
    }
    31% {
        background-color: white;
        border-left: none;
    }
    60% {
        background-color: white;
        border-left: none;
    }
    61%, 100% {
        background-color: #f6f9fd;
        border-left: 3px solid #2083d5;
    }
}

.breadcrumbs {
    align-self: flex-end;
    margin: 12px;
    position: relative;
    top: -24px;
}

#helpPath {
    cursor: pointer;
}

.help-video-list .card {
    margin-right: 36px;
    margin-bottom: 36px;
    overflow: hidden;
}

.d4-link-label:hover {
    color: #40607f;
}

.d4-link-label {
    cursor: pointer;
    color: #2083d5;
}

.contact-us-wrapper {
    position: sticky;
    bottom: 0;
    z-index: 10;
}

.contact-us-button {
    width: 100px;
    background-color: #566c90;
    margin-left: auto;
    margin-right: 8px;
    display: flex;
    color: white;
    padding: 8px;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.contact-us-button:hover {
    background-color: #657ea7;
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 1rem;
}

div.spacer {
    height: 3em;
}

.solution-card {
    position: relative;
    padding: 1em;
    overflow: hidden;
    border-radius: 6px;
}

.solution-card h5 {
    margin: 0;
}

.solution-card-image {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index: -1;
    -webkit-filter: blur(10px);
    opacity: 0.2;
    background-size: cover;
    background-position: center;
}

.btn-contact {
    background-color: #50C587;
    border-color: #50C587;
    outline: none;
}

.btn-contact:hover {
    background-color: #4eb579;
    border-color: #4eb579;
}

.btn:focus {
    outline: none;
}

.tsd-page-title {
    padding: 20px!important;
}

.tsd-page-toolbar {
    transform: none!important;
    top:initial!important;
    bottom:0;

}
.bg-map {
    background-image: url("../img/bg-map.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
  }

.btn-primary {
    color: #fff;
    background-color: #50A9C5;
    border-color: #50A9C5;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #60b4d0;
    border-color: #60b4d0;
}