.test-track {
  overflow: unset;
  display: flex;
  flex-direction: column;
}

#tt-tree {
  width: 100%;
  overflow-y: scroll;
  height: inherit;
}

#tt-tree .d4-tree-view-group {
  width: 100%;
}

#tt-test-case-div {
  height: 270px;
  background-color: var(--grey-1);
  border-radius: 9px;
  padding: 10px 10px 0 10px;
  overflow-y: scroll;
  line-height: 1.5;
  user-select: text;
  resize: vertical;
}

#tt-test-case-div > .d4-markup > ol {
  padding-inline-start: 0;
}

#tt-test-case-div ol {
  margin-block-start: 0;
  padding-inline-start: 30px;
  list-style-position: inside;
}

#tt-test-case-div-outer {
  position: relative;
  margin: 0 8px;
  flex-grow: 0;
}

#tt-name .ui-input-editor{
  margin-top: 5px;
  text-align: left;
}

#tt-edit-button {
  position: absolute;
  display: none;
  right: 5px;
  top: 5px;
  margin: 0;
  padding: 4px;
  height: unset;
}

#tt-test-case-div-outer:hover #tt-edit-button {
  display: flex;
}

#tt-test-case-div:focus-visible + #tt-edit-button {
  display: none;
}

.tt-status-icon {
  margin-left: 5px !important;
  cursor: default !important;
}

.tt-history i:nth-child(1) {
  filter: blur(0.5px);
  opacity: 0.8;
}

.tt-history i:nth-child(2) {
  filter: blur(0.7px);
  opacity: 0.7;
}

.tt-history i:nth-child(3) {
  filter: blur(0.9px);
  opacity: 0.5;
}

.tt-history i:nth-child(4) {
  filter: blur(1.1px);
  opacity: 0.3;
}

.tt-history i:hover {
  filter: none;
  opacity: 1;
}

.tt-ribbon-button {
  margin: 4px 0 !important;
}

.tt-link {
  font-size: 0;
}

.tt-link:after {
  content: attr(data-label);
  font-size: 13px;
  vertical-align: -15%;
}

.tt-link-list:after {
  vertical-align: -30%;
}

#tt-ribbon-save-button:enabled {
  animation-name: color;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

@keyframes color {
  from {
    }
  to {
    color: #c9e7ff;
    }
}

.tt-reason {
  margin-right: 0;
  margin-left: auto;
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--grey-4);
  
}

.tt-dialog .d4-dialog-contents{
  overflow: hidden;
}

.tt-reason br {
  content: '';
}

#tt-name {
  align-self: center;
  margin-right: 8px;
  margin-left: auto;
  color: #2083d5;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} 

#tt-name:hover{
  cursor: pointer;
}

.tt-reason-dialog {
  min-width: 500px;
}

.tt-dialog .ui-input-textarea {
  height: 100%;
}

.tt-dialog .ui-input-textarea{ 
  display: inline-block;
}

.tt-dialog .ui-input-textarea textarea{
  vertical-align: bottom;
  resize: vertical;
  width: 65%;
}

.tt-dialog .ui-input-reason textarea{
  height: 100px;
  min-width: 74%;
  max-width: 80%; 
  resize: none;
}

.tt-dialog .ui-input-reason label{
  height: 100px;
  vertical-align: top;
  justify-content:flex-start;
  min-width: 74%;
  max-width: 80%;
}

.tt-dialog .create-ticket-button{
  align-self: end;
  pointer-events:all !important;
}
 
.tt-dialog .d4-pane-jira_tickets .d4-flex-col{
  width: 75%;
}

.tt-dialog .skipped-textarea textarea{ 
  min-width: 85%;
  max-width: 100%;
}

.no-after::after{
  display: none !important;
}