.ua-drilldown-form {
  border: 1px dashed #80949b;
  border-radius: 5px;
  background-color: #F1FAFD;
  margin-bottom: 24px;
}

.ua-drilldown-form .ui-input-editor {
  background-color: #F1FAFD;
}

.ua-apply-button {
  margin-left: auto !important;
  margin-top: 7px !important;
}

.ua-apply-button:disabled {
  background-color: var(--grey-3) !important;
  cursor: default;
  pointer-events: none;
}

.ua-details-button {
  height: 100% !important;
  margin-left: 7px !important;
}

.ua-close-button {
  float: right;
  font-weight: 300 !important;
  font-size: 13px !important;
  color: var(--grey-3) !important;
  margin-left: auto !important;
  padding: 0 !important;
  align-items: start !important;
}

.ua-back-button {
  float: right;
  /* color: var(--grey-3) !important; */
  padding: 0 !important;
  font-size: 11px !important;
  text-transform: none !important;
}

.ua-hint {
  padding: 10px;
  color: #805125;
  background-color: #FDFFE5;
  height: fit-content;
  /* box-shadow: 0 0 0 0 #FDFFE5;
  animation: pulse-white 1s 1; */
}

.ua-table .d4-link-label, .ua-table td {
  max-width: 150px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ua-widget .d4-viewer-title textarea {
  padding: 0 12px;
  font-size: 12px;
  text-align: right;
}

.ua-widget .d4-viewer-title {
  z-index: 99;
  width: initial;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.ua-package-widget {
  max-height: 180px;
  max-width: 380px !important;
}

.ua-package-widget > label {
  margin-left: 5px;
}

.ua-markup label {
  margin-left: 22px !important;
}

.ua-cards.ui-div {
  flex-direction: row;
  display: flex;
  align-items: flex-start;
}

.ua-cards .ua-card .grok-wait {
  height: 50px;
  margin-top: 5px;
  gap: 5px;
}

.ua-cards .ua-card {
  width: 120px;
  margin: 12px;
  height: 80px;
  box-shadow: 0px 0px 2px var(--grey-3);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 8px;
  flex-grow: 1;
  max-width: 120px;
}

.ua-test-card {
  cursor: pointer;
  text-transform: capitalize;
}

.ua-cards .ua-card > .grok-wait > .ui-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ua-cards .ua-card > .grok-wait > .ui-div > div:first-child {
  font-size: 32px;
  line-height: 32px;
}

.ua-card .ua-card-plus::before {
  content: '+';
}

.ua-card .ua-card-plus {
  color: var(--green-2);
}

.ua-card .ua-card-minus {
  color: var(--red-3);
}

.ua-wait {
  inset: 0;
  position: absolute;
  z-index: 1;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.93);
  transition: 2s;
}

/* .ua-packages-buttons {
  border-top: 1px solid var(--grey-2);
  padding-top: 10px;
} */

.ua-packages-buttons button {
  width: -webkit-fill-available !important;
  margin-left: 0 !important;
}

.ua-tt-compare {
  margin: 10px 0 0 12px;
  align-items: baseline;
}

.ua-tt-compare label {
  font-weight: bold;
  width: 70px;
}

#ua-tests-filters {
  border: 1px dashed #80949b;
  border-radius: 5px;
}

#ua-tests-filters div:first-child {
  border-radius: 5px;
}

#ua-tests-filters .d4-filter-categorical, #ua-tests-filters .d4-filter-group-wrapper > .d4-flex-col.d4-filter {
  min-width: 190px !important;
}

.ui-service-info:hover {
  -webkit-filter: contrast(80%) brightness(120%);
}

.ui-service-info[data="Running"] {
  color: var(--green-2);
}

.ui-service-info[data="Failed"] {
  color: var(--red-3);
}

.ui-service-info[data="Stopped"] {
  color: var(--grey-6);
}

.ui-service-info-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
