.model-catalog-view .d4-gallery-card.entity-model i {
    height: 64px;
    width: 64px;
    position: initial;
    flex-shrink: 0;
}

.model-catalog-view .d4-gallery-card.entity-model .d4-link-label i.grok-icon + label {
    margin-left: 6px;
    align-items: center;
    display: inline-flex;
    white-space: normal;
}

.model-catalog-view .d4-gallery-card.entity-model {
    padding: 0 8px;
    align-items: center;
    display: flex;
    margin: 0;
    height: 94px;
}

.model-catalog-view .grok-gallery-grid[mode="Brief"] .grok-gallery-grid {
    flex-direction: row!important;
}

.model-catalog-view .grok-gallery-grid[mode="Brief"] .grok-gallery-grid .d4-link-label i.grok-icon {
    width: 32px;
    height: 32px;
    position: initial;
}

.model-catalog-view .grok-gallery-grid[mode="Brief"] .grok-gallery-grid .d4-link-label label {
    margin-left: 8px;
}

.model-catalog-view .grok-gallery-grid[mode="Brief"] .grok-gallery-grid .d4-link-label {
    width: initial!important;
}