.model-catalog-view .d4-gallery-card.entity-model i {
    height: 64px;
    width: 64px;
    position: initial;
    flex-shrink: 0;
}

.model-catalog-view .d4-gallery-card.entity-model .d4-link-label i.grok-icon + label {
    margin-left: 6px;
    align-items: center;
    display: inline-flex;
    white-space: normal;
}

.model-catalog-view .d4-gallery-card.entity-model {
    padding: 0 8px;
    align-items: center;
    display: flex;
    margin: 0;
    height: 94px;
}

.model-catalog-view .grok-gallery-grid[mode="Brief"] .grok-gallery-grid {
    flex-direction: row!important;
}

.model-catalog-view .grok-gallery-grid[mode="Brief"] .d4-link-label i.grok-icon {
    width: 32px;
    height: 32px;
    position: initial;
}

.model-catalog-view .grok-gallery-grid[mode="Brief"] .d4-link-label label {
    margin-left: 8px;
}

.model-catalog-view .grok-gallery-grid[mode="Brief"] .grok-gallery-grid .d4-link-label {
    min-width: 250px;
    margin-bottom: 9px;
    color: var(--grey-6);
    padding: 10px;
    width: initial;
}

.model-catalog-view .d4-tree-view-root > .d4-tree-view-group-host > .d4-tree-view-group > .d4-tree-view-node {
    font-size: 20px;
    padding: 4px 0;
    color: var(--grey-6);
}

.model-catalog-view .d4-tree-view-root > .d4-tree-view-group-host > .d4-tree-view-group > .d4-tree-view-group-host > .d4-tree-view-group > .d4-tree-view-node {
    font-size: 16px;
    padding: 4px 0;
    color: var(--grey-6);
}

.model-catalog-view .d4-tree-view-root > .d4-tree-view-group-host > .d4-tree-view-group > .d4-tree-view-group-host > .d4-tree-view-group > .d4-tree-view-group-host > .d4-tree-view-group .d4-tree-view-node {
    font-size: 14px;
    padding: 4px 0;
    color: var(--grey-6);
}

.model-catalog-video {
    width: 80%;
    height: 0;
    padding-bottom: 50%;
    margin: 10px 10px 0 0;
    border: 1px solid var(--grey-2);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.model-catalog-video i {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--grey-2);
    font-size: 42px;
}

.model-catalog-video i:hover {
    color: var(--grey-1);
}

.model-catalog-description {
    padding: 10px 0 0 0;
}