.docking-samples-input {
  margin-left: -90px;
}

.docking-buttons-container {
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.docking-input-section {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.docking-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.docking-app-wrapper {
  width: fit-content;
  overflow: unset;
}

.docking-tab-control {
  height: 100%!important;
  width: 100%!important;
}

.docking-sequence-input {
  height: 50px!important;
  margin-left: -50px!important;
}