.admetox-dialog-tree {
  max-height: 400px;
  width: 200px;
}

.admetox-dialog-select-all {
  margin-left: 6px;
  margin-right: 12px;
}

.admetox-dialog-count {
  margin-left: 24px;
  display: inline-flex;
}

.admetox-mol-input {
  margin-left: -70px;
}

.admetox-bool-input {
  margin-left: -55px;
}

.admetox-input-form {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.admetox-pane-header {
  display: flex;
  align-items: center;
}

.d4-flex-col.ui-div.admetox-input-form > div:not(.ui-input-map) {
  margin-left: -70px;
}

.d4-flex-col.ui-div.admetox-input-form .ui-input-textarea.ui-input-root.ui-input-disabled .ui-input-editor {
  height: 150px;
}
