.statistics-mpo-header {
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.statistics-mpo-header-property {
  font-weight: bold;
  width: 150px;
}

.statistics-mpo-header-weight {
  font-weight: bold;
  width: 60px;
}

.statistics-mpo-header-desirability {
  font-weight: bold;
  flex-grow: 1;
  padding-left: 30px;
  padding-right: 10px;
}

.statistics-mpo-row {
  align-items: center;
  margin-bottom: 5px;
  min-height: 70px;
}

.statistics-mpo-property-name {
  width: 150px;
  padding-top: 5px;
  margin-left: 4px;
}

.statistics-mpo-weight-input {
  width: 60px;
  margin-top: 21px;
}

.statistics-mpo-control-buttons {
  gap: 10px;
  margin-left: 10px;
  color: var(--blue-1);
}