.ai-panel-question {
  font-style: italic;
}

.ai-panel-answer {}

.ai-execute-plan {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.2;
  background: var(--surface);
  border-radius: 8px;
  padding: 8px 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.ai-execute-result {
  margin-top: 10px;
  background: var(--surface-variant);
  padding: 8px 12px;
  border-radius: 8px;
  user-select: text !important;
}

.ai-execute-plan .d4-accordion {
  margin-left: -10px;
}

.d4-ai-generation-panel {
  height: 100%;
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.d4-ai-generation-panel .d4-ai-panel-input-area {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 6px;
  padding-bottom: 16px;
}

.d4-ai-generation-panel .d4-ai-panel-input-area select {
  height: 20px;
  font-size: 10px;
  max-width: 100px;
}

.d4-ai-generation-panel .d4-ai-panel-input-controls {
  align-items: center;
  gap: 4px;
}

.d4-ai-generation-panel .d4-ai-panel-run-controls i {
  margin-left: 8px;
  cursor: pointer;
}

.d4-ai-generation-panel textarea.d4-ai-input-textarea {
  resize: none;
  flex-grow: 1;
  min-height: 80px;
  max-height: 200px;
  font-size: 14px;
  border: 1px solid var(--grey-1);
  outline: none;
  border-radius: 8px;
  box-shadow: 0px 0px 2px var(--steel-1);
  background: var(--grey-1);
  padding: 4px;
}

.d4-ai-generation-panel .d4-ai-panel-output-area {
  display: flex;

  overflow: scroll;
  width: 100%;
  flex-direction: column;
  margin-top: auto;
}

.d4-ai-messages-accordion-pane pre {
  margin-left: 0px !important;
}

.d4-ai-generation-panel .d4-ai-user-prompt-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-left: 35px;
}

.d4-ai-generation-panel .d4-ai-user-prompt-container .d4-ai-user-prompt-divtext {
  width: 100%;
  border-radius: 8px;
  background-color: var(--steel-1);
  text-align: right;
  padding: 8px;
  user-select: text !important;
}

.d4-ai-generation-panel .d4-ai-assistant-response-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-right: 20px;
  background: aliceblue;
  border-radius: 8px;
  padding: 6px;
  margin-bottom: 4px;
  padding-bottom: 0px;
}

.d4-ai-generation-panel .d4-ai-assistant-response-container pre {
  background: aliceblue;
  filter: drop-shadow(0px 0px 4px var(--steel-2));
  padding: 6px;
  border-radius: 8px;
  overflow: scroll;
}

.d4-ai-generation-panel .d4-ai-assistant-response-container pre::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.d4-ai-generation-panel .d4-ai-assistant-response-container pre::-webkit-scrollbar-corner {
  display: none;
}

.d4-ai-generation-panel .d4-ai-panel-header {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 8px 5px 15px var(--grey-1);
}

.d4-ai-generation-panel .d4-ai-panel-header-right-buttons {
  display: flex;
  gap: 8px;
  align-items: center;
}

.d4-ai-generation-panel .d4-ai-assistant-response-container pre::-webkit-scrollbar-thumb {
  background-color: var(--steel-2);
  border-radius: 3px;
}

.d4-ai-generation-panel .d4-ai-panel-controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d4-ai-messages-accordion-pane {
  width: 100%;
}

.d4-ai-messages-accordion-pane .d4-ai-assistant-response-container {
  width: 100%;
  overflow: auto;
}

.d4-ai-copy-code-button {
  position: absolute;
  top: 1px;
  right: 1px;
  color: var(--blue-1);
  opacity: 0.6;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, opacity 0.3s, color 0.3s;
  display: none;
}

.d4-ai-copy-code-button:hover {
  opacity: 1.0;
}

.d4-markup:hover .d4-ai-copy-code-button {
  display: flex;
}

.d4-ai-copy-code-button.d4-ai-copy-code-button-copied {
  background-color: var(--green-2);
  color: var(--steel-5);
  opacity: 0.3;
}