.grok-hit-triage-view .d4-grid {
    width: initial !important;
    height: initial !important;
}

.hit-triage-compute-dialog-pane-header{
    display: flex;
    align-items: center;
    justify-content: end;
}