.power-pack-welcome-view {
}

.power-pack-widget-host {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 400px;
    width: 300px!important;
    margin: 6px;
    flex-direction: column;
   /* box-shadow: #E2E2E2 0 0 7px;*/
}

.power-pack-widget-header {
    height: 20px;
    font-size: 16px;
    color: gray;
}

.power-pack-widget-content {
    height: 200px;
    width: 300px;
    overflow: auto;
}

.power-pack-search-host {
    margin-bottom: 10px;
}

.power-pack-search-host .power-pack-widget-content {
    width: initial;
    height: initial;
}

.power-pack-search-host iframe {
    border: none;
}

.power-pack-widgets-host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.power-pack-welcome-view .d4-search-bar {
    margin-bottom: 10px;
}

.power-pack-welcome-view .d4-search-bar .ui-input-root {
    width: 100%;
}

.power-pack-welcome-view .d4-search-bar .ui-input-editor {
    font-size: 16px;
}

.power-pack-widget-host .d4-dialog-header {
    font-size: 16px;
}

.welcome-system-widget {
    font-size: 18px;
    line-height: 180%;
}

.welcome-community-widget {
    line-height: 160%;
}
