.power-pack-welcome-view {
}

.power-pack-widget-host > .d4-dialog-header > i {
    visibility: hidden;
}

.power-pack-widget-host:hover > .d4-dialog-header > i {
    visibility: visible;
}

.power-pack-widget-host {
    flex-direction: column;
    width: initial!important;
    height: initial!important;
    grid-column: span 1;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.power-pack-widget-host.widget-wide {
    grid-column: span 2;
}

.power-pack-widget-header {
    height: 20px;
    font-size: 16px;
    color: gray;
}

.power-pack-widget-content {
    overflow: auto;
}

.power-pack-search-host {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.power-pack-search-host .power-pack-widget-content {
    width: initial;
    height: initial;
}

.power-pack-search-host iframe {
    border: none;
}

.power-pack-widgets-host {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, 400px);
}

.power-pack-welcome-view .d4-search-bar {
    margin-bottom: 10px;

}

.power-pack-welcome-view .d4-search-bar .ui-input-root {
    width: 100%;
}

.power-pack-welcome-view .d4-search-bar .ui-input-editor {
    font-size: 16px;
}

.power-pack-widget-host .d4-dialog-header {
    font-size: 16px;
}

.welcome-community-widget {
    line-height: 160%;
}

.power-pack-widget-content .grok-user-profile-notifications h1 {
    visibility: hidden;
}

.power-pack-widget-content .grok-user-profile-notifications {
    padding: 12px!important;
}

.power-pack-widget-content .grok-user-profile-notifications h1 {
    display: none;
}

.pp-kpi-host {}

.pp-kpi-host * {
    padding: 8px;
}

.pp-kpi-value {
    font-size: 40px;
    font-weight: bold;
    color: var(--grey-6);
}

.pp-kpi-caption {
    font-size: 16px;
    color: var(--grey-5);
}

.grok-view:hover .power-pack-widget-host .ui-div::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.grok-view:hover .power-pack-widget-host:hover .ui-div::-webkit-scrollbar-thumb {
    background-color: #dbdcdf;
}

.ui-addnewcolumn-layout {
  width: 740px;
  height: 400px;
}

.ui-input-addnewcolumn-name, .ui-input-addnewcolumn-type {
  width: 100% !important;
  max-width: 100% !important;
}

.ui-input-addnewcolumn-expression {
  width: 100%;
  min-width: 100%;
  min-height: 120px;
  padding: 0 0 0 6px;
  font-size: 13px;
  font-family: 'Roboto', 'Roboto Local', sans-serif;
}

.ui-addnewcolumn-preview {
  padding-right: 8px;
}

.ui-addnewcolumn-preview .d4-grid {
  width: 100% !important;
  height: 225px !important;
  margin-top: 10px !important;
}

.ui-widget-addnewcolumn-columns, .ui-widget-addnewcolumn-functions {
  height: 400px !important;
}

.ui-grid-with-thin-scrollbars > .d4-grid-horz-scroll {
    height: 8px !important;
    right: 6px !important;
}

.ui-grid-with-thin-scrollbars > .d4-grid-vert-scroll {
    top: 0px !important;
    width: 6px !important;
    bottom: 15px !important;
}
