.power-pack-widget-host {
    width: 300px;
}

.power-pack-widget-header {
    height: 20px;
    font-size: 16px;
    color: gray;
}

.power-pack-widget-content {
    margin: 10px;
    height: 200px;
    overflow: auto;
}