.viewer-gallery-root > .ui-div {
    padding-right:24px;
}

.viewer-gallery {
    flex-wrap: wrap;
}

.vg-controls.grok-gallery-search-bar {
    margin: 0;
    padding: 0;
}

.vg-controls.grok-gallery-search-bar>.ui-div>input {
    width: 100%;
    padding-left: 22px;
}

.vg-controls.grok-gallery-search-bar>.ui-div>input:focus {
    width: 100%;
    border-color: var(--blue-1);
}

.vg-controls.grok-gallery-search-bar>.ui-div>input::placeholder {
    width: 100%;
    font-weight: lighter;
    color:var(--grey-4);
}

.vg-card-small {
    width: 200px;
    margin: 0 10px 10px 0;
    padding: 5px;
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: var(--grey-6);
    text-decoration: none;
}

.vg-card-small:hover {
    cursor: pointer;
    color: var(--blue-1);
}

.vg-card-small:focus {
    outline: none;
    border-color: var(--blue-1);
    background-color: rgba(32,131,213,.15);
    cursor: pointer;
    color: var(--blue-1);
}

.vg-card-small > .d4-flex-row {
    align-items: center;
}

.vg-card-small i.svg-icon {
    height: 30px;
    width: 30px;
}

.card-label {
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
}

.vg-card-small.disabled {
    background: var(--grey-1);
    filter: grayscale(1);
    cursor: not-allowed;
    opacity: 0.6;
}

.vg-card.disabled {
    background: var(--grey-1);
    filter: grayscale(1);
    cursor: not-allowed;
    opacity: 0.6;
}


.vg-counter-label {
    color: var(--grey-5);
    margin: 12px 0;
}

.vg-tags {
    width: 235px;
}

.vg-tags label {
    color: var(--grey-4);
    margin: 12px 0; 
}

.vg-tags .d4-tag {
    margin: 0 6px 6px 0;
    border-radius: 4px;
    background: white;
    border:1px solid var(--grey-2);
    color: var(--grey-4);
}
.vg-tags .d4-tag:hover {
    margin: 0 6px 6px 0;
    cursor: pointer;
    border-radius: 4px;
    background:var(--grey-2);
    border:1px solid var(--grey-2);
    color: var(--grey-6);
}

.vg-search-icon {
    color:var(--grey-4);
    position: absolute;
    left: 2px;
    top: 6px;
}  

.vg-clear-icon {
    visibility: hidden;
}

.vg-controls.grok-gallery-search-bar>.ui-div>input:focus + .vg-clear-icon {
    visibility: visible;
    position: absolute;
    color: var(--grey-4);
    right: 2px;
    top: 6px;
}