.windows-manager-sidebar {
    background: var(--warm-grey-1);
    border-left: 1px solid var(--warm-grey-2);
    padding: 12px 0;
    width: 24px
}

.windows-manager-sidebar .windows-manager-toggle i.grok-icon {
    font-size: 12px;
    font-weight: normal;
}

.windows-manager-toggle {
    color: var(--warm-grey-4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.windows-manager-toggle:hover {
    cursor: pointer;
    background: var(--warm-grey-2);
}

.windows-manager-toggle.active {
    background: var(--warm-grey-2);
}

.windows-manager-toggle.active:hover {
    cursor: pointer;
}

.windows-manager-statusbar {
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

.windows-manager-statusbar .windows-manager-toggle {
    width: 28px;
}
