.mlb-vd-regions-viewer-table {
    border: 1px solid var(--grey-6);
    height: 100% !important;
    width: 100% !important;
}

.mlb-vd-regions-viewer-table tbody {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.mlb-vd-regions-viewer-table tr {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.mlb-vd-regions-viewer-table tr:first-child {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
}

.mlb-vd-regions-viewer-table td {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}