.admetica-dialog-tree {
  max-height: 400px;
  width: 200px;
}

.admetica-dialog-select-all {
  margin-left: 6px;
  margin-right: 12px;
}

.admetica-dialog-count {
  margin-left: 24px;
  display: inline-flex;
}

.admetica-mol-input {
  margin-left: -70px;
}

.admetica-bool-input {
  margin-left: -55px;
}

.admetica-input-form {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 315px;
}

.admetica-pane-header {
  display: flex;
  align-items: center;
}

.admetica-tree {
  overflow: hidden;
  min-height: 250px;
}

.admetica-tab-content {
  gap: 10px;
}

.admetica-descriptor-name {
  text-align: center;
  font-weight: bold;
}

.admetica-save-button {
  margin-left: 20px!important;
  visibility: hidden;
}

.d4-flex-col.ui-div.admetica-input-form .ui-input-textarea.ui-input-root {
  resize: none;
  overflow: hidden;
  flex-shrink: unset!important;
}

.admetica-div {
  position: absolute;
  visibility: hidden;
  font: 13px Roboto;
  width: 200px;
  white-space: normal;
}

/* Main app container with unified styling */
.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
}

/* Content container styling */
.content-container {
  flex: 1;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative; /* For absolute positioning of splash screen */
}

/* Mode container styling */
.mode-container {
  flex: 1;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Placeholder text styling */
.placeholder-text {
  text-align: center;
  padding: 40px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* File input styling */
.file-input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f9f9f9;
  color: #555;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.file-input-container {
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Splash container styling for centered, transparent overlay */
.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  width: 100%;
  height: 100%;
  animation: fadeIn 0.3s ease-in;
}

.splash-panel {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}