.cv-funccall-card:hover {
    box-shadow: 0px 0px 3px #b8bac0;
    cursor: pointer;
}

.cv-funccall-card {
    margin: 2px 1px;
    padding: 5px;
    justify-content: space-between;
}

.cv-funccall-card.clicked {
    border: 1px solid var(--blue-1);
}

.cv-funccall-card-hover-icon {
    display: none;
}

.cv-funccall-card:hover .cv-funccall-card-hover-icon {
    display: flex;
}

.cv-funccall-card-def-icon {
    display: flex;
}

.cv-funccall-card:hover .cv-funccall-card-def-icon {
    display: none;
}

.cv-funccall-card .cv-card-content {
    justify-content: space-around;
    margin-left: 5px;
}

.cv-funccall-card .cv-card-content * {
    margin-bottom: 3px;
}

.cv-funccall-card-def-icon {
    margin: 5px;
}

.cv-funccall-card-hover-icon {
    margin: 5px;
}

.cv-funccall-card .description {
    margin-bottom: 2px;
    color: var(--grey-3);
}

.cv-funccall-card .date {
    color: var(--grey-3);
    margin-left: 5px;
}
