.cv-funccall-card:hover {
    box-shadow: 0px 0px 3px #b8bac0;
    cursor: pointer;
}

.cv-funccall-card {
    margin: 2px 1px;
    padding: 5px;
    justify-content: space-between;
}

.cv-funccall-card.clicked {
    box-shadow: 0px 0px 3px #b8bac0;
}

.cv-funccall-card-icons {
    align-items: center;
    display: none;
}

.cv-funccall-card:hover .cv-funccall-card-icons {
    display: flex;
}

.cv-funccall-card .cv-card-content {
    height: 40px;
    justify-content: space-around;
    margin-left: 5px;
}

.cv-funccall-card-icons .grok-icon{
    margin: 5px;
}

.cv-funccall-card .title {
    font-size: 13px;
    color: var(--grey-5);
    font-weight: 600;
    margin-bottom: 2px;
}

.cv-funccall-card .description {
    margin-bottom: 2px;
}

.cv-funccall-card .date {
    color: var(--grey-3);
    margin-left: 5px;
}