.cv-drop-area {
  position: relative;
}

.ui-form-condensed .cv-drop-area .icon {
  position: absolute;
  top: 35px;
  right: 10px;
}

.cv-drop-area .default {
  color: var(--grey-2);
}

.cv-drop-area .drag-n-dropping {
  background-color: var(--steel-1);
  border: 1px dashed var(--blue-1);
  color: var(--grey-3);
}

.cv-drop-area .error {
  color: var(--red-3);
}

.cv-drop-area .success {
  color: var(--grey-6);
}

.no-elements-label {
  margin: 8px;
}