.ui-input-root.ui-input-tags {
    flex-direction: column;
}

.ui-tag-list {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4px 0;
    gap: 1px;
}

.ui-form.ui-form-condensed .ui-input-root.ui-input-tags > .ui-input-root {
    max-width: initial;
    width: 100%;
    flex-grow: 1;
}

.ui-form.ui-form-condensed .ui-input-root.ui-input-tags > .ui-input-root:last-child {
    padding: 0;
}

.ui-form.ui-form-condensed .ui-input-root.ui-input-tags > .ui-input-root:last-child > label.ui-input-label {
    display: none;
}

.ui-tag {
    color: var(--grey-5);
    display: inline-flex;
    padding: 3px 6px;
    align-items: center;
    text-align: center;
    line-height: 1;
    background-color: var(--steel-1);
    margin: 1px 2px;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 2px;
    font-size: 12px;
}

.ui-tag span {
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
}
.ui-tag > input {
    max-width: 65px;
    font-size: 12px;
    height: 11px;
    max-height: 11px;
    padding: 0;
    margin: 0;
}
.ui-tag > input:focus {
    background:none;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--blue-1);
}