.clinical-case-run-app-button {
    width: 50px;
    margin-top: 20px!important;
    margin-left: auto;
}

.clinical-case-files-input-invalid .d4-invalid {
    color: #eb6767!important;
}

.clinical-case-validation-view-no-errors {
    align-content: center;
    align-self: center;
}

.clinical-case-add-domain-to-workspace-icon {
    color: var(--blue-1);
    font-weight: 500;
    margin-top: 18px;
    margin-right: 20px;
    align-self: flex-end;
    max-height: 20px;
}

.clinical-case-import-study-button {
    margin-top: 20px !important;
}

.clinical-case-correlation-filters {
   overflow-y: scroll;
   margin: 8px;
}

.clinical-case-validation-error-cell {
    display: flex;
    gap: 4px;
    padding: 4px 4px;
}

.clinical-case-validation-error-mark {
    color: #dc3545;
    cursor: help;
    font-size: 10px;
    padding-top: 2px; 
}

.clinical-case-no-validation-error-cell {
    padding: 4px 4px;
    display: block;
    min-height: 100%;
}

.clinical-case-study-import-view .ui-files-input-summary-indicator {
    padding-bottom: 6px;
}

.clinical-case-study-import-in-progress-div {
    height: 30px;
}

.cross-domain-viewers-div .d4-viewer-title {
    display: flex!important;
}
