/* Naming convention: class names should begin with st and tab name (main, axo, sdf) to avoid naming collitions */
.st-main-input-table {
  width: 100%;
}

.st-main-input-table td:has(textarea) {
  width: 100%;
  padding-right: 20px;
}

.st-main-input-table td:has(select) {
  min-width: 120px;
  vertical-align: top;
}

.st-main-output-table {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.st-main-output-table table {
  width: 100%;
  table-layout: fixed;
}

/* .st-main-output-table table tbody tr td { */
/*   max-width: 20%; */
/* } */

.st-main-output-table td {
  padding-top: 6px;
  padding-bottom: 6px;
}
.st-main-output-table tr:nth-child(even) {
  background-color: var(--grey-1);
}

.st-main-output-table td:nth-child(odd) {
  width: 120px;
  vertical-align: top;
}

.st-main-output-table td a {
  overflow-wrap: break-word;
}
