.enamine-store-panel {
  margin-bottom: 12px;
}

.enamine-store-panel-header {
  align-items: center;
}

.enamine-store-panel-header h2 {
  margin-right: 6px;
}

.enamine-store .grok-loader {
  margin-top: 12px;
  margin-right: 48px;
}

.enamine-store-controls {
  margin-left: 0 !important;
}

.enamine-store-controls .d4-input-molecule-canvas {
  width: 195px;
}
