/* Naming convention: class names should begin with st and tab name (main, axo, sdf) to avoid naming collitions */

.sdf-body {
  padding-right: 20px;
}

.sdf-input-form {
  text-align: right;
  vertical-align: top;
}

.sdf-text-input-label {
  min-width: 95px;
  padding-top: 3px;
}

.sdf-choice-input-label {
  min-width: 100px;
  float: right;
}

.sdf-text-input-td { /* Style for td containing textarea */ 
  width: 100%;
}

.sdf-text-input-td textarea {
  width: 100%;
  background-color: transparent;
  position: relative;
  z-index: 0;
  resize: none;
  height: 22px; /* Fine tuned value to avoid "jumping" of the textarea upon autoresize */
}

.sdf-mol-img {
  margin-right: 30px;
  float: right;
}

.sdf-bool-button-block {
  justify-content: right;
  margin-bottom: 10px;
}

.sdf-bottom {
  flex-direction: row-reverse;
  padding-top: 20px;
}

.sdf-highlights {
  /* The values here are fine tuned to those of the ui.input textarea in order
   * to achieve precise overlap */
  overflow: auto;
  position: absolute;
  pointer-events: none;
  cursor: text;
  z-index: 1;
  max-width: 100%;
  padding: 2px;
  font-family: 'Roboto Mono';
  font-size: 12px;
  line-height: normal;
  color: transparent;
  white-space: pre-wrap;
  word-wrap: break-word;
}

mark {
  opacity: .4;
  border-radius: 3px;
  background-color: red;
  color: red;
  outline-color: red;
  outline-width: 1px;
  outline-style: solid;
}
