AWSTemplateFormatVersion: "2010-09-09"

Description: Datagrok template to deploy all components to ECS Fargate. DNS and ACM should be configured manually.

Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: Client Endpoint configuration
        Parameters:
          - DatagrokArnSSLCertificate
    ParameterLabels:
      DatagrokArnSSLCertificate:
        default: 'DatagrokArnSSLCertificate: AWS ACM certificate ARN'

Parameters:
  DatagrokArnSSLCertificate:
    Description: The certificate is used for both Datagrok endpoint. If you do not use Route53 for DNS management, it is required to upload certificate to AWS ACM manually (https://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html) and specify the Certificate ARN here.
    Type: String
    AllowedPattern: (arn:([^:\n]*):([^:\n]*):([^:\n]*):([^:\n]*):(([^:\/\n]*)[:\/])?(.*))?

  Postfix:
    Description: URL postfix for backward compatibility. Leave blank for new installations
    Type: String

#Conditions:
#  CreateDNS:
#    Fn::Equals:
#      - Ref: DatagrokArnSSLCertificate
#      - ''
#  CreateSSL:
#    Fn::Equals:
#      - Ref: DatagrokArnSSLCertificate
#      - ''
Outputs:
  DatagrokLoadBalancerDNSName:
    Description: Datagrok Load Balancer DNS to create CNAME record
    Value: !GetAtt DatagrokLoadBalancer.DNSName

  #    Condition: CreateDNS
  DatagrokEndpoint:
    Description: Datagrok endpoint
    Value: Create DNS records for Datagrok using stated DNS Names as CNAMEs targets
