.hp-no-elements-label {
    margin: 12px;
}

.grok-icon.hp-disabled {
    pointer-events: none;
    opacity: 0.6;
}

.hp-funccall-card-hover-icon {
    display: none;
}

.hp-funccall-card:hover .hp-funccall-card-hover-icon {
    display: flex;
    margin: 0px 0px 0px 5px;
}

.hp-funccall-card {
    margin: 2px 1px;
    padding: 5px;
    justify-content: space-between;
}

.hp-funccall-card .hp-card-content {
    justify-content: space-around;
    margin-left: 5px;
}

.hp-funccall-card .hp-card-content * {
    margin-bottom: 3px;
}

.hp-funccall-card .description {
    margin-bottom: 2px;
    color: var(--grey-3);
}

.hp-funccall-card .date {
    color: var(--grey-3);
    margin-left: 5px;
}
