.he-tree__open-icon {
  height: 14px;
}

.grid-stack>.grid-stack-item {
  overflow: hidden;
  border: solid 1px var(--grey-2);
  border-radius: 5px;
  margin: 5px;
}

.gs-30 > .grid-stack-item {
  width: 3.333%;
}
.gs-30 > .grid-stack-item[gs-x="1"] {
  left: 3.333%;
}
.gs-30 > .grid-stack-item[gs-w="2"] {
  width: 6.667%;
}
.gs-30 > .grid-stack-item[gs-x="2"] {
  left: 6.667%;
}
.gs-30 > .grid-stack-item[gs-w="3"] {
  width: 10%;
}
.gs-30 > .grid-stack-item[gs-x="3"] {
  left: 10%;
}
.gs-30 > .grid-stack-item[gs-w="4"] {
  width: 13.333%;
}
.gs-30 > .grid-stack-item[gs-x="4"] {
  left: 13.333%;
}
.gs-30 > .grid-stack-item[gs-w="5"] {
  width: 16.667%;
}
.gs-30 > .grid-stack-item[gs-x="5"] {
  left: 16.667%;
}
.gs-30 > .grid-stack-item[gs-w="6"] {
  width: 20%;
}
.gs-30 > .grid-stack-item[gs-x="6"] {
  left: 20%;
}
.gs-30 > .grid-stack-item[gs-w="7"] {
  width: 23.333%;
}
.gs-30 > .grid-stack-item[gs-x="7"] {
  left: 23.333%;
}
.gs-30 > .grid-stack-item[gs-w="8"] {
  width: 26.667%;
}
.gs-30 > .grid-stack-item[gs-x="8"] {
  left: 26.667%;
}
.gs-30 > .grid-stack-item[gs-w="9"] {
  width: 30%;
}
.gs-30 > .grid-stack-item[gs-x="9"] {
  left: 30%;
}
.gs-30 > .grid-stack-item[gs-w="10"] {
  width: 33.333%;
}
.gs-30 > .grid-stack-item[gs-x="10"] {
  left: 33.333%;
}
.gs-30 > .grid-stack-item[gs-w="11"] {
  width: 36.667%;
}
.gs-30 > .grid-stack-item[gs-x="11"] {
  left: 36.667%;
}
.gs-30 > .grid-stack-item[gs-w="12"] {
  width: 40%;
}
.gs-30 > .grid-stack-item[gs-x="12"] {
  left: 40%;
}
.gs-30 > .grid-stack-item[gs-w="13"] {
  width: 43.333%;
}
.gs-30 > .grid-stack-item[gs-x="13"] {
  left: 43.333%;
}
.gs-30 > .grid-stack-item[gs-w="14"] {
  width: 46.667%;
}
.gs-30 > .grid-stack-item[gs-x="14"] {
  left: 46.667%;
}
.gs-30 > .grid-stack-item[gs-w="15"] {
  width: 50%;
}
.gs-30 > .grid-stack-item[gs-x="15"] {
  left: 50%;
}
.gs-30 > .grid-stack-item[gs-w="16"] {
  width: 53.333%;
}
.gs-30 > .grid-stack-item[gs-x="16"] {
  left: 53.333%;
}
.gs-30 > .grid-stack-item[gs-w="17"] {
  width: 56.667%;
}
.gs-30 > .grid-stack-item[gs-x="17"] {
  left: 56.667%;
}
.gs-30 > .grid-stack-item[gs-w="18"] {
  width: 60%;
}
.gs-30 > .grid-stack-item[gs-x="18"] {
  left: 60%;
}
.gs-30 > .grid-stack-item[gs-w="19"] {
  width: 63.333%;
}
.gs-30 > .grid-stack-item[gs-x="19"] {
  left: 63.333%;
}
.gs-30 > .grid-stack-item[gs-w="20"] {
  width: 66.667%;
}
.gs-30 > .grid-stack-item[gs-x="20"] {
  left: 66.667%;
}
.gs-30 > .grid-stack-item[gs-w="21"] {
  width: 70%;
}
.gs-30 > .grid-stack-item[gs-x="21"] {
  left: 70%;
}
.gs-30 > .grid-stack-item[gs-w="22"] {
  width: 73.333%;
}
.gs-30 > .grid-stack-item[gs-x="22"] {
  left: 73.333%;
}
.gs-30 > .grid-stack-item[gs-w="23"] {
  width: 76.667%;
}
.gs-30 > .grid-stack-item[gs-x="23"] {
  left: 76.667%;
}
.gs-30 > .grid-stack-item[gs-w="24"] {
  width: 80%;
}
.gs-30 > .grid-stack-item[gs-x="24"] {
  left: 80%;
}
.gs-30 > .grid-stack-item[gs-w="25"] {
  width: 83.333%;
}
.gs-30 > .grid-stack-item[gs-x="25"] {
  left: 83.333%;
}
.gs-30 > .grid-stack-item[gs-w="26"] {
  width: 86.667%;
}
.gs-30 > .grid-stack-item[gs-x="26"] {
  left: 86.667%;
}
.gs-30 > .grid-stack-item[gs-w="27"] {
  width: 90%;
}
.gs-30 > .grid-stack-item[gs-x="27"] {
  left: 90%;
}
.gs-30 > .grid-stack-item[gs-w="28"] {
  width: 93.333%;
}
.gs-30 > .grid-stack-item[gs-x="28"] {
  left: 93.333%;
}
.gs-30 > .grid-stack-item[gs-w="29"] {
  width: 96.667%;
}
.gs-30 > .grid-stack-item[gs-x="29"] {
  left: 96.667%;
}
.gs-30 > .grid-stack-item[gs-w="30"] {
  width: 100%;
}
