{
    "openapi": "3.0.1",
    "servers": [
      {
        "url": "https://api.chem-space.com",
        "description": "Test server"
      }
    ],
    "info": {
      "title": "Chemspace",
      "version": "4.0",
      "description": "# About Chemspace API\n\nChemspace Client API provides access to Chemspace public database: structure searches (exact match, substructure search, similarity search) and text search (CAS, MFCD, Catalog Numbers, InChI Key, synonyms, etc.).\n\nFrom the API, the user gets the information on availability, suppliers, offers (pack + price information), lead time of the compounds listed in Chemspace database.\n\n# Before you get started\n\n## Get your API key\n\nTo use the Chemspace API, you need to get your API key first. The API key looks like the following\n\n    c2JGNzCqj771pc9q-VwnuA75XjqQsnwoJMq_F76sH1lHQWT2JQ0UXN8aZmo4g7BP\n    \nThe API key is tied to your user on Chemspace website and is unique. To get your API key, please contact us at [info@chem-space.com](mailto:info@chem-space.com).\n\n## Limitations\n\nPlease note that with your API key you can perform a limited number of API requests (40 per minute). You can find the information regarding the remaining number of the requests in headers.\n\n## Data interchange formats\n\nThe Chemspace API communicates via a JSON or an XML formats. You can use Accept header to manage the response format.\n\nFor the JSON-format:\n\n    Accept: application/json\n\nFor the XML-format:\n\n    Accept: application/xml\n    \n## API Versions\n\nThe latest version of the Chemspace API is **4.0**. We recommend you use the latest version to have access to all the available functionality at the time. We, however, support previous versions for the compatibility with the legacy code.\n\nThe version of the API must be provided in the URL right after the address (**https://api.chem-space.com**) in `/v{major_version}/` path component and in Accept header, `Accept: application/{format}; version={version}`.\n\nTo use the Chemspace API, **version 4.0**, the endpoint would be the following\n\n    https://api.chem-space.com/v4/search/text\n    \nAnd the Accept header for the JSON format\n\n    Accept: application/json\n    \nFor the XML format\n\n    Accept: application/xml\n    \nTo use the Chemspace API, **version 3.1**, the endpoint would be the following\n\n    https://api.chem-space.com/v3/search/text\n    \nAnd the Accept header for the JSON format\n\n    Accept: application/json; version=3.1\n    \nFor the XML format\n\n    Accept: application/xml; version=3.1\n    \n## Authentication\n\nChemspace Client API uses a **two-layer authorization**.\n\n1. **First layer**: user provides the **API Key** to obtain an **Access Token**.\n2. **Second layer**: user provides the received **Access Token** to obtain the data from the endpoint.\n\n\u003Cspan class=\"warning-red\"\u003EWarning!\u003C/span\u003E \u003Cu\u003E**API Key and Access Token must be kept confidential and should not be given to third parties or published!**\u003C/u\u003E\n\nBoth, the API Key and the Access Token are encoded 64-symbol strings. Both strings are sent in Authorization header as\n\n    Authorization: Bearer {key or token}\n    \nduring the corresponding endpoint calls.\n\n**API Key** is used only to **get the Access Token**. The user gets the key via email from Chemspace manager, and it does not expire.\n\n**Access Token** is used to **get the data**. The user gets it by sending a corresponding request at https://api.chem-space.com/auth/token endpoint. The Access Token expires in 4 hours – when it happens, the user receives the 401 Unauthorized response and `code: 1` in the response body.\n\nWhen using Chemspace API, both the API key and the Access Token are transferred **via a secured connection (https)** and the authorization runs via HTTP Bearer Tokens. All the details regarding sending the API Key and the Access Token are given below in Get Access Token section.\n\n![401 Unauthorized](img/unauthorized.png)\n\nPossible values of the \"code\" field:\n\n\u003Ctable class=\"tbl-bordered\"\u003E\n\u003Ctr\u003E\u003Ctd\u003E0\u003C/td\u003E\u003Ctd\u003E\"Your request was made with invalid credentials\"\u003C/td\u003E\u003C/tr\u003E\n\u003Ctr\u003E\u003Ctd\u003E1\u003C/td\u003E\u003Ctd\u003E\"Access token has expired\"\u003C/td\u003E\u003C/tr\u003E\n\u003Ctr\u003E\u003Ctd\u003E2\u003C/td\u003E\u003Ctd\u003E\"The user is banned\"\u003C/td\u003E\u003C/tr\u003E\n\u003Ctr\u003E\u003Ctd\u003E3\u003C/td\u003E\u003Ctd\u003E\"The user is inactive\"\u003C/td\u003E\u003C/tr\u003E\n\u003C/table\u003E\n\n# Interactive documentation\n\nThe following documentation is **interactive**: you can run any query through the Chemspace API on the same page. To do this for each endpoint, please use \"**Try it out**\" button to fill in the necessary query parameters (if any) and then press \"**Execute**\" button.\n\nFirst, the user needs to provide valid credentials.\n\n## 1 – Use your API Key\n\nInitially, the user needs to provide their API key in the \"Authorize\" pop-up:\n\n1.  Click the \"**Authorize**\" button on the top right to the list of the API endpoints or on the \"**Lock**\" icon on the \"**Get Access Token by API Key**\" endpoint's tab.\n2.  Input your **API Key** in the corresponding field\nYou can get the **API Key** by requesting it at **info@chem-space.com**\n3.  Click the \"**Authorize**\" button\n4.  The pop-up will then indicate that the API Key has been accepted\n\n![Use your API Key](img/use-api-key.png)\n\n## 2 – Get the Access Token\n\nTo further use the API endpoints, the user needs to obtain an Access Token.\n\n1.  After you have authorized with your **API Key**, use **Get Access Token by API Key** endpoint which is the first one in the list. Under the spoiler, there is a description of the method, examples how to use it and examples of responses.\n2.  Click the \"Try it out\" button.\n3.  Click the \"Execute\" button.\n4.  In the Response body, there will be the access token.\n\n![Obtain Access Token](img/obtain-access-token.png)\n\n## 3 – Authorize with the Access Token and start using the API!\n\nTo use the search endpoints, please utilize the Access Token:\n\n1.  Click the \"**Authorize**\" button on the top right to the list of the API endpoints or on the \"**Lock**\" icon next to the search endpoints' tabs.\n2.  Input your **Access Token** in the corresponding field\n3.  Click the \"**Authorize**\" button\n4.  The pop-up will then indicate that the API Key has been accepted\n\n![Use your Access Token](img/use-access-token.png)\n\n---\n"
    },
    "paths": {
      "/auth/token": {
        "get": {
          "tags": [
            "Get Access Token by API Key"
          ],
          "description": "## Get Access Token by API Key\nTo get a new Access Token you need to perform a bearer token authorization.\nThe Bearer Token is your API Key. You should send Authorization header in the request.\nThe value of the header should be \u003Cnobr\u003E***\"Bearer \\\u003CAPI Key\\\u003E\"***\u003C/nobr\u003E.\n\nThe string should look like the following\n######\n    Authorization: Bearer c2JGNzCqj771pc9q-VwnuA75XjqQsnwoJMq_F76sH1lHQWT2JQ0UXN8aZmo4g7BP\n### Example\nGet Access Token by API Key ***c2JGNzCqj771pc9q-VwnuA75XjqQsnwoJMq_F76sH1lHQWT2JQ0UXN8aZmo4g7BP***\n### Example request:\n    curl -X GET \\\n      \"https://api.chem-space.com/auth/token\" \\\n      -H  \"Accept: application/json\" \\\n      -H  \"Authorization: Bearer c2JGNzCqj771pc9q-VwnuA75XjqQsnwoJMq_F76sH1lHQWT2JQ0UXN8aZmo4g7BP\"\n### Example response\n    {\n      \"access_token\": \"rVZEV12feW1axECAqJUu1dy7j8gxyNVqzSZoGY1LdKI8xvVXybBaaa7QLIJzoqfP\",\n      \"expires_in\": 3600,\n      \"api_key\": \"c2JGNzCqj771pc9q-VwnuA75XjqQsnwoJMq_F76sH1lHQWT2JQ0UXN8aZmo4g7BP\"\n    }\n### Properties\n- **access_token** - *string*, Access Token - unique string that is passed with every API call.\n- **expires_in** - *int*, time (in seconds) before the expiration of the Access Token\n- **api_key** - *string*, your current API Key.\n",
          "security": [
            {
              "API Key": []
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/authResult"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/authResult"
                  }
                }
              },
              "headers": {
                "X-Rate-Limit-Limit": {
                  "$ref": "#/components/headers/X-Rate-Limit-Limit"
                },
                "X-Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/X-Rate-Limit-Remaining"
                },
                "X-Rate-Limit-Reset": {
                  "$ref": "#/components/headers/X-Rate-Limit-Reset"
                }
              }
            },
            "401": {
              "$ref": "#/components/responses/UnauthorizedApiKeyError"
            },
            "406": {
              "description": "\u003Cp\u003EUnsupported Media Type. None of your requested content types is supported.\u003C/p\u003E \u003Cp\u003EUse Accept header:\u003C/p\u003E \u003Cp\u003E\u003Cpre\u003E\u003Cb\u003EAccept:\u003C/b\u003E application/json\u003C/pre\u003E\u003C/p\u003E \u003Cp\u003Eor\u003C/p\u003E \u003Cp\u003E\u003Cpre\u003E\u003Cb\u003EAccept:\u003C/b\u003E application/xml\u003C/pre\u003E\u003C/p\u003E\n",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/406NotAcceptable"
                  }
                }
              }
            },
            "429": {
              "description": "Rate limit exceeded. Too Many Requests",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/429TooManyRequests"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/429TooManyRequests"
                  }
                }
              },
              "headers": {
                "X-Rate-Limit-Limit": {
                  "$ref": "#/components/headers/X-Rate-Limit-Limit"
                },
                "X-Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/X-Rate-Limit-Remaining"
                },
                "X-Rate-Limit-Reset": {
                  "$ref": "#/components/headers/X-Rate-Limit-Reset"
                }
              }
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          }
        }
      },
      "/v4/search/exact": {
        "post": {
          "tags": [
            "Search by SMILES"
          ],
          "description": "## Exact search by SMILES\n### Example\nExact search by SMILES ***CC(N)=O*** in categories ***CSCS*** (Custom Request) and ***CSMB*** (Make-On-Demand Building Blocks)\n### Example request:\n    curl -X POST \\\n      \"https://api.chem-space.com/v4/search/exact?count=3&page=1&categories=CSCS,CSMB\" \\\n      -H  \"Accept: application/json\" \\\n      -H  \"Authorization: Bearer rVZEV12feW1axECAqJUu1dy7j8gxyNVqzSZoGY1LdKI8xvVXybBaaa7QLIJzoqfP\" \\\n      -H  \"Content-Type: multipart/form-data\" \\\n      -F  \"SMILES=CC(N)=O\"\n### Example response\n    {\n      \"count\": 3,\n      \"filtered\": 9,\n      \"all\": 9,\n      \"items\": [\n        {\n          \"csId\": \"CSCS00000162153\",\n          \"link\": \"https://chem-space.com/CSCS00000162153\",\n          \"smiles\": \"CC(N)=O\",\n          \"molFormula\": \"C2H5NO\",\n          \"cas\": \"60-35-5\",\n          \"mfcd\": \"MFCD00008023\",\n          \"properties\": {\n            \"mw\": 59.068,\n            \"hac\": 4,\n            \"logp\": -1.030288328,\n            \"rotb\": 0,\n            \"hba\": 1,\n            \"hbd\": 1,\n            \"ringCount\": 0,\n            \"fsp3\": 0.5,\n            \"tpsa\": 43.09\n          },\n          \"offerCount\": 7,\n          \"offers\": [\n            {\n              \"vendorName\": \"Manchester Organics Limited\",\n              \"vendorCode\": \"L42055\",\n              \"leadTimeDays\": 30,\n              \"purity\": 90,\n              \"prices\": [\n                {\n                  \"pack\": 250,\n                  \"uom\": \"g\",\n                  \"priceUsd\": 165,\n                  \"priceEur\": 139\n                }\n              ]\n            },\n            {\n              \"vendorName\": \"BOC Sciences\",\n              \"vendorCode\": \"476890\",\n              \"leadTimeDays\": null,\n              \"purity\": 95,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"g\",\n                  \"priceUsd\": null,\n                  \"priceEur\": null\n                }\n              ]\n            },\n            {\n              \"vendorName\": \"Alichem\",\n              \"vendorCode\": \"A490008562\",\n              \"leadTimeDays\": null,\n              \"purity\": 95,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"g\",\n                  \"priceUsd\": null,\n                  \"priceEur\": null\n                }\n              ]\n            },\n            {\n              \"vendorName\": \"Angel Pharmatech Ltd.\",\n              \"vendorCode\": \"AG-B22547\",\n              \"leadTimeDays\": null,\n              \"purity\": 95,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"g\",\n                  \"priceUsd\": null,\n                  \"priceEur\": null\n                }\n              ]\n            },\n            {\n              \"vendorName\": \"Advanced Organic Synthesis, LLC\",\n              \"vendorCode\": \"AOS003NME\",\n              \"leadTimeDays\": 20,\n              \"purity\": 95,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"g\",\n                  \"priceUsd\": null,\n                  \"priceEur\": null\n                }\n              ]\n            },\n            {\n              \"vendorName\": \"Shanghai Sunway Pharmaceutical Technology Co., Ltd\",\n              \"vendorCode\": \"CB20819\",\n              \"leadTimeDays\": null,\n              \"purity\": 95,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"g\",\n                  \"priceUsd\": null,\n                  \"priceEur\": null\n                }\n              ]\n            },\n            {\n              \"vendorName\": \"Key Organics Limited (BIONET)\",\n              \"vendorCode\": \"STR01066\",\n              \"leadTimeDays\": null,\n              \"purity\": 95,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"kg\",\n                  \"priceUsd\": 66,\n                  \"priceEur\": 56\n                }\n              ]\n            }\n          ]\n        },\n        {\n          \"csId\": \"CSMB00000162153\",\n          \"link\": \"https://chem-space.com/CSMB00000162153\",\n          \"smiles\": \"CC(N)=O\",\n          \"molFormula\": \"C2H5NO\",\n          \"cas\": \"60-35-5\",\n          \"mfcd\": \"MFCD00008023\",\n          \"properties\": {\n            \"mw\": 59.068,\n            \"hac\": 4,\n            \"logp\": -1.030288328,\n            \"rotb\": 0,\n            \"hba\": 1,\n            \"hbd\": 1,\n            \"ringCount\": 0,\n            \"fsp3\": 0.5,\n            \"tpsa\": 43.09\n          },\n          \"offerCount\": 1,\n          \"offers\": [\n            {\n              \"vendorName\": \"MADE Compounds\",\n              \"vendorCode\": \"BBV-33117936\",\n              \"leadTimeDays\": 30,\n              \"purity\": 95,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"g\",\n                  \"priceUsd\": 70,\n                  \"priceEur\": 67\n                }\n              ]\n            }\n          ]\n        },\n        {\n          \"csId\": \"CSCS00015241630\",\n          \"link\": \"https://chem-space.com/CSCS00015241630\",\n          \"smiles\": \"[2H]C([2H])([2H])C(N)=O\",\n          \"molFormula\": \"C2H5NO\",\n          \"cas\": \"23724-60-9\",\n          \"mfcd\": null,\n          \"properties\": {\n            \"mw\": 62.086,\n            \"hac\": 4,\n            \"logp\": -1.030288328,\n            \"rotb\": 0,\n            \"hba\": 1,\n            \"hbd\": 1,\n            \"ringCount\": 0,\n            \"fsp3\": 0.5,\n            \"tpsa\": 43.09\n          },\n          \"offerCount\": 0,\n          \"offers\": []\n        }\n      ]\n    }\n### Properties\n  - **count** - *int*, number of elements in *items*\n  - **filtered** - *int*, number of filtered compounds\n  - **all** - *int*, number of all found compounds\n  - **items** - *array*, found compounds\n    - **csId** - *string*, Chemspace ID\n    - **link** - *string*, Chemspace URL\n    - **smiles** - *string | null*, SMILES of compound\n    - **molFormula** - *string | null*, chemical formula\n    - **cas** - string | null, CAS (Chemical Abstracts Service) number\n    - **mfcd** - string | null, MFCD number\n    - **properties** - *object*, PhysChem properties\n      - **mw** - *double*, MW\n      - **hac** - *int*, Heavy Atoms\n      - **logp** - *double*, ClogP\n      - **rotb** - *int*, Rotatable Bonds\n      - **hba** - *int*, H-bond Acceptors\n      - **hbd** - *int*, H-bond Donors\n      - **ringCount** - *int*, Rings\n      - **fsp3** - *double*, Fsp3\n      - **tpsa** - *double*, TPSA\n    - **offerCount** - *int*, number of offers\n    - **offers** - *array*, a list of offers\n      - **vendorName** - *string*, vendor\n      - **vendorCode** - *string*, vendor code\n      - **leadTimeDays** - *int | null*, lead time in business days\n      - **purity** - *int*, purity\n      - **prices** - *array*,  a list of prices\n        - **pack** - *double*, package weight\n        - **uom** - *string*, unit of measurement\n        - **priceUsd** - *double | null*, price in USD\n        - **priceEur** - *double | null*, price in EUR\n",
          "parameters": [
            {
              "name": "shipToCountry",
              "in": "query",
              "required": true,
              "description": "the country you want your order to be shipped to; as two-letter country ISO code, e.g DE, US, FR",
              "schema": {
                "type": "string",
                "example": "US"
              }
            },
            {
              "name": "count",
              "in": "query",
              "required": false,
              "description": "maximum number of results on a page",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "page",
              "in": "query",
              "required": false,
              "description": "number of the page",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "categories",
              "in": "query",
              "required": false,
              "description": "comma separated categories to search in, any combination of CSMS, CSMB, CSCS, CSSB, CSSS",
              "schema": {
                "type": "string",
                "example": "CSMS,CSMB,CSCS,CSSB,CSSS"
              }
            }
          ],
          "security": [
            {
              "Access Token": []
            }
          ],
          "requestBody": {
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "SMILES": []
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/searchRes"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/searchRes"
                  }
                }
              },
              "headers": {
                "X-Rate-Limit-Limit": {
                  "$ref": "#/components/headers/X-Rate-Limit-Limit"
                },
                "X-Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/X-Rate-Limit-Remaining"
                },
                "X-Rate-Limit-Reset": {
                  "$ref": "#/components/headers/X-Rate-Limit-Reset"
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequestNotConvertibleToSmilesError"
            },
            "401": {
              "$ref": "#/components/responses/UnauthorizedError"
            },
            "406": {
              "$ref": "#/components/responses/UnsupportedMediaTypeError"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequestsError"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          }
        },
        "options": {
          "tags": [
            "Search by SMILES"
          ],
          "description": "## Exact search by SMILES\nThis endpoint allows to determine the options associated with a resource, the capabilities of a server, without implying a resource action or initiating a resource retrieval.\n",
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": [],
                "application/xml": []
              },
              "headers": {
                "Allow": {
                  "$ref": "#/components/headers/Allow-POST-OPTIONS"
                }
              }
            },
            "406": {
              "$ref": "#/components/responses/EmptyUnsupportedMediaTypeError"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          }
        }
      },
      "/v4/search/sub": {
        "post": {
          "tags": [
            "Substructure search"
          ],
          "description": "## Substructure search by SMILES\n### Example\nSubstructure search by SMILES ***CC(N)=O*** in categories ***CSSB*** (In-Stock Building Blocks) and ***CSCS*** (Custom Request)\n### Example request:\n    curl -X POST \\\n      \"https://api.chem-space.com/v4/search/sub?count=3&page=18&categories=CSSB,CSCS\" \\\n      -H  \"Accept: application/json\" \\\n      -H  \"Authorization: Bearer rVZEV12feW1axECAqJUu1dy7j8gxyNVqzSZoGY1LdKI8xvVXybBaaa7QLIJzoqfP\" \\\n      -H  \"Content-Type: multipart/form-data\" \\\n      -F  \"SMILES=CC(N)=O\"\n### Example response\n    {\n      \"count\": 3,\n      \"filtered\": 1014,\n      \"all\": 1014,\n      \"items\": [\n        {\n          \"csId\": \"CSCS00011325247\",\n          \"link\": \"https://chem-space.com/CSCS00011325247\",\n          \"smiles\": \"CNC(=O)C=C\",\n          \"molFormula\": \"C4H7NO\",\n          \"cas\": \"1187-59-3\",\n          \"mfcd\": \"MFCD00053693\",\n          \"properties\": {\n            \"mw\": 85.106,\n            \"hac\": 6,\n            \"logp\": -0.050319255333333,\n            \"rotb\": 1,\n            \"hba\": 1,\n            \"hbd\": 1,\n            \"ringCount\": 0,\n            \"fsp3\": 0.25,\n            \"tpsa\": 29.1\n          },\n          \"offerCount\": 4,\n          \"offers\": [\n            {\n              \"vendorName\": \"Alichem\",\n              \"vendorCode\": \"A490019437\",\n              \"leadTimeDays\": 42,\n              \"purity\": 95,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"g\",\n                  \"priceUsd\": 276,\n                  \"priceEur\": 232\n                },\n                {\n                  \"pack\": 5,\n                  \"uom\": \"g\",\n                  \"priceUsd\": 805,\n                  \"priceEur\": 676\n                }\n              ]\n            },\n            {\n              \"vendorName\": \"Angel Pharmatech Ltd.\",\n              \"vendorCode\": \"AG112245\",\n              \"leadTimeDays\": null,\n              \"purity\": 95,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"g\",\n                  \"priceUsd\": null,\n                  \"priceEur\": null\n                }\n              ]\n            },\n            {\n              \"vendorName\": \"Arctom Chemicals LLC\",\n              \"vendorCode\": \"AC003290\",\n              \"leadTimeDays\": null,\n              \"purity\": 95,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"g\",\n                  \"priceUsd\": null,\n                  \"priceEur\": null\n                }\n              ]\n            },\n            {\n              \"vendorName\": \"Advanced Organic Synthesis, LLC\",\n              \"vendorCode\": \"AOS00HEPL\",\n              \"leadTimeDays\": 20,\n              \"purity\": 95,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"g\",\n                  \"priceUsd\": null,\n                  \"priceEur\": null\n                }\n              ]\n            }\n          ]\n        },\n        {\n          \"csId\": \"CSSB00011997587\",\n          \"link\": \"https://chem-space.com/CSSB00011997587\",\n          \"smiles\": \"CC1CC(=O)N1\",\n          \"molFormula\": \"C4H7NO\",\n          \"cas\": \"5303-64-0\",\n          \"mfcd\": \"MFCD06217521\",\n          \"properties\": {\n            \"mw\": 85.106,\n            \"hac\": 6,\n            \"logp\": -0.45169547866667,\n            \"rotb\": 0,\n            \"hba\": 1,\n            \"hbd\": 1,\n            \"ringCount\": 1,\n            \"fsp3\": 0.75,\n            \"tpsa\": 29.1\n          },\n          \"offerCount\": 2,\n          \"offers\": [\n            {\n              \"vendorName\": \"UORSY\",\n              \"vendorCode\": \"BBV-38288479\",\n              \"leadTimeDays\": 2,\n              \"purity\": 95,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"g\",\n                  \"priceUsd\": 785,\n                  \"priceEur\": 748\n                },\n                {\n                  \"pack\": 2.5,\n                  \"uom\": \"g\",\n                  \"priceUsd\": 1539,\n                  \"priceEur\": 1465\n                },\n                {\n                  \"pack\": 5,\n                  \"uom\": \"g\",\n                  \"priceUsd\": 2277,\n                  \"priceEur\": 2168\n                },\n                {\n                  \"pack\": 10,\n                  \"uom\": \"g\",\n                  \"priceUsd\": 3376,\n                  \"priceEur\": 3215\n                }\n              ]\n            },\n            {\n              \"vendorName\": \"Enamine Ltd\",\n              \"vendorCode\": \"EN300-1251051\",\n              \"leadTimeDays\": 2,\n              \"purity\": 95,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"g\",\n                  \"priceUsd\": 785,\n                  \"priceEur\": 748\n                },\n                {\n                  \"pack\": 2.5,\n                  \"uom\": \"g\",\n                  \"priceUsd\": 1539,\n                  \"priceEur\": 1465\n                },\n                {\n                  \"pack\": 5,\n                  \"uom\": \"g\",\n                  \"priceUsd\": 2277,\n                  \"priceEur\": 2168\n                },\n                {\n                  \"pack\": 10,\n                  \"uom\": \"g\",\n                  \"priceUsd\": 3376,\n                  \"priceEur\": 3215\n                }\n              ]\n            }\n          ]\n        },\n        {\n          \"csId\": \"CSCS00020675986\",\n          \"link\": \"https://chem-space.com/CSCS00020675986\",\n          \"smiles\": \"CC(=O)N1CC1\",\n          \"molFormula\": \"C4H7NO\",\n          \"cas\": \"460-07-1\",\n          \"mfcd\": null,\n          \"properties\": {\n            \"mw\": 85.106,\n            \"hac\": 6,\n            \"logp\": -0.75446114,\n            \"rotb\": 0,\n            \"hba\": 1,\n            \"hbd\": 0,\n            \"ringCount\": 1,\n            \"fsp3\": 0.75,\n            \"tpsa\": 20.08\n          },\n          \"offerCount\": 1,\n          \"offers\": [\n            {\n              \"vendorName\": \"BOC Sciences\",\n              \"vendorCode\": \"118576\",\n              \"leadTimeDays\": null,\n              \"purity\": 95,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"g\",\n                  \"priceUsd\": null,\n                  \"priceEur\": null\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    }\n### Properties\n  - **count** - *int*, number of elements in *items*\n  - **filtered** - *int*, number of filtered compounds\n  - **all** - *int*, number of all found compounds\n  - **items** - *array*, found compounds\n    - **csId** - *string*, Chemspace ID\n    - **link** - *string*, Chemspace URL\n    - **smiles** - *string | null*, SMILES of compound\n    - **molFormula** - *string | null*, chemical formula\n    - **cas** - string | null, CAS (Chemical Abstracts Service) number\n    - **mfcd** - string | null, MFCD number\n    - **properties** - *object*, PhysChem properties\n      - **mw** - *double*, MW\n      - **hac** - *int*, Heavy Atoms\n      - **logp** - *double*, ClogP\n      - **rotb** - *int*, Rotatable Bonds\n      - **hba** - *int*, H-bond Acceptors\n      - **hbd** - *int*, H-bond Donors\n      - **ringCount** - *int*, Rings\n      - **fsp3** - *double*, Fsp3\n      - **tpsa** - *double*, TPSA\n    - **offerCount** - *int*, number of offers\n    - **offers** - *array*, a list of offers\n      - **vendorName** - *string*, vendor\n      - **vendorCode** - *string*, vendor code\n      - **leadTimeDays** - *int | null*, lead time in business days\n      - **purity** - *int*, purity\n      - **prices** - *array*,  a list of prices\n        - **pack** - *double*, package weight\n        - **uom** - *string*, unit of measurement\n        - **priceUsd** - *double | null*, price in USD\n        - **priceEur** - *double | null*, price in EUR\n",
          "parameters": [
            {
              "name": "shipToCountry",
              "in": "query",
              "required": true,
              "description": "the country you want your order to be shipped to; as two-letter country ISO code, e.g DE, US, FR",
              "schema": {
                "type": "string",
                "example": "US"
              }
            },
            {
              "name": "count",
              "in": "query",
              "required": false,
              "description": "maximum number of results on a page",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "page",
              "in": "query",
              "required": false,
              "description": "number of the page",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "categories",
              "in": "query",
              "required": false,
              "description": "comma separated categories to search in, any combination of CSMS, CSMB, CSCS, CSSB, CSSS",
              "schema": {
                "type": "string",
                "example": "CSMS,CSMB,CSCS,CSSB,CSSS"
              }
            }
          ],
          "security": [
            {
              "Access Token": []
            }
          ],
          "requestBody": {
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "SMILES": []
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/searchRes"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/searchRes"
                  }
                }
              },
              "headers": {
                "X-Rate-Limit-Limit": {
                  "$ref": "#/components/headers/X-Rate-Limit-Limit"
                },
                "X-Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/X-Rate-Limit-Remaining"
                },
                "X-Rate-Limit-Reset": {
                  "$ref": "#/components/headers/X-Rate-Limit-Reset"
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequestNotConvertibleToSmilesError"
            },
            "401": {
              "$ref": "#/components/responses/UnauthorizedError"
            },
            "406": {
              "$ref": "#/components/responses/UnsupportedMediaTypeError"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequestsError"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          }
        },
        "options": {
          "tags": [
            "Substructure search"
          ],
          "description": "## Substructure search by SMILES\nThis endpoint allows to determine the options associated with a resource, the capabilities of a server, without implying a resource action or initiating a resource retrieval.\n",
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": [],
                "application/xml": []
              },
              "headers": {
                "Allow": {
                  "$ref": "#/components/headers/Allow-POST-OPTIONS"
                }
              }
            },
            "406": {
              "$ref": "#/components/responses/EmptyUnsupportedMediaTypeError"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          }
        }
      },
      "/v4/search/sim": {
        "post": {
          "tags": [
            "Similarity search"
          ],
          "description": "## Similarity search by SMILES\n### Example\nSimilarity search by SMILES ***CC(N)=O*** in categories ***CSSS*** (In-stock Screening Compounds) and ***CSMS*** (Make-On-Demand Screening Compounds)\n### Example request:\n    curl -X POST \\\n      \"https://api.chem-space.com/v4/search/sim?count=2&page=6&categories=CSSS,CSMS\" \\\n      -H  \"Accept: application/json\" \\\n      -H  \"Authorization: Bearer rVZEV12feW1axECAqJUu1dy7j8gxyNVqzSZoGY1LdKI8xvVXybBaaa7QLIJzoqfP\" \\\n      -H  \"Content-Type: multipart/form-data\" \\\n      -F  \"SMILES=CC(N)=O\"\n### Example response\n    {\n      \"count\": 2,\n      \"filtered\": 2000,\n      \"all\": 2000,\n      \"items\": [\n        {\n          \"csId\": \"CSMS00000162364\",\n          \"link\": \"https://chem-space.com/CSMS00000162364\",\n          \"smiles\": \"NC(=O)CCCNC(N)=O\",\n          \"molFormula\": \"C5H11N3O2\",\n          \"cas\": \"32769-41-8\",\n          \"mfcd\": \"MFCD12797447\",\n          \"properties\": {\n            \"mw\": 145.162,\n            \"hac\": 10,\n            \"logp\": -1.94344316,\n            \"rotb\": 4,\n            \"hba\": 2,\n            \"hbd\": 3,\n            \"ringCount\": 0,\n            \"fsp3\": 0.6,\n            \"tpsa\": 98.21\n          },\n          \"offerCount\": 1,\n          \"offers\": [\n            {\n              \"vendorName\": \"Enamine Ltd\",\n              \"vendorCode\": \"Z33547177\",\n              \"leadTimeDays\": 21,\n              \"purity\": 90,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"mg\",\n                  \"priceUsd\": 138,\n                  \"priceEur\": 131\n                },\n                {\n                  \"pack\": 2,\n                  \"uom\": \"mg\",\n                  \"priceUsd\": 140,\n                  \"priceEur\": 133\n                },\n                {\n                  \"pack\": 5,\n                  \"uom\": \"mg\",\n                  \"priceUsd\": 147,\n                  \"priceEur\": 140\n                },\n                {\n                  \"pack\": 10,\n                  \"uom\": \"mg\",\n                  \"priceUsd\": 159,\n                  \"priceEur\": 151\n                }\n              ]\n            }\n          ]\n        },\n        {\n          \"csId\": \"CSSS00016997190\",\n          \"link\": \"https://chem-space.com/CSSS00016997190\",\n          \"smiles\": \"NC(=O)NC(N)=O\",\n          \"molFormula\": \"C2H5N3O2\",\n          \"cas\": \"108-19-0\",\n          \"mfcd\": \"MFCD00007946\",\n          \"properties\": {\n            \"mw\": 103.081,\n            \"hac\": 7,\n            \"logp\": -1.7087710896667,\n            \"rotb\": 0,\n            \"hba\": 2,\n            \"hbd\": 3,\n            \"ringCount\": 0,\n            \"fsp3\": 0,\n            \"tpsa\": 98.21\n          },\n          \"offerCount\": 2,\n          \"offers\": [\n            {\n              \"vendorName\": \"Vitas-M Laboratory\",\n              \"vendorCode\": \"STK068927\",\n              \"leadTimeDays\": 15,\n              \"purity\": 90,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"mg\",\n                  \"priceUsd\": 35,\n                  \"priceEur\": 30\n                },\n                {\n                  \"pack\": 2,\n                  \"uom\": \"mg\",\n                  \"priceUsd\": 37,\n                  \"priceEur\": 32\n                },\n                {\n                  \"pack\": 5,\n                  \"uom\": \"mg\",\n                  \"priceUsd\": 54,\n                  \"priceEur\": 46\n                },\n                {\n                  \"pack\": 10,\n                  \"uom\": \"mg\",\n                  \"priceUsd\": 68,\n                  \"priceEur\": 58\n                },\n                {\n                  \"pack\": 20,\n                  \"uom\": \"mg\",\n                  \"priceUsd\": 92,\n                  \"priceEur\": 79\n                }\n              ]\n            },\n            {\n              \"vendorName\": \"Vitascreen\",\n              \"vendorCode\": \"STK068927\",\n              \"leadTimeDays\": 15,\n              \"purity\": 90,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"mg\",\n                  \"priceUsd\": 26,\n                  \"priceEur\": 22\n                },\n                {\n                  \"pack\": 2,\n                  \"uom\": \"mg\",\n                  \"priceUsd\": 29,\n                  \"priceEur\": 25\n                },\n                {\n                  \"pack\": 5,\n                  \"uom\": \"mg\",\n                  \"priceUsd\": 38,\n                  \"priceEur\": 32\n                },\n                {\n                  \"pack\": 10,\n                  \"uom\": \"mg\",\n                  \"priceUsd\": 48,\n                  \"priceEur\": 41\n                },\n                {\n                  \"pack\": 20,\n                  \"uom\": \"mg\",\n                  \"priceUsd\": 68,\n                  \"priceEur\": 58\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    }\n### Properties\n  - **count** - *int*, number of elements in *items*\n  - **filtered** - *int*, number of filtered compounds\n  - **all** - *int*, number of all found compounds\n  - **items** - *array*, found compounds\n    - **csId** - *string*, Chemspace ID\n    - **link** - *string*, Chemspace URL\n    - **smiles** - *string | null*, SMILES of compound\n    - **molFormula** - *string | null*, chemical formula\n    - **cas** - string | null, CAS (Chemical Abstracts Service) number\n    - **mfcd** - string | null, MFCD number\n    - **properties** - *object*, PhysChem properties\n      - **mw** - *double*, MW\n      - **hac** - *int*, Heavy Atoms\n      - **logp** - *double*, ClogP\n      - **rotb** - *int*, Rotatable Bonds\n      - **hba** - *int*, H-bond Acceptors\n      - **hbd** - *int*, H-bond Donors\n      - **ringCount** - *int*, Rings\n      - **fsp3** - *double*, Fsp3\n      - **tpsa** - *double*, TPSA\n    - **offerCount** - *int*, number of offers\n    - **offers** - *array*, a list of offers\n      - **vendorName** - *string*, vendor\n      - **vendorCode** - *string*, vendor code\n      - **leadTimeDays** - *int | null*, lead time in business days\n      - **purity** - *int*, purity\n      - **prices** - *array*,  a list of prices\n        - **pack** - *double*, package weight\n        - **uom** - *string*, unit of measurement\n        - **priceUsd** - *double | null*, price in USD\n        - **priceEur** - *double | null*, price in EUR\n",
          "parameters": [
            {
              "name": "shipToCountry",
              "in": "query",
              "required": true,
              "description": "the country you want your order to be shipped to; as two-letter country ISO code, e.g DE, US, FR",
              "schema": {
                "type": "string",
                "example": "US"
              }
            },
            {
              "name": "count",
              "in": "query",
              "required": false,
              "description": "maximum number of results on a page",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "page",
              "in": "query",
              "required": false,
              "description": "number of the page",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "categories",
              "in": "query",
              "required": false,
              "description": "comma separated categories to search in, any combination of CSMS, CSMB, CSCS, CSSB, CSSS",
              "schema": {
                "type": "string",
                "example": "CSMS,CSMB,CSCS,CSSB,CSSS"
              }
            }
          ],
          "security": [
            {
              "Access Token": []
            }
          ],
          "requestBody": {
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "SMILES": []
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/searchRes"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/searchRes"
                  }
                }
              },
              "headers": {
                "X-Rate-Limit-Limit": {
                  "$ref": "#/components/headers/X-Rate-Limit-Limit"
                },
                "X-Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/X-Rate-Limit-Remaining"
                },
                "X-Rate-Limit-Reset": {
                  "$ref": "#/components/headers/X-Rate-Limit-Reset"
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequestNotConvertibleToSmilesError"
            },
            "401": {
              "$ref": "#/components/responses/UnauthorizedError"
            },
            "406": {
              "$ref": "#/components/responses/UnsupportedMediaTypeError"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequestsError"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          }
        },
        "options": {
          "tags": [
            "Similarity search"
          ],
          "description": "## Similarity search by SMILES\nThis endpoint allows to determine the options associated with a resource, the capabilities of a server, without implying a resource action or initiating a resource retrieval.\n",
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": [],
                "application/xml": []
              },
              "headers": {
                "Allow": {
                  "$ref": "#/components/headers/Allow-POST-OPTIONS"
                }
              }
            },
            "406": {
              "$ref": "#/components/responses/EmptyUnsupportedMediaTypeError"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          }
        }
      },
      "/v4/search/text": {
        "post": {
          "tags": [
            "Search by IDs and codes"
          ],
          "description": "## Search by IDs and codes\nReturns, if available, molecules with the identifiers. Identifiers and codes in the query should be comma separated.\n### Example\nSearch by identifiers and codes in category ***CSMB*** (Make-On-Demand Building Blocks):\n- ***CSMB00000000001*** - Chemspace ID\n- ***CSC000000065*** - old Chemspace ID\n- ***60-35-5*** - CAS\n- ***MFCD06217521*** - MFCD\n- ***CSC1=NN=NN1C*** - SMILES\n- ***BBV-32027078*** - vendor ID\n### Example request:\n    curl -X POST \\\n      \"https://api.chem-space.com/v4/search/text?count=3&page=2&categories=CSMB\" \\\n      -H  \"Accept: application/json\" \\\n      -H  \"Authorization: Bearer rVZEV12feW1axECAqJUu1dy7j8gxyNVqzSZoGY1LdKI8xvVXybBaaa7QLIJzoqfP\" \\\n      -H  \"Content-Type: multipart/form-data\" \\\n      -F  \"query=CSMB00000000001, CSC000000065, 60-35-5, MFCD06217521, CSC1=NN=NN1C, BBV-32027078\"\n### Example response\n    {\n      \"count\": 3,\n      \"filtered\": 6,\n      \"all\": 6,\n      \"items\": [\n        {\n          \"csId\": \"CSMB00011997587\",\n          \"link\": \"https://chem-space.com/CSMB00011997587\",\n          \"smiles\": \"CC1CC(=O)N1\",\n          \"molFormula\": \"C4H7NO\",\n          \"cas\": \"5303-64-0\",\n          \"mfcd\": \"MFCD06217521\",\n          \"properties\": {\n            \"mw\": 85.106,\n            \"hac\": 6,\n            \"logp\": -0.45169547866667,\n            \"rotb\": 0,\n            \"hba\": 1,\n            \"hbd\": 1,\n            \"ringCount\": 1,\n            \"fsp3\": 0.75,\n            \"tpsa\": 29.1\n          },\n          \"offerCount\": 1,\n          \"offers\": [\n            {\n              \"vendorName\": \"MADE Compounds\",\n              \"vendorCode\": \"BBV-38288479\",\n              \"leadTimeDays\": 30,\n              \"purity\": 95,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"g\",\n                  \"priceUsd\": 571,\n                  \"priceEur\": 543\n                }\n              ]\n            }\n          ]\n        },\n        {\n          \"csId\": \"CSMB00000000375\",\n          \"link\": \"https://chem-space.com/CSMB00000000375\",\n          \"smiles\": \"CSC1=NN=NN1C\",\n          \"molFormula\": \"C3H6N4S\",\n          \"cas\": \"68700-68-5\",\n          \"mfcd\": \"MFCD00171475\",\n          \"properties\": {\n            \"mw\": 130.17,\n            \"hac\": 8,\n            \"logp\": 0.66517884866667,\n            \"rotb\": 1,\n            \"hba\": 3,\n            \"hbd\": 0,\n            \"ringCount\": 1,\n            \"fsp3\": 0.66666666666667,\n            \"tpsa\": 43.6\n          },\n          \"offerCount\": 1,\n          \"offers\": [\n            {\n              \"vendorName\": \"MADE Compounds\",\n              \"vendorCode\": \"BBV-39682147\",\n              \"leadTimeDays\": 30,\n              \"purity\": 95,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"g\",\n                  \"priceUsd\": 571,\n                  \"priceEur\": 543\n                }\n              ]\n            }\n          ]\n        },\n        {\n          \"csId\": \"CSMB00000162364\",\n          \"link\": \"https://chem-space.com/CSMB00000162364\",\n          \"smiles\": \"NC(=O)CCCNC(N)=O\",\n          \"molFormula\": \"C5H11N3O2\",\n          \"cas\": \"32769-41-8\",\n          \"mfcd\": \"MFCD12797447\",\n          \"properties\": {\n            \"mw\": 145.162,\n            \"hac\": 10,\n            \"logp\": -1.94344316,\n            \"rotb\": 4,\n            \"hba\": 2,\n            \"hbd\": 3,\n            \"ringCount\": 0,\n            \"fsp3\": 0.6,\n            \"tpsa\": 98.21\n          },\n          \"offerCount\": 1,\n          \"offers\": [\n            {\n              \"vendorName\": \"MADE Compounds\",\n              \"vendorCode\": \"BBV-32027078\",\n              \"leadTimeDays\": 30,\n              \"purity\": 95,\n              \"prices\": [\n                {\n                  \"pack\": 1,\n                  \"uom\": \"g\",\n                  \"priceUsd\": 542,\n                  \"priceEur\": 516\n                }\n              ]\n            }\n          ]\n        }\n      ]\n    }\n### Properties\n  - **count** - *int*, number of elements in *items*\n  - **filtered** - *int*, number of filtered compounds\n  - **all** - *int*, number of all found compounds\n  - **items** - *array*, found compounds\n    - **csId** - *string*, Chemspace ID\n    - **link** - *string*, Chemspace URL\n    - **smiles** - *string | null*, SMILES of compound\n    - **molFormula** - *string | null*, chemical formula\n    - **cas** - string | null, CAS (Chemical Abstracts Service) number\n    - **mfcd** - string | null, MFCD number\n    - **properties** - *object*, PhysChem properties\n      - **mw** - *double*, MW\n      - **hac** - *int*, Heavy Atoms\n      - **logp** - *double*, ClogP\n      - **rotb** - *int*, Rotatable Bonds\n      - **hba** - *int*, H-bond Acceptors\n      - **hbd** - *int*, H-bond Donors\n      - **ringCount** - *int*, Rings\n      - **fsp3** - *double*, Fsp3\n      - **tpsa** - *double*, TPSA\n    - **offerCount** - *int*, number of offers\n    - **offers** - *array*, a list of offers\n      - **vendorName** - *string*, vendor\n      - **vendorCode** - *string*, vendor code\n      - **leadTimeDays** - *int | null*, lead time in business days\n      - **purity** - *int*, purity\n      - **prices** - *array*,  a list of prices\n        - **pack** - *double*, package weight\n        - **uom** - *string*, unit of measurement\n        - **priceUsd** - *double | null*, price in USD\n        - **priceEur** - *double | null*, price in EUR\n",
          "parameters": [
            {
              "name": "shipToCountry",
              "in": "query",
              "required": true,
              "description": "the country you want your order to be shipped to; as two-letter country ISO code, e.g DE, US, FR",
              "schema": {
                "type": "string",
                "example": "US"
              }
            },
            {
              "name": "count",
              "in": "query",
              "required": false,
              "description": "maximum number of results on a page",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "page",
              "in": "query",
              "required": false,
              "description": "number of the page",
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "categories",
              "in": "query",
              "required": false,
              "description": "comma separated categories to search in, any combination of CSMS, CSMB, CSCS, CSSB, CSSS",
              "schema": {
                "type": "string",
                "example": "CSMS,CSMB,CSCS,CSSB,CSSS"
              }
            }
          ],
          "security": [
            {
              "Access Token": []
            }
          ],
          "requestBody": {
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string",
                      "example": "CSMB00000000001, BBV-32027078, 60-35-5, MFCD06217521"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/searchRes"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/searchRes"
                  }
                }
              },
              "headers": {
                "X-Rate-Limit-Limit": {
                  "$ref": "#/components/headers/X-Rate-Limit-Limit"
                },
                "X-Rate-Limit-Remaining": {
                  "$ref": "#/components/headers/X-Rate-Limit-Remaining"
                },
                "X-Rate-Limit-Reset": {
                  "$ref": "#/components/headers/X-Rate-Limit-Reset"
                }
              }
            },
            "400": {
              "$ref": "#/components/responses/BadRequestEmptyIdsListError"
            },
            "401": {
              "$ref": "#/components/responses/UnauthorizedError"
            },
            "406": {
              "$ref": "#/components/responses/UnsupportedMediaTypeError"
            },
            "429": {
              "$ref": "#/components/responses/TooManyRequestsError"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          }
        },
        "options": {
          "tags": [
            "Search by IDs and codes"
          ],
          "description": "## Search by IDs and codes\nThis endpoint allows to determine the options associated with a resource, the capabilities of a server, without implying a resource action or initiating a resource retrieval.\n",
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": [],
                "application/xml": []
              },
              "headers": {
                "Allow": {
                  "$ref": "#/components/headers/Allow-POST-OPTIONS"
                }
              }
            },
            "406": {
              "$ref": "#/components/responses/EmptyUnsupportedMediaTypeError"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          }
        }
      }
    },
    "components": {
      "responses": {
        "InternalServerError": {
          "description": "Internal Server Error. Service is temporarily unavailable, try again later."
        },
        "BadRequestNotConvertibleToSmilesError": {
          "description": "SMILES is empty or is in wrong format",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/400BadRequestNotConvertibleToSmiles"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/400BadRequestNotConvertibleToSmiles"
              }
            }
          },
          "headers": {
            "X-Rate-Limit-Limit": {
              "$ref": "#/components/headers/X-Rate-Limit-Limit"
            },
            "X-Rate-Limit-Remaining": {
              "$ref": "#/components/headers/X-Rate-Limit-Remaining"
            },
            "X-Rate-Limit-Reset": {
              "$ref": "#/components/headers/X-Rate-Limit-Reset"
            }
          }
        },
        "BadRequestEmptyIdsListError": {
          "description": "Identifier list is empty in POST parameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/400BadRequestEmptyList"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/400BadRequestEmptyList"
              }
            }
          },
          "headers": {
            "X-Rate-Limit-Limit": {
              "$ref": "#/components/headers/X-Rate-Limit-Limit"
            },
            "X-Rate-Limit-Remaining": {
              "$ref": "#/components/headers/X-Rate-Limit-Remaining"
            },
            "X-Rate-Limit-Reset": {
              "$ref": "#/components/headers/X-Rate-Limit-Reset"
            }
          }
        },
        "UnauthorizedApiKeyError": {
          "description": "API Key is missing or invalid",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/401Unauthorized"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/401Unauthorized"
              }
            }
          }
        },
        "UnauthorizedError": {
          "description": "Access Token is missing or invalid",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/401Unauthorized"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/401Unauthorized"
              }
            }
          }
        },
        "EmptyUnsupportedMediaTypeError": {
          "description": "\u003Cp\u003EUnsupported Media Type. None of your requested content types is supported.\u003C/p\u003E \u003Cp\u003EUse Accept header:\u003C/p\u003E \u003Cp\u003E\u003Cpre\u003E\u003Cb\u003EAccept:\u003C/b\u003E application/json\u003C/pre\u003E\u003C/p\u003E \u003Cp\u003Eor\u003C/p\u003E \u003Cp\u003E\u003Cpre\u003E\u003Cb\u003EAccept:\u003C/b\u003E application/xml\u003C/pre\u003E\u003C/p\u003E\n"
        },
        "UnsupportedMediaTypeError": {
          "description": "\u003Cp\u003EUnsupported Media Type. None of your requested content types is supported.\u003C/p\u003E \u003Cp\u003EUse Accept header:\u003C/p\u003E \u003Cp\u003E\u003Cpre\u003E\u003Cb\u003EAccept:\u003C/b\u003E application/json\u003C/pre\u003E\u003C/p\u003E \u003Cp\u003Eor\u003C/p\u003E \u003Cp\u003E\u003Cpre\u003E\u003Cb\u003EAccept:\u003C/b\u003E application/xml\u003C/pre\u003E\u003C/p\u003E\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/406NotAcceptable"
              }
            }
          }
        },
        "TooManyRequestsError": {
          "description": "Rate limit exceeded. Too Many Requests",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/429TooManyRequests"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/429TooManyRequests"
              }
            }
          },
          "headers": {
            "X-Rate-Limit-Limit": {
              "$ref": "#/components/headers/X-Rate-Limit-Limit"
            },
            "X-Rate-Limit-Remaining": {
              "$ref": "#/components/headers/X-Rate-Limit-Remaining"
            },
            "X-Rate-Limit-Reset": {
              "$ref": "#/components/headers/X-Rate-Limit-Reset"
            }
          }
        }
      },
      "headers": {
        "Allow-POST-OPTIONS": {
          "description": "The list of allowed HTTP request methods.",
          "schema": {
            "type": "string",
            "example": "POST, OPTIONS"
          }
        },
        "X-Rate-Limit-Limit": {
          "description": "The number of allowed requests in the current period",
          "schema": {
            "type": "integer"
          }
        },
        "X-Rate-Limit-Remaining": {
          "description": "The number of remaining requests in the current period",
          "schema": {
            "type": "integer"
          }
        },
        "X-Rate-Limit-Reset": {
          "description": "The number of seconds left in the current period",
          "schema": {
            "type": "integer"
          }
        }
      },
      "schemas": {
        "400BadRequestNotConvertibleToSmiles": {
          "type": "object",
          "xml": {
            "name": "response"
          },
          "required": [
            "name",
            "message",
            "code",
            "status"
          ],
          "properties": {
            "name": {
              "type": "string",
              "example": "Bad Request"
            },
            "message": {
              "type": "string",
              "example": "Not convertible to SMILES type"
            },
            "code": {
              "type": "integer",
              "example": 0
            },
            "status": {
              "type": "integer",
              "example": 400
            }
          }
        },
        "400BadRequestEmptyList": {
          "type": "object",
          "xml": {
            "name": "response"
          },
          "required": [
            "name",
            "message",
            "code",
            "status"
          ],
          "properties": {
            "name": {
              "type": "string",
              "example": "Bad Request"
            },
            "message": {
              "type": "string",
              "example": "Search Query is empty in POST parameter"
            },
            "code": {
              "type": "integer",
              "example": 0
            },
            "status": {
              "type": "integer",
              "example": 400
            }
          }
        },
        "401Unauthorized": {
          "type": "object",
          "xml": {
            "name": "response"
          },
          "required": [
            "name",
            "message",
            "code",
            "status"
          ],
          "properties": {
            "name": {
              "type": "string",
              "example": "Unauthorized"
            },
            "message": {
              "type": "string",
              "example": "Your request was made with invalid credentials."
            },
            "code": {
              "type": "integer",
              "example": 0
            },
            "status": {
              "type": "integer",
              "example": 401
            }
          }
        },
        "406NotAcceptable": {
          "type": "object",
          "required": [
            "name",
            "message",
            "code",
            "status"
          ],
          "properties": {
            "name": {
              "type": "string",
              "example": "Not Acceptable"
            },
            "message": {
              "type": "string",
              "example": "None of your requested content types is supported."
            },
            "code": {
              "type": "integer",
              "example": 0
            },
            "status": {
              "type": "integer",
              "example": 406
            }
          }
        },
        "429TooManyRequests": {
          "type": "object",
          "xml": {
            "name": "response"
          },
          "required": [
            "name",
            "message",
            "code",
            "status"
          ],
          "properties": {
            "name": {
              "type": "string",
              "example": "Too Many Requests"
            },
            "message": {
              "type": "string",
              "example": "Rate limit exceeded."
            },
            "code": {
              "type": "integer",
              "example": 0
            },
            "status": {
              "type": "integer",
              "example": 429
            }
          }
        },
        "authResult": {
          "type": "object",
          "xml": {
            "name": "response"
          },
          "required": [
            "access_token",
            "expires_in",
            "api_key"
          ],
          "properties": {
            "access_token": {
              "type": "string",
              "example": "rVZEV12feW1axECAqJUu1dy7j8gxyNVqzSZoGY1LdKI8xvVXybBaaa7QLIJzoqfP"
            },
            "expires_in": {
              "type": "integer",
              "example": 31536000
            },
            "api_key": {
              "type": "string",
              "example": "rPrlvSatNiNBjEvBZWtp-Cid7Jyad17HSpsMvFTYdthEqoktLcVmUg-XfdPTS1D1"
            }
          }
        },
        "searchRes": {
          "type": "object",
          "xml": {
            "name": "response"
          },
          "required": [
            "count",
            "all",
            "items"
          ],
          "properties": {
            "count": {
              "type": "integer",
              "example": 1
            },
            "filtered": {
              "type": "integer",
              "example": 1
            },
            "all": {
              "type": "integer",
              "example": 1
            },
            "items": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "csId",
                  "link",
                  "smiles",
                  "molFormula",
                  "cas",
                  "mfcd",
                  "properties",
                  "offerCount",
                  "offers"
                ],
                "properties": {
                  "csId": {
                    "type": "string",
                    "example": "CSCS00000700740"
                  },
                  "link": {
                    "type": "string",
                    "example": "https://chem-space.com/CSCS00000700740"
                  },
                  "smiles": {
                    "type": "string",
                    "nullable": true,
                    "example": "CC(I)C(N)=O"
                  },
                  "molFormula": {
                    "type": "string",
                    "nullable": true,
                    "example": "C3H6INO"
                  },
                  "cas": {
                    "type": "string",
                    "nullable": true,
                    "example": "19221-80-8"
                  },
                  "mfcd": {
                    "type": "string",
                    "nullable": true,
                    "example": "MFCD20414764"
                  },
                  "properties": {
                    "type": "object",
                    "required": [
                      "mw",
                      "hac",
                      "logp",
                      "rotb",
                      "hba",
                      "hbd",
                      "ringCount",
                      "fsp3",
                      "tpsa"
                    ],
                    "properties": {
                      "mw": {
                        "type": "number",
                        "example": 198.991
                      },
                      "hac": {
                        "type": "integer",
                        "example": 6
                      },
                      "logp": {
                        "type": "number",
                        "example": 0.48403678266667
                      },
                      "rotb": {
                        "type": "integer",
                        "example": 1
                      },
                      "hba": {
                        "type": "integer",
                        "example": 1
                      },
                      "hbd": {
                        "type": "integer",
                        "example": 1
                      },
                      "ringCount": {
                        "type": "integer",
                        "example": 0
                      },
                      "fsp3": {
                        "type": "number",
                        "example": 0.66666666666667
                      },
                      "tpsa": {
                        "type": "number",
                        "example": 43.09
                      }
                    }
                  },
                  "offerCount": {
                    "type": "integer",
                    "example": 1
                  },
                  "offers": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/offer"
                    }
                  }
                }
              }
            }
          }
        },
        "offer": {
          "type": "object",
          "required": [
            "vendorName",
            "vendorCode",
            "leadTimeDays",
            "purity",
            "prices"
          ],
          "properties": {
            "vendorName": {
              "type": "string",
              "example": "BLD PHARMATECH LTD"
            },
            "vendorCode": {
              "type": "string",
              "example": "BD00973352"
            },
            "leadTimeDays": {
              "type": "integer",
              "nullable": true,
              "example": 7
            },
            "purity": {
              "type": "integer",
              "example": 95
            },
            "prices": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/price"
              }
            }
          }
        },
        "price": {
          "type": "object",
          "required": [
            "pack",
            "uom",
            "priceUsd",
            "priceEur"
          ],
          "properties": {
            "pack": {
              "type": "integer",
              "example": 50
            },
            "uom": {
              "type": "string",
              "example": "mg"
            },
            "priceUsd": {
              "type": "integer",
              "nullable": true,
              "example": 475
            },
            "priceEur": {
              "type": "integer",
              "nullable": true,
              "example": 406
            }
          }
        }
      },
      "securitySchemes": {
        "API Key": {
          "type": "http",
          "scheme": "bearer",
          "bearerFormat": "JWT"
        },
        "Access Token": {
          "type": "http",
          "scheme": "bearer",
          "bearerFormat": "JWT"
        }
      }
    }
  }