{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.chem-space.com",
      "description": "Test server"
    }
  ],
  "info": {
    "title": "Chemspace",
    "version": "2.6",
    "description": "## About Chemspace API\n\nChemspace API provides access to Chemspace database. The API allows performing a search by identifiers (CAS, MFCD, vendor code, etc.) and structure-related search (exact match, substructure, and similarity). As a result of the search, a user can get information on vendors, pricing, packing, dispatching time for the Chemspace Building Blocks and Screening compounds.\n\n## Get API Key\n\nIn order to use the Chemspace API, you need to get API key first. The API key looks like the following\n\n    c2JGNzCqj771pc9q-VwnuA75XjqQsnwoJMq_F76sH1lHQWT2JQ0UXN8aZmo4g7BP\n\nThe API key is unique. To get your API key, please contact us at **info@chem-space.com**.\n\n## Number of API requests\n\nPlease note that with your API key you can perform a limited number of API requests (**40** per minute). You can find the information regarding the remaining number of the requests in headers.\n\n## Data interchange formats\n\nThe Chemspace API communicates via a JSON or an XML formats. You can use **Accept** header to manage the response format.\n\nFor the JSON-format:\n\n    Accept: application/json\n\nFor the XML-format:\n\n    Accept: application/xml\n\n## API Versions\n\nThe latest version of the Chemspace API is 2.6. We recommend you to use the latest version to have access to all the available functionality at the time. We, however, support previous versions for the compatibility with the legacy code.\n\nThe version of the API has to be provided in the URL right after the address (**https://api.chem-space.com**) in `/v{major_version}/` path component and in Accept header, \n`Accept: application/{format}; version={version}`.\n\nTo use the Chemspace API, version **1.3**, the **endpoint** would be the following\n\n    https://api.chem-space.com/v1/search/cas/93-10-7\n\nAnd the Accept header for the JSON format\n\n    Accept: application/json; version=1.3\n\nFor the XML format\n\n    Accept: application/xml; version=1.3\n\nTo use the Chemspace API, version **2.2**, the **endpoint** would be the following\n\n    https://api.chem-space.com/v2/search/cas/93-10-7\n\nAnd the Accept header for the JSON format\n\n    Accept: application/json; version=2.2\n    \nFor the XML format\n\n    Accept: application/xml; version=2.2\n\nNote. For the Chemspace API where minor version is zero (i.e. 1.0, 2.0), the minor version can be omitted in the Accept header.\n\n## Related Links\n\nSome responses include related links to other API queries. These links are found in the response body in the `_links` element. For example,\n\n    \"_links\": [\n          {\n              \"rel\": \"prices\",\n              \"href\": \"https://api.chem-space.com/v2/cs-id/CSC000210223/prices\",\n              \"method\": \"GET\"\n          },\n          {\n              \"rel\": \"prices (tier 1)\",\n              \"href\": \"https://api.chem-space.com/v2/cs-id/CSC000210223/tier1/prices\",\n              \"method\": \"GET\"\n          }\n      ]\n\nwhere:\n- **rel** - link description;\n- **href** - resource URL;\n- **method** - HTTP-method used (GET, POST, etc.)\n\n## API Authentication\n\nThe Chemspace API uses a two-layer authorization. First layer: user provides the **API Key** in order to obtain an **Access Token**. Second layer: user provides, the received **Access Token** to obtain the data from the endpoint. **Warning! API Key and Access Token must be kept confidential and should not be given to third parties or publicized!**\n\nBoth, the **API Key** and the **Access Token** are encoded 64-symbol strings. Both strings are sent in **Authorization header** as `Authorization: Bearer {value_of_key/token}` during the corresponding endpoint calls.\n\nPlease note that\n\n**API Key** (obtained by sending a request to info@chem-space.com) is used **only** for getting the **Access Token**.\n\n**Access Token** is used to get the data. It can be obtained at **https://api.chem-space.com/auth/token** endpoint.\n\n**Access Token** expires in 4 hours. New **Access Token** can be received at **https://api.chem-space.com/auth/token** endpoint. If **Access Token** has expired, a user receives the response message with status-code *401 Unauthorized* and a value of 1 of the \"**code**\" field in the body of the message.\n\n![401 Unauthorized](img/401.png)\n\nPlease note that the \"**code**\" field can have the different values:\n\n0, \"Your request was made with invalid credentials\"\n\n1, \"Access token has expired\"\n\n2, \"The user is banned\"\n\n3, \"The user is inactive\"\n\n**When using Chemspace API, both the API key and the Access Token are transferred via a secured connection (https) and the authorization runs via HTTP Bearer Tokens.** All the details regarding sending the API Key and the Access Token are given below in Get Access Token section.\n\n# Interactive Documentation\n\nThe following documentation is interactive you can run any query through the Chemspace API on the same page. To do this for each endpoint, please use **\"Try it out\"** button to fill in the necessary query parameters (if any) and then press **\"Execute\"** button.\n\n  ![Try it out](img/btn-try-it-out.png)\n\nPlease remember that you may need to use the **Access Token** for the authentication for some endpoints in the Interactive Documentation, except for *Get Access Token by API Key*.\n\n## Authorization In Interactive Documentation\n\nSome endpoints can be executed without using the **Access Token** or the **API Key** but most requires authorization. For Get Access Token by API Key endpoint, the authorization is performed with the **API Key**, for the other endpoints, with the **Access Token**.\n## Get Access Token\n\nInitially, you need to get a valid **Access Token**. For this, you need to use *Get Access Token by API Key* endpoint (first in the list of the endpoints).\n\n  ![1st line](img/1st_line.png)\n\nIn the open menu item press on the lock icon on the right side.\n\n  ![Access Token lock](img/access_token_lock.png)\n  \nProvide your **API Key** in \"Value\" field of a pop-up window.\n  \n  ![Access Token](img/authorize-api-key.png)\n\nPlease remember, to get the **API Key** please contact us at **info@chem-space.com**.\n\nNext, press **\"Try it out\"** button\n\n  ![Try it out button (auth)](img/try-it-out-auth.png)\n\nAnd **\"Execute\"** button to run the endpoint\n\n  ![Execute button](img/exec-button.png)\n\nThe valid **Access Token** is found in the response body section\n\n  ![Access Token Value](img/access-token-val.png)\n\n## Get Secure Endpoints Data\n\nThe endpoints requiring authorization are marked with a lock icon on the right.\n\n  ![Lock](img/btn-lock.png)\n\nPressing the lock icon opens a pop-up window to enter credentials\n\n  ![Access Token](img/authorize-access-token.png)\n\nYou must provide a valid **Access Token** in the \"Value\" field.\n\nAlso, you can add all the credentials in the \"Authorization\" pop-up window by pressing **Authorize** button.\n\n  \n  ![Authorize all](img/btn-authorize.png)\n  \nAnd then enter your valid credentials\n\n  ![Authorize](img/authorize.png)\n  \n---\n"
  },
  "paths": {
    "/auth/token": {
      "get": {
        "tags": [
          "Get Access Token by API Key"
        ],
        "description": "## Get Access Token by API Key\nTo get a new Access Token you need to perform a bearer token authorization.\nThe Bearer Token is your API Key. You should send Authorization header in the request.\nThe value of the header should be <nobr>***\"Bearer \\<API Key\\>\"***</nobr>.\n\nThe string should look like the following\n######\n    Authorization: Bearer c2JGNzCqj771pc9q-VwnuA75XjqQsnwoJMq_F76sH1lHQWT2JQ0UXN8aZmo4g7BP\n### Example\nGet Access Token by API Key ***c2JGNzCqj771pc9q-VwnuA75XjqQsnwoJMq_F76sH1lHQWT2JQ0UXN8aZmo4g7BP***\n### Example request:\n    curl -X GET \\\n      \"https://api.chem-space.com/auth/token\" \\\n      -H  \"Accept: application/json\" \\\n      -H  \"Authorization: Bearer c2JGNzCqj771pc9q-VwnuA75XjqQsnwoJMq_F76sH1lHQWT2JQ0UXN8aZmo4g7BP\"\n### Example response\n    {\n      \"access_token\": \"rVZEV12feW1axECAqJUu1dy7j8gxyNVqzSZoGY1LdKI8xvVXybBaaa7QLIJzoqfP\",\n      \"expires_in\": 3600,\n      \"api_key\": \"c2JGNzCqj771pc9q-VwnuA75XjqQsnwoJMq_F76sH1lHQWT2JQ0UXN8aZmo4g7BP\"\n    }\n### Properties\n- **access_token** - *string*, Access Token - unique string that is passed with every API call.\n- **expires_in** - *int*, time (in seconds) before the expiration of the Access Token\n- **api_key** - *string*, your current API Key.\n",
        "security": [
          {
            "API Key": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authResult"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/authResult"
                }
              }
            },
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/X-Rate-Limit-Limit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/X-Rate-Limit-Remaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/X-Rate-Limit-Reset"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedApiKeyError"
          },
          "415": {
            "description": "<p>Unsupported Media Type. None of your requested content types is supported.</p> <p>Use Accept header:</p> <p><pre><b>Accept:</b> application/json</pre></p> <p>or</p> <p><pre><b>Accept:</b> application/xml</pre></p>\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/415UnsupportedMediaType"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/429TooManyRequests"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/429TooManyRequests"
                }
              }
            },
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/X-Rate-Limit-Limit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/X-Rate-Limit-Remaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/X-Rate-Limit-Reset"
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/cs-id/{cs-id}/prices": {
      "get": {
        "tags": [
          "Get prices by Chemspace ID"
        ],
        "description": "## Get prices by Chemspace ID\nAt this endpoint you can find information about prices, amounts, and shipping time by a Chemspace ID. Information from all the suppliers is included.\n### Example\nGet prices by Chemspace ID ***CSC000000066***\n### Example request:\n    curl -X GET \\\n      \"https://api.chem-space.com/v2/cs-id/CSC000000066/prices\" \\\n      -H  \"Accept: application/json; version=2.6\" \\\n      -H  \"Authorization: Bearer rVZEV12feW1axECAqJUu1dy7j8gxyNVqzSZoGY1LdKI8xvVXybBaaa7QLIJzoqfP\"\n### Example response\n    {\n      \"count\": 5,\n      \"CS-id\": \"CSC000000066\",\n      \"link\": \"https://chem-space.com/CSC000000066\",\n      \"smiles\": \"COC(=O)C1=CC=C(OC(F)F)C(OC)=C1\",\n      \"iupac_name\": \"methyl 4-(difluoromethoxy)-3-methoxybenzoate\",\n      \"molweight\": 232.183,\n      \"molformula\": \"C10H10F2O4\",\n      \"cas\": \"773874-12-7\",\n      \"mfcd\": \"MFCD04967310\",\n      \"items\": [\n        {\n          \"vendor_name\": \"ArZa Bioscience Ltd\",\n          \"vendor_code\": \"ArZ-AT002529\",\n          \"ships_within\": 5,\n          \"prices\": [\n            {\n              \"pack_g\": 1,\n              \"in_stock\": true,\n              \"price_usd\": null,\n              \"price_eur\": null\n            },\n            {\n              \"pack_g\": 5,\n              \"in_stock\": true,\n              \"price_usd\": null,\n              \"price_eur\": null\n            },\n            {\n              \"pack_g\": 10,\n              \"in_stock\": true,\n              \"price_usd\": null,\n              \"price_eur\": null\n            }\n          ]\n        },\n        {\n          \"vendor_name\": \"Crea-Chim UAB\",\n          \"vendor_code\": \"B016162\",\n          \"ships_within\": 28,\n          \"prices\": [\n            {\n              \"pack_g\": 1,\n              \"in_stock\": false,\n              \"price_usd\": null,\n              \"price_eur\": null\n            },\n            {\n              \"pack_g\": 1,\n              \"in_stock\": false,\n              \"price_usd\": null,\n              \"price_eur\": null\n            },\n            {\n              \"pack_g\": 1,\n              \"in_stock\": false,\n              \"price_usd\": null,\n              \"price_eur\": null\n            },\n            {\n              \"pack_g\": 1,\n              \"in_stock\": false,\n              \"price_usd\": null,\n              \"price_eur\": null\n            },\n            {\n              \"pack_g\": 1,\n              \"in_stock\": false,\n              \"price_usd\": null,\n              \"price_eur\": null\n            },\n            {\n              \"pack_g\": 1,\n              \"in_stock\": false,\n              \"price_usd\": null,\n              \"price_eur\": null\n            },\n            {\n              \"pack_g\": 1,\n              \"in_stock\": false,\n              \"price_usd\": null,\n              \"price_eur\": null\n            },\n            {\n              \"pack_g\": 1,\n              \"in_stock\": false,\n              \"price_usd\": null,\n              \"price_eur\": null\n            }\n          ]\n        },\n        {\n          \"vendor_name\": \"Enamine Ltd\",\n          \"vendor_code\": \"EN300-229012\",\n          \"ships_within\": 7,\n          \"prices\": [\n            {\n              \"pack_g\": 1,\n              \"in_stock\": true,\n              \"price_usd\": 213,\n              \"price_eur\": 202\n            },\n            {\n              \"pack_g\": 2.5,\n              \"in_stock\": true,\n              \"price_usd\": 418,\n              \"price_eur\": 398\n            },\n            {\n              \"pack_g\": 5,\n              \"in_stock\": true,\n              \"price_usd\": 618,\n              \"price_eur\": 589\n            },\n            {\n              \"pack_g\": 10,\n              \"in_stock\": true,\n              \"price_usd\": 916,\n              \"price_eur\": 873\n            }\n          ]\n        },\n        {\n          \"vendor_name\": \"Manchester Organics Limited\",\n          \"vendor_code\": \"U44500\",\n          \"ships_within\": 28,\n          \"prices\": [\n              {\n                \"pack_g\": 1,\n                \"in_stock\": false,\n                \"price_usd\": null,\n                \"price_eur\": null\n              }\n          ]\n        },\n        {\n          \"vendor_name\": \"UORSY\",\n          \"vendor_code\": \"BBV-38119652\",\n          \"ships_within\": 28,\n          \"prices\": [\n            {\n              \"pack_g\": 0.001,\n              \"in_stock\": false,\n              \"price_usd\": 127,\n              \"price_eur\": 121\n            },\n            {\n              \"pack_g\": 0.002,\n              \"in_stock\": false,\n              \"price_usd\": 132,\n              \"price_eur\": 126\n            },\n            {\n              \"pack_g\": 0.005,\n              \"in_stock\": false,\n              \"price_usd\": 138,\n              \"price_eur\": 131\n            },\n            {\n              \"pack_g\": 0.01,\n              \"in_stock\": false,\n              \"price_usd\": 150,\n              \"price_eur\": 143\n            },\n            {\n              \"pack_g\": 0.02,\n              \"in_stock\": false,\n              \"price_usd\": 173,\n              \"price_eur\": 165\n            },\n            {\n              \"pack_g\": 1,\n              \"in_stock\": false,\n              \"price_usd\": 242,\n              \"price_eur\": 230\n            },\n            {\n              \"pack_g\": 2.5,\n              \"in_stock\": false,\n              \"price_usd\": 473,\n              \"price_eur\": 451\n            },\n            {\n              \"pack_g\": 5,\n              \"in_stock\": false,\n              \"price_usd\": 701,\n              \"price_eur\": 668\n            },\n            {\n              \"pack_g\": 10,\n              \"in_stock\": false,\n              \"price_usd\": 1040,\n              \"price_eur\": 990\n            }\n          ]\n        }\n      ],\n      \"_links\": [\n        {\n          \"rel\": \"prices\",\n          \"href\": \"https://api.chem-space.com/v2/cs-id/CSC000000066/prices\",\n          \"method\": \"GET\"\n        },\n        {\n          \"rel\": \"prices (tier 1)\",\n          \"href\": \"https://api.chem-space.com/v2/cs-id/CSC000000066/tier1/prices\",\n          \"method\": \"GET\"\n        }\n      ]\n    }\n### Properties\n- **count** - *int*, number of elements in *items*\n- **CS-id** - *string*, Chemspace ID\n- **link** - *string*, Chemspace URL\n- **smiles** - *string | null*, SMILES of compound\n- **iupac_name** - *string | null*, IUPAC (International Union of Pure and Applied Chemistry) name\n- **molweight** - *double | null*, molecular weight\n- **molformula** - *string | null*, chemical formula\n- **cas** - *string | null*, CAS (Chemical Abstracts Service) number\n- **mfcd** - *string | null*, MFCD number\n- **items** - *array*, found suppliers\n  * **vendor_name** - *string*, supplier's company\n  * **vendor_code** - *string*, supplier's code\n  * **ships_within** - *int*, number of days for shipping\n  * **prices** - *array*, pricing info\n    * **pack_g** - *double*, package weight in grams\n    * **in_stock** - *boolean*, in stock\n    * **price_usd** - *double | null*, price in USD\n    * **price_eur** - *double | null*, price in EUR\n- **_links** - *array*, a list of related links\n  - **rel** - *string*, describes the type of link\n  - **href** - *string*, URL that can be called to retrieve the linked resource or perform the linked action.\n  - **method** - *string*, the HTTP method that should be used when accessing the URL defined in *href*\n",
        "parameters": [
          {
            "name": "cs-id",
            "in": "path",
            "description": "Chemspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Access Token": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json; version=2.6": {
                "schema": {
                  "$ref": "#/components/schemas/CSIdPricesSetList"
                }
              },
              "application/xml; version=2.6": {
                "schema": {
                  "$ref": "#/components/schemas/CSIdPricesSetList"
                }
              }
            },
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/X-Rate-Limit-Limit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/X-Rate-Limit-Remaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/X-Rate-Limit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestCSIdPricesError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "options": {
        "tags": [
          "Get prices by Chemspace ID"
        ],
        "description": "## Get prices by Chemspace ID\nThis endpoint allows to determine the options associated with a resource, the capabilities of a server, without implying a resource action or initiating a resource retrieval.\n",
        "parameters": [
          {
            "name": "cs-id",
            "in": "path",
            "description": "Chemspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json; version=2.6": [

              ],
              "application/xml; version=2.6": [

              ]
            },
            "headers": {
              "Allow": {
                "$ref": "#/components/headers/Allow-GET-OPTIONS"
              }
            }
          },
          "415": {
            "$ref": "#/components/responses/EmptyUnsupportedMediaTypeError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/cs-id/{cs-id}/tier1/prices": {
      "get": {
        "tags": [
          "Get prices (tier 1) by Chemspace ID"
        ],
        "description": "## Get prices (tier 1) by Chemspace ID\nAt this endpoint you can find information about prices, amounts, and shipping time by a Chemspace ID. The information is available for the Tier 1 suppliers\n([\"Abamachem Ltd\"](https://chem-space.com/supplier/5),\n[\"BCH Research LLP\"](https://chem-space.com/supplier/bch-research),\n[\"Curpys Chemicals\"](https://chem-space.com/supplier/183),\n[\"Enamine Ltd\"](https://chem-space.com/supplier/11),\n[\"FCH Group\"](https://chem-space.com/supplier/fch-group),\n[\"Intermed Ltd\"](https://chem-space.com/supplier/8),\n[\"Selena Chem Ltd\"](https://chem-space.com/supplier/9),\n[\"UORSY\"](https://chem-space.com/supplier/10))\nonly.\n### Example\nGet prices (tier 1) by Chemspace ID ***CSC000000066***\n### Example request:\n    curl -X GET \\\n      \"https://api.chem-space.com/v2/cs-id/CSC000000066/tier1/prices\" \\\n      -H  \"Accept: application/json; version=2.6\" \\\n      -H  \"Authorization: Bearer rVZEV12feW1axECAqJUu1dy7j8gxyNVqzSZoGY1LdKI8xvVXybBaaa7QLIJzoqfP\"\n### Example response\n    {\n      \"count\": 2,\n      \"CS-id\": \"CSC000000066\",\n      \"link\": \"https://chem-space.com/CSC000000066\",\n      \"smiles\": \"COC(=O)C1=CC=C(OC(F)F)C(OC)=C1\",\n      \"iupac_name\": \"methyl 4-(difluoromethoxy)-3-methoxybenzoate\",\n      \"molweight\": 232.183,\n      \"molformula\": \"C10H10F2O4\",\n      \"cas\": \"773874-12-7\",\n      \"mfcd\": \"MFCD04967310\",\n      \"items\": [\n        {\n          \"vendor_name\": \"Enamine Ltd\",\n          \"vendor_code\": \"EN300-229012\",\n          \"ships_within\": 28,\n          \"prices\": [\n            {\n              \"pack_g\": 0.1,\n              \"in_stock\": false,\n              \"price_usd\": 187,\n              \"price_eur\": 178\n            },\n            {\n              \"pack_g\": 0.25,\n              \"in_stock\": false,\n              \"price_usd\": 200,\n              \"price_eur\": 190\n            },\n            {\n              \"pack_g\": 0.5,\n              \"in_stock\": false,\n              \"price_usd\": 205,\n              \"price_eur\": 195\n            },\n            {\n              \"pack_g\": 1,\n              \"in_stock\": false,\n              \"price_usd\": 213,\n              \"price_eur\": 202\n            },\n            {\n              \"pack_g\": 2.5,\n              \"in_stock\": false,\n              \"price_usd\": 418,\n              \"price_eur\": 398\n            },\n            {\n              \"pack_g\": 5,\n              \"in_stock\": false,\n              \"price_usd\": 618,\n              \"price_eur\": 589\n            },\n            {\n              \"pack_g\": 10,\n              \"in_stock\": false,\n              \"price_usd\": 916,\n              \"price_eur\": 873\n            }\n          ]\n        },\n        {\n          \"vendor_name\": \"UORSY\",\n          \"vendor_code\": \"BBV-38119652\",\n          \"ships_within\": 30,\n          \"prices\": [\n            {\n              \"pack_g\": 0.001,\n              \"in_stock\": false,\n              \"price_usd\": 110,\n              \"price_eur\": 105\n            },\n            {\n              \"pack_g\": 0.002,\n              \"in_stock\": false,\n              \"price_usd\": 115,\n              \"price_eur\": 110\n            },\n            {\n              \"pack_g\": 0.005,\n              \"in_stock\": false,\n              \"price_usd\": 120,\n              \"price_eur\": 114\n            },\n            {\n              \"pack_g\": 0.01,\n              \"in_stock\": false,\n              \"price_usd\": 130,\n              \"price_eur\": 124\n            },\n            {\n              \"pack_g\": 0.02,\n              \"in_stock\": false,\n              \"price_usd\": 150,\n              \"price_eur\": 143\n            }\n          ]\n        }\n      ],\n      \"_links\": [\n        {\n          \"rel\": \"prices\",\n          \"href\": \"https://api.chem-space.com/v2/cs-id/CSC000000066/prices\",\n          \"method\": \"GET\"\n        },\n        {\n          \"rel\": \"prices (tier 1)\",\n          \"href\": \"https://api.chem-space.com/v2/cs-id/CSC000000066/tier1/prices\",\n          \"method\": \"GET\"\n        }\n      ]\n    }\n### Properties\n  - **count** - *int*, number of elements in *items*\n  - **CS-id** - *string*, Chemspace ID\n  - **link** - *string*, Chemspace URL\n  - **smiles** - *string | null*, SMILES of compound\n  - **iupac_name** - *string | null*, IUPAC (International Union of Pure and Applied Chemistry) name\n  - **molweight** - *double | null*, molecular weight\n  - **molformula** - *string | null*, chemical formula\n  - **cas** - *string | null*, CAS (Chemical Abstracts Service) number\n  - **mfcd** - *string | null*, MFCD number\n  - **items** - *array*, found suppliers\n    * **vendor_name** - *string*, supplier's company\n    * **vendor_code** - *string*, supplier's code\n    * **ships_within** - *int*, number of days for shipping\n    * **prices** - *array*, pricing info\n      * **pack_g** - *double*, package weight in grams\n      * **in_stock** - *boolean*, in stock\n      * **price_usd** - *double*, price in USD\n      * **price_eur** - *double | null*, price in EUR\n  - **_links** - *array*, a list of related links\n    - **rel** - *string*, describes the type of link\n    - **href** - *string*, URL that can be called to retrieve the linked resource or perform the linked action.\n    - **method** - *string*, the HTTP method that should be used when accessing the URL defined in *href*\n",
        "parameters": [
          {
            "name": "cs-id",
            "in": "path",
            "description": "Chemspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Access Token": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json; version=2.6": {
                "schema": {
                  "$ref": "#/components/schemas/CSIdPricesTier1SetList"
                }
              },
              "application/xml; version=2.6": {
                "schema": {
                  "$ref": "#/components/schemas/CSIdPricesTier1SetList"
                }
              }
            },
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/X-Rate-Limit-Limit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/X-Rate-Limit-Remaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/X-Rate-Limit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestCSIdPricesError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "options": {
        "tags": [
          "Get prices (tier 1) by Chemspace ID"
        ],
        "description": "## Get prices (tier 1) by Chemspace ID.\nThis endpoint allows to determine the options associated with a resource, the capabilities of a server, without implying a resource action or initiating a resource retrieval.\n",
        "parameters": [
          {
            "name": "cs-id",
            "in": "path",
            "description": "Chemspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json; version=2.6": [

              ],
              "application/xml; version=2.6": [

              ]
            },
            "headers": {
              "Allow": {
                "$ref": "#/components/headers/Allow-GET-OPTIONS"
              }
            }
          },
          "415": {
            "$ref": "#/components/responses/EmptyUnsupportedMediaTypeError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/list/cs-id/prices": {
      "post": {
        "tags": [
          "Get prices by Chemspace ID list"
        ],
        "description": "## Get prices by Chemspace ID list\nAt this endpoint you can find information about prices, amounts, and shipping time by a Chemspace ID list. Information from all the suppliers is included.\n### Example\nGet prices by Chemspace IDs:\n- ***CSC000694108***\n- ***61***\n- ***CSC000694109***\n- ***123***\n- ***CSC000000056***\n- ***CSC000001818***\n- ***65***\n- ***CSC123456789***\n### Example request:\n    curl -X POST \\\n      \"https://api.chem-space.com/v2/list/cs-id/prices?skip=3&count=2\" \\\n      -H  \"Accept: application/json; version=2.6\" \\\n      -H  \"Authorization: Bearer rVZEV12feW1axECAqJUu1dy7j8gxyNVqzSZoGY1LdKI8xvVXybBaaa7QLIJzoqfP\" \\\n      -H  \"Content-Type: multipart/form-data\" \\\n      -F  \"text=CSC000694108,61,CSC000694109,123,CSC000000056,CSC000001818,65,CSC123456789\"\n### Example response\n    {\n      \"count\": 2,\n      \"items\": [\n        {\n          \"count\": 2,\n          \"CS-id\": \"CSC000000123\",\n          \"link\": \"https://chem-space.com/CSC000000123\",\n          \"smiles\": \"COC(=O)CC1OC(=O)C2=CC=CC=C12\",\n          \"iupac_name\": \"methyl 2-(3-oxo-1,3-dihydro-2-benzofuran-1-yl)acetate\",\n          \"molweight\": 206.197,\n          \"molformula\": \"C11H10O4\",\n          \"cas\": \"3453-60-9\",\n          \"mfcd\": \"MFCD00448672\",\n          \"items\": [\n            {\n              \"vendor_name\": \"FCH Group\",\n              \"vendor_code\": \"FCH1670022\",\n              \"ships_within\": 28,\n              \"prices\": [\n                {\n                  \"pack_g\": 1,\n                  \"in_stock\": false,\n                  \"price_usd\": 971,\n                  \"price_eur\": 925\n                },\n                {\n                  \"pack_g\": 2.5,\n                  \"in_stock\": false,\n                  \"price_usd\": 2013,\n                  \"price_eur\": 1917\n                },\n                {\n                  \"pack_g\": 5,\n                  \"in_stock\": false,\n                  \"price_usd\": 2550,\n                  \"price_eur\": 2429\n                },\n                {\n                  \"pack_g\": 10,\n                  \"in_stock\": false,\n                  \"price_usd\": 3207,\n                  \"price_eur\": 3054\n                }\n              ]\n            },\n            {\n              \"vendor_name\": \"Vitas-M Laboratory\",\n              \"vendor_code\": \"STK370163\",\n              \"ships_within\": 14,\n              \"prices\": [\n                {\n                  \"pack_g\": 0.001,\n                  \"in_stock\": true,\n                  \"price_usd\": 34,\n                  \"price_eur\": 30\n                },\n                {\n                  \"pack_g\": 0.002,\n                  \"in_stock\": true,\n                  \"price_usd\": 36,\n                  \"price_eur\": 32\n                },\n                {\n                  \"pack_g\": 0.005,\n                  \"in_stock\": true,\n                  \"price_usd\": 54,\n                  \"price_eur\": 47\n                },\n                {\n                  \"pack_g\": 0.01,\n                  \"in_stock\": false,\n                  \"price_usd\": 69,\n                  \"price_eur\": 59\n                },\n                {\n                  \"pack_g\": 0.02,\n                  \"in_stock\": false,\n                  \"price_usd\": 96,\n                  \"price_eur\": 84\n                }\n              ]\n            }\n          ]\n        },\n        {\n          \"count\": 4,\n          \"CS-id\": \"CSC000001818\",\n          \"link\": \"https://chem-space.com/CSC000001818\",\n          \"smiles\": \"O=C(CCC1CCCCC1)NC1=NC=CS1\",\n          \"iupac_name\": \"3-cyclohexyl-N-(1,3-thiazol-2-yl)propanamide\",\n          \"molweight\": 238.35,\n          \"molformula\": \"C12H18N2OS\",\n          \"cas\": \"333433-81-1\",\n          \"mfcd\": \"MFCD01897595\",\n          \"items\": [\n            {\n              \"vendor_name\": \"BCH Research LLP\",\n              \"vendor_code\": \"BD28661449\",\n              \"ships_within\": 30,\n              \"prices\": [\n                {\n                  \"pack_g\": 0.001,\n                  \"in_stock\": false,\n                  \"price_usd\": 127,\n                  \"price_eur\": 121\n                },\n                {\n                  \"pack_g\": 0.002,\n                  \"in_stock\": false,\n                  \"price_usd\": 132,\n                  \"price_eur\": 126\n                },\n                {\n                  \"pack_g\": 0.005,\n                  \"in_stock\": false,\n                  \"price_usd\": 138,\n                  \"price_eur\": 131\n                },\n                {\n                  \"pack_g\": 0.01,\n                  \"in_stock\": false,\n                  \"price_usd\": 150,\n                  \"price_eur\": 143\n                },\n                {\n                  \"pack_g\": 0.02,\n                  \"in_stock\": false,\n                  \"price_usd\": 173,\n                  \"price_eur\": 165\n                }\n              ]\n            },\n            {\n              \"vendor_name\": \"Enamine Ltd\",\n              \"vendor_code\": \"Z28173928\",\n              \"ships_within\": 7,\n              \"prices\": [\n                {\n                  \"pack_g\": 0.001,\n                  \"in_stock\": true,\n                  \"price_usd\": 82,\n                  \"price_eur\": 78\n                },\n                {\n                  \"pack_g\": 0.002,\n                  \"in_stock\": true,\n                  \"price_usd\": 84,\n                  \"price_eur\": 80\n                },\n                {\n                  \"pack_g\": 0.005,\n                  \"in_stock\": true,\n                  \"price_usd\": 89,\n                  \"price_eur\": 85\n                },\n                {\n                  \"pack_g\": 0.01,\n                  \"in_stock\": true,\n                  \"price_usd\": 116,\n                  \"price_eur\": 110\n                },\n                {\n                  \"pack_g\": 0.02,\n                  \"in_stock\": true,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                }\n              ]\n            },\n            {\n              \"vendor_name\": \"FCH Group\",\n              \"vendor_code\": \"FCH3040029\",\n              \"ships_within\": 28,\n              \"prices\": [\n                {\n                  \"pack_g\": 1,\n                  \"in_stock\": false,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                }\n              ]\n            },\n            {\n              \"vendor_name\": \"Musechem\",\n              \"vendor_code\": \"M288649\",\n              \"ships_within\": 28,\n              \"prices\": [\n                {\n                  \"pack_g\": 1,\n                  \"in_stock\": false,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                },\n                {\n                  \"pack_g\": 2.5,\n                  \"in_stock\": false,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                },\n                {\n                  \"pack_g\": 5,\n                  \"in_stock\": false,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                },\n                {\n                  \"pack_g\": 10,\n                  \"in_stock\": false,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                }\n              ]\n            }\n          ]\n        }\n      ],\n      \"all\": 8\n    }\n### Properties\n  - **count** - *int*, number of elements in *items*\n  - **items** - *array*, found compounds\n    - **count** - *int*, number of elements in *items*\n    - **CS-id** - *string*, Chemspace ID\n    - **link** - *string*, Chemspace URL\n    - **smiles** - *string | null*, SMILES of compound\n    - **iupac_name** - *string | null*, IUPAC (International Union of Pure and Applied Chemistry) name\n    - **molweight** - *double | null*, molecular weight\n    - **molformula** - *string | null*, chemical formula\n    - **cas** - *string | null*, CAS (Chemical Abstracts Service) number\n    - **mfcd** - *string | null*, MFCD number\n    - **items** - *array*, found suppliers\n      * **vendor_name** - *string*, supplier's company\n      * **vendor_code** - *string*, supplier's code\n      * **ships_within** - *int*, number of days for shipping\n      * **prices** - *array*, pricing info\n        * **pack_g** - *double*, package weight in grams\n        * **in_stock** - *boolean*, in stock\n        * **price_usd** - *double | null*, price in USD\n        * **price_eur** - *double | null*, price in EUR\n  - **all** - *int*, number of all found Chemspace IDs from list\n",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "maximum number of results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "skip first n items from the result",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "Access Token": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "example": "CSC000694108,61,CSC000694109,123,CSC000000056,CSC000001818,65,CSC123456789"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json; version=2.6": {
                "schema": {
                  "$ref": "#/components/schemas/CSIdPriceListRes"
                }
              },
              "application/xml; version=2.6": {
                "schema": {
                  "$ref": "#/components/schemas/CSIdPriceListRes"
                }
              }
            },
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/X-Rate-Limit-Limit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/X-Rate-Limit-Remaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/X-Rate-Limit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestEmptyCsIdListError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "options": {
        "tags": [
          "Get prices by Chemspace ID list"
        ],
        "description": "## Get prices by Chemspace ID list\nThis endpoint allows to determine the options associated with a resource, the capabilities of a server, without implying a resource action or initiating a resource retrieval.\n",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json; version=2.6": [

              ],
              "application/xml; version=2.6": [

              ]
            },
            "headers": {
              "Allow": {
                "$ref": "#/components/headers/Allow-POST-OPTIONS"
              }
            }
          },
          "415": {
            "$ref": "#/components/responses/EmptyUnsupportedMediaTypeError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/list/cs-id/tier1/prices": {
      "post": {
        "tags": [
          "Get prices (tier 1) by Chemspace ID list"
        ],
        "description": "## Get prices (tier 1) by Chemspace ID list\nAt this endpoint you can find information about prices, amounts, and shipping time by a Chemspace ID list. The information is available for the Tier 1 suppliers\n([\"Abamachem Ltd\"](https://chem-space.com/supplier/5),\n[\"BCH Research LLP\"](https://chem-space.com/supplier/bch-research),\n[\"Curpys Chemicals\"](https://chem-space.com/supplier/183),\n[\"Enamine Ltd\"](https://chem-space.com/supplier/11),\n[\"FCH Group\"](https://chem-space.com/supplier/fch-group),\n[\"Intermed Ltd\"](https://chem-space.com/supplier/8),\n[\"Selena Chem Ltd\"](https://chem-space.com/supplier/9),\n[\"UORSY\"](https://chem-space.com/supplier/10))\nonly.\n### Example\nGet prices by Chemspace IDs:\n- ***CSC000694108***\n- ***61***\n- ***CSC000694109***\n- ***123***\n- ***CSC000000056***\n- ***CSC000001818***\n- ***65***\n- ***CSC123456789***\n### Example request:\n    curl -X POST \\\n      \"https://api.chem-space.com/v2/list/cs-id/tier1/prices?skip=3&count=2\" \\\n      -H  \"Accept: application/json; version=2.6\" \\\n      -H  \"Authorization: Bearer rVZEV12feW1axECAqJUu1dy7j8gxyNVqzSZoGY1LdKI8xvVXybBaaa7QLIJzoqfP\" \\\n      -H  \"Content-Type: multipart/form-data\" \\\n      -F  \"text=CSC000694108,61,CSC000694109,123,CSC000000056,CSC000001818,65,CSC123456789\"\n### Example response\n    {\n      \"count\": 2,\n      \"items\": [\n        {\n          \"count\": 1,\n          \"CS-id\": \"CSC000000123\",\n          \"link\": \"https://chem-space.com/CSC000000123\",\n          \"smiles\": \"COC(=O)CC1OC(=O)C2=CC=CC=C12\",\n          \"iupac_name\": \"methyl 2-(3-oxo-1,3-dihydro-2-benzofuran-1-yl)acetate\",\n          \"molweight\": 206.197,\n          \"molformula\": \"C11H10O4\",\n          \"cas\": \"3453-60-9\",\n          \"mfcd\": \"MFCD00448672\",\n          \"items\": [\n            {\n              \"vendor_name\": \"FCH Group\",\n              \"vendor_code\": \"FCH1670022\",\n              \"ships_within\": 28,\n              \"prices\": [\n                {\n                  \"pack_g\": 1,\n                  \"in_stock\": false,\n                  \"price_usd\": 971,\n                  \"price_eur\": 925\n                },\n                {\n                  \"pack_g\": 2.5,\n                  \"in_stock\": false,\n                  \"price_usd\": 2013,\n                  \"price_eur\": 1917\n                },\n                {\n                  \"pack_g\": 5,\n                  \"in_stock\": false,\n                  \"price_usd\": 2550,\n                  \"price_eur\": 2429\n                },\n                {\n                  \"pack_g\": 10,\n                  \"in_stock\": false,\n                  \"price_usd\": 3207,\n                  \"price_eur\": 3054\n                }\n              ]\n            },\n          ]\n        },\n        {\n          \"count\": 2,\n          \"CS-id\": \"CSC000001818\",\n          \"link\": \"https://chem-space.com/CSC000001818\",\n          \"smiles\": \"O=C(CCC1CCCCC1)NC1=NC=CS1\",\n          \"iupac_name\": \"3-cyclohexyl-N-(1,3-thiazol-2-yl)propanamide\",\n          \"molweight\": 238.35,\n          \"molformula\": \"C12H18N2OS\",\n          \"cas\": \"333433-81-1\",\n          \"mfcd\": \"MFCD01897595\",\n          \"items\": [\n            {\n              \"vendor_name\": \"BCH Research LLP\",\n              \"vendor_code\": \"BD28661449\",\n              \"ships_within\": 30,\n              \"prices\": [\n                {\n                  \"pack_g\": 0.001,\n                  \"in_stock\": false,\n                  \"price_usd\": 127,\n                  \"price_eur\": 121\n                },\n                {\n                  \"pack_g\": 0.002,\n                  \"in_stock\": false,\n                  \"price_usd\": 132,\n                  \"price_eur\": 126\n                },\n                {\n                  \"pack_g\": 0.005,\n                  \"in_stock\": false,\n                  \"price_usd\": 138,\n                  \"price_eur\": 131\n                },\n                {\n                  \"pack_g\": 0.01,\n                  \"in_stock\": false,\n                  \"price_usd\": 150,\n                  \"price_eur\": 143\n                },\n                {\n                  \"pack_g\": 0.02,\n                  \"in_stock\": false,\n                  \"price_usd\": 173,\n                  \"price_eur\": 165\n                }\n              ]\n            },\n            {\n              \"vendor_name\": \"Enamine Ltd\",\n              \"vendor_code\": \"Z28173928\",\n              \"ships_within\": 7,\n              \"prices\": [\n                {\n                  \"pack_g\": 0.001,\n                  \"in_stock\": true,\n                  \"price_usd\": 82,\n                  \"price_eur\": 78\n                },\n                {\n                  \"pack_g\": 0.002,\n                  \"in_stock\": true,\n                  \"price_usd\": 84,\n                  \"price_eur\": 80\n                },\n                {\n                  \"pack_g\": 0.005,\n                  \"in_stock\": true,\n                  \"price_usd\": 89,\n                  \"price_eur\": 85\n                },\n                {\n                  \"pack_g\": 0.01,\n                  \"in_stock\": true,\n                  \"price_usd\": 116,\n                  \"price_eur\": 110\n                }\n              ]\n            },\n          ]\n        }\n      ],\n      \"all\": 8\n    }\n### Properties\n  - **count** - *int*, number of elements in *items*\n  - **items** - *array*, found compounds\n    - **count** - *int*, number of elements in *items*\n    - **CS-id** - *string*, Chemspace ID\n    - **link** - *string*, Chemspace URL\n    - **smiles** - *string | null*, SMILES of compound\n    - **iupac_name** - *string | null*, IUPAC (International Union of Pure and Applied Chemistry) name\n    - **molweight** - *double | null*, molecular weight\n    - **molformula** - *string | null*, chemical formula\n    - **cas** - *string | null*, CAS (Chemical Abstracts Service) number\n    - **mfcd** - *string | null*, MFCD number\n    - **items** - *array*, found suppliers\n      * **vendor_name** - *string*, supplier's company\n      * **vendor_code** - *string*, supplier's code\n      * **ships_within** - *int*, number of days for shipping\n      * **prices** - *array*, pricing info\n        * **pack_g** - *double*, package weight in grams\n        * **in_stock** - *boolean*, in stock\n        * **price_usd** - *double | null*, price in USD\n        * **price_eur** - *double | null*, price in EUR\n  - **all** - *int*, number of all found Chemspace IDs from list\n",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "maximum number of results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "skip first n items from the result",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "Access Token": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "example": "CSC000694108,61,CSC000694109,123,CSC000000056,CSC000001818,65,CSC123456789"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json; version=2.6": {
                "schema": {
                  "$ref": "#/components/schemas/CSIdPriceListRes"
                }
              },
              "application/xml; version=2.6": {
                "schema": {
                  "$ref": "#/components/schemas/CSIdPriceListRes"
                }
              }
            },
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/X-Rate-Limit-Limit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/X-Rate-Limit-Remaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/X-Rate-Limit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestEmptyCsIdListError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "options": {
        "tags": [
          "Get prices (tier 1) by Chemspace ID list"
        ],
        "description": "## Get prices (tier 1) by Chemspace ID list\nThis endpoint allows to determine the options associated with a resource, the capabilities of a server, without implying a resource action or initiating a resource retrieval.\n",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json; version=2.6": [

              ],
              "application/xml; version=2.6": [

              ]
            },
            "headers": {
              "Allow": {
                "$ref": "#/components/headers/Allow-POST-OPTIONS"
              }
            }
          },
          "415": {
            "$ref": "#/components/responses/EmptyUnsupportedMediaTypeError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/list/cas/prices": {
      "post": {
        "tags": [
          "Get prices by CAS list"
        ],
        "description": "## Get prices by CAS list\nAt this endpoint you can find information about prices, amounts, and shipping time by a CAS list. Information from all the suppliers is included.\n### Example\nGet prices by CAS list:\n- ***61540-35-0***\n- ***3453-60-9***\n- ***333433-81-1***\n### Example request:\n    curl -X POST \\\n      \"https://api.chem-space.com/v2/list/cas/prices?skip=1&count=2\" \\\n      -H  \"Accept: application/json; version=2.6\" \\\n      -H  \"Authorization: Bearer rVZEV12feW1axECAqJUu1dy7j8gxyNVqzSZoGY1LdKI8xvVXybBaaa7QLIJzoqfP\" \\\n      -H  \"Content-Type: multipart/form-data\" \\\n      -F  \"text=61540-35-0, 453-60-9, 333433-81-1\"\n### Example response\n    {\n      \"count\": 2,\n      \"items\": [\n        {\n          \"count\": 2,\n          \"CS-id\": \"CSC000000123\",\n          \"link\": \"https://chem-space.com/CSC000000123\",\n          \"smiles\": \"COC(=O)CC1OC(=O)C2=CC=CC=C12\",\n          \"iupac_name\": \"methyl 2-(3-oxo-1,3-dihydro-2-benzofuran-1-yl)acetate\",\n          \"molweight\": 206.197,\n          \"molformula\": \"C11H10O4\",\n          \"cas\": \"3453-60-9\",\n          \"mfcd\": \"MFCD00448672\",\n          \"items\": [\n            {\n              \"vendor_name\": \"FCH Group\",\n              \"vendor_code\": \"FCH1670022\",\n              \"ships_within\": 28,\n              \"prices\": [\n                {\n                  \"pack_g\": 1,\n                  \"in_stock\": false,\n                  \"price_usd\": 971,\n                  \"price_eur\": 925\n                },\n                {\n                  \"pack_g\": 2.5,\n                  \"in_stock\": false,\n                  \"price_usd\": 2013,\n                  \"price_eur\": 1917\n                },\n                {\n                  \"pack_g\": 5,\n                  \"in_stock\": false,\n                  \"price_usd\": 2550,\n                  \"price_eur\": 2429\n                },\n                {\n                  \"pack_g\": 10,\n                  \"in_stock\": false,\n                  \"price_usd\": 3207,\n                  \"price_eur\": 3054\n                }\n              ]\n            },\n            {\n              \"vendor_name\": \"Vitas-M Laboratory\",\n              \"vendor_code\": \"STK370163\",\n              \"ships_within\": 14,\n              \"prices\": [\n                {\n                  \"pack_g\": 0.001,\n                  \"in_stock\": true,\n                  \"price_usd\": 34,\n                  \"price_eur\": 30\n                },\n                {\n                  \"pack_g\": 0.002,\n                  \"in_stock\": true,\n                  \"price_usd\": 36,\n                  \"price_eur\": 32\n                },\n                {\n                  \"pack_g\": 0.005,\n                  \"in_stock\": true,\n                  \"price_usd\": 54,\n                  \"price_eur\": 47\n                },\n                {\n                  \"pack_g\": 0.01,\n                  \"in_stock\": false,\n                  \"price_usd\": 69,\n                  \"price_eur\": 59\n                },\n                {\n                  \"pack_g\": 0.02,\n                  \"in_stock\": false,\n                  \"price_usd\": 96,\n                  \"price_eur\": 84\n                }\n              ]\n            }\n          ]\n        },\n        {\n          \"count\": 4,\n          \"CS-id\": \"CSC000001818\",\n          \"link\": \"https://chem-space.com/CSC000001818\",\n          \"smiles\": \"O=C(CCC1CCCCC1)NC1=NC=CS1\",\n          \"iupac_name\": \"3-cyclohexyl-N-(1,3-thiazol-2-yl)propanamide\",\n          \"molweight\": 238.35,\n          \"molformula\": \"C12H18N2OS\",\n          \"cas\": \"333433-81-1\",\n          \"mfcd\": \"MFCD01897595\",\n          \"items\": [\n            {\n              \"vendor_name\": \"BCH Research LLP\",\n              \"vendor_code\": \"BD28661449\",\n              \"ships_within\": 30,\n              \"prices\": [\n                {\n                  \"pack_g\": 0.001,\n                  \"in_stock\": false,\n                  \"price_usd\": 127,\n                  \"price_eur\": 121\n                },\n                {\n                  \"pack_g\": 0.002,\n                  \"in_stock\": false,\n                  \"price_usd\": 132,\n                  \"price_eur\": 126\n                },\n                {\n                  \"pack_g\": 0.005,\n                  \"in_stock\": false,\n                  \"price_usd\": 138,\n                  \"price_eur\": 131\n                },\n                {\n                  \"pack_g\": 0.01,\n                  \"in_stock\": false,\n                  \"price_usd\": 150,\n                  \"price_eur\": 143\n                },\n                {\n                  \"pack_g\": 0.02,\n                  \"in_stock\": false,\n                  \"price_usd\": 173,\n                  \"price_eur\": 165\n                }\n              ]\n            },\n            {\n              \"vendor_name\": \"Enamine Ltd\",\n              \"vendor_code\": \"Z28173928\",\n              \"ships_within\": 7,\n              \"prices\": [\n                {\n                  \"pack_g\": 0.001,\n                  \"in_stock\": true,\n                  \"price_usd\": 82,\n                  \"price_eur\": 78\n                },\n                {\n                  \"pack_g\": 0.002,\n                  \"in_stock\": true,\n                  \"price_usd\": 84,\n                  \"price_eur\": 80\n                },\n                {\n                  \"pack_g\": 0.005,\n                  \"in_stock\": true,\n                  \"price_usd\": 89,\n                  \"price_eur\": 85\n                },\n                {\n                  \"pack_g\": 0.01,\n                  \"in_stock\": true,\n                  \"price_usd\": 116,\n                  \"price_eur\": 110\n                },\n                {\n                  \"pack_g\": 0.02,\n                  \"in_stock\": true,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                }\n              ]\n            },\n            {\n              \"vendor_name\": \"FCH Group\",\n              \"vendor_code\": \"FCH3040029\",\n              \"ships_within\": 28,\n              \"prices\": [\n                {\n                  \"pack_g\": 1,\n                  \"in_stock\": false,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                }\n              ]\n            },\n            {\n              \"vendor_name\": \"Musechem\",\n              \"vendor_code\": \"M288649\",\n              \"ships_within\": 28,\n              \"prices\": [\n                {\n                  \"pack_g\": 1,\n                  \"in_stock\": false,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                },\n                {\n                  \"pack_g\": 2.5,\n                  \"in_stock\": false,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                },\n                {\n                  \"pack_g\": 5,\n                  \"in_stock\": false,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                },\n                {\n                  \"pack_g\": 10,\n                  \"in_stock\": false,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                }\n              ]\n            }\n          ]\n        }\n      ],\n      \"all\": 3\n    }\n### Properties\n  - **count** - *int*, number of elements in *items*\n  - **items** - *array*, found compounds\n    - **count** - *int*, number of elements in *items*\n    - **CS-id** - *string*, Chemspace ID\n    - **link** - *string*, Chemspace URL\n    - **smiles** - *string | null*, SMILES of compound\n    - **iupac_name** - *string | null*, IUPAC (International Union of Pure and Applied Chemistry) name\n    - **molweight** - *double | null*, molecular weight\n    - **molformula** - *string | null*, chemical formula\n    - **cas** - *string | null*, CAS (Chemical Abstracts Service) number\n    - **mfcd** - *string | null*, MFCD number\n    - **items** - *array*, found suppliers\n      * **vendor_name** - *string*, supplier's company\n      * **vendor_code** - *string*, supplier's code\n      * **ships_within** - *int*, number of days for shipping\n      * **prices** - *array*, pricing info\n        * **pack_g** - *double*, package weight in grams\n        * **in_stock** - *boolean*, in stock\n        * **price_usd** - *double | null*, price in USD\n        * **price_eur** - *double | null*, price in EUR\n  - **all** - *int*, number of all found Chemspace IDs from list\n",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "maximum number of results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "skip first n items from the result",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "Access Token": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "example": "61540-35-0, 453-60-9, 333433-81-1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json; version=2.6": {
                "schema": {
                  "$ref": "#/components/schemas/CSIdPriceListRes"
                }
              },
              "application/xml; version=2.6": {
                "schema": {
                  "$ref": "#/components/schemas/CSIdPriceListRes"
                }
              }
            },
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/X-Rate-Limit-Limit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/X-Rate-Limit-Remaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/X-Rate-Limit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestEmptyCasListError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "options": {
        "tags": [
          "Get prices by CAS list"
        ],
        "description": "## Get prices by CAS list\nThis endpoint allows to determine the options associated with a resource, the capabilities of a server, without implying a resource action or initiating a resource retrieval.\n",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json; version=2.6": [

              ],
              "application/xml; version=2.6": [

              ]
            },
            "headers": {
              "Allow": {
                "$ref": "#/components/headers/Allow-POST-OPTIONS"
              }
            }
          },
          "415": {
            "$ref": "#/components/responses/EmptyUnsupportedMediaTypeError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/list/cas/tier1/prices": {
      "post": {
        "tags": [
          "Get prices (tier 1) by CAS list"
        ],
        "description": "## Get prices (tier 1) by CAS list\nAt this endpoint you can find information about prices, amounts, and shipping time by a CAS list. The information is available for the Tier 1 suppliers\n([\"Abamachem Ltd\"](https://chem-space.com/supplier/5),\n[\"BCH Research LLP\"](https://chem-space.com/supplier/bch-research),\n[\"Curpys Chemicals\"](https://chem-space.com/supplier/183),\n[\"Enamine Ltd\"](https://chem-space.com/supplier/11),\n[\"FCH Group\"](https://chem-space.com/supplier/fch-group),\n[\"Intermed Ltd\"](https://chem-space.com/supplier/8),\n[\"Selena Chem Ltd\"](https://chem-space.com/supplier/9),\n[\"UORSY\"](https://chem-space.com/supplier/10))\nonly.\n### Example\nGet prices by CAS list:\n- ***61540-35-0***\n- ***3453-60-9***\n- ***333433-81-1***\n### Example request:\n    curl -X POST \\\n      \"https://api.chem-space.com/v2/list/cas/tier1/prices?skip=1&count=2\" \\\n      -H  \"Accept: application/json; version=2.6\" \\\n      -H  \"Authorization: Bearer rVZEV12feW1axECAqJUu1dy7j8gxyNVqzSZoGY1LdKI8xvVXybBaaa7QLIJzoqfP\" \\\n      -H  \"Content-Type: multipart/form-data\" \\\n      -F  \"text=61540-35-0, 453-60-9, 333433-81-1\"\n### Example response\n    {\n      \"count\": 2,\n      \"items\": [\n        {\n          \"count\": 1,\n          \"CS-id\": \"CSC000000123\",\n          \"link\": \"https://chem-space.com/CSC000000123\",\n          \"smiles\": \"COC(=O)CC1OC(=O)C2=CC=CC=C12\",\n          \"iupac_name\": \"methyl 2-(3-oxo-1,3-dihydro-2-benzofuran-1-yl)acetate\",\n          \"molweight\": 206.197,\n          \"molformula\": \"C11H10O4\",\n          \"cas\": \"3453-60-9\",\n          \"mfcd\": \"MFCD00448672\",\n          \"items\": [\n            {\n              \"vendor_name\": \"FCH Group\",\n              \"vendor_code\": \"FCH1670022\",\n              \"ships_within\": 28,\n              \"prices\": [\n                {\n                  \"pack_g\": 1,\n                  \"in_stock\": false,\n                  \"price_usd\": 971,\n                  \"price_eur\": 925\n                },\n                {\n                  \"pack_g\": 2.5,\n                  \"in_stock\": false,\n                  \"price_usd\": 2013,\n                  \"price_eur\": 1917\n                },\n                {\n                  \"pack_g\": 5,\n                  \"in_stock\": false,\n                  \"price_usd\": 2550,\n                  \"price_eur\": 2429\n                },\n                {\n                  \"pack_g\": 10,\n                  \"in_stock\": false,\n                  \"price_usd\": 3207,\n                  \"price_eur\": 3054\n                }\n              ]\n            },\n          ]\n        },\n        {\n          \"count\": 2,\n          \"CS-id\": \"CSC000001818\",\n          \"link\": \"https://chem-space.com/CSC000001818\",\n          \"smiles\": \"O=C(CCC1CCCCC1)NC1=NC=CS1\",\n          \"iupac_name\": \"3-cyclohexyl-N-(1,3-thiazol-2-yl)propanamide\",\n          \"molweight\": 238.35,\n          \"molformula\": \"C12H18N2OS\",\n          \"cas\": \"333433-81-1\",\n          \"mfcd\": \"MFCD01897595\",\n          \"items\": [\n            {\n              \"vendor_name\": \"BCH Research LLP\",\n              \"vendor_code\": \"BD28661449\",\n              \"ships_within\": 30,\n              \"prices\": [\n                {\n                  \"pack_g\": 0.001,\n                  \"in_stock\": false,\n                  \"price_usd\": 127,\n                  \"price_eur\": 121\n                },\n                {\n                  \"pack_g\": 0.002,\n                  \"in_stock\": false,\n                  \"price_usd\": 132,\n                  \"price_eur\": 126\n                },\n                {\n                  \"pack_g\": 0.005,\n                  \"in_stock\": false,\n                  \"price_usd\": 138,\n                  \"price_eur\": 131\n                },\n                {\n                  \"pack_g\": 0.01,\n                  \"in_stock\": false,\n                  \"price_usd\": 150,\n                  \"price_eur\": 143\n                },\n                {\n                  \"pack_g\": 0.02,\n                  \"in_stock\": false,\n                  \"price_usd\": 173,\n                  \"price_eur\": 165\n                }\n              ]\n            },\n            {\n              \"vendor_name\": \"Enamine Ltd\",\n              \"vendor_code\": \"Z28173928\",\n              \"ships_within\": 7,\n              \"prices\": [\n                {\n                  \"pack_g\": 0.001,\n                  \"in_stock\": true,\n                  \"price_usd\": 82,\n                  \"price_eur\": 78\n                },\n                {\n                  \"pack_g\": 0.002,\n                  \"in_stock\": true,\n                  \"price_usd\": 84,\n                  \"price_eur\": 80\n                },\n                {\n                  \"pack_g\": 0.005,\n                  \"in_stock\": true,\n                  \"price_usd\": 89,\n                  \"price_eur\": 85\n                },\n                {\n                  \"pack_g\": 0.01,\n                  \"in_stock\": true,\n                  \"price_usd\": 116,\n                  \"price_eur\": 110\n                }\n              ]\n            },\n          ]\n        }\n      ],\n      \"all\": 3\n    }\n### Properties\n  - **count** - *int*, number of elements in *items*\n  - **items** - *array*, found compounds\n    - **count** - *int*, number of elements in *items*\n    - **CS-id** - *string*, Chemspace ID\n    - **link** - *string*, Chemspace URL\n    - **smiles** - *string | null*, SMILES of compound\n    - **iupac_name** - *string | null*, IUPAC (International Union of Pure and Applied Chemistry) name\n    - **molweight** - *double | null*, molecular weight\n    - **molformula** - *string | null*, chemical formula\n    - **cas** - *string | null*, CAS (Chemical Abstracts Service) number\n    - **mfcd** - *string | null*, MFCD number\n    - **items** - *array*, found suppliers\n      * **vendor_name** - *string*, supplier's company\n      * **vendor_code** - *string*, supplier's code\n      * **ships_within** - *int*, number of days for shipping\n      * **prices** - *array*, pricing info\n        * **pack_g** - *double*, package weight in grams\n        * **in_stock** - *boolean*, in stock\n        * **price_usd** - *double | null*, price in USD\n        * **price_eur** - *double | null*, price in EUR\n  - **all** - *int*, number of all found Chemspace IDs from list\n",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "maximum number of results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "skip first n items from the result",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "Access Token": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "example": "61540-35-0, 453-60-9, 333433-81-1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json; version=2.6": {
                "schema": {
                  "$ref": "#/components/schemas/CSIdPriceListRes"
                }
              },
              "application/xml; version=2.6": {
                "schema": {
                  "$ref": "#/components/schemas/CSIdPriceListRes"
                }
              }
            },
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/X-Rate-Limit-Limit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/X-Rate-Limit-Remaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/X-Rate-Limit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestEmptyCasListError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "options": {
        "tags": [
          "Get prices (tier 1) by CAS list"
        ],
        "description": "## Get prices (tier 1) by CAS list\nThis endpoint allows to determine the options associated with a resource, the capabilities of a server, without implying a resource action or initiating a resource retrieval.\n",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json; version=2.6": [

              ],
              "application/xml; version=2.6": [

              ]
            },
            "headers": {
              "Allow": {
                "$ref": "#/components/headers/Allow-POST-OPTIONS"
              }
            }
          },
          "415": {
            "$ref": "#/components/responses/EmptyUnsupportedMediaTypeError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/list/mfcd/prices": {
      "post": {
        "tags": [
          "Get prices by MFCD list"
        ],
        "description": "## Get prices by MFCD list\nAt this endpoint you can find information about prices, amounts, and shipping time by a MFCD list. Information from all the suppliers is included.\n### Example\nGet prices by MFCD list:\n- ***MFCD00001924***\n- ***MFCD00448672***\n- ***MFCD01897595***\n### Example request:\n    curl -X POST \\\n      \"https://api.chem-space.com/v2/list/mfcd/prices?skip=1&count=2\" \\\n      -H  \"Accept: application/json; version=2.6\" \\\n      -H  \"Authorization: Bearer rVZEV12feW1axECAqJUu1dy7j8gxyNVqzSZoGY1LdKI8xvVXybBaaa7QLIJzoqfP\" \\\n      -H  \"Content-Type: multipart/form-data\" \\\n      -F  \"text=MFCD00001924, MFCD00448672, MFCD01897595\"\n### Example response\n    {\n      \"count\": 2,\n      \"items\": [\n        {\n          \"count\": 2,\n          \"CS-id\": \"CSC000000123\",\n          \"link\": \"https://chem-space.com/CSC000000123\",\n          \"smiles\": \"COC(=O)CC1OC(=O)C2=CC=CC=C12\",\n          \"iupac_name\": \"methyl 2-(3-oxo-1,3-dihydro-2-benzofuran-1-yl)acetate\",\n          \"molweight\": 206.197,\n          \"molformula\": \"C11H10O4\",\n          \"cas\": \"3453-60-9\",\n          \"mfcd\": \"MFCD00448672\",\n          \"items\": [\n            {\n              \"vendor_name\": \"FCH Group\",\n              \"vendor_code\": \"FCH1670022\",\n              \"ships_within\": 28,\n              \"prices\": [\n                {\n                  \"pack_g\": 1,\n                  \"in_stock\": false,\n                  \"price_usd\": 971,\n                  \"price_eur\": 925\n                },\n                {\n                  \"pack_g\": 2.5,\n                  \"in_stock\": false,\n                  \"price_usd\": 2013,\n                  \"price_eur\": 1917\n                },\n                {\n                  \"pack_g\": 5,\n                  \"in_stock\": false,\n                  \"price_usd\": 2550,\n                  \"price_eur\": 2429\n                },\n                {\n                  \"pack_g\": 10,\n                  \"in_stock\": false,\n                  \"price_usd\": 3207,\n                  \"price_eur\": 3054\n                }\n              ]\n            },\n            {\n              \"vendor_name\": \"Vitas-M Laboratory\",\n              \"vendor_code\": \"STK370163\",\n              \"ships_within\": 14,\n              \"prices\": [\n                {\n                  \"pack_g\": 0.001,\n                  \"in_stock\": true,\n                  \"price_usd\": 34,\n                  \"price_eur\": 30\n                },\n                {\n                  \"pack_g\": 0.002,\n                  \"in_stock\": true,\n                  \"price_usd\": 36,\n                  \"price_eur\": 32\n                },\n                {\n                  \"pack_g\": 0.005,\n                  \"in_stock\": true,\n                  \"price_usd\": 54,\n                  \"price_eur\": 47\n                },\n                {\n                  \"pack_g\": 0.01,\n                  \"in_stock\": false,\n                  \"price_usd\": 69,\n                  \"price_eur\": 59\n                },\n                {\n                  \"pack_g\": 0.02,\n                  \"in_stock\": false,\n                  \"price_usd\": 96,\n                  \"price_eur\": 84\n                }\n              ]\n            }\n          ]\n        },\n        {\n          \"count\": 4,\n          \"CS-id\": \"CSC000001818\",\n          \"link\": \"https://chem-space.com/CSC000001818\",\n          \"smiles\": \"O=C(CCC1CCCCC1)NC1=NC=CS1\",\n          \"iupac_name\": \"3-cyclohexyl-N-(1,3-thiazol-2-yl)propanamide\",\n          \"molweight\": 238.35,\n          \"molformula\": \"C12H18N2OS\",\n          \"cas\": \"333433-81-1\",\n          \"mfcd\": \"MFCD01897595\",\n          \"items\": [\n            {\n              \"vendor_name\": \"BCH Research LLP\",\n              \"vendor_code\": \"BD28661449\",\n              \"ships_within\": 30,\n              \"prices\": [\n                {\n                  \"pack_g\": 0.001,\n                  \"in_stock\": false,\n                  \"price_usd\": 127,\n                  \"price_eur\": 121\n                },\n                {\n                  \"pack_g\": 0.002,\n                  \"in_stock\": false,\n                  \"price_usd\": 132,\n                  \"price_eur\": 126\n                },\n                {\n                  \"pack_g\": 0.005,\n                  \"in_stock\": false,\n                  \"price_usd\": 138,\n                  \"price_eur\": 131\n                },\n                {\n                  \"pack_g\": 0.01,\n                  \"in_stock\": false,\n                  \"price_usd\": 150,\n                  \"price_eur\": 143\n                },\n                {\n                  \"pack_g\": 0.02,\n                  \"in_stock\": false,\n                  \"price_usd\": 173,\n                  \"price_eur\": 165\n                }\n              ]\n            },\n            {\n              \"vendor_name\": \"Enamine Ltd\",\n              \"vendor_code\": \"Z28173928\",\n              \"ships_within\": 7,\n              \"prices\": [\n                {\n                  \"pack_g\": 0.001,\n                  \"in_stock\": true,\n                  \"price_usd\": 82,\n                  \"price_eur\": 78\n                },\n                {\n                  \"pack_g\": 0.002,\n                  \"in_stock\": true,\n                  \"price_usd\": 84,\n                  \"price_eur\": 80\n                },\n                {\n                  \"pack_g\": 0.005,\n                  \"in_stock\": true,\n                  \"price_usd\": 89,\n                  \"price_eur\": 85\n                },\n                {\n                  \"pack_g\": 0.01,\n                  \"in_stock\": true,\n                  \"price_usd\": 116,\n                  \"price_eur\": 110\n                },\n                {\n                  \"pack_g\": 0.02,\n                  \"in_stock\": true,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                }\n              ]\n            },\n            {\n              \"vendor_name\": \"FCH Group\",\n              \"vendor_code\": \"FCH3040029\",\n              \"ships_within\": 28,\n              \"prices\": [\n                {\n                  \"pack_g\": 1,\n                  \"in_stock\": false,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                }\n              ]\n            },\n            {\n              \"vendor_name\": \"Musechem\",\n              \"vendor_code\": \"M288649\",\n              \"ships_within\": 28,\n              \"prices\": [\n                {\n                  \"pack_g\": 1,\n                  \"in_stock\": false,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                },\n                {\n                  \"pack_g\": 2.5,\n                  \"in_stock\": false,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                },\n                {\n                  \"pack_g\": 5,\n                  \"in_stock\": false,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                },\n                {\n                  \"pack_g\": 10,\n                  \"in_stock\": false,\n                  \"price_usd\": null,\n                  \"price_eur\": null\n                }\n              ]\n            }\n          ]\n        }\n      ],\n      \"all\": 3\n    }\n### Properties\n  - **count** - *int*, number of elements in *items*\n  - **items** - *array*, found compounds\n    - **count** - *int*, number of elements in *items*\n    - **CS-id** - *string*, Chemspace ID\n    - **link** - *string*, Chemspace URL\n    - **smiles** - *string | null*, SMILES of compound\n    - **iupac_name** - *string | null*, IUPAC (International Union of Pure and Applied Chemistry) name\n    - **molweight** - *double | null*, molecular weight\n    - **molformula** - *string | null*, chemical formula\n    - **cas** - *string | null*, CAS (Chemical Abstracts Service) number\n    - **mfcd** - *string | null*, MFCD number\n    - **items** - *array*, found suppliers\n      * **vendor_name** - *string*, supplier's company\n      * **vendor_code** - *string*, supplier's code\n      * **ships_within** - *int*, number of days for shipping\n      * **prices** - *array*, pricing info\n        * **pack_g** - *double*, package weight in grams\n        * **in_stock** - *boolean*, in stock\n        * **price_usd** - *double | null*, price in USD\n        * **price_eur** - *double | null*, price in EUR\n  - **all** - *int*, number of all found Chemspace IDs from list\n",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "maximum number of results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "skip first n items from the result",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "Access Token": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "example": "MFCD00001924, MFCD00448672, MFCD01897595"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json; version=2.6": {
                "schema": {
                  "$ref": "#/components/schemas/CSIdPriceListRes"
                }
              },
              "application/xml; version=2.6": {
                "schema": {
                  "$ref": "#/components/schemas/CSIdPriceListRes"
                }
              }
            },
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/X-Rate-Limit-Limit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/X-Rate-Limit-Remaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/X-Rate-Limit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestEmptyMfcdListError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "options": {
        "tags": [
          "Get prices by MFCD list"
        ],
        "description": "## Get prices by MFCD list\nThis endpoint allows to determine the options associated with a resource, the capabilities of a server, without implying a resource action or initiating a resource retrieval.\n",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json; version=2.6": [

              ],
              "application/xml; version=2.6": [

              ]
            },
            "headers": {
              "Allow": {
                "$ref": "#/components/headers/Allow-POST-OPTIONS"
              }
            }
          },
          "415": {
            "$ref": "#/components/responses/EmptyUnsupportedMediaTypeError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/list/mfcd/tier1/prices": {
      "post": {
        "tags": [
          "Get prices (tier 1) by MFCD list"
        ],
        "description": "## Get prices (tier 1) by MFCD list\nAt this endpoint you can find information about prices, amounts, and shipping time by a MFCD list. The information is available for the Tier 1 suppliers\n([\"Abamachem Ltd\"](https://chem-space.com/supplier/5),\n[\"BCH Research LLP\"](https://chem-space.com/supplier/bch-research),\n[\"Curpys Chemicals\"](https://chem-space.com/supplier/183),\n[\"Enamine Ltd\"](https://chem-space.com/supplier/11),\n[\"FCH Group\"](https://chem-space.com/supplier/fch-group),\n[\"Intermed Ltd\"](https://chem-space.com/supplier/8),\n[\"Selena Chem Ltd\"](https://chem-space.com/supplier/9),\n[\"UORSY\"](https://chem-space.com/supplier/10))\nonly.\n### Example\nGet prices by MFCD list:\n- ***MFCD00001924***\n- ***MFCD00448672***\n- ***MFCD01897595***\n### Example request:\n    curl -X POST \\\n      \"https://api.chem-space.com/v2/list/cas/tier1/prices?skip=1&count=2\" \\\n      -H  \"Accept: application/json; version=2.6\" \\\n      -H  \"Authorization: Bearer rVZEV12feW1axECAqJUu1dy7j8gxyNVqzSZoGY1LdKI8xvVXybBaaa7QLIJzoqfP\" \\\n      -H  \"Content-Type: multipart/form-data\" \\\n      -F  \"text=MFCD00001924, MFCD00448672, MFCD01897595\"\n### Example response\n    {\n      \"count\": 2,\n      \"items\": [\n        {\n          \"count\": 1,\n          \"CS-id\": \"CSC000000123\",\n          \"link\": \"https://chem-space.com/CSC000000123\",\n          \"smiles\": \"COC(=O)CC1OC(=O)C2=CC=CC=C12\",\n          \"iupac_name\": \"methyl 2-(3-oxo-1,3-dihydro-2-benzofuran-1-yl)acetate\",\n          \"molweight\": 206.197,\n          \"molformula\": \"C11H10O4\",\n          \"cas\": \"3453-60-9\",\n          \"mfcd\": \"MFCD00448672\",\n          \"items\": [\n            {\n              \"vendor_name\": \"FCH Group\",\n              \"vendor_code\": \"FCH1670022\",\n              \"ships_within\": 28,\n              \"prices\": [\n                {\n                  \"pack_g\": 1,\n                  \"in_stock\": false,\n                  \"price_usd\": 971,\n                  \"price_eur\": 925\n                },\n                {\n                  \"pack_g\": 2.5,\n                  \"in_stock\": false,\n                  \"price_usd\": 2013,\n                  \"price_eur\": 1917\n                },\n                {\n                  \"pack_g\": 5,\n                  \"in_stock\": false,\n                  \"price_usd\": 2550,\n                  \"price_eur\": 2429\n                },\n                {\n                  \"pack_g\": 10,\n                  \"in_stock\": false,\n                  \"price_usd\": 3207,\n                  \"price_eur\": 3054\n                }\n              ]\n            },\n          ]\n        },\n        {\n          \"count\": 2,\n          \"CS-id\": \"CSC000001818\",\n          \"link\": \"https://chem-space.com/CSC000001818\",\n          \"smiles\": \"O=C(CCC1CCCCC1)NC1=NC=CS1\",\n          \"iupac_name\": \"3-cyclohexyl-N-(1,3-thiazol-2-yl)propanamide\",\n          \"molweight\": 238.35,\n          \"molformula\": \"C12H18N2OS\",\n          \"cas\": \"333433-81-1\",\n          \"mfcd\": \"MFCD01897595\",\n          \"items\": [\n            {\n              \"vendor_name\": \"BCH Research LLP\",\n              \"vendor_code\": \"BD28661449\",\n              \"ships_within\": 30,\n              \"prices\": [\n                {\n                  \"pack_g\": 0.001,\n                  \"in_stock\": false,\n                  \"price_usd\": 127,\n                  \"price_eur\": 121\n                },\n                {\n                  \"pack_g\": 0.002,\n                  \"in_stock\": false,\n                  \"price_usd\": 132,\n                  \"price_eur\": 126\n                },\n                {\n                  \"pack_g\": 0.005,\n                  \"in_stock\": false,\n                  \"price_usd\": 138,\n                  \"price_eur\": 131\n                },\n                {\n                  \"pack_g\": 0.01,\n                  \"in_stock\": false,\n                  \"price_usd\": 150,\n                  \"price_eur\": 143\n                },\n                {\n                  \"pack_g\": 0.02,\n                  \"in_stock\": false,\n                  \"price_usd\": 173,\n                  \"price_eur\": 165\n                }\n              ]\n            },\n            {\n              \"vendor_name\": \"Enamine Ltd\",\n              \"vendor_code\": \"Z28173928\",\n              \"ships_within\": 7,\n              \"prices\": [\n                {\n                  \"pack_g\": 0.001,\n                  \"in_stock\": true,\n                  \"price_usd\": 82,\n                  \"price_eur\": 78\n                },\n                {\n                  \"pack_g\": 0.002,\n                  \"in_stock\": true,\n                  \"price_usd\": 84,\n                  \"price_eur\": 80\n                },\n                {\n                  \"pack_g\": 0.005,\n                  \"in_stock\": true,\n                  \"price_usd\": 89,\n                  \"price_eur\": 85\n                },\n                {\n                  \"pack_g\": 0.01,\n                  \"in_stock\": true,\n                  \"price_usd\": 116,\n                  \"price_eur\": 110\n                }\n              ]\n            },\n          ]\n        }\n      ],\n      \"all\": 3\n    }\n### Properties\n  - **count** - *int*, number of elements in *items*\n  - **items** - *array*, found compounds\n    - **count** - *int*, number of elements in *items*\n    - **CS-id** - *string*, Chemspace ID\n    - **link** - *string*, Chemspace URL\n    - **smiles** - *string | null*, SMILES of compound\n    - **iupac_name** - *string | null*, IUPAC (International Union of Pure and Applied Chemistry) name\n    - **molweight** - *double | null*, molecular weight\n    - **molformula** - *string | null*, chemical formula\n    - **cas** - *string | null*, CAS (Chemical Abstracts Service) number\n    - **mfcd** - *string | null*, MFCD number\n    - **items** - *array*, found suppliers\n      * **vendor_name** - *string*, supplier's company\n      * **vendor_code** - *string*, supplier's code\n      * **ships_within** - *int*, number of days for shipping\n      * **prices** - *array*, pricing info\n        * **pack_g** - *double*, package weight in grams\n        * **in_stock** - *boolean*, in stock\n        * **price_usd** - *double | null*, price in USD\n        * **price_eur** - *double | null*, price in EUR\n  - **all** - *int*, number of all found Chemspace IDs from list\n",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "maximum number of results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "description": "skip first n items from the result",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "security": [
          {
            "Access Token": [

            ]
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "example": "MFCD00001924, MFCD00448672, MFCD01897595"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json; version=2.6": {
                "schema": {
                  "$ref": "#/components/schemas/CSIdPriceListRes"
                }
              },
              "application/xml; version=2.6": {
                "schema": {
                  "$ref": "#/components/schemas/CSIdPriceListRes"
                }
              }
            },
            "headers": {
              "X-Rate-Limit-Limit": {
                "$ref": "#/components/headers/X-Rate-Limit-Limit"
              },
              "X-Rate-Limit-Remaining": {
                "$ref": "#/components/headers/X-Rate-Limit-Remaining"
              },
              "X-Rate-Limit-Reset": {
                "$ref": "#/components/headers/X-Rate-Limit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestEmptyMfcdListError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaTypeError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "options": {
        "tags": [
          "Get prices (tier 1) by MFCD list"
        ],
        "description": "## Get prices (tier 1) by MFCD list\nThis endpoint allows to determine the options associated with a resource, the capabilities of a server, without implying a resource action or initiating a resource retrieval.\n",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json; version=2.6": [

              ],
              "application/xml; version=2.6": [

              ]
            },
            "headers": {
              "Allow": {
                "$ref": "#/components/headers/Allow-POST-OPTIONS"
              }
            }
          },
          "415": {
            "$ref": "#/components/responses/EmptyUnsupportedMediaTypeError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v2/catalogs/{catalog-id}/cs-id/{cs-id}/prices": {
      "get": {
        "tags": [
          "Get prices (from catalog) by Chemspace ID"
        ],
[...]
