.genome-browser .MuiPaper-root {
    --Paper-shadow: none !important;
    -webkit-transition: none !important;
    transition: none !important;
    box-shadow: none !important;
    background: none !important;
}

.genome-browser>div:first-child>div:first-child>div:first-child>div:first-child {
    display: none !important;
}