.textarea-box {
  position: relative;
}

.textarea-box:hover .snippet-editor-icon {
  visibility: visible;
}

.snippet-editor-icon {
  position: absolute;
  right: 10px;
  visibility: hidden;
  margin: 5px;
  z-index: 1;
}

.clipboard-icon {
  top: 10px;
  margin-right: 2px !important;
}

.editor-icon {
  top: 30px;
}

.reset-icon {
  top: 50px;
}

.snippet-editor-icon i {
  font-size: 17px;
}

.snippet-editor-icon:hover {
  background-color: var(--steel-1);
  border-radius: 2px;
}

.snippet-inline-icon i {
  font-size: 13px;
}