.pep-textarea-box {
  position: relative;
}

.pep-textarea-box:hover .pep-snippet-editor-icon {
  visibility: visible;
}

.pep-snippet-editor-icon {
  position: absolute;
  top: 5px;
  visibility: hidden;
  margin: 5px;
  z-index: 1;
}

.pep-reset-icon {
  right: 10px;
}

.pep-snippet-editor-icon i {
  font-size: 13px;
}

.pep-snippet-editor-icon:hover {
  background-color: var(--steel-1);
  border-radius: 2px;
}

.pep-snippet-inline-icon i {
  font-size: 13px;
}

.pep-textinput {
  height: 50px;
  overflow: hidden;
}

#pep-hist-host #center {
  height: 131px;
}

#pep-hist-host > #root {
  height: unset;
  width: 100%;
}

#pep-viewer-title {
  height: 23px;
  font-size: 1.2rem;
  font-family: 'Roboto', 'Roboto Local', sans-serif;
  color: #4D5261;
  text-align: center;
  width: 100%;
  align-self: end;
}

.pep-help-icon {
  position: absolute;
  left: 5px;
  top: 1px;
}
