swagger: '2.0'
info:
  description: 'Enamine Store'
  version: "0.1.3"
  title: Enamine Store
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://www.enaminestore.com/IMG/logo1.png'
host: new.enaminestore.com
basePath: /api/v1/catalog
schemes:
  - https
paths:
  /:
    get:
      summary: Search
      operationId: Search
      produces:
        - application/json
      parameters:
        - in: query
          name: q
          required: true
          description: 'Compound ID or search query'
          type: string
        - in: query
          name: cat
          description: >
            Compound catalog:
              * `BB` – Building blocks collection
              * `SCR` – Screening compounds collection
              * `REAL` – Compounds from REAL database
          type: string
          enum: [BB, SCR, REAL]
        - in: query
          name: type
          required: true
          description: 'Compount type'
          type: string
          enum: [SMARTS]
        - in: query
          name: sstype
          required: true
          description: 'Search type'
          type: string
          enum: [EXACT, SUB, SIM]
        - in: query
          name: currency
          required: true
          description: 'Currency'
          type: string
          enum: [USD, EUR]
          default: USD
        - in: query
          name: sim
          description: 'Similarity'
          type: number
          default: 0.8
  /price:
    get:
      summary: Price
      operationId: Price
      produces:
        - application/json
      parameters:
        - in: query
          name: id
          required: true
          description: 'Compound ID or search query'
          type: string
        - in: query
          name: cat
          description: >
            Compound catalog:
              * `BB` – Building blocks collection
              * `SCR` – Screening compounds collection
              * `REAL` – Compounds from REAL database
          type: string
          enum: [BB, SCR, REAL]
        - in: query
          name: cur
          required: true
          description: 'Currency'
          type: string
          enum: [USD, EUR]
          default: USD
securityDefinitions:
  api_key:
    type: apiKey
    name: Authorization
    in: header
