.nlp-header-div > .ui-input-choice.ui-input-root {
    flex-shrink: 1;
    flex-basis: 50%;
    max-width: 150px;
}

.nlp-header-div > .ui-input-choice.ui-input-root > select.ui-input-editor {
    width: 100%;
}

.nlp-translation-area {
    margin-top: 5px;
    padding: 5px;
    height: 200px;
}

.nlp-main-div {
    margin-left: -32px;
}

.nlp-entity-obj {
    font-family: monospace;
    color: #000000;
    -webkit-user-select: text;
    overflow: scroll;
    white-space: pre-wrap;
    max-height: 300px;
}

.nlp-splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
} 