.header-div {
    display: flex;
}

.arrow {
    padding: 5px 2px 5px 2px;
}

.translation-area {
    margin-top: 5px;
    padding: 5px;
    height: 200px;
}

.main-div {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    overflow: hidden;
    margin-left: -32px;
}

.entity-obj {
    font-family: monospace;
    color: #000000;
    -webkit-user-select: text;
    overflow: scroll;
    white-space: pre-wrap;
    max-height: 300px;
}
