.node rect {
    fill-opacity: .9;
    shape-rendering: optimizeSpeed;
}

.node rect:hover {
    fill-opacity: 1;
}

.node text {
    pointer-events: none;
    font-family: "Roboto", "Roboto Local", sans-serif;
    font-size: 13px;
    color: #4D5261;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}
