{
  "swagger": "2.0",
  "info": {
    "description": "Jira Cloud REST API documentation",
    "version": "1001.0.0-SNAPSHOT",
    "title": "Jira Reddata",
    "termsOfService": "http://atlassian.com/terms/",
    "contact": {
      "email": "ecosystem@atlassian.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "reddata.atlassian.net",
  "basePath": "/rest",
  "schemes": ["https"],
  "paths": {
    "/api/2/application-properties": {
      "get": {
        "summary": "Get application property",
        "description": "Returns all application properties or a single application property.\n\n <p>\n If you specify a value for the <code>key</code> parameter, then a single application property is returned as\n an object (not in an array). Otherwise, an array of all editable application properties is returned. See\n <a href=\"#api-api-2-application-properties-id-put\">Set application property</a> for\n descriptions of editable properties.\n\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n <em>Administer Jira</em> <a href=\"https://confluence.atlassian.com/x/x4dKLg\">global permission</a>. ",
        "summary": "com.atlassian.jira.rest.v2.admin.ApplicationPropertiesResource.getApplicationProperty_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "The key of the application property.",
            "required": false,
            "type": "string"
          },
          {
            "name": "permissionLevel",
            "in": "query",
            "description": "The permission level of all items being returned in the list.",
            "required": false,
            "type": "string"
          },
          {
            "name": "keyFilter",
            "in": "query",
            "description": "\nWhen a <code>key</code> isn't provided, this filters the list of results by the\n                        application property <code>key</code> using a regular expression. For example, using\n                        <code>jira.lf.*</code> will return all application properties with keys that start with\n                        <em>jira.lf.</em>.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "[{\"id\":\"jira.home\",\"key\":\"jira.home\",\"value\":\"/var/jira/jira-home\",\"name\":\"jira.home\",\"desc\":\"Jira home directory\",\"type\":\"string\",\"defaultValue\":\"\"},{\"id\":\"jira.clone.prefix\",\"key\":\"jira.clone.prefix\",\"value\":\"CLONE -\",\"name\":\"The prefix added to the Summary field of cloned issues\",\"type\":\"string\",\"defaultValue\":\"CLONE -\"}]"
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicationProperty"
              }
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "404": {
            "description": "Returned if the application property is not found or the calling user does not have permission to view it."
          }
        },
        "deprecated": false
      }
    },
    "/api/2/application-properties/advanced-settings": {
      "get": {
        "summary": "Get advanced settings",
        "description": "Returns the application properties that are accessible on the <em>Advanced Settings</em> page. To navigate to the\n <em>Advanced Settings</em> page in Jira, choose the Jira icon > <b>Jira settings</b> > <b>System</b>,\n <b>General Configuration</b> and then click <b>Advanced Settings</b> (in the upper right).\n\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n <em>Administer Jira</em> <a href=\"https://confluence.atlassian.com/x/x4dKLg\">global permission</a>. ",
        "summary": "com.atlassian.jira.rest.v2.admin.ApplicationPropertiesResource.getAdvancedSettings_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "[{\"id\":\"jira.home\",\"key\":\"jira.home\",\"value\":\"/var/jira/jira-home\",\"name\":\"jira.home\",\"desc\":\"Jira home directory\",\"type\":\"string\",\"defaultValue\":\"\"},{\"id\":\"jira.clone.prefix\",\"key\":\"jira.clone.prefix\",\"value\":\"CLONE -\",\"name\":\"The prefix added to the Summary field of cloned issues\",\"type\":\"string\",\"defaultValue\":\"CLONE -\"}]"
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicationProperty"
              }
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the calling user is not an administrator."
          }
        },
        "deprecated": false
      }
    },
    "/api/2/application-properties/{id}": {
      "put": {
        "summary": "Set application property",
        "description": "Changes the value of an application property. For example, you can change the value of the\n <code>jira.clone.prefix</code> from its default value of <em>CLONE -</em> to <em>Clone -</em> if you prefer\n sentence case capitalization. Editable properties are described below along with their default values.\n\n\n <h4>Advanced settings</h4>\n\n <p>The advanced settings below are also accessible in <a href=\"https://confluence.atlassian.com/x/vYXKM\">Jira</a>.</p>\n\n <table>\n   <thead>\n       <tr>\n       <th>Key</th>\n        <th>Description</th>\n        <th>Default value</th>\n       </tr>\n   </thead>\n   <tbody>\n       <tr>\n         <td><code>jira.clone.prefix</code></td>\n         <td>A string of text that automatically precedes the title of a cloned issue.</td>\n         <td><code>CLONE -</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.date.picker.java.format</code></td>\n         <td>The date format for the Java (server-side) generated dates. This must be the same as the <code>jira.date.picker.javascript.format</code> format setting.</td>\n         <td><code>d/MMM/yy</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.date.picker.javascript.format</code></td>\n         <td>This date format is for the JavaScript (client-side) generated dates. This must be the same as the <code>jira.date.picker.java.format</code> format setting.</td>\n         <td><code>%e/%b/%y</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.date.time.picker.java.format</code></td>\n         <td>The date format for the Java (server-side) generated date times. This must be the same as the <code>jira.date.time.picker.javascript.format</code> format setting.</td>\n         <td><code>dd/MMM/yy h:mm a</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.date.time.picker.javascript.format</code></td>\n         <td>This date format is for the JavaScript (client-side) generated date times. This must be the same as the <code>jira.date.time.picker.java.format</code> format setting.</td>\n         <td><code>%e/%b/%y %I:%M %p</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.issue.actions.order</code></td>\n         <td>The default order of actions (such as <em>Comments</em> or <em>Change history</em>) displayed on the issue view.</td>\n         <td><code>asc</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.table.cols.subtasks</code></td>\n         <td>The columns to show while viewing sub-task issues in a table. For example, a list of sub-tasks on a particular issue.</td>\n         <td><code>issuetype, status, assignee, progress</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.view.issue.links.sort.order</code></td>\n         <td>The sort order of the list of issue links on the issue view.</td>\n         <td><code>type, status, priority</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.comment.collapsing.minimum.hidden</code></td>\n         <td>The minimum number of comments required for comment collapsing to occur. A value of <code>0</code> disables comment collapsing.</td>\n         <td><code>4</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.newsletter.tip.delay.days</code></td>\n         <td>The number of days before a prompt to sign up to the Jira Insiders newsletter is shown. A value of <code>-1</code> disables this functionality.</td>\n         <td><code>7</code></td>\n       </tr>\n   </tbody>\n </table>\n\n <h4>Look and feel</h4>\n\n <p>The settings listed below adjust the <a href=\"https://confluence.atlassian.com/x/VwCLLg\">look and feel</a>.</p>\n\n <table>\n   <thead>\n       <tr>\n       <th>Key</th>\n        <th>Description</th>\n        <th>Default value</th>\n       </tr>\n   </thead>\n   <tbody>\n       <tr>\n         <td><code>jira.lf.date.time</code></td>\n         <td>Look and feel of the <a href=\"https://docs.oracle.com/javase/6/docs/api/index.html?java/text/SimpleDateFormat.html\">time format</a>.</td>\n         <td><code>h:mm a</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.lf.date.day</code></td>\n         <td>Look and feel of the <a href=\"https://docs.oracle.com/javase/6/docs/api/index.html?java/text/SimpleDateFormat.html\">day format</a>.</td>\n         <td><code>EEEE h:mm a</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.lf.date.complete</code></td>\n         <td>Look and feel of the <a href=\"https://docs.oracle.com/javase/6/docs/api/index.html?java/text/SimpleDateFormat.html\">date and time format</a>.</td>\n         <td><code>dd/MMM/yy h:mm a</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.lf.date.dmy</code></td>\n         <td>Look and feel of the <a href=\"https://docs.oracle.com/javase/6/docs/api/index.html?java/text/SimpleDateFormat.html\">date format</a>.</td>\n         <td><code>dd/MMM/yy</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.date.time.picker.use.iso8061</code></td>\n         <td>When enabled, sets Monday as the first day of the week in the date picker, as specified by the ISO8601 standard.</td>\n         <td><code>false</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.lf.logo.url</code></td>\n         <td>The URL of the logo image file.</td>\n         <td><code>/images/icon-jira-logo.png</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.lf.logo.show.application.title</code></td>\n         <td>Controls the visibility of the application title on the sidebar.</td>\n         <td><code>false</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.lf.favicon.url</code></td>\n         <td>The URL of the favicon.</td>\n         <td><code>/favicon.ico</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.lf.favicon.hires.url</code></td>\n         <td>The URL of the high resolution favicon.</td>\n         <td><code>/images/64jira.png</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.lf.top.adg3.bgcolour</code></td>\n         <td>The background color of the sidebar.</td>\n         <td><code>#0747A6</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.lf.top.adg3.textcolour</code></td>\n         <td>The color of the text and logo of the sidebar.</td>\n         <td><code>#DEEBFF</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.lf.hero.button.base.bg.colour</code></td>\n         <td></td>\n         <td><code>#3b7fc4</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.title</code></td>\n         <td>The text for the application title. The application title can also be set in <em>General settings</em>.</td>\n         <td><code>Jira</code></td>\n       </tr>\n       <tr>\n         <td><code>jira.option.globalsharing</code></td>\n         <td>boolean</td>\n         <td><code>true</code></td>\n       </tr>\n       <tr>\n         <td><code>xflow.product.suggestions.enabled</code></td>\n         <td>Indicate whether or not to expose product suggestions for other Atlassian products within Jira.</td>\n         <td><code>true</code></td>\n       </tr>\n   </tbody>\n </table>\n\n <h4>Other settings</h4>\n\n <table>\n   <thead>\n       <tr>\n       <th>Key</th>\n        <th>Description</th>\n        <th>Default value</th>\n       </tr>\n   </thead>\n   <tbody>\n       <tr>\n         <td><code>jira.issuenav.criteria.autoupdate</code></td>\n         <td>Supports instant updates to search criteria.</td>\n         <td><code>true</code></td>\n       </tr>\n   </tbody>\n </table>\n\n <p>\n <em>Note: Be careful when changing\n <a href=\"https://confluence.atlassian.com/x/vYXKM\">application properties and advanced settings</a>.</em>\n\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n <em>Administer Jira</em> <a href=\"https://confluence.atlassian.com/x/x4dKLg\">global permission</a>. ",
        "summary": "com.atlassian.jira.rest.v2.admin.ApplicationPropertiesResource.setApplicationProperty_put",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The key of the application property to update.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "applicationPropertyBean",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SimpleApplicationPropertyBean"
            },
            "x-examples": {
              "application/json": "{\"id\":\"jira.home\",\"value\":\"/var/jira/jira-home\"}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "schema": {
              "$ref": "#/definitions/ApplicationProperty"
            }
          },
          "400": {
            "description": "\nReturned if the data type of the <code>value</code> does not match the\n application property's data type. For example, a string is provided instead of an integer."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the calling user does not have permission to edit the property."
          },
          "404": {
            "description": "Returned if the property does not exist or the calling user does not have permission to view it."
          }
        },
        "deprecated": false
      }
    },
    "/api/2/applicationrole": {
      "get": {
        "summary": "Get all application roles",
        "description": "Returns all application roles. In Jira, application roles are managed using the\n <a href=\"https://confluence.atlassian.com/x/3YxjL\">Application access configuration</a> page.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n <em>Administer Jira</em> <a href=\"https://confluence.atlassian.com/x/x4dKLg\">global permission</a>. ",
        "summary": "com.atlassian.jira.rest.v2.admin.applicationrole.ApplicationRoleResource.getAllApplicationRoles_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "[{\"key\":\"jira-software\",\"groups\":[\"jira-software-users\",\"jira-testers\"],\"name\":\"Jira Software\",\"defaultGroups\":[\"jira-software-users\"],\"selectedByDefault\":false,\"defined\":false,\"numberOfSeats\":10,\"remainingSeats\":5,\"userCount\":5,\"userCountDescription\":\"5 developers\",\"hasUnlimitedSeats\":false,\"platform\":false},{\"key\":\"jira-core\",\"groups\":[\"jira-core-users\"],\"name\":\"Jira Core\",\"defaultGroups\":[\"jira-core-users\"],\"selectedByDefault\":false,\"defined\":false,\"numberOfSeats\":1,\"remainingSeats\":1,\"userCount\":0,\"userCountDescription\":\"0 users\",\"hasUnlimitedSeats\":false,\"platform\":true}]"
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApplicationRole"
              }
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the calling user is not an administrator."
          }
        },
        "deprecated": false
      }
    },
    "/api/2/applicationrole/{key}": {
      "get": {
        "summary": "Get application role",
        "description": "Returns an application role.\n\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n <em>Administer Jira</em> <a href=\"https://confluence.atlassian.com/x/x4dKLg\">global permission</a>. ",
        "summary": "com.atlassian.jira.rest.v2.admin.applicationrole.ApplicationRoleResource.getApplicationRole_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "\nThe key of the application role. Use the <a href=\"#api-api-2-applicationrole-get\">Get all application roles</a>\n            method to get the key for each application role.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the ApplicationRole if it exists.",
            "examples": {
              "application/json": "{\"key\":\"jira-software\",\"groups\":[\"jira-software-users\",\"jira-testers\"],\"name\":\"Jira Software\",\"defaultGroups\":[\"jira-software-users\"],\"selectedByDefault\":false,\"defined\":false,\"numberOfSeats\":10,\"remainingSeats\":5,\"userCount\":5,\"userCountDescription\":\"5 developers\",\"hasUnlimitedSeats\":false,\"platform\":false}"
            },
            "schema": {
              "$ref": "#/definitions/ApplicationRole"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the calling user is not an administrator."
          },
          "404": {
            "description": "Returned if the role does not exist."
          }
        },
        "deprecated": false
      }
    },
    "/api/2/attachment/meta": {
      "get": {
        "summary": "Get global attachment settings",
        "description": "Returns the global attachment settings, that is, whether attachments are enabled and the maximum attachment size\n allowed.\n <p>\n Note that there are also <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permissions</a> that restrict\n whether users can create and delete attachments or not.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b> Permission to access Jira. ",
        "summary": "com.atlassian.jira.rest.v2.issue.attachment.AttachmentResource.getAttachmentMeta_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"enabled\":true,\"uploadLimit\":1000000}"
            },
            "schema": {
              "$ref": "#/definitions/AttachmentSettings"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/2/attachment/{id}": {
      "get": {
        "summary": "Get attachment metadata",
        "description": "Returns the metadata for an attachment. Note that the attachment itself is not returned.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b> For the issue containing the attachment:\n <ul>\n   <li><em>Browse projects</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a> for the\n   project that the issue is in.</li>\n   <li>If configured, permission to see the issue granted by <a href=\"https://confluence.atlassian.com/x/J4lKLg\">\n   issue-level security</a>.<li>\n </ul> ",
        "summary": "com.atlassian.jira.rest.v2.issue.attachment.AttachmentResource.getAttachment_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the attachment.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"id\":10001,\"self\":\"https://your-domain.atlassian.net/rest/api/2/attachments/10001\",\"filename\":\"debuglog.txt\",\"author\":{\"self\":\"http://your-domain.atlassian.net/rest/api/2/user?accountId=99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"key\":\"mia\",\"accountId\":\"99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"name\":\"mia\",\"avatarUrls\":{\"48x48\":\"http://your-domain.atlassian.net/secure/useravatar?size=large&ownerId=mia\",\"24x24\":\"http://your-domain.atlassian.net/secure/useravatar?size=small&ownerId=mia\",\"16x16\":\"http://your-domain.atlassian.net/secure/useravatar?size=xsmall&ownerId=mia\",\"32x32\":\"http://your-domain.atlassian.net/secure/useravatar?size=medium&ownerId=mia\"},\"displayName\":\"Mia Krystof\",\"active\":false},\"created\":\"2019-02-19T05:12:15.839+0000\",\"size\":2460,\"mimeType\":\"text/plain\",\"content\":\"https://your-domain.atlassian.net/jira/attachments/10001\",\"thumbnail\":\"https://your-domain.atlassian.net/jira/secure/thumbnail/10002\"}"
            },
            "schema": {
              "$ref": "#/definitions/AttachmentMetadata"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have the required permissions."
          },
          "404": {
            "description": "Returned if any of the following are true:\n <ul>\n      <li>The attachment is not found.</li>\n      <li>Attachments are disabled in the global attachment settings.</li>\n </ul>"
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          }
        ],
        "deprecated": false
      },
      "delete": {
        "summary": "Delete attachment",
        "description": "Deletes an attachment from an issue.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b> For the project holding the issue containing the attachment:\n <ul>\n     <li><em>Delete own attachments</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a>\n     to delete an attachment created by the calling user.</li>\n     <li><em>Delete all attachments</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a>\n     to delete an attachment created by any user.</li>\n </ul> ",
        "summary": "com.atlassian.jira.rest.v2.issue.attachment.AttachmentResource.removeAttachment_delete",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the attachment.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Returned if the request is successful."
          },
          "403": {
            "description": "Returned if the user does not have the required permissions."
          },
          "404": {
            "description": "Returned if any of the following are true:\n <ul>\n      <li>The attachment is not found.</li>\n      <li>Attachments are disabled in the global attachment settings.</li>\n </ul>"
          }
        },
        "security": [
          {
            "OAuth2": [
              "write:jira-work"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/2/attachment/{id}/expand/human": {
      "get": {
        "summary": "Get all metadata for an expanded attachment",
        "description": "Returns the metadata for the contents of an attachment, if it is an archive, and metadata for the attachment itself.\n For example, if the attachment is a ZIP archive, then information about the files in the archive is returned and\n metadata for the ZIP archive. Currently, only the ZIP archive format is supported.\n <p>\n Use this method to retrieve data that is presented in the UI, as this method returns the metadata for the attachment\n itself, such as the attachment's ID and name. Otherwise, use\n <a href=\"#api-api-2-attachment-id-expand-raw-get\">\n Get contents metadata for an expanded attachment</a>, which only returns the metadata for the attachment's contents.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b> For the issue containing the attachment:\n <ul>\n   <li><em>Browse projects</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a> for the\n   project that the issue is in.</li>\n   <li>If configured, permission to see the issue granted by <a href=\"https://confluence.atlassian.com/x/J4lKLg\">\n   issue-level security</a>.<li>\n </ul> ",
        "summary": "com.atlassian.jira.rest.v2.issue.attachment.AttachmentResource.expandAttachmentForHumans_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the attachment.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful. If an empty list is returned in the response, the attachment is empty, corrupt, or not an archive.",
            "examples": {
              "application/json": "{\"id\":7237823,\"name\":\"images.zip\",\"entries\":[{\"path\":\"MG00N067.JPG\",\"index\":0,\"size\":\"119 kB\",\"mediaType\":\"image/jpeg\",\"label\":\"MG00N067.JPG\"},{\"path\":\"Allegro from Duet in C Major.mp3\",\"index\":1,\"size\":\"1.36 MB\",\"mediaType\":\"audio/mpeg\",\"label\":\"Allegro from Duet in C Major.mp3\"},{\"path\":\"long/path/thanks/to/lots/of/subdirectories/inside/making/it/quite/hard/to/reach/the/leaf.txt\",\"index\":2,\"size\":\"0.0 k\",\"mediaType\":\"text/plain\",\"label\":\"long/path/thanks/to/.../reach/the/leaf.txt\"}],\"totalEntryCount\":39,\"mediaType\":\"application/zip\"}"
            },
            "schema": {
              "$ref": "#/definitions/AttachmentArchiveMetadataReadable"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "The user does not have the required permissions."
          },
          "404": {
            "description": "Returned if any of the following are true:\n <ul>\n      <li>The attachment is not found.</li>\n      <li>Attachments are disabled in the global attachment settings.</li>\n </ul>"
          },
          "409": {
            "description": "Returned if the attachment is an archive, but not a supported archive format."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          }
        ],
        "deprecated": false,
        "x-experimental": true
      }
    },
    "/api/2/attachment/{id}/expand/raw": {
      "get": {
        "summary": "Get contents metadata for an expanded attachment",
        "description": "Returns the metadata for the contents of an attachment, if it is an archive. For example, if the attachment is a ZIP\n archive, then information about the files in the archive is returned. Currently, only the ZIP archive format is supported.\n <p>\n Use this method if you are processing the data without presenting it in the UI, as this method only returns the metadata\n for the contents of the attachment. Otherwise, to retrieve data to present in the UI, use\n <a href=\"#api-api-2-attachment-id-expand-human-get\">\n Get all metadata for an expanded attachment</a> which also returns the metadata for the attachment itself, such as\n the attachment's ID and name.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b> For the issue containing the attachment:\n <ul>\n   <li><em>Browse projects</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a> for the\n   project that the issue is in.</li>\n   <li>If configured, permission to see the issue granted by <a href=\"https://confluence.atlassian.com/x/J4lKLg\">\n   issue-level security</a>.<li>\n </ul> ",
        "summary": "com.atlassian.jira.rest.v2.issue.attachment.AttachmentResource.expandAttachmentForMachines_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the attachment.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful. If an empty list is returned in the response, the attachment is empty, corrupt, or not an archive.",
            "examples": {
              "application/json": "{\"entries\":[{\"entryIndex\":0,\"name\":\"Allegro from Duet in C Major.mp3\",\"size\":1430174,\"mediaType\":\"audio/mpeg\"},{\"entryIndex\":1,\"name\":\"lrm.rtf\",\"size\":331,\"mediaType\":\"text/rtf\"}],\"totalEntryCount\":24}"
            },
            "schema": {
              "$ref": "#/definitions/AttachmentArchiveMetadata"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "The user does not have the required permissions."
          },
          "404": {
            "description": "Returned if any of the following are true:\n <ul>\n      <li>The attachment is not found.</li>\n      <li>Attachments are disabled in the global attachment settings.</li>\n </ul>"
          },
          "409": {
            "description": "Returned if the attachment is an archive, but not a supported archive format."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          }
        ],
        "deprecated": false,
        "x-experimental": true
      }
    },
    "/api/2/auditing/record": {
      "get": {
        "summary": "Get audit records",
        "description": "Returns a list of audit records. The list can be filtered to include items:\n  <ul>\n     <li>containing a string in at least one field. For example, providing <em>up</em> will return all audit records\n     where one or more fields contains words such as <em>update</em>.</li>\n     <li>created on or after a date and time.</li>\n     <li>created or or before a date and time.</li>\n     <li>created during a time period.</li>\n  </ul>\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n <em>Administer Jira</em> <a href=\"https://confluence.atlassian.com/x/x4dKLg\">global permission</a>. ",
        "summary": "com.atlassian.jira.rest.v2.admin.auditing.AuditingResource.getAuditRecords_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The number of records to skip before returning the first result.",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "\nThe maximum number of results to return. The maximum is <code>1000</code>.",
            "required": false,
            "type": "integer",
            "default": 1000,
            "format": "int32"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "The query string.",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "\nThe date and time on or after which returned audit records must have been created. If <code>to</code>\n               is provided <code>from</code> must be before <code>to</code> or the result set will be empty.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "to",
            "in": "query",
            "description": "\nThe date and time on or before which returned audit results must have been created. If <code>from</code>\n               is provided <code>to</code> must be after <code>from</code> or the result set will be empty.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"offset\":0,\"limit\":1000,\"total\":1,\"records\":[{\"id\":1,\"summary\":\"User created\",\"remoteAddress\":\"192.168.1.1\",\"authorKey\":\"administrator\",\"created\":\"2014-03-19T18:45:42.967+0000\",\"category\":\"user management\",\"eventSource\":\"Jira Connect Plugin\",\"description\":\"Optional description\",\"objectItem\":{\"id\":\"user\",\"name\":\"user\",\"typeName\":\"USER\",\"parentId\":\"1\",\"parentName\":\"Jira Internal Directory\"},\"changedValues\":[{\"fieldName\":\"email\",\"changedFrom\":\"user@atlassian.com\",\"changedTo\":\"newuser@atlassian.com\"}],\"associatedItems\":[{\"id\":\"jira-software-users\",\"name\":\"jira-software-users\",\"typeName\":\"GROUP\",\"parentId\":\"1\",\"parentName\":\"Jira Internal Directory\"}]}]}"
            },
            "schema": {
              "$ref": "#/definitions/AuditRecords"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the calling user does not have the required permissions."
          }
        },
        "deprecated": false
      }
    },
    "/api/2/avatar/{type}/system": {
      "get": {
        "summary": "Get system avatars by type",
        "description": "Returns a list of system avatar details by owner type, where the owner types are issue type, project, or user.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n Permission to access Jira. ",
        "summary": "com.atlassian.jira.rest.v2.issue.AvatarResource.getAllSystemAvatars_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "The avatar type.",
            "required": true,
            "type": "string",
            "enum": [
              "issuetype",
              "project",
              "user"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"system\":[{\"id\":\"1000\",\"isSystemAvatar\":true,\"isSelected\":false,\"isDeletable\":false,\"urls\":{\"16x16\":\"/secure/useravatar?size=xsmall&avatarId=10040&avatarType=project\",\"24x24\":\"/secure/useravatar?size=small&avatarId=10040&avatarType=project\",\"32x32\":\"/secure/useravatar?size=medium&avatarId=10040&avatarType=project\",\"48x48\":\"/secure/useravatar?avatarId=10040&avatarType=project\"}}]}"
            },
            "schema": {
              "$ref": "#/definitions/SystemAvatars"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "500": {
            "description": "Returned if an error occurs while retrieving the list of avatars."
          }
        },
        "deprecated": false
      }
    },
    "/api/2/comment/list": {
      "post": {
        "summary": "Get comments by IDs",
        "description": "Returns the comments for a list of comment IDs.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n <em>Browse project</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a> for the project\n containing a requested issue. Issues in projects where the user doesn't have <em>browser project</em> permission are\n excluded from the returned list. Also, when the visibility of a comment is restricted to a role or group the user\n must be a member of that role or group for the comment to be included in the returned list. ",
        "summary": "com.atlassian.jira.rest.v2.issue.IssueCommentListResource.getCommentsByIds_post",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "description": "Use <a href=\"#expansion\">expand</a> to include additional information about comments in the response. This parameter accepts multiple values separated by a comma:\n <ul>\n   <li><code>renderedBody</code> Returns the comment body rendered in HTML.</li>\n   <li><code>properties</code> Returns the comment's properties.</li>\n </ul>",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The list of comment IDs.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IssueCommentListRequestBean"
            },
            "x-examples": {
              "application/json": "{\"ids\":[1,2,5,10]}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"maxResults\":1048576,\"startAt\":0,\"total\":1,\"isLast\":true,\"values\":[{\"self\":\"http://your-domain.atlassian.net/rest/api/2/issue/10010/comment/10000\",\"id\":\"10000\",\"author\":{\"self\":\"http://your-domain.atlassian.net/rest/api/2/user?accountId=99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"accountId\":\"99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"displayName\":\"Mia Krystof\",\"active\":false},\"body\":\"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget venenatis elit. Duis eu justo eget augue iaculis fermentum. Sed semper quam laoreet nisi egestas at posuere augue semper.\",\"updateAuthor\":{\"self\":\"http://your-domain.atlassian.net/rest/api/2/user?accountId=99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"accountId\":\"99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"displayName\":\"Mia Krystof\",\"active\":false},\"created\":\"2019-02-19T05:12:15.641+0000\",\"updated\":\"2019-02-19T05:12:15.645+0000\",\"visibility\":{\"type\":\"role\",\"value\":\"Administrators\"}}]}"
            },
            "schema": {
              "$ref": "#/definitions/PageOfComment"
            }
          },
          "400": {
            "description": "Returned if the request contains more than 1000 IDs or is empty."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/2/comment/{commentId}/properties": {
      "get": {
        "summary": "Get comment property keys",
        "description": "Returns the keys of all the properties of a comment.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b> either of:\n  <ul>\n       <li><em>Edit All Comments</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a>\n       to get the keys of all the properties on any comment.</li>\n       <li><em>Edit Own Comments</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a>\n       to get the keys of all the properties on a comment created by the user.</li>\n  </ul>\n Also, when the visibility of a comment is restricted to a role or group the user must be a member of that role or group. ",
        "summary": "com.atlassian.jira.rest.v2.issue.CommentPropertyResource.getCommentPropertyKeys_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The ID of the comment.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"keys\":[{\"self\":\"http://your-domain.atlassian.net/jira/rest/api/2/issue/EX-2/properties/issue.support\",\"key\":\"issue.support\"}]}"
            },
            "schema": {
              "$ref": "#/definitions/PropertyKeys"
            }
          },
          "400": {
            "description": "Returned if the comment ID is invalid."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the calling user does not have the required permissions."
          },
          "404": {
            "description": "Returned if the comment is not found."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/2/comment/{commentId}/properties/{propertyKey}": {
      "get": {
        "summary": "Get comment property",
        "description": "Returns the value of a comment property.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b> either of:\n  <ul>\n       <li><em>Edit All Comments</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a>\n       to get the value of a property from any comment.</li>\n       <li><em>Edit Own Comments</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a>\n       to get the value of a property from a comment created by the user.</li>\n  </ul>\n Also, when the visibility of a comment is restricted to a role or group the user must be a member of that role or group. ",
        "summary": "com.atlassian.jira.rest.v2.issue.CommentPropertyResource.getCommentProperty_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The ID of the comment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyKey",
            "in": "path",
            "description": "The key of the property.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"key\":\"issue.support\",\"value\":{\"system.conversation.id\":\"b1bf38be-5e94-4b40-a3b8-9278735ee1e6\",\"system.support.time\":\"1m\"}}"
            },
            "schema": {
              "$ref": "#/definitions/EntityProperty"
            }
          },
          "400": {
            "description": "Returned if the request is invalid."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the calling user does not have the required permissions."
          },
          "404": {
            "description": "Returned if the comment or the property is not found."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          }
        ],
        "deprecated": false
      },
      "put": {
        "summary": "Set comment property",
        "description": "Creates or updates the value of a property for a comment. Use this resource to store custom data against a comment.\n <p>\n The value of the request body must be a <a href=\"http://tools.ietf.org/html/rfc4627\">valid</a>, non-empty JSON\n blob. The maximum length is 32768 characters.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b> either of:\n  <ul>\n       <li><em>Edit All Comments</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a>\n       to create or update the value of a property on any comment.</li>\n       <li><em>Edit Own Comments</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a>\n       to create or update the value of a property on a comment created by the user.</li>\n  </ul>\n Also, when the visibility of a comment is restricted to a role or group the user must be a member of that role or group. ",
        "summary": "com.atlassian.jira.rest.v2.issue.CommentPropertyResource.setCommentProperty_put",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The ID of the comment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyKey",
            "in": "path",
            "description": "The key of the property. The maximum length is 255 characters.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the comment property is updated."
          },
          "201": {
            "description": "Returned if the comment property is created."
          },
          "400": {
            "description": "Returned if the request is invalid."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the calling user does not have the required permissions."
          },
          "404": {
            "description": "Returned if the comment is not found."
          }
        },
        "security": [
          {
            "OAuth2": [
              "write:jira-work"
            ]
          }
        ],
        "deprecated": false
      },
      "delete": {
        "summary": "Delete comment property",
        "description": "Deletes a comment property.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b> either of:\n  <ul>\n       <li><em>Edit All Comments</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a>\n       to delete a property from any comment.</li>\n       <li><em>Edit Own Comments</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a>\n       to delete a property from a comment created by the user.</li>\n  </ul>\n Also, when the visibility of a comment is restricted to a role or group the user must be a member of that role or group. ",
        "summary": "com.atlassian.jira.rest.v2.issue.CommentPropertyResource.deleteCommentProperty_delete",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "description": "The ID of the comment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyKey",
            "in": "path",
            "description": "The key of the property.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Returned if the request is successful."
          },
          "400": {
            "description": "Returned if the request is invalid."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the calling user does not have the required project permissions."
          },
          "404": {
            "description": "Returned if the comment or the property is not found or the user has the necessary project permissions but isn't a member of the role or group visibility of the comment is restricted to."
          }
        },
        "security": [
          {
            "OAuth2": [
              "write:jira-work"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/2/component": {
      "post": {
        "summary": "Create component",
        "description": "Creates a component. Use components to provide containers for issues within a project.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b> Any of the following:\n <ul>\n     <li><em>Administer Jira</em> <a href=\"https://confluence.atlassian.com/x/x4dKLg\">global permission</a>.</li>\n     <li><em>Administer projects</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a>.</li>\n </ul> ",
        "summary": "com.atlassian.jira.rest.v2.issue.ComponentResource.createComponent_post",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "bean",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Component"
            },
            "x-examples": {
              "application/json": "{\"name\":\"Component 1\",\"description\":\"This is a Jira component\",\"leadUserName\":\"mia\",\"leadAccountId\":\"bd429c95-e27b-4423-a0bd-421cf3d69129\",\"assigneeType\":\"PROJECT_LEAD\",\"isAssigneeTypeValid\":false,\"project\":\"PROJECTKEY\",\"projectId\":10000}"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"self\":\"http://your-domain.atlassian.net/rest/api/2/component/10000\",\"id\":\"10000\",\"name\":\"Component 1\",\"description\":\"This is a Jira component\",\"lead\":{\"self\":\"http://your-domain.atlassian.net/rest/api/2/user?accountId=99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"key\":\"mia\",\"accountId\":\"99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"name\":\"mia\",\"avatarUrls\":{\"48x48\":\"http://your-domain.atlassian.net/secure/useravatar?size=large&ownerId=mia\",\"24x24\":\"http://your-domain.atlassian.net/secure/useravatar?size=small&ownerId=mia\",\"16x16\":\"http://your-domain.atlassian.net/secure/useravatar?size=xsmall&ownerId=mia\",\"32x32\":\"http://your-domain.atlassian.net/secure/useravatar?size=medium&ownerId=mia\"},\"displayName\":\"Mia Krystof\",\"active\":false},\"assigneeType\":\"PROJECT_LEAD\",\"assignee\":{\"self\":\"http://your-domain.atlassian.net/rest/api/2/user?accountId=99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"key\":\"mia\",\"accountId\":\"99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"name\":\"mia\",\"avatarUrls\":{\"48x48\":\"http://your-domain.atlassian.net/secure/useravatar?size=large&ownerId=mia\",\"24x24\":\"http://your-domain.atlassian.net/secure/useravatar?size=small&ownerId=mia\",\"16x16\":\"http://your-domain.atlassian.net/secure/useravatar?size=xsmall&ownerId=mia\",\"32x32\":\"http://your-domain.atlassian.net/secure/useravatar?size=medium&ownerId=mia\"},\"displayName\":\"Mia Krystof\",\"active\":false},\"realAssigneeType\":\"PROJECT_LEAD\",\"realAssignee\":{\"self\":\"http://your-domain.atlassian.net/rest/api/2/user?accountId=99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"key\":\"mia\",\"accountId\":\"99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"name\":\"mia\",\"avatarUrls\":{\"48x48\":\"http://your-domain.atlassian.net/secure/useravatar?size=large&ownerId=mia\",\"24x24\":\"http://your-domain.atlassian.net/secure/useravatar?size=small&ownerId=mia\",\"16x16\":\"http://your-domain.atlassian.net/secure/useravatar?size=xsmall&ownerId=mia\",\"32x32\":\"http://your-domain.atlassian.net/secure/useravatar?size=medium&ownerId=mia\"},\"displayName\":\"Mia Krystof\",\"active\":false},\"isAssigneeTypeValid\":false,\"project\":\"HSP\",\"projectId\":10000}"
            },
            "schema": {
              "$ref": "#/definitions/Component"
            }
          },
          "400": {
            "description": "Returned if:\n <ul>\n     <li><code>leadAccountId</code> and <code>leadUserName</code> are provided or the user is not found.</li>\n     <li><code>name</code> is not provided.</li>\n     <li><code>projectId</code> is not provided.</li>\n     <li><code>assigneeType</code> is an invalid value.</li>\n     <li><code>name</code> is over 255 characters in length.</li>\n </ul>"
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the calling user does not have permission to manage the project containing the component or does not have permission to administer Jira."
          },
          "404": {
            "description": "Returned if the project is not found or the calling user does not have permission to browse the project containing the component."
          }
        },
        "security": [
          {
            "OAuth2": [
              "manage:jira-project"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/2/component/{id}": {
      "get": {
        "summary": "Get component",
        "description": "Returns a component.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b> <em>Browse projects</em>\n <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a>. ",
        "summary": "com.atlassian.jira.rest.v2.issue.ComponentResource.getComponent_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the component.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"self\":\"http://your-domain.atlassian.net/rest/api/2/component/10000\",\"id\":\"10000\",\"name\":\"Component 1\",\"description\":\"This is a Jira component\",\"lead\":{\"self\":\"http://your-domain.atlassian.net/rest/api/2/user?accountId=99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"key\":\"mia\",\"accountId\":\"99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"name\":\"mia\",\"avatarUrls\":{\"48x48\":\"http://your-domain.atlassian.net/secure/useravatar?size=large&ownerId=mia\",\"24x24\":\"http://your-domain.atlassian.net/secure/useravatar?size=small&ownerId=mia\",\"16x16\":\"http://your-domain.atlassian.net/secure/useravatar?size=xsmall&ownerId=mia\",\"32x32\":\"http://your-domain.atlassian.net/secure/useravatar?size=medium&ownerId=mia\"},\"displayName\":\"Mia Krystof\",\"active\":false},\"assigneeType\":\"PROJECT_LEAD\",\"assignee\":{\"self\":\"http://your-domain.atlassian.net/rest/api/2/user?accountId=99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"key\":\"mia\",\"accountId\":\"99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"name\":\"mia\",\"avatarUrls\":{\"48x48\":\"http://your-domain.atlassian.net/secure/useravatar?size=large&ownerId=mia\",\"24x24\":\"http://your-domain.atlassian.net/secure/useravatar?size=small&ownerId=mia\",\"16x16\":\"http://your-domain.atlassian.net/secure/useravatar?size=xsmall&ownerId=mia\",\"32x32\":\"http://your-domain.atlassian.net/secure/useravatar?size=medium&ownerId=mia\"},\"displayName\":\"Mia Krystof\",\"active\":false},\"realAssigneeType\":\"PROJECT_LEAD\",\"realAssignee\":{\"self\":\"http://your-domain.atlassian.net/rest/api/2/user?accountId=99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"key\":\"mia\",\"accountId\":\"99:27935d01-92a7-4687-8272-a9b8d3b2ae2e\",\"name\":\"mia\",\"avatarUrls\":{\"48x48\":\"http://your-domain.atlassian.net/secure/useravatar?size=large&ownerId=mia\",\"24x24\":\"http://your-domain.atlassian.net/secure/useravatar?size=small&ownerId=mia\",\"16x16\":\"http://your-domain.atlassian.net/secure/useravatar?size=xsmall&ownerId=mia\",\"32x32\":\"http://your-domain.atlassian.net/secure/useravatar?size=medium&ownerId=mia\"},\"displayName\":\"Mia Krystof\",\"active\":false},\"isAssigneeTypeValid\":false,\"project\":\"HSP\",\"projectId\":10000}"
            },
            "schema": {
              "$ref": "#/definitions/Component"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "404": {
            "description": "Returned if the component is not found or the user does not have permission to browse the project containing the component."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          }
        ],
        "deprecated": false
      },
      "put": {
        "summary": "Update component",
        "description": "Updates a component. Any fields included in the request are overwritten. If <code>leadUserName</code>\n is an empty string (\"\") the component lead is removed.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b> Any of the following:\n <ul>\n     <li><em>Administer Jira</em> <a href=\"https://confluence.atlassian.com/x/x4dKLg\">global permission</a>.</li>\n     <li><em>Administer projects</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a>.</li>\n </ul> ",
        "summary": "com.atlassian.jira.rest.v2.issue.ComponentResource.updateComponent_put",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the component.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "bean",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Component"
            },
            "x-examples": {
              "application/json": "{\"name\":\"Component 1\",\"description\":\"This is a Jira component\",\"leadUserName\":\"mia\",\"leadAccountId\":\"bd429c95-e27b-4423-a0bd-421cf3d69129\",\"assigneeType\":\"PROJECT_LEAD\",\"isAssigneeTypeValid\":false,\"project\":\"PROJECTKEY\"}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "schema": {
              "$ref": "#/definitions/Component"
            }
          },
          "400": {
            "description": "Returned if:\n <ul>\n     <li><code>leadAccountId</code> and <code>leadUserName</code> are provided or the user is not found.</li>\n     <li><code>assigneeType</code> is an invalid value.</li>\n     <li><code>name</code> is over 255 characters in length.</li>\n </ul>"
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the calling user does not have permission to manage the project containing the component or does not have permission to administer Jira."
          },
          "404": {
            "description": "Returned if the component is not found or the calling user does not have permission to browse the project containing the component."
          }
        },
        "security": [
          {
            "OAuth2": [
              "manage:jira-project"
            ]
          }
        ],
        "deprecated": false
      },
      "delete": {
        "summary": "Delete component",
        "description": "Deletes a component.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b> Any of the following:\n <ul>\n     <li><em>Administer Jira</em> <a href=\"https://confluence.atlassian.com/x/x4dKLg\">global permission</a>.</li>\n     <li><em>Administer projects</em> <a href=\"https://confluence.atlassian.com/x/yodKLg\">project permission</a>.</li>\n </ul> ",
        "summary": "com.atlassian.jira.rest.v2.issue.ComponentResource.deleteComponent_delete",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the component.",
            "required": true,
            "type": "string"
          },
          {
            "name": "moveIssuesTo",
            "in": "query",
            "description": "The ID of the component to replace the deleted component. If this value is null no replacement is made.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Returned if the request is successfully."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the calling user does not have permission to manage the project containing the component or does not have permission to administer Jira."
          },
          "404": {
            "description": "Returned if:\n <ul>\n     <li>the component is not found.</li>\n     <li>the replacement component is not found.</li>\n     <li>the calling user does not have permission to browse the project containing the component.</li>\n </ul>"
          }
        },
        "security": [
          {
            "OAuth2": [
              "manage:jira-project"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/2/component/{id}/relatedIssueCounts": {
      "get": {
        "summary": "Get component issues count",
        "description": "Returns the counts of issues assigned to the component.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b> Permission to access Jira. ",
        "summary": "com.atlassian.jira.rest.v2.issue.ComponentResource.getComponentRelatedIssues_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the component.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"self\":\"http://your-domain.atlassian.net/rest/api/2/component/10000\",\"issueCount\":23}"
            },
            "schema": {
              "$ref": "#/definitions/ComponentIssuesCount"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "404": {
            "description": "Returned if the component is not found."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/2/configuration": {
      "get": {
        "summary": "Get global settings",
        "description": "Returns the <a href=\"https://confluence.atlassian.com/x/qYXKM\">global settings</a> in Jira. These settings\n determine whether optional features (for example, sub-tasks, time tracking, and others) are enabled.\n If time tracking is enabled, this method also returns the time tracking configuration.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n Permission to access Jira . ",
        "summary": "com.atlassian.jira.rest.v2.admin.ConfigurationResource.getConfiguration_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"votingEnabled\":true,\"watchingEnabled\":true,\"unassignedIssuesAllowed\":false,\"subTasksEnabled\":false,\"issueLinkingEnabled\":true,\"timeTrackingEnabled\":true,\"attachmentsEnabled\":true,\"timeTrackingConfiguration\":{\"workingHoursPerDay\":8.0,\"workingDaysPerWeek\":5.0,\"timeFormat\":\"pretty\",\"defaultUnit\":\"day\"}}"
            },
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          }
        },
        "deprecated": false
      }
    },
    "/api/2/configuration/timetracking": {
      "get": {
        "summary": "Get selected time tracking provider",
        "description": "Returns the time tracking provider that is currently selected. Note that if time tracking is disabled, then\n a successful but empty response is returned.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n <em>Administer Jira</em> <a href=\"https://confluence.atlassian.com/x/x4dKLg\">global permission</a>. ",
        "summary": "com.atlassian.jira.rest.v2.admin.timetracking.TimeTrackingResource.getSelectedTimeTrackingImplementation_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returned if the request is successful and time tracking is enabled.",
            "examples": {
              "application/json": "{\"key\":\"Jira\",\"name\":\"JIRA provided time tracking\",\"url\":\"/example/config/url\"}"
            },
            "schema": {
              "$ref": "#/definitions/TimeTrackingProvider"
            }
          },
          "204": {
            "description": "Returned if the request is successful but time tracking is disabled."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have the required permissions."
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Select time tracking provider",
        "description": "Selects a time tracking provider.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n <em>Administer Jira</em> <a href=\"https://confluence.atlassian.com/x/x4dKLg\">global permission</a>. ",
        "summary": "com.atlassian.jira.rest.v2.admin.timetracking.TimeTrackingResource.selectTimeTrackingImplementation_put",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "timeTrackingImplementationBean",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TimeTrackingProvider"
            },
            "x-examples": {
              "application/json": "{\"key\":\"Jira\"}"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returned if the request is successful."
          },
          "400": {
            "description": "Returned if the time tracking provider is not found."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have the required permissions."
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Disable time tracking",
        "description": "Disables time tracking.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n <em>Administer Jira</em> <a href=\"https://confluence.atlassian.com/x/x4dKLg\">global permission</a>. ",
        "summary": "com.atlassian.jira.rest.v2.admin.timetracking.TimeTrackingResource.disableTimeTracking_delete",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "204": {
            "description": "Returned if the request is successful."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have the required permissions."
          }
        },
        "deprecated": false
      }
    },
    "/api/2/configuration/timetracking/list": {
      "get": {
        "summary": "Get all time tracking providers",
        "description": "Returns all time tracking providers. By default, Jira only has one time tracking provider: <em>JIRA provided time tracking</em>.\n However, you can install other time tracking providers via apps from the Atlassian Marketplace.\n For more information on time tracking providers, see the documentation for the\n <a href=\"https://developer.atlassian.com/cloud/jira/platform/modules/time-tracking-provider/\">\n Time Tracking Provider</a> module.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n <em>Administer Jira</em> <a href=\"https://confluence.atlassian.com/x/x4dKLg\">global permission</a>. ",
        "summary": "com.atlassian.jira.rest.v2.admin.timetracking.TimeTrackingResource.getAvailableTimeTrackingImplementations_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "[{\"key\":\"Jira\",\"name\":\"JIRA provided time tracking\",\"url\":\"/example/config/url\"}]"
            },
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TimeTrackingProvider"
              }
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have the required permissions."
          }
        },
        "deprecated": false
      }
    },
    "/api/2/configuration/timetracking/options": {
      "get": {
        "summary": "Get time tracking settings",
        "description": "Returns the time tracking settings. This includes settings such as the time format, default time\n unit, and others. For more information, see\n <a href=\"https://confluence.atlassian.com/x/qoXKM\">Configuring time tracking</a>.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n <em>Administer Jira</em> <a href=\"https://confluence.atlassian.com/x/x4dKLg\">global permission</a>. ",
        "summary": "com.atlassian.jira.rest.v2.admin.timetracking.TimeTrackingResource.getSharedTimeTrackingConfiguration_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"workingHoursPerDay\":7.6,\"workingDaysPerWeek\":5.5,\"timeFormat\":\"pretty\",\"defaultUnit\":\"hour\"}"
            },
            "schema": {
              "$ref": "#/definitions/TimeTrackingConfiguration"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have the required permissions."
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Set time tracking settings",
        "description": "Sets the time tracking settings.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n <em>Administer Jira</em> <a href=\"https://confluence.atlassian.com/x/x4dKLg\">global permission</a>. ",
        "summary": "com.atlassian.jira.rest.v2.admin.timetracking.TimeTrackingResource.setSharedTimeTrackingConfiguration_put",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "bean",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TimeTrackingConfiguration"
            },
            "x-examples": {
              "application/json": "{\"workingHoursPerDay\":7.6,\"workingDaysPerWeek\":5.5,\"timeFormat\":\"pretty\",\"defaultUnit\":\"hour\"}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"workingHoursPerDay\":7.6,\"workingDaysPerWeek\":5.5,\"timeFormat\":\"pretty\",\"defaultUnit\":\"hour\"}"
            },
            "schema": {
              "$ref": "#/definitions/TimeTrackingConfiguration"
            }
          },
          "400": {
            "description": "Returned if the request object is invalid."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "403": {
            "description": "Returned if the user does not have the required permissions."
          }
        },
        "deprecated": false
      }
    },
    "/api/2/customFieldOption/{id}": {
      "get": {
        "summary": "Get custom field option",
        "description": "Returns a custom field option. For example, an option in a cascading select list.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b> Permission to access Jira. ",
        "summary": "com.atlassian.jira.rest.v2.issue.customfield.CustomFieldOptionResource.getCustomFieldOption_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the custom field option. To find this ID, <a href=\"https://confluence.atlassian.com/x/B4hKLg\"> configure the custom field</a> and edit its options in Jira. Click the option and its ID will\n           show in the URL as the <code>selectedParentOptionId</code> parameter.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"self\":\"https://your-domain.atlassian.net/rest/api/2/customFieldOption/10000\",\"value\":\"To Do\"}"
            },
            "schema": {
              "$ref": "#/definitions/CustomFieldOption"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "404": {
            "description": "Returned if any of the following are true:\n <ul>\n     <li>the custom field option is not found.</li>\n     <li>the user does not have permission to view the custom field.</li>\n </ul>"
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/2/dashboard": {
      "get": {
        "summary": "Get all dashboards",
        "description": "Returns a list of dashboards owned by or shared with the user. The list may be filtered to include only favorite or\n owned dashboards.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n Permission to access Jira. ",
        "summary": "com.atlassian.jira.rest.v2.dashboard.DashboardResource.getAllDashboards_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "The filter applied to the list of dashboards. Valid values are:\n                        <ul>\n                           <li><code>favourite</code> Returns dashboards the user has marked as favorite.</li>\n                           <li><code>my</code> Returns dashboards owned by the user.</li>\n                        </ul>",
            "required": false,
            "type": "string",
            "enum": [
              "my",
              "favourite"
            ]
          },
          {
            "name": "startAt",
            "in": "query",
            "description": "The index of the first item to return in a page of results (page offset).",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "\nThe maximum number of items to return per page. The maximum is <code>1000</code>.",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"startAt\":10,\"maxResults\":10,\"total\":143,\"prev\":\"http://your-domain.atlassian.net/rest/api/2/dashboard?startAt=0\",\"next\":\"http://your-domain.atlassian.net/rest/api/2/dashboard?startAt=10\",\"dashboards\":[{\"id\":\"10000\",\"isFavourite\":false,\"name\":\"System Dashboard\",\"popularity\":1,\"self\":\"http://your-domain.atlassian.net/rest/api/2/dashboard/10000\",\"sharePermissions\":[{\"type\":\"global\"}],\"view\":\"http://your-domain.atlassian.net/secure/Dashboard.jspa?selectPageId=10000\"},{\"id\":\"20000\",\"isFavourite\":true,\"name\":\"Build Engineering\",\"owner\":{\"key\":\"fred\",\"self\":\"http://your-domain.atlassian.net/rest/api/2/user?accountId=26912:8347-414d-ef131-ac0318367469\",\"name\":\"fred\",\"displayName\":\"Fred F. User\",\"avatarUrls\":{\"16x16\":\"http://your-domain.atlassian.net/secure/useravatar?size=large&ownerId=fred\",\"24x24\":\"http://your-domain.atlassian.net/secure/useravatar?size=small&ownerId=fred\",\"32x32\":\"http://your-domain.atlassian.net/secure/useravatar?size=xsmall&ownerId=fred\",\"48x48\":\"http://your-domain.atlassian.net/secure/useravatar?size=medium&ownerId=fred\"}},\"popularity\":1,\"self\":\"http://your-domain.atlassian.net/rest/api/2/dashboard/20000\",\"sharePermissions\":[{\"id\":10105,\"type\":\"group\",\"group\":{\"name\":\"administrators\",\"self\":\"http://your-domain.atlassian.net/rest/api/2/group?groupname=administrators\"}}],\"view\":\"http://your-domain.atlassian.net/secure/Dashboard.jspa?selectPageId=20000\"}]}"
            },
            "schema": {
              "$ref": "#/definitions/PageOfDashboards"
            }
          },
          "400": {
            "description": "Returned if the request is invalid."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          }
        },
        "deprecated": false
      }
    },
    "/api/2/dashboard/search": {
      "get": {
        "summary": "Search for dashboards",
        "description": "Search for dashboards. This method is similar to\n <a href=\"#api-api-2-dashboard-get\">Get dashboards</a> except that\n you can refine the results to include dashboards that have specific attributes. For example, dashboards with a particular name.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n Permission to access Jira, however only the following dashboards are returned (if no search parameters are set):\n <ul>\n <li>Dashboards owned by the user.</li>\n <li>Dashboards shared with a group that the user is a member of.</li>\n <li>Dashboards shared with a private project that the user can browse.</li>\n <li>Dashboards shared with a public project, even if the user is anonymous.</li>\n <li>Dashboards shared with the public, even if the user is anonymous.</li>\n </ul> ",
        "summary": "com.atlassian.jira.rest.v2.dashboard.DashboardResource.getDashboardsPaginated_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dashboardName",
            "in": "query",
            "description": "\nReturns dashboards with a name that partially matches <code>dashboardName</code>.",
            "required": false,
            "type": "string"
          },
          {
            "name": "accountId",
            "in": "query",
            "description": "\nReturns dashboards with an owner that exactly matches <code>accountId</code> of the owner. This parameter\n                      cannot be used with the <code>owner</code> parameter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "owner",
            "in": "query",
            "description": "\nReturns dashboards with an owner that exactly matches <code>owner</code>. This parameter\n                      cannot be used with the <code>accountId</code> parameter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "groupname",
            "in": "query",
            "description": "Returns dashboards that are shared with a group that has a name that exactly matches\n                      <code>groupname</code>.",
            "required": false,
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Returns dashboards that are shared with a project that has an ID that exactly matches\n                      <code>projectId</code>.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "<a href=\"#ordering\">Orders</a> the results using one of these dashboard properties:\n                      <ul>\n                      <li><code>id</code> Orders by dashboard <code>id</code>.</li>\n                      <li><code>name</code> Orders by dashboard <code>name</code>.</li>\n                      <li><code>description</code> Orders by dashboard <code>description</code>.</li>\n                      <li><code>owner</code> Orders by owner <code>name</code>.</li>\n                      <li><code>favourite_count</code> Orders by <code>favouritedCount</code>.</li>\n                      <li><code>is_favourite</code> Orders by <code>favourite</code>.</li>\n                      </ul>",
            "required": false,
            "type": "string",
            "default": "name",
            "enum": [
              "id",
              "name",
              "description",
              "owner",
              "favorite_count",
              "is_favorite",
              "-id",
              "-name",
              "-description",
              "-owner",
              "-favorite_count",
              "-is_favorite"
            ]
          },
          {
            "name": "startAt",
            "in": "query",
            "description": "The index of the first item to return in a page of results (page offset).",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int64"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "\nThe maximum number of items to return per page. The maximum is <code>50</code>.",
            "required": false,
            "type": "integer",
            "default": 50,
            "format": "int32"
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Use <a href=\"#expansion\">expand</a> to include additional information about dashboard in the response. This parameter accepts multiple values separated by a comma.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"self\":\"b\",\"maxResults\":100,\"startAt\":0,\"total\":2,\"isLast\":true,\"values\":[{\"description\":\"Description for dashboard 1\",\"id\":\"1\",\"isFavourite\":true,\"name\":\"Dashboard 1\",\"owner\":{\"self\":\"http://your-domain.atlassian.net/user?accountId=0000-0000-0000-0000\",\"displayName\":\"user1\",\"active\":true,\"accountId\":\"0000-0000-0000-0000\",\"avatarUrls\":{\"16x16\":\"https://id.atlassian.com/profile/rest/avatar/e93edd89f26b73932efa854d13d7dd61?s=16&d=http%3A%2F%2Fwww.gravatar.com%2Favatar%2Fe64c7d89f26bd1972efa854d13d7dd61%3Fd%3Dmm%26s%3D32%26noRedirect%3Dtrue\",\"24x24\":\"https://id.atlassian.com/profile/rest/avatar/e93edd89f26b73932efa854d13d7dd61?s=24&d=http%3A%2F%2Fwww.gravatar.com%2Favatar%2Fe64c7d89f26bd1972efa854d13d7dd61%3Fd%3Dmm%26s%3D32%26noRedirect%3Dtrue\",\"32x32\":\"https://id.atlassian.com/profile/rest/avatar/e93edd89f26b73932efa854d13d7dd61?s=32&d=http%3A%2F%2Fwww.gravatar.com%2Favatar%2Fe64c7d89f26bd1972efa854d13d7dd61%3Fd%3Dmm%26s%3D32%26noRedirect%3Dtrue\",\"48x48\":\"https://id.atlassian.com/profile/rest/avatar/e93edd89f26b73932efa854d13d7dd61?s=48&d=http%3A%2F%2Fwww.gravatar.com%2Favatar%2Fe64c7d89f26bd1972efa854d13d7dd61%3Fd%3Dmm%26s%3D32%26noRedirect%3Dtrue\"}},\"popularity\":1,\"self\":\"http://your-domain.atlassian.net/rest/api/2/dashboard/1\",\"sharePermissions\":[{\"type\":\"global\"}],\"view\":\"http://your-domain.atlassian.net/Dashboard.jspa?selectPageId=1\"},{\"description\":\"Description for dashboard 2\",\"id\":\"2\",\"isFavourite\":false,\"name\":\"Dashboard 2\",\"owner\":{\"self\":\"http://your-domain.atlassian.net/user?accountId=0000-0000-0000-0000\",\"displayName\":\"user1\",\"active\":true,\"accountId\":\"0000-0000-0000-0000\",\"avatarUrls\":{\"16x16\":\"https://id.atlassian.com/profile/rest/avatar/e93edd89f26b73932efa854d13d7dd61?s=16&d=http%3A%2F%2Fwww.gravatar.com%2Favatar%2Fe64c7d89f26bd1972efa854d13d7dd61%3Fd%3Dmm%26s%3D32%26noRedirect%3Dtrue\",\"24x24\":\"https://id.atlassian.com/profile/rest/avatar/e93edd89f26b73932efa854d13d7dd61?s=24&d=http%3A%2F%2Fwww.gravatar.com%2Favatar%2Fe64c7d89f26bd1972efa854d13d7dd61%3Fd%3Dmm%26s%3D32%26noRedirect%3Dtrue\",\"32x32\":\"https://id.atlassian.com/profile/rest/avatar/e93edd89f26b73932efa854d13d7dd61?s=32&d=http%3A%2F%2Fwww.gravatar.com%2Favatar%2Fe64c7d89f26bd1972efa854d13d7dd61%3Fd%3Dmm%26s%3D32%26noRedirect%3Dtrue\",\"48x48\":\"https://id.atlassian.com/profile/rest/avatar/e93edd89f26b73932efa854d13d7dd61?s=48&d=http%3A%2F%2Fwww.gravatar.com%2Favatar%2Fe64c7d89f26bd1972efa854d13d7dd61%3Fd%3Dmm%26s%3D32%26noRedirect%3Dtrue\"}},\"popularity\":0,\"self\":\"http://your-domain.atlassian.net/rest/api/2/dashboard/2\",\"sharePermissions\":[{\"type\":\"loggedin\"}],\"view\":\"http://your-domain.atlassian.net/Dashboard.jspa?selectPageId=2\"}]}"
            },
            "schema": {
              "$ref": "#/definitions/PageOfDashboard"
            }
          },
          "400": {
            "description": "\nReturned if <code>orderBy</code> is invalid."
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/2/dashboard/{dashboardId}/items/{itemId}/properties": {
      "get": {
        "summary": "Get dashboard item property keys",
        "description": "Returns the keys of all properties for a dashboard item.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n Permission to access Jira.\n However, to get the property keys the user must be the owner of the dashboard or be shared the dashboard.\n Note, users with the <em>Administer Jira</em> <a href=\"https://confluence.atlassian.com/x/x4dKLg\">global\n permission</a> are considered owners of the System dashboard. The System dashboard is considered to be shared\n with all other users. ",
        "summary": "com.atlassian.jira.rest.v2.dashboard.DashboardItemPropertyResource.getDashboardItemPropertyKeys_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "description": "The ID of the dashboard.",
            "required": true,
            "type": "string"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "The ID of the dashboard item.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"keys\":[{\"self\":\"http://your-domain.atlassian.net/jira/rest/api/2/issue/EX-2/properties/issue.support\",\"key\":\"issue.support\"}]}"
            },
            "schema": {
              "$ref": "#/definitions/PropertyKeys"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "404": {
            "description": "Returned if the dashboard or dashboard item is not found, or the dashboard is not owned by or shared with the user."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          }
        ],
        "deprecated": false
      }
    },
    "/api/2/dashboard/{dashboardId}/items/{itemId}/properties/{propertyKey}": {
      "get": {
        "summary": "Get dashboard item property",
        "description": "Returns the key and value of a dashboard item property.\n <p>\n A dashboard item enables an app to add user-specific information to a user dashboard. Dashboard items are exposed\n to users as gadgets that users can add to their dashboards. For more information on how users do this, see\n <a href=\"https://confluence.atlassian.com/x/7AeiLQ\">Adding and customizing gadgets</a>.\n <p>\n When an app creates a dashboard item it registers a callback to receive the dashboard item ID. The callback fires\n whenever the item is rendered or, where the item is configurable, the user edits the item. The app then uses this\n resource to store the item's content or configuration details. For more information on working with dashboard items, see\n <a href=\"https://developer.atlassian.com/server/jira/platform/guide-building-a-dashboard-item-for-a-jira-connect-add-on-33746254/\">\n Building a dashboard item for a JIRA Connect add-on</a> and the\n <a href=\"https://developer.atlassian.com/cloud/jira/platform/modules/dashboard-item/\">Dashboard Item</a> documentation.\n <p>\n There is no resource to set or get dashboard items.\n <p>\n <b><a href=\"#permissions\">Permissions</a> required:</b>\n Permission to access Jira.\n However, to get a dashboard item property the user must be the owner of the dashboard or be shared the dashboard.\n Note, users with the <em>Administer Jira</em> <a href=\"https://confluence.atlassian.com/x/x4dKLg\">global\n permission</a> are considered owners of the System dashboard. The System dashboard is considered to be shared\n with all other users. ",
        "summary": "com.atlassian.jira.rest.v2.dashboard.DashboardItemPropertyResource.getDashboardItemProperty_get",
        "schemes": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dashboardId",
            "in": "path",
            "description": "The ID of the dashboard.",
            "required": true,
            "type": "string"
          },
          {
            "name": "itemId",
            "in": "path",
            "description": "The ID of the dashboard item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertyKey",
            "in": "path",
            "description": "The key of the dashboard item property.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "examples": {
              "application/json": "{\"key\":\"issue.support\",\"value\":{\"system.conversation.id\":\"b1bf38be-5e94-4b40-a3b8-9278735ee1e6\",\"system.support.time\":\"1m\"}}"
            },
            "schema": {
              "$ref": "#/definitions/EntityProperty"
            }
          },
          "401": {
            "description": "Returned if the authentication credentials are incorrect or missing."
          },
          "404": {
            "description": "Returned if the dashboard, the dashboard item, or dashboard item property is not found, or the dashboard is not owned by or shared with the user."
          }
        },
        "security": [
          {
            "OAuth2": [
              "read:jira-work"
            ]
          }
        ],
        "deprecated": false
      },
      "put": {
        "summary": "Set dashboard item property",
[...]
