swagger: "2.0"
info:
  title: "My Brother's Keeper (MBK) APIs"
  description: "The U.S. Department of Education's My Brother’s Keeper APIs provide access to several datasets compiled by the My Brother's Keeper Task Force, who gathered indicators from a range of federal data sources to support analyses of important life outcomes for all youth, including boys and young men of color. Specifically, these APIs provide information on 18- to 24-year-olds by race/ethnicity and sex, including high school dropout rates; college enrollment and graduation rates; rates of disconnected youth (who are neither working nor in school); imprisonment rates; and labor force participation rates."
  version: 1.0.0
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://www.ed.gov/profiles/ed_main/themes/ed3/images/apple-touch-icon-72x72.png'
host:  api.ed.gov
basePath: /data
schemes:
  - https
paths:
  /mbk-highschool-dropout:
    get:
      operationId: highSchoolDropoutRates
      summary: High School Dropout Rates
      description: 'Percentage of 18- to 24-year-olds who have not completed high school by sex and race/ethnicity, 2000–2014.'
      parameters:
        - $ref: '#/parameters/PerPage'
        - $ref: '#/parameters/Page'
        - $ref: '#/parameters/Sort'
        - $ref: '#/parameters/Columnx'
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  /mbk-college-enrollment:
    get:
      operationId: collegeEnrollmentRates
      summary: College Enrollment Rates
      description: 'Percentage of 18- to 24-year-olds enrolled in 2- and 4-year colleges by sex and race/ethnicity, 2000–2014.'
      parameters:
        - $ref: '#/parameters/PerPage'
        - $ref: '#/parameters/Page'
        - $ref: '#/parameters/Sort'
        - $ref: '#/parameters/Columnx'
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  /mbk-bachelors-or-higher:
    get:
      operationId: collegeGraduationRates
      summary: College Graduation Rates
      description: 'Percentage of 18- to 24-year-olds who have completed a bachelor’s or higher degree by sex and race/ethnicity, 2000–2014.'
      parameters:
        - $ref: '#/parameters/PerPage'
        - $ref: '#/parameters/Page'
        - $ref: '#/parameters/Sort'
        - $ref: '#/parameters/Columnx'
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  /mbk-disconnected-youth:
    get:
      operationId: ratesOfDisconnectedYouth
      summary: Rates of Disconnected Youth
      description: 'Percentage of 18- to 24-year-olds who were neither enrolled in school nor working by sex and race/ethnicity, 2000–2014 (so-called disconnected youth).'
      parameters:
        - $ref: '#/parameters/PerPage'
        - $ref: '#/parameters/Page'
        - $ref: '#/parameters/Sort'
        - $ref: '#/parameters/Columnx'
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  /mbk-labor-force-participation:
    get:
      operationId: laborForceParticipationRates
      summary: Labor Force Participation Rates
      description: 'Labor force participation rates for young adults ages 18–24 by age, sex, and race/ethnicity, 1980–2013 annual averages.'
      parameters:
        - $ref: '#/parameters/PerPage'
        - $ref: '#/parameters/Page'
        - $ref: '#/parameters/Sort'
        - $ref: '#/parameters/Columnx'
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
  /mbk-imprisonment:
    get:
      operationId: imprisonmentRates
      summary: Imprisonment Rates
      description: 'Imprisonment rates of 18- to 24-year-olds sentenced to more than 1 year under the jurisdiction of state correctional authorities per 100,000 by sex and race/ethnicity, 2000–2012.'
      parameters:
        - $ref: '#/parameters/PerPage'
        - $ref: '#/parameters/Page'
        - $ref: '#/parameters/Sort'
        - $ref: '#/parameters/Columnx'
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
parameters:
  PerPage:
    name: per_page
    in: query
    description: "Select number of results per page."
    type: string
  Page:
    name: filter
    in: query
    description: "Select results page."
    type: string
  Sort:
    name: sort
    in: query
    description: "Sort by Column."
    type: string
  Columnx:
    name: Columnx
    in: query
    description: "Filter by Columnx"
    type: string
definitions: []
securityDefinitions:
  api_key:
    type: apiKey
    name: api_key
    in: query