bin/validators/*.js
bin/utils/*.js
bin/commands/*.js
test-console-output.log
bin/commands/*.js.map
bin/utils/*.js.map
bin/validators/*.js.map
bin/utils/migrate/*.js
bin/utils/migrate/*.js.map
bin/utils/kg/**/*.js
# the graph browser page is hand-written ES modules, not Babel output
!bin/utils/kg/vis/*.js
bin/utils/kg/**/*.js.map
