.loading {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
}

.tutorials-demo-container .panel-content {
	overflow: auto;
}
.demo-app-card:hover {
  cursor: pointer;
}

.demo-app-card .ui-image{
	min-width: 100%;
	min-height: 120px;
	background-size: cover;
	margin-bottom: 12px;
}

.demo-text {
	text-align: center;
}

.demo-app-tree-group {
  overflow: initial;
}

.tutorials-demo-container .demo-app-tree-group {
  margin-top: 12px;
}

.demo-app-tree-group .d4-tree-view-group {
	width: 100%;
}

.demo-app-tree-group .d4-tree-view-tri .d4-tree-view-tri-expanded {
	width: 22px;
}

.demo-app-tree-group .d4-tree-view-group-host .d4-tree-view-group-host {
	padding-left: 10px;
  	margin-left: 0;
}

.demo-app-tree-group .d4-tree-view-item {
	padding-left: 5px;
	display: block;
}

.demo-app-tree-group .d4-tree-view-item.hidden {
	display: none;
}

.demo-app-tree-group .d4-tree-view-item:hover {
	cursor: pointer;
}

.demo-app-tree-group .d4-tree-view-item:focus {
	background-color: var(--grey-1);
}

.demo-app-tree-home-node > .d4-tree-view-node > i.grok-icon.fa-home {
	color: var(--grey-6);
	width: 24px;
	height: 22px;
}

.demo-app-tree-home-node .d4-tree-view-group-label {
	margin: 0;
}

.demo-app-view-title {
	font-size: 20px;
	color: var(--grey-6);
	text-align: center;
	margin: 6px auto;
}

.demo-app-view-subtitle {
	color: var(--grey-5);
	text-align: center;
	margin: 6px auto;
	line-height: 1.5;
}

.demo-app-group-title {
	margin-left: 24px;
}

/* View tree group */
.d4-tree-view-root.demo-app-group-view .grok-gallery-grid {
	margin: 0;
	padding: 12px;
	align-items: stretch;
}

.grok-gallery-grid-view-demo-app {
	flex-direction: column;
}

.d4-tree-view-root.demo-app-group-view .grok-gallery-grid > div {
	margin: 12px;
}

.d4-tree-view-root.demo-app-group-view .d4-tree-view-group-label {
	color: var(--grey-6);
}

.d4-tree-view-root.demo-app-group-view .d4-tree-view-node {
	padding: 4px 0;
}

.demo-app-script .tutorials-root-header > h2 {
	margin: 0;
	text-align: center;
}

/* Autocomplete dock */
.demo-app-script {
	overflow: scroll;
}

.demo-app-script .tutorials-root-header{
	align-items: center;
}

.demo-app-script .tutorials-main-header {
	padding: 0 12px;
}

.demo-app-script .grok-tutorial-entry > i.grok-icon {
	min-width: 14px;
	text-align: center;
}
.demo-app-script .grok-tutorial-entry > i.grok-icon.fa-spinner-third {
	font-weight: bold;
}

.demo-app-script .fa-clock {
	color: var(--grey-3);
}

.demo-app-script .fa-spin {
	color: var(--blue-1);
}

.demo-app-script .fa-check {
	color: var(--green-2);
}

.demo-app-script .grok-tutorial-entry-instruction {
	color: var(--grey-6);
}

.demo-app-script .grok-tutorial-step-description {
	padding-left: 24px;
}

.demo-app-script .grok-tutorial-step-description .hidden{
	display: none;
}

.demo-app-script .grok-tutorial-step-description .visible{
	display: block;
}

/* Demo script view */
.demo-app-script-view {
	max-width: 720px;
}

.demo-app-script-view h1 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 12px;
	color: var(--grey-6);
}

.demo-app-script-view div {
	font-size: 14px;
	line-height: 1.5rem;
	color: var(--grey-5);
	margin-bottom: 12px;
}

.demo-app-script-view button.ui-btn-raised {
	margin: 0;
}

/* play-pause btn */
.tutorials-root-header button > i.grok-icon.fa-play {
	color: var(--green-2);
}

.tutorials-root-header button > i.grok-icon.fa-play.fa-disabled {
	color: var(--grey-2);
}

.tutorials-root-description > .grok-tutorial-entry i.grok-icon.fa-play {
	color: var(--green-2);
}

/* countdown */
div.demo-script-countdown {
	position: relative;
	height: 14px;
	width: 14px;
	text-align: center;
}

div.demo-script-countdownnum {
	font-size:9px;
	color: var(--blue-1);
	display: inline-block;
	position:relative;
	top:0;
}

div.demo-script-countdown svg {
	position: absolute;
	top: 0;
	right: 0;
	width: 14px;
	height: 14px;
	transform: rotateY(-180deg) rotateZ(-90deg);
}

div.demo-script-countdown svg>circle {
	stroke-dasharray: 40px;
	stroke-dashoffset: 0;
	stroke-linecap: round;
	stroke-width: 1.5px;
	stroke: var(--blue-1);
	fill: none;
	animation: countdown 10s linear infinite forwards;
}

@keyframes countdown {
	from {
		stroke-dashoffset: 0;
	}

	to {
		stroke-dashoffset: 40px;
	}
}

/* View breadcrumbs */
.d4-ribbon-name .ui-breadcrumbs {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	flex-wrap: nowrap;
    padding: 0;
}

.d4-ribbon-name .ui-breadcrumbs i {
	padding: 0 6px;
	font-size: 10px;
	font-weight: bold;
}

.d4-ribbon-name .ui-breadcrumbs-element:last-child {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* tree.view widget */
.demo-app-widget.d4-tree-view-root {
	margin-top: 12px;
	min-width: 100%;
	overflow-y: unset;
}
.demo-app-widget .d4-tree-view-group {
	width: 100%;
}

.demo-app-search-input {
	width: 250px;
	margin-bottom: 12px;
	margin-left: 7px;
}
