.tutorials-root{
    overflow-y: scroll;
}
/* Track Root */
.tutorials-track{
  margin-bottom: 20px;
}
/* Track Title */
.tutorials-track-title{
    align-items: flex-end;
}
.tutorials-track-title h1{
    margin: 0 0 5px 0;
}
/* Track Details */
.tutorials-track-details{
    color: var(--grey-4);
    justify-content: space-between;
    margin-bottom: 10px;
}
/* Track Progress */
.tutorials-track progress{
    margin: 5px 0;
    width: 100%;
    height: 5px;
}

.tutorials-track progress[value]{
    -webkit-appearance: none;
    appearance: none;
}

.tutorials-track progress[value]::-webkit-progress-bar {
 background-color: var(--grey-1);
 border-radius: 2px;
}

.tutorials-track progress[value]::-webkit-progress-value {
    background-image:
    -webkit-linear-gradient(-45deg, 
                            transparent 33%, rgba(255, 255, 255, .15) 33%, 
                            rgba(255,255, 255, .15) 66%, transparent 66%),
    -webkit-linear-gradient(top, 
                            rgba(255, 255, 255, .0), 
                            rgba(0, 0, 0, .0)),
    -webkit-linear-gradient(left, var(--blue-1), var(--blue-1));
background-size: 15px 10px, 100% 100%, 100% 100%;
    border-radius: 2px; 
} 

progress[value]::-webkit-progress-value::before {
    content: '80%';
    position: absolute;
    right: 0;
    top: -125%;
}
progress[value]::-webkit-progress-value::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 100%;
    right: 7px;
    top: 7px;
    background-color: white;
}


/* Tutorial Card */
.tutorials-card{
    padding: 5px;
    margin: 0 -5px;
    cursor: default;
    background-color: white;
    position: relative;
}
.tutorials-card:hover{
    padding: 5px;
    margin: 0 -5px;
    cursor: pointer;
    background-color: var(--grey-1);
    position: relative;
}
/* Tutorial Card Title*/
.tutorials-card-title{
    font-weight: bold;
    color: var(--grey-6);
    margin: 0px 0px 5px 0px;
}
/* Tutorial Card Description*/
.tutorials-card-description{
    font-weight: normal;
    color: var(--grey-4);
    margin: 0px;
    max-height: 50px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* Tutorial Card Image*/
.tutorials-card .ui-image{
    border: 1px solid var(--grey-1);
    background-size: cover;
    min-width: 90px;
    margin-right: 10px;
}
/* Tutorial Card Icon Status*/
.tutorials-card-status{
    max-width: 20px;
    position: absolute;
    right: 5px;
    color: var(--green-2);
}


/* Tutorial Root CSS */
.tutorials-target-hint {
    background-color: rgba(255,162,74, 0.25);
    border: 1px dashed rgba(255,162,74, 0.5);
}

.tutorials-root-description{
    font-weight: normal;
    color: var(--grey-4);
    margin: 0px;
}
.grok-tutorial-entry{
    align-items: center;
}
.grok-tutorial-entry-instruction{
    color: var(--grey-6);
}
.grok-tutorial-entry-success{
    text-decoration: line-through;
    color: var(--grey-4);
}
.grok-tutorial-entry-indicator{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: var(--orange-2);
}
.grok-tutorial-entry-indicator-success{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: var(--green-2);
}


/* Animation */
/* Add div container with class blob*/
.blob {
	background: rgb(255 162 74);
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(255, 162, 74,.5);
	margin: -10px 0px 0px -10px;
	height: 5px;
	width: 5px;
    position: fixed;
	transform: scale(1);
	animation: pulse-white 1.25s infinite;
}

@keyframes pulse-white {
	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
	}
	
	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}