.ui-drop-down-root {
    position: relative;
    display: flex;
    align-items: center;
    min-width: initial;
    width: initial;
    padding: 0 7px 0 2px;
    margin: 2px 11px 2px 2px;
}

.ui-drop-down-root::after {
    content: ' ';
    margin-right: 2px;
    border-width: 4px 4px 0 4px;
    border-style: solid;
    border-color: #40607f transparent transparent transparent;
}

.ui-drop-down-root.ui-drop-down-root-expanded {
    z-index: 4000;
    box-shadow: 0px 0px 2px #40607F;
    border-radius: 1px;
    background-color: #ECEFF2;
    flex-grow: 1;
}

.ui-drop-down-root.ui-drop-down-root-expanded::before {
    content: ' ';
    bottom: -1px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 5px;
    z-index: 4002;
    background-color: #ECEFF2;
}

.ui-drop-down-content {
    position: absolute;
    left: 0px;
    top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px #40607F;
    z-index: 4000;
    background: #ECEFF2;
    min-width: 110px;
    width: max-content;
    padding: 10px 12px;
    visibility: hidden;
}

.d4-ribbon-item > .ui-drop-down-root {
    margin-right: 11px;
}
