.fit-view-inputs-category {    
    font-size: 13px;
    font-weight: bold;
    margin-top: 18px;
    padding-right: 5px;
}

.fit-view-chevron-right {
    padding-right: 10px;
}

.fit-view-chevron-down {
    padding-right: 5px;
}

.fit-view-svg-icon {    
    height: 24px;
    width: 24px;
}