.pipeline-view .d4-ribbon-name.selected {
  color: var(--grey-6)
}

.pipeline-view .d4-ribbon-name {
  color: var(--blue-1);
  margin: 12px 6px;
  font-weight: normal;
  place-content: center;
}

.pipeline-view .d4-ribbon-name + .d4-ribbon-name::before {
  color: var(--grey-3);
}

.pipeline-view .d4-ribbon-name.d4-disabled {
  cursor: default;
  pointer-events: none;
  color: var(--grey-3);
}

.ui-input-editor button.ui-btn-nav.ui-btn.d4-disabled {
  color: var(--grey-3)
}