.ui-form .ui-input-root .sa-switch-input {
    max-width: 50px;
    min-width: 50px;
}

.ui-form.ui-form-condensed .ui-input-root .sa-switch-input {
    order: -3;
    top: -5px;
    position: relative;
}

.ui-form.ui-form-condensed .ui-input-root > .sa-switch-input + label.ui-input-label:not(:empty) {
    width: unset;
}

.ui-form.ui-form-condensed .ui-input-root > .sa-switch-input ~ .ui-input-editor {
    margin-left: 50px;
}

.sensitivity-analysis-svg-icon {    
    height: 24px;
    width: 24px;
}