---
name: Lint Code Base
on:
  workflow_dispatch: { }
  push:
  pull_request:

jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0
      - name: Lint Code Base
        uses: github/super-linter@v4.9.6
        env:
          DISABLE_ERRORS: true
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MULTI_STATUS: true
          LOG_LEVEL: WARN
          ERROR_ON_MISSING_EXEC_BIT: true
          SUPPRESS_FILE_TYPE_WARN: false
          JSCPD_CONFIG_FILE: .jscpd.json
          MARKDOWN_CONFIG_FILE: .markdownlint.yaml
          NATURAL_LANGUAGE_CONFIG_FILE: .textlintrc
          JAVASCRIPT_ES_CONFIG_FILE: .eslintrc.json
          TYPESCRIPT_ES_CONFIG_FILE: .eslintrc.json
          VALIDATE_ALL_CODEBASE: false
          IGNORE_GITIGNORED_FILES: true
          VALIDATE_BASH: true
          VALIDATE_BASH_EXEC: true
          VALIDATE_CPP: true
          VALIDATE_CLANG_FORMAT: true
          VALIDATE_CLOUDFORMATION: true
          VALIDATE_CSS: true
          VALIDATE_DART: true
          VALIDATE_DOCKERFILE_HADOLINT: true
          VALIDATE_EDITORCONFIG: true
          VALIDATE_GITHUB_ACTIONS: true
          VALIDATE_GITLEAKS: true
          VALIDATE_GOOGLE_JAVA_FORMAT: true
          VALIDATE_HTML: true
          VALIDATE_JAVA: true
          VALIDATE_JAVASCRIPT_ES: true
          VALIDATE_JSON: true
          VALIDATE_JSX: true
          VALIDATE_KUBERNETES_KUBEVAL: true
          VALIDATE_LUA: true
          VALIDATE_MARKDOWN: true
          VALIDATE_NATURAL_LANGUAGE: true
          VALIDATE_POWERSHELL: true
          VALIDATE_SHELL_SHFMT: true
          VALIDATE_TERRAFORM_TERRASCAN: true
          VALIDATE_TERRAFORM_TFLINT: true
          VALIDATE_TSX: true
          VALIDATE_TYPESCRIPT_ES: true
          VALIDATE_XML: true
          VALIDATE_YAML: true

  commit:
    name: Lint Commit message
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          # Full git history is needed to get a proper list of changed files within `commitlint`
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
#          cache: 'npm'
      - run: npm install --location=global @commitlint/config-conventional @commitlint/cli
      - uses: wagoid/commitlint-github-action@v5
        continue-on-error: true
        with:
          configFile: commitlint.config.js
          firstParent: true
          failOnWarnings: false
          helpURL: https://datagrok.ai/help/develop/admin/releases/versioning-policy
