.eda-pmpo-tooltip-line {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 6px;
}

.eda-pmpo-box {
  width: 10px;
  height: 10px;
}

.eda-pmpo-input-form {
  padding-left: 10px;
  padding-right: 5px;
}

.eda-pmpo-title {
  font-size: 14.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  white-space: nowrap;
}