.fe-pdf-preview {
  overflow-y: scroll;
}

.fe-docx-preview > style {
  display: revert !important;
}

.fe-latex-viewer-ribbon-text {    
    font-weight: normal;
    margin-left: 2px;
    margin-right: 8px;
}
